/* You can add global styles to this file, and also import other style files */
@import 'app/shared/components/boot-loader/boot-loader.external';

body {
    margin: 0;
}

html, body {
    height: 100%;
}

/**
 * Debug
 */
pre.debug {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    line-height: 1.5em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.2);
    font-family: Courrier, monospace;
}

[debug] {
    border: 2px solid red;
}

[debug][children] > * {
    border: 2px solid orange;
}

[debug][children][grandchildren] > * > * {
    border: 2px solid green;
}

/* Disable login autofill background color */
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    transition-delay: 3600s;
}

app-admin router-outlet + * {
    padding: 20px 20px 100px 20px;
}

.detail-speed-dial {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999; // < than 1000 that is the z-index of overlay contents
}

[overflow] {
    overflow: auto;
}

[overflow-x] {
    overflow-x: auto;
}

.mat-column-amount,
.mat-column-balance {
    text-align: right !important;
}

mat-form-field.no-bottom-spacing {
    margin-bottom: -1.34375em;
}

.detail-body {
    max-width: 1300px;
    margin: auto;
}

.text-center {
    text-align: center
}

.mat-button {
    &.app-button-wrap,
    &[app-button-wrap] {
        line-height: 16px;
        min-height: 36px;

        .mat-button-wrapper {
            white-space: normal;
        }
    }
}

.mat-button.big-button {
    white-space: normal;
    line-height: 24px;

    .mat-button-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2em;
        padding-top: 10px;
    }
}

mat-checkbox[wrap] {
    .mat-checkbox-label {
        white-space: initial;
    }
}

.line-break {
    white-space: pre-wrap;
}

.mat-snack-bar-container {
    margin-top: 88px !important;
}

// Override mat-suffix container to apply an horizontal layout
.mat-form-field-suffix {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.full-height-dialog-content .mat-dialog-content {
    height: 100%;
    padding: 0
}

.price {
    //font-family: Georgia;
}

natural-sidenav-container[name=dashboardMenu] .mat-drawer-content {

    &,
    & > div,
    & > div > natural-sidenav-content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}


.natural-table {
    display: table;

    & > div {
        display: table-row;

        & > div {
            display: table-cell;
            padding: 3px;
        }
    }
}


[app-date-column] {
    width: 14em;
}

[app-price-column] {
    width: 7em;
}
