/* You can add global styles to this file, and also import other style files */
@import 'app/shared/components/boot-loader/boot-loader.external';
@import 'styles/responsive';

body {
    margin: 0;
}

html, body {
    height: 100%;
}

/**
 * Debug
 */
pre.debug {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    line-height: 1.5em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.2);
    font-family: Courrier, monospace;
}

[bg] {
    &, & * {
        background: rgba(255, 0, 0, 0.1);
    }
}

[bd] {
    &, & * {
        border: 1px solid red;
    }
}

[debug] {
    border: 2px solid red;

    & > * {
        border: 2px solid orange;
    }
}

[debug][children] > * > * {
    border: 2px solid blue;
}

[debug][children][grandchildren] > * > * > * {
    border: 2px solid green;
}

.container {
    max-width: 1130px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}


#front-end-body > router-outlet + * {
    margin-top: 60px;
    display: block;
}


/* Disable login autofill background color */
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    transition-delay: 3600s;
}

app-admin router-outlet + * {
    padding: 20px 20px 100px 20px;
}

.detail-speed-dial {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999; // < than 1000 that is the z-index of overlay contents
}


mat-form-field.no-bottom-spacing {
    margin-bottom: -1.34375em;
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

mat-checkbox[wrap] {
    .mat-checkbox-label {
        white-space: initial;
    }
}

.mat-snack-bar-container {
    margin-top: 88px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}


.natural-table {
    display: table;

    & > div {
        display: table-row;

        & > div {
            display: table-cell;
            padding: 3px;
        }
    }
}


.relative {
    position: relative;

    // Centers
    .absolute {
        position: absolute !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


}

