/* You can add global styles to this file, and also import other style files */
@use 'app/shared/components/boot-loader/boot-loader.external';
@use 'styles/responsive';

body {
    margin: 0;
}

html,
body {
    height: 100%;
}

/**
 * Debug
 */
pre.debug {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    line-height: 1.5em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.2);
    font-family: Courrier, monospace;
}

[bg] {
    &,
    & * {
        background: rgba(255, 0, 0, 0.1);
    }
}

[bd] {
    &,
    & * {
        border: 1px solid red;
    }
}

[debug] {
    border: 2px solid red;

    & > * {
        border: 2px solid orange;
    }
}

[debug][children] > * > * {
    border: 2px solid blue;
}

[debug][children][grandchildren] > * > * > * {
    border: 2px solid green;
}

.container {
    max-width: 1130px;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;

    .page-body {
        max-width: 800px;
    }
}

#front-office-body > router-outlet + * {
    margin-top: 60px;
    display: block;
}

/* Disable login autofill background color */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    transition-delay: 3600s;
}

a {
    color: inherit;
    text-decoration: none;
}

a.mat-ripple {
    display: inline-block;
}

.detail-body {
    max-width: 1300px;
    margin: auto;
}

.detail-speed-dial {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999; // < than 1000 that is the z-index of overlay contents
}

mat-form-field.no-bottom-spacing {
    margin-bottom: -1.34375em;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.mat-mdc-snack-bar-container {
    margin-top: 88px !important;
}

.line-break {
    white-space: pre-wrap;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
    -moz-appearance: textfield; /* Firefox */
}

.natural-table {
    display: table;

    & > div {
        display: table-row;

        & > div {
            display: table-cell;
            padding: 3px;
        }
    }
}

.relative {
    position: relative;

    // Centers
    .absolute {
        position: absolute !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

[matRipple] {
    cursor: pointer;
}

// Keep the mat-checkbox's checkbox near the first line, see https://github.com/angular/components/issues/8416
// This is not perfectly aligned on the text first line, because we need space for the ripple, but at least the
// spacing stays consistent with other one-line <mat-checkbox>, and it should be good enough for most use-cases
.mdc-checkbox {
    align-self: flex-start;
}

.app-date-column {
    width: 14em;
}

.mat-mdc-button,
.mat-mdc-outlined-button,
.mat-mdc-unelevated-button {
    border-radius: 0 !important;
}

.page-illustration {
    display: none;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: 600px) {
        display: block;
    }
}

.page-illustration-content {
    width: 100%;
    text-align: left;
    position: relative;
    top: -350px;

    & > img {
        max-width: 100%;
        margin-bottom: -300px;
    }
}

// It is possible that the server returns error message on multiple line (eg: when ACL with multiple assertions fail),
// so we try to preserve that formatting, while still wrapping if necessary
.mat-mdc-snack-bar-label {
    white-space: pre-wrap;
}
