<div [formGroup]="form" class="padding">

    <div fxLayout="column" fxLayoutGap="30px" style="max-width:940px; margin: auto">

        <h1 class="mat-display-1">Adhésion</h1>

        <div fxLayout="column">
            <h2 class="mat-title">Coordonnées</h2>

            <div fxLayout="row" fxLayoutGap="10px">
                <mat-form-field fxFlex>
                    <mat-label i18n>Prénom</mat-label>
                    <input matInput formControlName="firstName" (change)="update()">
                    <mat-error *ngIf="form.get('firstName').hasError('maxlength')" i18n>
                        Maximum {{form.get('firstName').errors.maxlength.requiredLength}} caractères
                    </mat-error>
                    <mat-error *ngIf="form.get('firstName').hasError('required')" i18n>Requis</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex>
                    <mat-label i18n>Nom de famille</mat-label>
                    <input matInput formControlName="lastName" (change)="update()">
                    <mat-error *ngIf="form.get('lastName').hasError('maxlength')" i18n>
                        Maximum {{form.get('lastName').errors.maxlength.requiredLength}} caractères
                    </mat-error>
                    <mat-error *ngIf="form.get('lastName').hasError('required')" i18n>Requis</mat-error>
                </mat-form-field>
            </div>

            <app-address [form]="form"></app-address>
        </div>
        <mat-divider></mat-divider>

        <div fxLayout="column">
            <h2 class="mat-title">Compte</h2>

            <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap.gt-xs="10px">
                <mat-form-field fxFlex>
                    <mat-label>email</mat-label>
                    <input matInput formControlName="email">
                    <app-icon matPrefix name="alternate_email"></app-icon>
                    <mat-error *ngIf="form.get('email').hasError('required')">Requis</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex>
                    <mat-label>Nom d'utilisateur</mat-label>
                    <input matInput formControlName="login">
                    <app-icon matPrefix name="person"></app-icon>
                    <mat-error *ngIf="form.get('login').hasError('maxlength')">
                        Maximum {{form.get('login').errors.maxlength.requiredLength}} caractères
                    </mat-error>
                    <mat-error *ngIf="form.get('login').hasError('required')">Requis</mat-error>
                </mat-form-field>
            </div>

            <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap.gt-xs="10px">
                <mat-form-field fxFlex>
                    <mat-label>Mot de passe</mat-label>
                    <input type="password" matInput formControlName="password">
                    <app-icon matPrefix name="lock"></app-icon>
                    <mat-error *ngIf="form.get('password').hasError('minlength')">
                        Minimum {{form.get('password').errors.minlength.requiredLength}} caractères
                    </mat-error>
                    <mat-error *ngIf="form.get('password').hasError('required')">Requis</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex>
                    <mat-label>Confirmation du mot de passe</mat-label>
                    <input type="password" matInput formControlName="confirmPassword" [errorStateMatcher]="confirmPasswordStateMatcher">
                    <app-icon matPrefix name="lock"></app-icon>
                    <mat-error *ngIf="form.hasError('notSame')">
                        Les mot de passe ne sont pas identiques
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <mat-divider></mat-divider>

        <div>
            <h2 class="mat-title">Cotisation</h2>

            <div class="responsive-table">
                <table mat-table *ngIf="mandatoryBookables" [dataSource]="mandatoryBookables">
                    <tr mat-header-row *matHeaderRowDef="['name', 'initialPrice', 'periodicPrice' ]"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['name', 'initialPrice', 'periodicPrice'];"></tr>
                    <tr mat-footer-row *matFooterRowDef="['name', 'initialPrice', 'periodicPrice']"></tr>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Nom</th>
                        <td mat-cell *matCellDef="let bookable">
                            {{ bookable.name }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> Totaux</td>

                    </ng-container>

                    <ng-container matColumnDef="periodicPrice">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header app-7em-column>Prix initial</th>
                        <td mat-cell *matCellDef="let bookable">
                            <span *ngIf="bookable.periodicPrice"> {{ bookable.periodicPrice }} CHF</span>
                        </td>
                        <td mat-footer-cell *matFooterCellDef> {{ totalPeriodic }} CHF</td>

                    </ng-container>

                    <ng-container matColumnDef="initialPrice">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header app-7em-column>Prix annuel</th>
                        <td mat-cell *matCellDef="let bookable">
                            <span *ngIf="bookable.initialPrice"> {{ bookable.initialPrice }} CHF</span>
                        </td>
                        <td mat-footer-cell *matFooterCellDef> {{ totalInitial }} CHF</td>
                    </ng-container>
                </table>
            </div>
        </div>

        <!-- Spacer-->
        <div></div>

        <div fxLayout="row" fxLayoutGap="30px">
            <div fxFlex>
                <mat-checkbox formControlName="hasInsurance" required>J'ai une super assurance !</mat-checkbox>
                <mat-error *ngIf="form.get('hasInsurance').touched && form.get('hasInsurance').hasError('required')">Requis</mat-error>
                <p class="mat-body-1">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at
                                      lobortis. Vestibulum id ligula porta felis euismod semper. Maecenas sed diam eget risus varius blandit
                                      sit amet non magna.</p>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div fxFlex>
                <mat-checkbox formControlName="termsAgreement" required>J'ai tout lu !</mat-checkbox>
                <mat-error *ngIf="form.get('termsAgreement').touched && form.get('termsAgreement').hasError('required')">Requis</mat-error>
                <p class="mat-body-1">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at
                                      lobortis. Vestibulum id ligula porta felis euismod semper. Maecenas sed diam eget risus varius blandit
                                      sit amet non magna.</p>
            </div>
        </div>

        <!-- Spacer-->
        <div></div>

        <div fxLayout="row" fxLayoutAlign="center">
            <button mat-raised-button [color]="form.invalid ? 'warn' : 'primary'" (click)="register()">Adhérer</button>
        </div>
    </div>

</div>
