<div
    class="page-illustration"
    [style.backgroundImage]="
        'url(assets/images/illustration-pages/circuits_courts_alimentaires_collectifs_la-revue-durable.jpg)'
    "
></div>

<div class="container mat-h3 rich-text">
    <h1 class="mat-display-1">Construire ensemble des circuits courts</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body rich-text mat-h3">
            <h2 class="mat-h2 no-margin-top">Six soirées en Suisse romande</h2>
            <p>
                Construire un système alimentaire soutenable est un impératif public. C’est aussi l’espoir de nombreux
                porteurs et porteuses d’initiatives qui bourgeonnent en Suisse romande. Les Artisans de la transition
                organisent six soirées en Suisse romande pour faire connaître ces initiatives, les relier entre elles et
                avec le grand public, les mangeurs, dans l’espoir de promouvoir l’éclosion de nombreux circuits courts
                alimentaires collectifs.
            </p>

            <h2 class="mat-h2 no-margin-top">Les six soirées</h2>
            <p>
                Les soirées démarreront par la projection du court métrage (35 minutes) des Artisans de la transition,
                Manger, c’est politique, sur la dynamique alimentaire à Meyrin. Cette commune de 25 000 habitants, dans
                le canton de Genève, a construit le premier agroécoquartier de Suisse, les Vergers, dans lequel ont
                émergé plusieurs circuits courts alimentaires collectifs. Le film évoque leurs divers maillons : fermes,
                ateliers de transformation artisanaux, supermarché participatif paysan, auberge participative et
                restauration collective publique. Et la façon dont ils travaillent ensemble.
            </p>

            <p>
                Après la projection, une ou deux tables rondes avec des acteurs locaux et des actrices locales de la
                transition alimentaire, dont des élues et des élus, auront vocation à voir comment construire des
                circuits courts collectifs sur les différents territoires.
            </p>

            <h2 class="mat-h2 no-margin-top">Le contexte</h2>
            <p>
                Ce cycle de conférences est une étape d’un projet à plus long terme que les Artisans de la transition
                mènent en partenariat avec Uniterre pour renforcer la transition écologique et sociale dans le secteur
                agricole et alimentaire en Suisse romande.
            </p>

            <p>Ces six soirées visent notamment à :</p>
            <ul>
                <li>
                    faire connaître la dynamique alimentaire à Meyrin et illustrer grâce à elle le besoin d’implication
                    des communes en synergie avec les acteurs locaux de la transition alimentaire ;
                </li>
                <li>
                    montrer la pertinence des initiatives de transition locales ou régionales existantes ou émergentes
                    pour construire des circuits courts alimentaires collectifs ;
                </li>
                <li>stimuler les échanges entre acteurs de la transition alimentaire et élus ;</li>
                <li>
                    proposer d’activer les leviers dont les communes disposent pour soutenir les circuits courts
                    alimentaires artisanaux de manière convergente à l’échelle romande ;
                </li>
                <li>
                    donner envie à un large public de faire avancer la transition du système alimentaire en participant
                    à l’essor de nouveaux circuits courts alimentaires collectifs.
                </li>
            </ul>
            <h2 class="mat-h2 no-margin-top">Le public cible</h2>
            <p>
                Les personnes que le cycle cherche à mobiliser sont souvent dispersées dans de multiples petites
                structures décentralisées de production, de transformation, de distribution, de restauration collective
                publique ou privée, ainsi que tous leurs membres, coopérateurs et coopératrices, clients et clientes, et
                bien sûr, tous les mangeurs et mangeuses concernées par leur alimentation et la manière dont elle a été
                produite, transformée et acheminée.
            </p>

            <h2 class="mat-h2 no-margin-top">Lieux, dates et inscription</h2>
            <p>
                La participation est libre, avec une collecte à la fin. Pour des raisons sanitaires, l’inscription est
                obligatoire. Le plan de protection sanitaire sera communiqué directement par courriel aux personnes
                inscrites.
            </p>

            <mat-divider></mat-divider>

            <h2 class="mat-h2">La Chaux-de-Fonds</h2>
            <p>Maison du peuple, Rue de la Serre 68 Vendredi 1er octobre, 18h30, accueil et stands dès 18h</p>
            <div fxLayout="row" fxLayoutGap="10px">
                <a
                    mat-flat-button
                    color="accent"
                    target="_blank"
                    href="https://framaforms.org/construire-des-circuits-couts-alimentaires-collectifs-la-chaux-de-fonds-1630564947"
                    >S'inscrire</a
                >
                <a
                    mat-stroked-button
                    color="primary"
                    href="assets/images/circuits-courts/flyer_circuits_courts_ali_la_chaux_de_fonds.pdf"
                    target="_blank"
                >
                    Programme détaillé</a
                >
            </div>

            <h2 class="mat-h2">Lajoux</h2>
            <p>Maison des œuvres, Route principale 52 Jeudi 7 octobre, 18h, accueil et stands dès 17h</p>

            <div fxLayout="row" fxLayoutGap="10px">
                <a
                    mat-flat-button
                    color="accent"
                    target="_blank"
                    href="https://framaforms.org/construire-des-circuits-courts-alimentaires-collectifs-lajoux-1630565018"
                    >S'inscrire</a
                >
                <a
                    mat-stroked-button
                    color="primary"
                    href="assets/images/circuits-courts/flyer_circuits_courts_alimentaires_lajoux.pdf"
                    target="_blank"
                >
                    Programme détaillé</a
                >
            </div>

            <h2 class="mat-h2">Fribourg</h2>
            <p>
                Aula du Collège de Gambach, Av. Louis-Weck-Reynold 9 Mercredi 13 octobre, 18h, accueil et stands dès 17h
            </p>
            <div fxLayout="row" fxLayoutGap="10px">
                <a
                    mat-flat-button
                    color="accent"
                    target="_blank"
                    href="https://framaforms.org/construire-des-circuits-courts-alimentaires-collectifs-fribourg-1630565062"
                    >S'inscrire</a
                >
                <a
                    mat-stroked-button
                    color="primary"
                    href="assets/images/circuits-courts/flyer_circuits_courts_ali_fribourg.pdf"
                    target="_blank"
                >
                    Programme détaillé</a
                >
            </div>

            <h2 class="mat-h2">Sion</h2>
            <p>Ecole d’agriculture du Valais, Av. Maurice-Troillet 260 (Châteauneuf) Jeudi 14 octobre, 18h30</p>
            <div fxLayout="row" fxLayoutGap="10px">
                <a
                    mat-flat-button
                    color="accent"
                    target="_blank"
                    href="https://framaforms.org/construire-des-circuits-courts-alimentaires-collectifs-sion-1630565120"
                    >S'inscrire</a
                >
                <a
                    mat-stroked-button
                    color="primary"
                    href="assets/images/circuits-courts/flyer_circuits_courts_alimentaires_sion.pdf"
                    target="_blank"
                >
                    Programme détaillé</a
                >
            </div>

            <h2 class="mat-h2">Lausanne</h2>
            <p>Théâtre Vidy, Av. Gustave Doret Jeudi 2 novembre, horaire à définir</p>
            <div fxLayout="row" fxLayoutGap="10px">
                <a
                    mat-flat-button
                    color="accent"
                    target="_blank"
                    href="https://framaforms.org/construire-des-circuits-courts-alimentaires-collectifs-lausanne-1630565227"
                    >S'inscrire</a
                >
                <a mat-stroked-button target="_blank" [disabled]="true"> Programme détaillé bientôt disponible</a>
            </div>

            <h2 class="mat-h2">Genève</h2>
            <p>Maison des associations, Rue des Savoises 15 Mercredi 17 novembre, 18h, accueil et stands dès 17h</p>
            <div fxLayout="row" fxLayoutGap="10px">
                <a
                    mat-flat-button
                    color="accent"
                    target="_blank"
                    href="https://framaforms.org/construire-des-circuits-courts-alimentaires-collectifs-geneve-1630565172"
                    >S'inscrire</a
                >
                <a
                    mat-stroked-button
                    color="primary"
                    href="assets/images/circuits-courts/flyer_circuits_courts_ali_geneve.pdf"
                    target="_blank"
                >
                    Programme détaillé</a
                >
            </div>
        </div>
    </div>
</div>
