<div
    class="page-illustration"
    [style.backgroundImage]="
        'url(assets/images/illustration-pages/circuits_courts_alimentaires_collectifs_la-revue-durable.jpg)'
    "
></div>

<div class="container mat-h3">
    <h1 class="mat-headline-4">Manger c’est politique</h1>

    <div class="nat-horizontal nat-gap-30">
        <div class="app-md-expand-70 page-body rich-text mat-h3">
            <p>
                En 37 minutes, le documentaire Manger, c’est politique&nbsp;! raconte la construction inédite de quatre
                circuits courts alimentaires collectifs&nbsp;: il montre les immenses avantages des circuits courts et
                décrit leurs composantes essentielles.
            </p>
            <p>
                Pour relocaliser les circuits de l’alimentation, ce film attire l’attention sur la nécessité de relier
                tous les acteurs et toutes les actrices des chaînes alimentaires locales – producteurs,
                transformatrices, distributeurs, restauratrices et mangeurs – qui doivent coopérer tout au long du
                circuit, sur l’importance stratégique des unités de transformation alimentaire artisanale comme outil de
                relocalisation territorial et sur l’indispensable implication des autorités communales, qui peuvent
                actionner le levier majeur de la restauration collective publique.
            </p>

            <div style="padding: 65% 0 0 0; position: relative">
                <iframe
                    frameborder="0"
                    allow="autoplay; fullscreen; picture-in-picture"
                    allowfullscreen
                    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
                    title="Manger c'est politique"
                    src="https://player.vimeo.com/video/611445285?h=6115f63800&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                ></iframe>
            </div>
            <script src="https://player.vimeo.com/api/player.js"></script>

            <p>
                <i>Manger, c’est politique&nbsp;!</i> est un film synthétique, dense, pédagogique et très inspirant. Il
                fourmille d’informations et d’idées, et stimule la discussion pour pousser à la mise en place ou au
                renforcement de politiques alimentaires communales.
            </p>
            <p>
                Ce documentaire ayant suscité beaucoup d’intérêt durant le cycle de conférences organisé fin 2021 en
                Suisse romande, les <strong>Artisans de la transition</strong> ont à cœur de le voir projeté lors
                d’autres événements, publics ou non, ou dans un cadre scolaire, à condition qu’ils soient suivis d’une
                discussion pour réfléchir au lancement d’initiatives dans la lignée de celles qu’il documente.
            </p>
            <p>
                Si vous souhaitez organiser un tel événement, vous pouvez remplir
                <a href="https://framaforms.org/manger-cest-politique-1647959642" target="_blank">ce formulaire</a>.
            </p>
        </div>

        <div class="nat-vertical">
            <a routerLink="/larevuedurable/numero/1242">
                <img naturalSrcDensity="/api/image/1581/400" alt="Revue numéro 66" height="400px" />
                <br />
                N° 66. Construire ensemble des circuits courts alimentaires !
            </a>
        </div>
    </div>
</div>
