<h2 mat-dialog-title>{{ dialogData.title }}</h2>
<mat-dialog-content [formGroup]="form">
    <div formArrayName="emails">
        <div
            *ngFor="let control of emailsControl.controls; let i = index"
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="15px"
        >
            <mat-form-field fxFlex>
                <mat-label>Email</mat-label>
                <input [formControl]="control" matInput />
                <mat-error *ngIf="control.hasError('email')" i18n>Adresse email invalide</mat-error>
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
    <button mat-button mat-dialog-close>Annuler</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-stroked-button [mat-dialog-close]="validEmails()" [disabled]="!form.valid">Valider</button>
</mat-dialog-actions>
