<div [formGroup]="form">
    <h2 class="mat-font-headline-lg">Données personnelles</h2>

    <div class="nat-padding-top nat-gap-30 nat-vertical">
        <div class="nat-vertical">
            <h2 class="mat-font-title-lg">Compte</h2>

            <div class="nat-vertical nat-gap nat-md-horizontal">
                <mat-form-field class="nat-expand">
                    <mat-label>email</mat-label>
                    <input formControlName="email" matInput type="email" />
                </mat-form-field>

                <div>
                    <button mat-button [disabled]="passwordMailSending" (click)="requestPasswordReset()">
                        Changer de mot de passe
                    </button>
                </div>
            </div>
        </div>

        <mat-divider />

        <div class="nat-vertical nat-gap-15">
            <h2 class="mat-font-title-lg">Adresse</h2>

            <p>
                Il s'agit de votre adresse principale qui est utilisée pour la facturation et la livraison. Lors des
                commandes vous pourrez définir une adresse de facturation différente.
            </p>

            <app-address [form]="form" />

            <mat-form-field>
                <mat-label>Téléphone</mat-label>
                <input formControlName="phone" matInput />
            </mat-form-field>
        </div>
    </div>

    <div class="nat-horizontal">
        <button color="primary" matButton="filled" [disabled]="!form.valid" (click)="update(true)">
            <mat-icon naturalIcon="save" />
            Enregistrer
        </button>
    </div>
</div>
