<div fxLayout="column" fxLayoutGap="20px">

    <div fxLayout="column" *ngIf="getLength() > 0">
        <mat-form-field class="width-auto" *ngIf="!value">
            <mat-label i18n>Rechercher</mat-label>
            <input matInput appFocus i18n-placeholder (change)="search($event.target.value)" (keyup.esc)="search('')">
            <app-icon name="search" matPrefix></app-icon>
        </mat-form-field>

        <table mat-table class="app-row-click" [dataSource]="dataSource" >

            <ng-template #defaultNameCell let-item="item">
                {{ getDisplayFn()(item) }}
            </ng-template>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef i18n>id</th>
                <td mat-cell *matCellDef="let item">{{item.id}}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef i18n>Titre</th>
                <td mat-cell *matCellDef="let item">
                    <ng-template [ngTemplateOutlet]="itemTemplate ? itemTemplate : defaultNameCell"
                                 [ngTemplateOutletContext]="{ item: item }"
                    ></ng-template>
                </td>
            </ng-container>

            <ng-container matColumnDef="unlink">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-progress-spinner *ngIf="loadingRemove" mode="indeterminate" [diameter]="24" [strokeWidth]="5" color="warn"
                    ></mat-progress-spinner>
                </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="remove(element)" color="warn" matTooltip="Dissocier">
                        <app-icon name="link_off"></app-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <div fxLayout="column" fxLayoutAlign="center center" class="margin" *ngIf="getLength() === 0">
            <div i18n>Pas de résultats</div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" class="margin" *ngIf="loading">
            <mat-progress-spinner mode="indeterminate" [diameter]="40"></mat-progress-spinner>
        </div>

        <mat-paginator *ngIf="!value && getLength()"
                       [length]="getLength()"
                       [pageSize]="dataSource?.pagination?.pageSize"
                       [pageIndex]="dataSource?.pagination?.pageIndex"
                       [pageSizeOptions]="dataSource?.pageSizeOptions"
                       (page)="dataSource?.paging($event)"
        ></mat-paginator>
    </div>

    <div fxLayout="column"
         fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="start start"
         fxLayoutGap="10px"
         *ngIf="(autocompleteSelectorService || service) && !disabled"
    >
        <app-select fxFlex
                    fxFlex.gt-sm="none"
                    *ngIf="!disabled"
                    [service]="autocompleteSelectorService || service"
                    [filter]="autocompleteSelectorFilter"
                    [(ngModel)]="relation"
                    [placeholder]="placeholder"
                    [displayWith]="getDisplayFn()"
                    [clearTopSpacing]="true"
                    [clearBottomSpacing]="true"
        ></app-select>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
            <button mat-raised-button color="primary" *ngIf="!disabled" (click)="add(relation)" [disabled]="!relation" fxLayout="row">
                <app-icon name="link"></app-icon>
                <span i18n>Associer</span>
            </button>
            <mat-progress-spinner *ngIf="loadingAdd" mode="indeterminate" [diameter]="24" [strokeWidth]="5"></mat-progress-spinner>
        </div>

    </div>
</div>
