<div class="page-illustration" [style.backgroundColor]="'#E5E0DD'"></div>

<div class="container page-illustration-content">
    <img src="assets/images/illustration-pages/la-revue-durable-faire-un-don.jpg" />
</div>

<div class="container mat-h3">
    <h1 class="mat-display-1">FAIRE UN DON</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body mat-h3">
            <div class="rich-text">
                <p>
                    Les dons composent la moitié des revenus de l’association. Ils garantissent son indépendance. En
                    faisant un don à l’association, vous soutenez une petite équipe motivée et compétente.
                </p>
                <ul>
                    <li>
                        En vingt ans, LaRevueDurable a été pionnière sur plus d’un sujet :
                        <a [routerLink]="['/larevuedurable/numero', 934]">la souveraineté alimentaire</a>,
                        <a [routerLink]="['/larevuedurable/numero', 802]">les écoquartiers</a> ,
                        <a [routerLink]="['/larevuedurable/numero', 270]">la prospérité sans croissance</a> ,
                        <a [routerLink]="['/larevuedurable/numero', 567]">l’impact de la finance</a>,
                        <a [routerLink]="['/larevuedurable/numero', 190]"
                            >le rôle des récits dans la capacité à s’engager pour le climat</a
                        >
                        , ou <a [routerLink]="['/larevuedurable/numero', 1263]">la surveillance numérique</a>
                    </li>
                    <li>
                        Votre don servira essentiellement à soutenir l’économie locale et durable. Nous privilégions les
                        partenaires qui partagent nos valeurs et avons à cœur de solliciter des jeunes engagés,
                        notamment pour les illustrations.
                    </li>
                    <li>Votre don est déductible d’impôts (pour les contribuables taxés en Suisse).</li>
                </ul>
            </div>

            <br />
            <a mat-flat-button color="primary" class="margin-bottom" (click)="cartService.inputDonation(true)"
                >Faire un don</a
            >
        </div>
    </div>
</div>
