<div fxLayout="row" fxLayoutAlign="start center">
    <h2 mat-dialog-title fxFlex>
        Commande du {{ data.model.creationDate | date: 'd MMM y - HH:mm' }}
    </h2>

    <natural-select-enum *ngIf="viewer?.role === UserRole.administrator" enumName="OrderStatus" [ngModel]="data.model.status" (selectionChange)="updateStatus($event)" placeholder="Status"
    ></natural-select-enum>
</div>

<mat-dialog-content fxLayout="column" fxLayoutGap="30px">
    <app-order-lines [contextColumns]="['name', 'quantity', 'balance']"
                     [contextVariables]="contextVariables"
                     [hideHeader]="true"
                     [hidePaginator]="true"
                     [showTotals]="false"
                     [pageSizeOptions]="[999]"
                     [paginatorPageSize]="999"
    ></app-order-lines>

    <div class="natural-table" fxLayout="column" fxLayoutAlign="start end">
        <div class="mat-headline">
            <div>Total :</div>
            <div *ngIf="data.model.balanceCHF > 0" style="text-align:right">{{ data.model.balanceCHF | currency : 'CHF' }}</div>
            <div *ngIf="data.model.balanceEUR > 0" style="text-align:right">{{ data.model.balanceEUR | currency : 'EUR' }}</div>
        </div>
    </div>

</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
    <button mat-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>
