<div fxLayout="row" fxLayoutAlign="start center">
    <h2 mat-dialog-title fxFlex>Commande du {{ data.model.creationDate | swissDate }}</h2>

    @if (viewer?.role === UserRole.administrator) {
        <natural-select-enum
            (selectionChange)="updateStatus($event)"
            [ngModel]="data.model.status"
            enumName="OrderStatus"
            placeholder="Statut"
        />
    }
</div>

<mat-dialog-content fxLayout="column" fxLayoutGap="30px">
    <app-order-lines
        [selectedColumns]="['name', 'productType', 'quantity', 'balance']"
        [forcedVariables]="forcedVariables"
        [hideHeader]="true"
        [hidePaginator]="true"
        [pageSizeOptions]="[999]"
        [paginatorPageSize]="999"
        [showTotals]="false"
    />

    <div class="natural-table" fxLayout="column" fxLayoutAlign="start end">
        <div class="mat-h1">
            <div>Total :</div>
            @if (data.model.balanceCHF > 0) {
                <div style="text-align: right">
                    {{ data.model.balanceCHF | currency: 'CHF' }}
                </div>
            }
            @if (data.model.balanceEUR > 0) {
                <div style="text-align: right">
                    {{ data.model.balanceEUR | currency: 'EUR' }}
                </div>
            }
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>
