<div [formGroup]="form" class="detail-body">
    <natural-detail-header
        [listRoute]="['admin', 'event']"
        [model]="data.model"
        label="Événement"
        [newLabel]="data.seo.title"
    >
        <a [routerLink]="['/agenda', data.model.id]" color="primary" mat-raised-button *ngIf="data.model.id">
            <natural-icon name="remove_red_eye"></natural-icon>
            Voir la page
        </a>
    </natural-detail-header>

    <mat-tab-group naturalLinkableTab (selectedIndexChange)="changeTab($event)" [dynamicHeight]="true">
        <mat-tab id="general" label="Général">
            <div class="padding-top" fxLayout="column" fxLayoutGap="30px">
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px">
                    <div fxFlex="66" fxLayout="column">
                        <mat-form-field>
                            <input (change)="update()" formControlName="name" matInput />
                            <mat-label>Nom</mat-label>
                            <mat-error *ngIf="form.get('name')?.hasError('maxlength')">
                                Maximum {{ form.get('name')?.errors?.maxlength?.requiredLength }} caractères
                            </mat-error>
                            <mat-error *ngIf="form.get('name')?.hasError('required')">Requis</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input (change)="update()" formControlName="place" matInput />
                            <mat-label>Lieu</mat-label>
                            <mat-error *ngIf="form.get('place')?.hasError('maxlength')">
                                Maximum {{ form.get('place')?.errors?.maxlength?.requiredLength }} caractères
                            </mat-error>
                            <mat-error *ngIf="form.get('place')?.hasError('required')">Requis</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input (change)="update()" formControlName="type" matInput />
                            <mat-label>Type</mat-label>
                            <mat-error *ngIf="form.get('type')?.hasError('maxlength')">
                                Maximum {{ form.get('type')?.errors?.maxlength?.requiredLength }} caractères
                            </mat-error>
                            <mat-error *ngIf="form.get('type')?.hasError('required')">Requis</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxFlex="33" fxLayout="column">
                        <mat-form-field>
                            <mat-label>Date</mat-label>
                            <input [matDatepicker]="picker" formControlName="date" matInput (change)="update()" />
                            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="form.get('date')?.hasError('required')">Requis</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <natural-stamp [item]="data.model"></natural-stamp>
            </div>
        </mat-tab>
    </mat-tab-group>

    <natural-fixed-button-detail
        (create)="create()"
        (delete)="delete()"
        *ngIf="showFabButton"
        [form]="form"
        [model]="data.model"
    ></natural-fixed-button-detail>
</div>
