<div class="detail-body" [formGroup]="form">
    <natural-detail-header
        label="Événement"
        [listRoute]="['admin', 'event']"
        [model]="data.model"
        [newLabel]="data.seo.title"
    >
        @if (isUpdatePage()) {
            <a matButton="filled" [routerLink]="['/agenda', data.model.id]">
                <mat-icon naturalIcon="remove_red_eye" />
                Voir la page
            </a>
        }
    </natural-detail-header>

    <mat-tab-group naturalLinkableTab [dynamicHeight]="true" (selectedIndexChange)="changeTab($event)">
        <mat-tab label="Général">
            <div class="nat-vertical nat-padding-top nat-gap-horizontal nat-md-horizontal">
                <div class="nat-vertical nat-md-expand-66">
                    <mat-form-field>
                        <input formControlName="name" matInput (change)="update()" />
                        <mat-label>Nom</mat-label>
                        <mat-error>{{ form.get('name')?.errors | errorMessage }}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input formControlName="place" matInput (change)="update()" />
                        <mat-label>Lieu</mat-label>
                        <mat-error>{{ form.get('place')?.errors | errorMessage }}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input formControlName="type" matInput (change)="update()" />
                        <mat-label>Type</mat-label>
                        <mat-error>{{ form.get('type')?.errors | errorMessage }}</mat-error>
                    </mat-form-field>
                </div>

                <div class="nat-md-expand-33 nat-vertical">
                    <mat-form-field>
                        <mat-label>Date</mat-label>
                        <input formControlName="date" matInput [matDatepicker]="picker" (change)="update()" />
                        <mat-datepicker-toggle matIconSuffix [for]="picker" />
                        <mat-datepicker #picker />
                        <mat-error>{{ form.get('date')?.errors | errorMessage }}</mat-error>
                    </mat-form-field>
                </div>
            </div>

            @if (isUpdatePage()) {
                <mat-divider class="nat-margin-vertical" />
                <natural-stamp [item]="data.model" />
            }
        </mat-tab>
    </mat-tab-group>

    @if (showFabButton) {
        <natural-fixed-button-detail [form]="form" [model]="data.model" (create)="create()" (delete)="delete()" />
    }
</div>
