<div class="body padding">

    <div fxLayout="column" fxLayoutGap="30px">

        <h1 class="mat-display-1">
            <natural-icon name="mood_bad" [size]="60"></natural-icon>
            Oups, une erreur est survenue
        </h1>

        <div fxLayout="column">
            <p *ngIf="error">{{ error.message }}</p>
        </div>
        <!-- Spacer-->
        <div></div>

        <div fxLayout="row" fxLayoutAlign="center">
            <a mat-button mat-raised-button color="primary" [routerLink]="['/']">Retourner au menu</a>
        </div>
    </div>

</div>
