<div class="body nat-padding">
    <div class="nat-vertical nat-gap-30">
        <h1 class="mat-headline-4">
            <mat-icon [size]="60" naturalIcon="mood_bad" />
            Oups, une erreur est survenue
        </h1>

        <div class="nat-vertical">
            @if (error) {
                <p>{{ error.message }}</p>
            }
        </div>
        <!-- Spacer-->
        <div></div>

        <div class="nat-horizontal nat-center">
            <a [routerLink]="['/']" color="primary" mat-raised-button>Retourner au menu</a>
        </div>
    </div>
</div>
