<div class="body nat-padding">
    <div class="nat-vertical nat-gap-30">
        <h1 class="mat-headline-4">
            <mat-icon naturalIcon="mood_bad" [size]="60" />
            Oups, une erreur est survenue
        </h1>

        <div class="nat-vertical">
            @if (error) {
                <p>{{ error.message }}</p>
            }
        </div>
        <!-- Spacer-->
        <div></div>

        <div class="nat-horizontal nat-center">
            <a color="primary" mat-raised-button [routerLink]="['/']">Retourner au menu</a>
        </div>
    </div>
</div>
