<div fxLayout="column" fxLayoutGap="50px">

    <div fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutAlign="start center" class="margin-bottom">
            <h2 fxFlex class="mat-headline no-margin-bottom">Demandes en attente</h2>
            <app-select-admin-approved-button [user]="user"></app-select-admin-approved-button>
        </div>

        <div class="mat-body-1 padding margin"
             fxLayout="column"
             fxLayoutAlign="center center"
             *ngIf="pendingApplicationsDS?.data?.length === 0"
        >Aucune demande en attente
        </div>

        <div class="responsive-table" [fxHide]="!pendingApplicationsDS?.data?.length">

            <table mat-table [dataSource]="pendingApplicationsDS">
                <tr mat-header-row *matHeaderRowDef="applicationsColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: applicationsColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="applicationsColumns"></tr>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Nom</th>
                    <td mat-cell *matCellDef="let booking">{{ booking.bookable.name }}</td>
                    <td mat-footer-cell *matFooterCellDef>Totaux</td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Nom</th>
                    <td mat-cell *matCellDef="let booking">{{ booking.status | enum: 'BookingStatus' | async }}</td>
                    <td mat-footer-cell *matFooterCellDef> Totaux</td>
                </ng-container>

                <ng-container matColumnDef="periodicPrice">
                    <th mat-header-cell *matHeaderCellDef app-7em-column app-align-right>Prix périodique</th>
                    <td mat-cell *matCellDef="let booking" app-align-right>
                        <span *ngIf="booking.bookable.periodicPrice > 0"> {{ booking.bookable.periodicPrice | currency: 'CHF'}}
                        </span>
                    </td>
                    <td mat-footer-cell *matFooterCellDef app-align-right>
                        <span *ngIf="pendingApplicationsDS.data.totalPeriodicPrice > 0">
                            {{ pendingApplicationsDS.data.totalPeriodicPrice | currency: 'CHF' }}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="initialPrice">
                    <th mat-header-cell *matHeaderCellDef app-7em-column app-align-right>Prix initial</th>
                    <td mat-cell *matCellDef="let booking" app-align-right>
                        <span *ngIf="booking.bookable.initialPrice > 0"> {{ booking.bookable.initialPrice | currency: 'CHF'}}</span>
                    </td>
                    <td mat-footer-cell *matFooterCellDef app-align-right>
                        <span *ngIf="pendingApplicationsDS.data.totalInitialPrice > 0">
                            {{ pendingApplicationsDS.data.totalInitialPrice | currency: 'CHF'}}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="cancel">
                    <th mat-header-cell *matHeaderCellDef app-1em-column></th>
                    <td mat-cell *matCellDef="let booking">
                        <button mat-icon-button color="warn" (click)="cancelApplication(booking)">
                            <app-icon name="delete"></app-icon>
                        </button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="process">
                    <th mat-header-cell *matHeaderCellDef>Traiter</th>
                    <td mat-cell *matCellDef="let booking">
                        <button mat-icon-button mat-raised-button color="accent">
                            <app-icon name="check"></app-icon>
                        </button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="detail">
                    <th mat-header-cell *matHeaderCellDef>Détail</th>
                    <td mat-cell *matCellDef="let booking">
                        <a mat-icon-button [routerLink]="['/admin/booking', booking.id]">
                            <app-icon name="edit"></app-icon>
                        </a>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

            </table>
        </div>
    </div>

    <div>

        <div fxLayout="row" fxLayoutAlign="start center" class="margin-bottom">
            <h2 fxFlex class="mat-headline no-margin-bottom">Cotisation / Prestations souscrites</h2>
            <button mat-stroked-button color="warn" (click)="unregister()">Démissionner</button>
        </div>

        <div class="mat-body-1 padding margin" fxLayout="column" fxLayoutAlign="center center" *ngIf="runningServicesDS?.data?.length === 0"
        >
            Aucune prestation en cours
        </div>

        <div class="responsive-table" *ngIf="runningServicesDS && runningServicesDS.data.length">
            <table mat-table [dataSource]="runningServicesDS">
                <tr mat-header-row *matHeaderRowDef="servicesColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: servicesColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="servicesColumns"></tr>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Nom</th>
                    <td mat-cell *matCellDef="let booking">{{ booking.bookable.name }}</td>
                    <td mat-footer-cell *matFooterCellDef> Totaux</td>
                </ng-container>

                <ng-container matColumnDef="periodicPrice">
                    <th mat-header-cell *matHeaderCellDef app-7em-column app-align-right>Prix périodique</th>
                    <td mat-cell *matCellDef="let booking" app-align-right>
                        <span *ngIf="booking.bookable.periodicPrice"> {{ booking.bookable.periodicPrice | currency: 'CHF'}}</span>
                    </td>
                    <td mat-footer-cell *matFooterCellDef app-align-right>
                        <span *ngIf="runningServicesDS.data.totalPeriodicPrice > 0">
                            {{ runningServicesDS.data.totalPeriodicPrice | currency: 'CHF' }}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="revoke">
                    <th mat-header-cell *matHeaderCellDef app-1em-column></th>
                    <td mat-cell *matCellDef="let booking">
                        <button mat-icon-button color="warn" (click)="revokeBooking(booking)" *ngIf="canRevoke(booking)">
                            <app-icon name="delete_forever"></app-icon>
                        </button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="detail">
                    <th mat-header-cell *matHeaderCellDef>Détail</th>
                    <td mat-cell *matCellDef="let booking">
                        <a mat-icon-button [routerLink]="['/admin/booking', booking.id]">
                            <app-icon name="edit"></app-icon>
                        </a>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

            </table>
        </div>
    </div>
</div>
