<div fxLayout="column" fxLayoutGap="30px">

    <div fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutAlign="start center" class="margin-bottom">
            <h2 fxFlex class="mat-headline no-margin-bottom">Demandes en attente</h2>
            <!--<button mat-stroked-button color="primary">Annoncer une dépense</button>-->
        </div>

        <div class="responsive-table">

            <table mat-table *ngIf="runningServicesDS" [dataSource]="pendingApplicationsDS">
                <tr mat-header-row *matHeaderRowDef="applicationsColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: applicationsColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="applicationsColumns"></tr>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Nom</th>
                    <td mat-cell *matCellDef="let booking">{{ booking.bookables[0].name }}</td>
                    <td mat-footer-cell *matFooterCellDef> Totaux</td>
                </ng-container>

                <ng-container matColumnDef="periodicPrice">
                    <th mat-header-cell *matHeaderCellDef app-7em-column>Prix périodique</th>
                    <td mat-cell *matCellDef="let booking">
                        <span *ngIf="booking.bookables[0].periodicPrice"> {{ booking.bookables[0].periodicPrice }} CHF</span>
                    </td>
                    <td mat-footer-cell *matFooterCellDef> {{ totalPeriodic }} CHF</td>
                </ng-container>

                <ng-container matColumnDef="initialPrice">
                    <th mat-header-cell *matHeaderCellDef app-7em-column>Prix initial</th>
                    <td mat-cell *matCellDef="let booking">
                        <span *ngIf="booking.bookables[0].initialPrice"> {{ booking.bookables[0].initialPrice }} CHF</span>
                    </td>
                    <td mat-footer-cell *matFooterCellDef> {{ totalInitial }} CHF</td>
                </ng-container>

                <ng-container matColumnDef="cancel">
                    <th mat-header-cell *matHeaderCellDef app-1em-column></th>
                    <td mat-cell *matCellDef="let booking">
                        <button mat-icon-button color="warn" (click)="cancelApplication(booking)">
                            <app-icon name="delete"></app-icon>
                        </button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
            </table>
        </div>
        <app-select [service]="bookableService"
                    [filter]="BookableService.adminApproved.filter"
                    (selectionChange)="addApplication($event)"
                    placeholder="Demander un espace de stockage"
        ></app-select>
    </div>

    <div>

        <div fxLayout="row" fxLayoutAlign="start center" class="margin-bottom">
            <h2 fxFlex class="mat-headline no-margin-bottom">Cotisation / Prestations souscrites</h2>
            <button mat-flat-button color="warn" (click)="unregister()">Démissioner</button>
        </div>

        <div class="responsive-table">
            <table mat-table *ngIf="runningServicesDS" [dataSource]="runningServicesDS">
                <tr mat-header-row *matHeaderRowDef="servicesColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: servicesColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="servicesColumns"></tr>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Nom</th>
                    <td mat-cell *matCellDef="let booking">{{ booking.bookables[0].name }}</td>
                    <td mat-footer-cell *matFooterCellDef> Totaux</td>
                </ng-container>

                <ng-container matColumnDef="periodicPrice">
                    <th mat-header-cell *matHeaderCellDef app-7em-column>Prix périodique</th>
                    <td mat-cell *matCellDef="let booking">
                        <span *ngIf="booking.bookables[0].periodicPrice"> {{ booking.bookables[0].periodicPrice }} CHF</span>
                    </td>
                    <td mat-footer-cell *matFooterCellDef> {{ totalPeriodic }} CHF</td>
                </ng-container>

                <ng-container matColumnDef="initialPrice">
                    <th mat-header-cell *matHeaderCellDef app-7em-column>Prix initial</th>
                    <td mat-cell *matCellDef="let booking">
                        <span *ngIf="booking.bookables[0].initialPrice"> {{ booking.bookables[0].initialPrice }} CHF</span>
                    </td>
                    <td mat-footer-cell *matFooterCellDef> {{ totalInitial }} CHF</td>
                </ng-container>

                <ng-container matColumnDef="revoke">
                    <th mat-header-cell *matHeaderCellDef app-1em-column></th>
                    <td mat-cell *matCellDef="let booking">
                        <button mat-icon-button color="warn" (click)="revokeBooking(booking)" *ngIf="canRevoke(booking)">
                            <app-icon name="delete"></app-icon>
                        </button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

            </table>
        </div>
    </div>
</div>
