@if (dataSource) {
    <div class="nat-vertical">
        <div class="nat-horizontal">
            <div class="mat-h1 nat-no-margin nat-expand">
                {{ routeData?.seo.title }}
            </div>
            <natural-columns-picker
                [availableColumns]="availableColumns"
                [selections]="selectedColumns"
                [buttons]="buttons"
                (selectionChange)="selectColumns($event)"
            />
        </div>
        <div class="nat-vertical">
            <div class="nat-margin-vertical overflow nat-horizontal">
                <natural-search
                    class="nat-expand"
                    [facets]="naturalSearchFacets"
                    [multipleGroups]="true"
                    [selections]="naturalSearchSelections"
                    (selectionChange)="search($event)"
                />
            </div>
            @if (showTable()) {
                <div class="responsive-table">
                    <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sorting([$event])">
                        <tr *matHeaderRowDef="columnsForTable" mat-header-row></tr>
                        <tr *matRowDef="let row; columns: columnsForTable" mat-row></tr>

                        <ng-container matColumnDef="name">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header="lastName">Nom</th>
                            <td *matCellDef="let element" mat-cell>
                                <div class="nat-horizontal nat-align">
                                    <natural-avatar [initials]="element.name" [gravatar]="element.email" [size]="36" />
                                    <natural-table-button
                                        matTooltip="Éditer"
                                        [label]="element.name || 'Sans nom'"
                                        [navigate]="['/admin/user', element.id]"
                                    />
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="creationDate">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Créé le</th>
                            <td *matCellDef="let element" mat-cell>
                                {{ element.creationDate | swissDate }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="updateDate">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Modifié le</th>
                            <td *matCellDef="let element" mat-cell>
                                {{ element.updateDate | swissDate }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="membership">
                            <th *matHeaderCellDef class="app-date-column" mat-header-cell mat-sort-header>
                                Membre des artisans
                            </th>
                            <td *matCellDef="let element" mat-cell>
                                {{ element.membership | enum: 'Membership' | async }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="phone">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Tél.</th>
                            <td *matCellDef="let element" mat-cell>
                                @if (element.phone) {
                                    <a class="app-link" [href]="'tel:' + element.phone">{{ element.phone }}</a>
                                }
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="email">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>e-mail</th>
                            <td *matCellDef="let element" mat-cell>
                                @if (element.email) {
                                    <a class="app-link" [href]="'mailto:' + element.email">{{ element.email }}</a>
                                }
                            </td>
                        </ng-container>
                    </table>
                </div>
            }

            @if (showNoResults()) {
                <div class="nat-margin text-center">Pas de résultats</div>
            }
            @if (!dataSource.data) {
                <div class="nat-margin nat-vertical nat-center">
                    <mat-progress-spinner mode="indeterminate" [diameter]="40" />
                </div>
            }
            @if (dataSource.data?.length) {
                <mat-paginator
                    [length]="dataSource.data?.length"
                    [pageIndex]="dataSource.data?.pageIndex"
                    [pageSizeOptions]="pageSizeOptions"
                    [pageSize]="dataSource.data?.pageSize"
                    (page)="pagination($event)"
                />
            }
        </div>
    </div>
}

@if (routeData?.isAdmin && permissionsService.crud?.user.create) {
    <natural-fixed-button icon="add" [routerLink]="['/admin/user/new']" />
}
