<div *ngIf="dataSource" fxLayout="column">

    <div fxLayout="column">
        <div class="mat-headline no-margin" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">{{routeData?.title}}</div>
    </div>

    <div fxLayout="column">

        <div fxLayout="row" class="margin-v" overflow>

            <natural-search fxFlex
                            [facets]="naturalSearchFacets"
                            [selections]="naturalSearchSelections"
                            (selectionChange)="search($event)"
                            [multipleGroups]="true"
            >

                <button mat-icon-button (click)="download()" *ngIf="!usersEmail">
                    <natural-icon name="email"></natural-icon>
                </button>

                <button mat-icon-button (click)="copy(usersEmail)" *ngIf="usersEmail" matTooltip="Copier les e-mails">
                    <natural-icon name="alternate_email"></natural-icon>
                </button>

                <button mat-icon-button (click)="copy(usersEmailAndName)" *ngIf="usersEmailAndName" matTooltip="Copier les e-mails et les noms">
                    <natural-icon name="file_copy"></natural-icon>
                </button>

                <natural-columns-picker (selectionChange)="selectedColumns = $event" [initialSelection]="initialColumns">
                    <span naturalColumnsPickerColumn="balance">Solde</span>
                    <span naturalColumnsPickerColumn="name">Nom</span>
                    <span naturalColumnsPickerColumn="code">N° coopérateur</span>
                    <span naturalColumnsPickerColumn="login">Login</span>
                    <span naturalColumnsPickerColumn="age">Âge</span>
                    <span naturalColumnsPickerColumn="creationDate">Créé le</span>
                    <span naturalColumnsPickerColumn="updateDate">Modifié le</span>
                    <span naturalColumnsPickerColumn="resignDate">Date démission</span>
                    <span naturalColumnsPickerColumn="status">Status</span>
                    <span naturalColumnsPickerColumn="email">Email</span>
                    <span naturalColumnsPickerColumn="mobilePhone">Telephone</span>
                    <span naturalColumnsPickerColumn="flagWelcomeSessionDate">Séance d'accueil</span>
                </natural-columns-picker>
            </natural-search>

        </div>

        <div class="responsive-table">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sorting($event)">

                <tr mat-header-row *matHeaderRowDef="selectedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: selectedColumns;"></tr>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="lastName">Nom</th>
                    <td mat-cell *matCellDef="let element">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <ngx-avatar [name]="element.name" [size]="36"></ngx-avatar>
                            <natural-table-button [label]="element.name" [navigate]="['/admin/user', element.id]" matTooltip="Éditer"
                            ></natural-table-button>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="code">N° coopérateur</th>
                    <td mat-cell *matCellDef="let element">{{ element.code}}</td>
                </ng-container>

                <ng-container matColumnDef="login">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Login</th>
                    <td mat-cell *matCellDef="let element">{{ element.login }}</td>
                </ng-container>

                <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Âge</th>
                    <td mat-cell *matCellDef="let element">{{ element.age }}</td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header app-date-column natural-align-center>Status</th>
                    <td mat-cell *matCellDef="let element" natural-align-center>
                        <span *ngIf="isActive(element)">{{ element.status | enum: 'UserStatus' | capitalize | async }}</span>
                        <button mat-flat-button
                                [color]="isNew(element) ? 'accent' : 'primary'"
                                (click)="activate(element)"
                                *ngIf="!isActive(element)"
                                [style.width.px]="150"
                        >
                            Activer ({{ element.status | enum: 'UserStatus' | capitalize | async }})
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="creationDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Créé le</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.creationDate | date: 'd MMM y - HH:mm' }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="updateDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Modifié le</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.updateDate | date: 'd MMM y - HH:mm' }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="flagWelcomeSessionDate">
                    <th mat-header-cell *matHeaderCellDef natural-7em-column>Accueil</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-flat-button
                                color="primary"
                                *ngIf="!element.welcomeSessionDate"
                                (click)="flagWelcomeSessionDate(element)"
                        >A participé
                        </button>
                        <span *ngIf="element.welcomeSessionDate">{{ element.welcomeSessionDate | date: 'mediumDate' }}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="resignDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header app-date-column>Date démission</th>
                    <td mat-cell *matCellDef="let element">{{ element.resignDate | date: 'mediumDate' }}</td>
                </ng-container>

                <ng-container matColumnDef="balance">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header natural-6em-column>Solde</th>
                    <td mat-cell *matCellDef="let element">
                        <app-money [amount]="element.account?.balance"></app-money>
                    </td>
                </ng-container>

                <ng-container matColumnDef="mobilePhone">
                    <th mat-header-cell *matHeaderCellDef>Tél.</th>
                    <td mat-cell *matCellDef="let element">{{ element.mobilePhone }}</td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>e-mail</th>
                    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
                </ng-container>

            </table>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" class="margin" *ngIf="dataSource.length === 0">
            <div>Pas de résultats</div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" class="margin" *ngIf="dataSource.length === null">
            <mat-progress-spinner mode="indeterminate" [diameter]="40"></mat-progress-spinner>
        </div>

        <mat-paginator *ngIf="dataSource.data?.length"
                       [length]="dataSource.data?.length"
                       [pageSize]="dataSource.data?.pageSize"
                       [pageIndex]="dataSource.data?.pageIndex"
                       [pageSizeOptions]="pageSizeOptions"
                       (page)="pagination($event)"
        ></mat-paginator>

    </div>
</div>

<natural-fixed-button [routerLink]="['/admin/user/new']" icon="add" *ngIf="!routeData?.hideFab && permissionsService.crud?.user.create"
></natural-fixed-button>
