<div *ngIf="dataSource" fxLayout="column">

    <div fxLayout="column">
        <div class="mat-headline no-margin" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">{{routeData?.title}}</div>
    </div>

    <div fxLayout="column">

        <div fxLayout="row" class="margin-v" overflow>

            <natural-search fxFlex
                            [configurations]="naturalSearchConfig"
                            [selections]="naturalSearchSelections"
                            (selectionChange)="search($event)"
                            [multipleGroups]="true"
            >
                <app-columns-picker (selectionChange)="selectedColumns = $event" [initialSelection]="routerColumns">
                    <span appColumnsPickerColumn="balance">Solde</span>
                    <span appColumnsPickerColumn="name">Nom</span>
                    <span appColumnsPickerColumn="login">Login</span>
                    <span appColumnsPickerColumn="age">Âge</span>
                    <span appColumnsPickerColumn="creationDate">Créé le</span>
                    <span appColumnsPickerColumn="updateDate">Modifié le</span>
                    <span appColumnsPickerColumn="lastLogin">Dernière connexion</span>
                    <span appColumnsPickerColumn="status">Status</span>
                    <span appColumnsPickerColumn="flagWelcomeSessionDate">Séance d'accueil</span>
                </app-columns-picker>
            </natural-search>

        </div>

        <div class="responsive-table">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sorting($event)">

                <tr mat-header-row *matHeaderRowDef="selectedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: selectedColumns;"></tr>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="lastName">Nom</th>
                    <td mat-cell *matCellDef="let element">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <ngx-avatar [name]="element.name" [size]="36"></ngx-avatar>
                            <app-table-button [label]="element.name" [navigate]="['/admin/user', element.id]" matTooltip="Éditer"
                            ></app-table-button>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="login">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Login</th>
                    <td mat-cell *matCellDef="let element">{{ element.login }}</td>
                </ng-container>

                <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Âge</th>
                    <td mat-cell *matCellDef="let element">{{ element.age }}</td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header app-date-column app-align-center>Status</th>
                    <td mat-cell *matCellDef="let element" app-align-center>
                        <span *ngIf="isActive(element)">{{ element.status | enum: 'UserStatus' | capitalize | async }}</span>
                        <button mat-flat-button
                                [color]="isNew(element) ? 'accent' : 'primary'"
                                (click)="activate(element)"
                                *ngIf="!isActive(element)"
                                [style.width.px]="150"
                        >
                            Activer ({{ element.status | enum: 'UserStatus' | capitalize | async }})
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="creationDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Créé le</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.creationDate | date: 'mediumDate' }} - {{ element.creationDate | date: 'shortTime' }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="updateDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Modifié le</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.updateDate | date: 'mediumDate' }} - {{ element.updateDate | date: 'shortTime' }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="lastLogin">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Connecté le</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.lastLogin | date: 'mediumDate' }} - {{ element.lastLogin | date: 'shortTime' }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="flagWelcomeSessionDate">
                    <th mat-header-cell *matHeaderCellDef app-7em-column>Accueil</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-flat-button
                                color="primary"
                                *ngIf="!element.welcomeSessionDate"
                                (click)="flagWelcomeSessionDate(element)"
                        >A participé
                        </button>
                        <span *ngIf="element.welcomeSessionDate">{{ element.welcomeSessionDate | date: 'mediumDate' }}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="balance">
                    <th mat-header-cell *matHeaderCellDef app-6em-column>Solde</th>
                    <td mat-cell *matCellDef="let element">
                        <app-money [amount]="element.account?.balance"></app-money>
                    </td>
                </ng-container>

            </table>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" class="margin" *ngIf="dataSource.length === 0">
            <div>Pas de résultats</div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" class="margin" *ngIf="dataSource.length === null">
            <mat-progress-spinner mode="indeterminate" [diameter]="40"></mat-progress-spinner>
        </div>

        <mat-paginator *ngIf="dataSource.data?.length"
                       [length]="dataSource.data?.length"
                       [pageSize]="dataSource.data?.pageSize"
                       [pageIndex]="dataSource.data?.pageIndex"
                       [pageSizeOptions]="pageSizeOptions"
                       (page)="pagination($event)"
        ></mat-paginator>

    </div>
</div>

<app-fixed-button [routerLink]="['/admin/user/new']" icon="add" *ngIf="permissionsService.crud?.user.create"></app-fixed-button>
