<div [formGroup]="form" class="detail-body">

    <app-detail-header newLabel="Nouvelle transaction" label="Transaction" [model]="data.model" [listRoute]="['admin', 'transaction-line']">
        <app-money [amount]="data.model.amount" sizeClass="mat-display-1"></app-money>
    </app-detail-header>

    <mat-tab-group [dynamicHeight]="true" (selectedIndexChange)="changeTab($event)">
        <mat-tab label="Général">
            <div fxLayout="column" fxLayoutGap="30px" class="padding-top">
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px">
                    <div fxFlex="66" fxLayout="column">

                        <mat-form-field>
                            <mat-label>Nom</mat-label>
                            <input matInput formControlName="name">
                            <mat-error *ngIf="form.get('name').hasError('maxlength')">
                                Maximum {{form.get('name').errors.maxlength.requiredLength }} caractères
                            </mat-error>
                            <mat-error *ngIf="form.get('name').hasError('required')">Requis</mat-error>
                        </mat-form-field>

                    </div>

                    <div fxFlex="33" fxLayout="column">
                        <mat-form-field>
                            <mat-label>Remarques</mat-label>
                            <textarea matInput formControlName="remarks" matTextareaAutosize [matAutosizeMinRows]="3"
                            ></textarea>
                        </mat-form-field>

                        <!-- TODO : FOR ADMINS ONLY -->
                        <mat-form-field>
                            <mat-label>Remarques internes</mat-label>
                            <textarea matInput formControlName="internalRemarks" matTextareaAutosize [matAutosizeMinRows]="3"
                            ></textarea>
                        </mat-form-field>
                    </div>
                </div>

                <mat-divider *ngIf="data.model.expenseClaim"></mat-divider>
                <div *ngIf="data.model.expenseClaim">
                    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" class="margin-bottom">
                        <div class="mat-title no-margin-bottom">
                            <span *ngIf="data.model.expenseClaim.type === ExpenseClaimType.refund">Demande de remboursement</span>
                            <span *ngIf="data.model.expenseClaim.type === ExpenseClaimType.expenseClaim">Annonce de dépense</span>
                        </div>

                        <a mat-stroked-button [routerLink]="['/admin/expense-claim', data.model.expenseClaim.id]">Voir la demande</a>

                        <mat-button-toggle-group name="fontStyle"
                                                 [value]="data.model.expenseClaim.status"
                                                 (change)="flagExpenseClaim($event.value)"
                        >
                            <mat-button-toggle [value]="ExpenseClaimStatus.new"
                            >Nouveau
                            </mat-button-toggle>
                            <mat-button-toggle [value]="ExpenseClaimStatus.processing"
                            >En traitement
                            </mat-button-toggle>
                            <mat-button-toggle [value]="ExpenseClaimStatus.processed"
                            >Traité
                            </mat-button-toggle>
                        </mat-button-toggle-group>

                    </div>

                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="20px">
                        <div fxLayout="column" fxLayoutGap="10px" style="max-width:300px">
                            <div class="mat-body-2">{{ data.model.expenseClaim.name }}</div>
                            <div>
                                <span class="mat-body-2">Montant :</span>
                                {{ data.model.expenseClaim.amount | currency : 'CHF'}}
                            </div>
                            <div>
                                <span class="mat-body-2">Utilisateur :</span>
                                {{ data.model.expenseClaim.owner.name }}
                            </div>
                            <div *ngIf="data.model.expenseClaim.description">
                                <span class="mat-body-2">Description :</span>
                                {{ data.model.expenseClaim.description }}
                            </div>

                        </div>

                        <app-accounting-documents [disabled]="true" [model]="data.model.expenseClaim" [fileHeight]="150" [fileWidth]="200"
                        ></app-accounting-documents>
                    </div>

                </div>

                <!-- TODO : add selectors for ExpanseClaim -->
                <mat-divider></mat-divider>
                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                    <h2 class="mat-title" class="no-margin-bottom no-margin-top">Écritures</h2>
                    <button mat-stroked-button (click)="updateTransactionLines = true" *ngIf="!(updateTransactionLines || !data.model.id)">
                        Éditer
                    </button>
                    <button mat-stroked-button (click)="updateTransactionLines = false" *ngIf="updateTransactionLines && data.model.id">
                        Annuler
                    </button>
                    <button mat-flat-button color="primary" (click)="transactionLinesComponent.addEmpty()" *ngIf="updateTransactionLines">
                        Ajouter une écriture
                    </button>
                </div>

                <div *ngIf="!updateTransactionLines && data.model.id">
                    <app-transaction-lines [persistSearch]="false"
                                           [queryVariables]="{filter: {groups: [{conditions:[{transaction: {equal: {value: data.model.id}}}]}]}}"
                    ></app-transaction-lines>
                </div>

                <div *ngIf="updateTransactionLines || !data.model.id">
                    <app-editable-transaction-lines [transaction]="data.model"></app-editable-transaction-lines>
                </div>

                <div>
                    <div class="mat-title">Documents justificatifs de la transaction</div>
                    <app-accounting-documents #transactionDocuments [model]="data.model"></app-accounting-documents>
                </div>

                <mat-divider></mat-divider>

                <app-stamp [item]="data.model"></app-stamp>

            </div>
        </mat-tab>

    </mat-tab-group>

    <app-fixed-button class="detail-speed-dial"
                      (click)="save()"
                      icon="save"
                      color="accent"
                      matTooltip="Sauvegarder"
                      matTooltipPosition="left"
                      [color]="form.invalid ? 'warn' : 'accent'"
    ></app-fixed-button>

</div>

