<div [formGroup]="form" class="detail-body">

    <app-detail-header newLabel="Nouvelle transaction" label="Transaction" [model]="data.model" [listRoute]="['admin', 'transaction-line']">
        <app-money [amount]="data.model.amount" sizeClass="mat-display-1"></app-money>
    </app-detail-header>

    <mat-tab-group [dynamicHeight]="true" (selectedIndexChange)="changeTab($event)">
        <mat-tab label="Général">
            <div fxLayout="column" fxLayoutGap="30px" class="padding-top">
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px">
                    <div fxFlex="66" fxLayout="column">

                        <mat-form-field>
                            <mat-label>Nom</mat-label>
                            <input matInput formControlName="name">
                            <mat-error *ngIf="form.get('name').hasError('maxlength')">
                                Maximum {{form.get('name').errors.maxlength.requiredLength }} caractères
                            </mat-error>
                            <mat-error *ngIf="form.get('name').hasError('required')">Requis</mat-error>
                        </mat-form-field>

                    </div>

                    <div fxFlex="33" fxLayout="column">

                        <mat-form-field>
                            <mat-label>Remarques</mat-label>
                            <textarea matInput formControlName="remarks" matTextareaAutosize [matAutosizeMinRows]="3"
                            ></textarea>
                        </mat-form-field>

                        <!-- TODO : FOR ADMINS ONLY -->
                        <mat-form-field>
                            <mat-label>Remarques internes</mat-label>
                            <textarea matInput formControlName="internalRemarks" matTextareaAutosize [matAutosizeMinRows]="3"
                            ></textarea>
                        </mat-form-field>

                    </div>

                </div>

                <!-- TODO : add selectors for ExpanseClaim -->
                <mat-divider></mat-divider>
                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                    <h2 class="mat-title" class="no-margin-bottom no-margin-top">Écritures</h2>
                    <button mat-flat-button color="primary" (click)="updateTransactionLines = true" *ngIf="!(updateTransactionLines || !data.model.id)">
                        Éditer
                    </button>
                </div>

                <div *ngIf="!updateTransactionLines && data.model.id">
                    <app-transaction-lines [persistSearch]="false"
                                           [queryVariables]="{filter: {groups: [{conditions:[{transaction: {equal: {value: data.model.id}}}]}]}}"
                    ></app-transaction-lines>
                </div>

                <div *ngIf="updateTransactionLines || !data.model.id">
                    <app-editable-transaction-lines [transaction]="data.model"></app-editable-transaction-lines>
                </div>

                <mat-divider></mat-divider>

                <app-stamp [item]="data.model"></app-stamp>

            </div>
        </mat-tab>

    </mat-tab-group>


    <app-fixed-button class="detail-speed-dial"
                      (click)="save()"
                      icon="save"
                      color="accent"
                      matTooltip="Sauvegarder"
                      matTooltipPosition="left"
                      [color]="form.invalid ? 'warn' : 'accent'"
    ></app-fixed-button>

</div>
