<div class="container mat-h3">
    <h1 class="mat-display-1">Rejoindre l’association</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body mat-h3">
            <p class="rich-text">
                Devenir membre des Artisans de la transition donne un lien direct et privilégié avec notre action. Et
                nous donne plus de légitimité et de poids. Plus nous aurons de membres, plus l’élan sera fort et plus
                nous pourrons continuer d’identifier en toute indépendance les actions les plus pertinentes à
                entreprendre.
            </p>

            <app-add-to-cart
                [product]="membershipProduct"
                [type]="ProductType.other"
                label="Rejoindre l'association"
            ></app-add-to-cart>
        </div>
    </div>
</div>
