<mat-sidenav-container>

    <mat-sidenav position="start"
                 [mode]="naturalSidenavService.activeMode"
                 [opened]="naturalSidenavService.isOpened"
                 [ngClass]="naturalSidenavService.isMinimized ? 'menuMinimized' : null"
    >

        <ng-content select="natural-sidenav"></ng-content>
    </mat-sidenav>

    <mat-sidenav-content>
        <div fxLayout="column" fxFlex overflow>
            <ng-content select="natural-sidenav-content"></ng-content>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>
