<div
    class="page-illustration"
    [style.backgroundImage]="'url(assets/images/illustration-pages/artisans-de-la-transition-apero-divest.jpg)'"
></div>

<div class="container mat-h3 rich-text">
    <h1 class="mat-headline-4">Atelier Finance 1,5°</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body rich-text mat-h3">
            <p>
                Avec ses émissions directes, la Suisse se situe au 70e rang des pays les plus émetteurs de gaz à effet
                de serre. Mais si les émissions que la place financière helvétique contribue à financer étaient inclues
                dans les émissions du pays, la Suisse se hisserait au… 7e rang des pays les plus émetteurs de gaz à
                effet de serre dans le monde.
            </p>
            <p>
                De ce fait, la Suisse dispose d’un immense levier pour agir sur les émissions mondiales de carbone.
                L’atelier des Artisans de la transition finance 1,5 °C est un excellent moyen de comprendre, en deux
                heures, comment la place financière suisse réchauffe le climat et ce qu’il est possible de faire pour
                l’en dissuader. Entre explications, échanges et études de cas, chaque participant et chaque participante
                peut y acquérir les bases essentielles pour pouvoir agir dans ce domaine.
            </p>

            <p>
                Pour organiser cet atelier, il suffit de réunir huit à dix personnes, de trouver un lieu pour se réunir,
                qui peut être chez soi, et de contacter
                <a href="mailto:susana.jourdan@larevuedurable.com">susana.jourdan@larevuedurable.com</a>
            </p>
        </div>
    </div>
</div>
