<div
    class="page-illustration"
    [style.backgroundImage]="'url(assets/images/illustration-pages/artisans-de-la-transition-apero-divest.jpg)'"
></div>

<div class="container mat-h3 rich-text">
    <h1 class="mat-display-1">APÉRO DIVEST</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body rich-text mat-h3">
            <ul>
                <li>
                    Le principe est très simple : vous réunissez une dizaine de personnes en cercle sans rien au centre
                    dans votre salon et faites appel à un ou deux facilitateurs ou facilitatrices formé-e-s par les
                    <strong>Artisans de la transition</strong> pour assurer l’animation.
                </li>
                <li>
                    La discussion, de deux heures, ouvre les yeux sur les investissements insoutenables de la place
                    financière helvétique dans l’industrie des énergies fossiles et les moyens de faire – le plus vite
                    possible&nbsp;! – infiniment mieux.
                </li>
                <li>
                    Au centre du dispositif, un petit jeu vulgarise le rôle des banques, des caisses de pension et de la
                    Banque nationale suisse.
                </li>
            </ul>

            <h2 class="mat-h2">Devenir facilitateur ou facilitatrice d’apéro-divest</h2>
            <p>
                Le désinvestissement vous intéresse et vous aimez les contacts humains&nbsp;? En une demi-journée de
                formation, vous serez paré-e pour faire passer le message sur l’utilité et l’urgence de modifier les
                pratiques de la place financière.
            </p>
            <p>
                Si vous souhaitez devenir facilitateur ou facilitatrice d’apéro-divest, contactez :
                <a href="mailto:susana.jourdan@larevuedurable.com">susana.jourdan@larevuedurable.com</a>
            </p>
        </div>
    </div>
</div>
