<div class="body nat-padding" [formGroup]="form">
    <div class="nat-vertical nat-gap-30 nat-center">
        <h1 class="mat-headline-4">Changement de mot de passe</h1>

        <app-password style="width: 100%; max-width: 550px" [form]="form" />

        <!-- Spacer-->
        <div></div>

        <div class="nat-horizontal nat-center">
            <button
                color="primary"
                mat-raised-button
                [disabled]="form.disabled || !form.valid"
                (click)="maybeConfirm()"
            >
                <mat-icon naturalIcon="save" />
                Valider le nouveau mot de passe
            </button>
        </div>
    </div>
</div>
