<div class="body nat-padding nat-gap nat-center nat-vertical nat-expand" [formGroup]="form">
    <div class="nat-vertical nat-gap-30 nat-center">
        <h1 class="mat-font-headline-lg">Changement de mot de passe</h1>

        <app-password [form]="form" />

        <div class="nat-horizontal nat-center">
            <button matButton="filled" [disabled]="form.disabled || !form.valid" (click)="maybeConfirm()">
                <mat-icon naturalIcon="save" />
                Valider le nouveau mot de passe
            </button>
        </div>
    </div>
</div>
