<div class="body padding" [formGroup]="form">

    <div fxLayout="column" fxLayoutGap="30px">

        <h1 class="mat-display-1">Changement de mot de passe</h1>

        <div fxLayout="column">
            <app-password [form]="form" [style.width.px]="550"></app-password>
        </div>
        <!-- Spacer-->
        <div></div>

        <div fxLayout="row" fxLayoutAlign="center">
            <button mat-raised-button color="primary" (click)="submit()" [disabled]="sending || form.invalid">
                <natural-icon name="send"></natural-icon>
                Envoyer
            </button>
        </div>
    </div>

</div>
