<div fxFlexAlign="center center" fxFlexFill fxLayout="column" class="overflow">
    <div class="padding" fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
        <form
            [formGroup]="form"
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="15px"
            style="min-width: 300px"
        >
            <mat-form-field>
                <mat-label>Courriel</mat-label>
                <input
                    matInput
                    formControlName="email"
                    autofocus
                    autocorrect="off"
                    autocapitalize="off"
                    spellcheck="false"
                    type="email"
                    (keydown.enter)="maybeConfirm()"
                />
                @if (form.get('email')?.hasError('maxlength')) {
                    <mat-error>Maximum {{ form.get('email')?.errors?.maxlength?.requiredLength }} caractères</mat-error>
                }
                @if (form.get('email')?.hasError('email')) {
                    <mat-error>Courriel invalide</mat-error>
                }
                @if (form.get('email')?.hasError('required')) {
                    <mat-error>Requis</mat-error>
                }
            </mat-form-field>

            <mat-form-field>
                <mat-label>Mot de passe</mat-label>
                <input matInput formControlName="password" type="password" (keydown.enter)="maybeConfirm()" />
                @if (form.get('password')?.hasError('required')) {
                    <mat-error>Requis</mat-error>
                }
            </mat-form-field>

            <div fxFlex="none" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
                <a mat-button routerLink="/user/request-password-reset">Mot de passe oublié ?</a>
                <button
                    (click)="maybeConfirm()"
                    [disabled]="!form.valid"
                    color="primary"
                    mat-raised-button
                    type="submit"
                >
                    Se connecter
                </button>
            </div>

            <mat-divider class="margin" />
            <div class="mat-h3" style="text-align: center">Pas encore de compte ?</div>
            <a mat-stroked-button routerLink="/user/new" type="submit">Créer un compte</a>
        </form>
    </div>
</div>
