<div class="nat-fill overflow nat-vertical">
    <div class="nat-padding nat-vertical nat-center">
        <form class="nat-vertical nat-gap-10" style="min-width: 300px" [formGroup]="form">
            <mat-form-field>
                <mat-label>Courriel</mat-label>
                <input
                    matInput
                    formControlName="email"
                    autofocus
                    autocomplete="username"
                    autocorrect="off"
                    autocapitalize="off"
                    spellcheck="false"
                    type="email"
                    (keydown.enter)="maybeConfirm()"
                />
                <mat-error>{{ form.controls.email.errors | errorMessage }}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Mot de passe</mat-label>
                <input
                    matInput
                    formControlName="password"
                    autocomplete="current-password"
                    autocorrect="off"
                    autocapitalize="off"
                    spellcheck="false"
                    [type]="hidePassword ? 'password' : 'text'"
                    (keydown.enter)="maybeConfirm()"
                />
                <button mat-icon-button matIconSuffix (click)="hidePassword = !hidePassword">
                    <mat-icon [fontIcon]="hidePassword ? 'visibility' : 'visibility_off'" />
                </button>
                <mat-error>{{ form.controls.password.errors | errorMessage }}</mat-error>
            </mat-form-field>

            <div class="nat-horizontal nat-gap-10">
                <a mat-button routerLink="/user/request-password-reset">Mot de passe oublié ?</a>
                <button
                    color="primary"
                    mat-raised-button
                    type="submit"
                    [disabled]="!form.valid"
                    (click)="maybeConfirm()"
                >
                    Se connecter
                </button>
            </div>

            <mat-divider class="nat-margin" />
            <div class="mat-h3" style="text-align: center">Pas encore de compte ?</div>
            <a mat-stroked-button routerLink="/user/new" type="submit">Créer un compte</a>
        </form>
    </div>
</div>
