@use 'sass:map';
@use '@angular/material' as mat;
@mixin homepage($theme) {
    $primary: map.get($theme, primary);
    $accent: map.get($theme, accent);
    $warn: map.get($theme, warn);
    $bg: map.get($theme, background);
    $fg: map.get($theme, foreground);

    app-homepage {
        a.mat-display-1 {
            color: mat.get-color-from-palette($fg, base);

            &:hover {
                color: mat.get-color-from-palette($primary);
            }
        }

        .description {
            color: mat.get-color-from-palette($fg, base, 0.75);
        }

        .events {
            background: mat.get-color-from-palette($accent, A100);

            mat-divider {
                border-color: mat.get-color-from-palette($accent);
            }
        }
    }
}
