@mixin homepage($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $bg: map-get($theme, background);
    $fg: map-get($theme, foreground);

    app-homepage {
        a.mat-display-1 {
            color: mat-color($fg, base);

            &:hover {
                color: mat-color($primary);
            }
        }

        .description {
            color: mat-color($fg, base, 0.75);
        }

        .events {
            background: mat-color($accent, A100);

            mat-divider {
                border-color: mat-color($accent);
            }
        }
    }
}
