@use 'sass:color';
@use '@angular/material' as mat;

@use '../../../../styles/responsive';
@use '../../../../styles/variables';

:host {
    margin-top: 0 !important; // overrides global top margin

    & > :not(:last-child) {
        margin-bottom: 150px;
    }
}

.splash-image,
.la-revue-splash {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: color.adjust(variables.$app-orange, $lightness: 20%, $space: hsl);
}

.splash-image {
    display: none;

    @include responsive.responsive(responsive.$gt-sm) {
        display: block;
        margin-bottom: 0;
        height: 550px;
    }
}

.introduction-blocs {
    @include responsive.responsive(responsive.$gt-sm) {
        margin-top: -300px;
    }

    @include responsive.responsive(responsive.$lt-md) {
        padding-right: 50px;
        padding-left: 50px;
    }

    #bloc1 {
        background: variables.$app-orange;
        color: white;
    }

    #bloc2 {
        background: variables.$app-blue;
        color: white;
    }

    #bloc3 {
        background: variables.$app-green;
        color: white;
    }
}

.section-logo {
    width: 390px;
    max-width: 100%;
}

.section {
    .section-introduction {
        margin: auto;
        max-width: 50vw;
        text-align: center;

        .mat-font-display-md {
            margin-bottom: 30px;
        }
    }
}

.news,
.event {
    a {
        margin-bottom: 10px;
    }
}

.newses,
.events {
    padding: 10px;

    .section-title {
        margin-bottom: 20px;
    }
}

.la-revue-splash {
    margin-bottom: 0;

    @include responsive.responsive(responsive.$gt-sm) {
        height: 550px;
    }

    .mat-font-display-lg {
        padding-top: 120px;
    }

    .section-logo {
        margin-top: 40px;
    }
}

.la-revue.section {
    .last-product-thumbnail {
        margin: auto;
        width: 365px;
        height: 475px;

        @include responsive.responsive(responsive.$gt-sm) {
            margin-top: -170px;
        }
    }

    .la-revue-body {
        padding: 30px 0 0 0;

        @include responsive.responsive(responsive.$gt-xs) {
            padding: 30px 0 0 30px;
        }

        .mat-font-headline-lg {
            margin-bottom: 0;
            min-height: 120px;
        }
    }
}

.support.section {
    .mat-font-headline-sm {
        min-height: 64px;
    }

    .support-column {
        display: flex;
        flex-direction: column;
        max-width: 350px;
        @include responsive.responsive(responsive.$lt-md) {
            margin: auto;
        }
    }

    .support-image {
        background-position: center;
        background-size: cover;
        background-color: color.adjust(variables.$app-orange, $lightness: 20%, $space: hsl);
        padding-top: 80%;
        width: 100%;
    }

    .support-column-body {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;

        & > :not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .support-column-content {
        flex: 1;
    }

    #support-column-1 {
        background: variables.$app-blue;
        color: white;
    }

    #support-column-2 {
        background: variables.$app-orange;
        color: white;
    }

    #support-column-3 {
        background: variables.$app-green;
        color: white;
    }
}

a.mat-font-headline-lg {
    color: var(--mat-sys-on-surface);

    &:hover {
        color: var(--mat-sys-primary-container);
    }
}

.description {
    color: color-mix(in srgb, var(--mat-sys-on-background) 90%, white);
}

.events {
    background: rgb(246, 242, 230);

    mat-divider {
        border-color: var(--mat-sys-tertiary-container);
    }
}
