<div
    class="splash-image"
    [style.backgroundImage]="'url(assets/images/homepage/epicerie-avant-vrac-victor-savanyu.webp)'"
></div>

<div class="introduction-blocs">
    <div class="container app-gap-50 nat-md-horizontal nat-vertical">
        <app-home-block class="nat-md-expand" id="bloc1" key="home-block-1" />
        <app-home-block class="nat-md-expand" id="bloc2" key="home-block-2" />
        <app-home-block class="nat-md-expand" id="bloc3" key="home-block-3" />
    </div>
</div>

<div><!-- spacer --></div>

<!-- News + Events -->
<div class="posts">
    <div class="container app-gap-50 nat-md-horizontal nat-vertical">
        <!-- News -->
        <div class="newses nat-gap-30 nat-vertical nat-md-expand-66">
            <div class="mat-font-headline-lg section-title nat-gap-30 nat-horizontal">
                <div class="nat-expand">ACTUALITÉS</div>
                <div class="relative">
                    @if ((permissionsService.crud | async)?.news.create) {
                        <a
                            class="absolute"
                            color="none"
                            style="color: black; background-color: white"
                            matFab
                            routerLink="/admin/news"
                        >
                            <mat-icon naturalIcon="edit" />
                        </a>
                    }
                </div>
            </div>
            <mat-divider />
            <div class="newses-list nat-gap nat-vertical">
                @for (news of newses; track news) {
                    <div class="news">
                        <div class="nat-bold text-light">
                            {{ news.date | date: 'EEE dd.MM.yy' | capitalize }}
                        </div>
                        <a class="mat-font-title-lg" matRipple [routerLink]="['/actualite', news.id]">{{
                            news.name
                        }}</a>
                        <div class="mat-font-title-md description line-break">{{ news.description }}</div>
                    </div>
                }
            </div>

            <div>
                <a matButton="filled" routerLink="/actualite">Voir toutes nos actualités</a>
            </div>
        </div>

        <!-- Events -->
        <div class="events nat-gap-30 nat-vertical nat-md-expand-33">
            <div class="mat-font-headline-lg section-title nat-gap-30 nat-horizontal">
                <div class="nat-expand">AGENDA</div>
                <div class="relative">
                    @if ((permissionsService.crud | async)?.event.create) {
                        <a
                            class="absolute"
                            color="none"
                            style="color: black; background-color: white"
                            matFab
                            routerLink="/admin/event"
                        >
                            <mat-icon naturalIcon="edit" />
                        </a>
                    }
                </div>
            </div>
            <div class="newses-list nat-gap nat-vertical">
                @for (event of events; track event) {
                    <mat-divider />
                    <div class="event">
                        <a class="mat-font-title-lg" matRipple [routerLink]="['/agenda', event.id]">{{ event.name }}</a>
                        <div class="mat-font-title-md">
                            <span class="text-light">{{ event.date | date: 'EEE dd.MM.yy' | capitalize }}</span>
                            <span class="description">- {{ event.place }} - {{ event.type }}</span>
                        </div>
                    </div>
                }
            </div>
            <div>
                <a color="tertiary" matButton="filled" routerLink="/agenda">Voir tout l'agenda</a>
            </div>
        </div>
    </div>
</div>

<div class="la-revue-splash" [style.backgroundImage]="'url(assets/images/homepage/elimenterre-victor-savanyu.webp)'">
    <div class="container">
        <!--        <img alt="logo la revue durable" class="section-logo" src="assets/LaRevueDurable-90noir.svg" [style.width.perc]="50" />-->
        <img
            alt="logo la revue durable"
            class="section-logo"
            src="assets/LaRevueDurable-blanc.svg"
            [style.width.perc]="50"
        />
    </div>
</div>

@if (currentReview) {
    <div class="la-revue section">
        <div class="container nat-md-horizontal nat-md-top nat-md-left">
            @if (currentReview.image) {
                <a [routerLink]="['/larevuedurable/article', currentReview.id]">
                    <img
                        alt="illustration du dernier numéro paru"
                        class="mat-elevation-z5 last-product-thumbnail"
                        [naturalSrcDensity]="`/api/image/${currentReview.image.id}/470`"
                    />
                </a>
            }
            <div class="la-revue-body nat-vertical">
                <div class="mat-font-headline-sm nat-text-primary text-bold">Le dernier numéro</div>
                <div class="nat-horizontal mat-font-title-lg text-thin nat-gap-10 nat-left nat-baseline">
                    <span>{{ currentReview.reviewNumber }}</span>
                    <span>|</span>
                    <span>{{ currentReview.releaseDate | date: 'MMMM yyyy' | capitalize }}</span>
                </div>
                <a class="mat-font-headline-lg" [routerLink]="['/larevuedurable/article', currentReview.id]">{{
                    currentReview.name
                }}</a>
                <!-- If has not access -->
                @if (!currentReview.file) {
                    <div class="mat-font-title-md">
                        Disponible en versions papier ou PDF avec votre abonnnement
                        <br />
                        <app-price [product]="currentReview" />
                        pour non abonnés
                    </div>
                }
                <!-- If has access -->
                @if (currentReview.file) {
                    <div>
                        <a
                            matButton="filled"
                            color="tertiary"
                            target="_blank"
                            [href]="`/api/file/${currentReview.file.id}`"
                            >Télécharger le numéro</a
                        >
                    </div>
                }
            </div>
        </div>
    </div>
}

<div class="categories section">
    <div class="container nat-gap-30 nat-vertical nat-top nat-left">
        <div class="mat-font-headline-lg">NOS THEMES</div>
        <app-tags-navigation [linkBase]="['/larevuedurable/articles']" />
        <a matButton="filled" routerLink="/larevuedurable/articles">Voir tous nos articles et dossiers</a>
    </div>
</div>

<div class="support section">
    <div class="container">
        <div class="mat-font-headline-lg nat-margin-bottom">NOUS SOUTENIR</div>

        <div id="bottom-blocks" class="nat-vertical app-md-gap-60 nat-gap-30 nat-md-horizontal">
            <div class="support-column nat-md-expand-33" id="support-column-1">
                <div
                    class="support-image"
                    [style.backgroundImage]="'url(assets/images/homepage/larevuedurable-jehan.khodl-1.jpg)'"
                ></div>
                <div class="support-column-body">
                    <div class="mat-font-headline-sm">S'abonner</div>
                    <div class="support-column-content mat-font-title-md">
                        <p>
                            En presque vingt ans,
                            <strong>LaRevueDurable</strong>
                            a publié plus de 1100 articles de fond sur tous les thèmes qui touchent à la durabilité dans
                            une soixantaine de pays.
                        </p>
                    </div>
                    <a matButton="filled" routerLink="/larevuedurable/abonnements">Voir les abonnements</a>
                </div>
            </div>

            <div class="support-column nat-md-expand-33" id="support-column-2">
                <div
                    class="support-image"
                    [style.backgroundImage]="'url(assets/images/homepage/larevuedurable-jehan.khodl-4.jpg)'"
                ></div>
                <div class="support-column-body">
                    <div class="mat-font-headline-sm">Rejoindre l’association</div>
                    <div class="support-column-content mat-font-title-md">
                        <p>
                            Devenir membre des
                            <strong>Artisans de la transition</strong>
                            permet un lien direct et privilégié avec notre action. Et nous donne plus de légitimité et
                            de poids.
                        </p>
                    </div>
                    <a matButton="filled" routerLink="/nous-soutenir/rejoindre-association">Découvrir l'association</a>
                </div>
            </div>
            <div class="support-column nat-md-expand-33" id="support-column-3">
                <div
                    class="support-image"
                    [style.backgroundImage]="'url(assets/images/homepage/larevuedurable-jehan.khodl-6.jpg)'"
                ></div>
                <div class="support-column-body">
                    <div class="mat-font-headline-sm">Faire un don</div>
                    <div class="support-column-content mat-font-title-md">
                        <p>
                            Les dons composent la moitié des revenus de l’association. Ils garantissent son
                            indépendance. En faisant un don à l’association, vous soutenez une petite équipe motivée et
                            compétente.
                        </p>
                    </div>
                    <a matButton="filled" routerLink="/nous-soutenir/faire-un-don">Faire un don</a>
                </div>
            </div>
        </div>
    </div>
</div>
