<div class="splash-image"></div>

<div class="introduction-blocs">

    <div class="container" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start stretch" fxLayoutGap="50px">
        <app-home-block fxFlex id="bloc1" key="home-block-1"></app-home-block>
        <app-home-block fxFlex id="bloc2" key="home-block-2"></app-home-block>
        <app-home-block fxFlex id="bloc3" key="home-block-3"></app-home-block>
    </div>
</div>

<div><!-- spacer --></div>

<!-- News + Events -->
<div class="posts">
    <div class="container" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="50px">

        <!-- News -->
        <div class="newses" fxFlex.gt-sm="66">
            <div class="mat-display-1 section-title" fxLayout="row" fxLayoutGap="30px">
                <div fxFlex>ACTUALITÉS</div>
                <div class="relative">
                    <button *ngIf="permissionService?.crud?.news?.create" class="absolute" color="none" mat-fab routerLink="/admin/news">
                        <natural-icon name="edit"></natural-icon>
                    </button>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="newses-list" fxLayout="column" fxLayoutGap="30px">
                <div></div>
                <div *ngFor="let news of newses" class="news">
                    <div class="mat-body-strong text-light">{{ news.date | date : 'EEE dd.MM.yy' | capitalize }}</div>
                    <a class="mat-h2" [routerLink]="['/actualite', news.id]" matRipple>{{ news.name }}</a>
                    <div [innerHTML]="news.description" class="mat-h3"></div>
                </div>
            </div>

            <a color="primary" mat-flat-button routerLink="/actualite">Voir toutes nos actualités</a>
        </div>

        <!-- Events -->
        <div class="events" fxFlex.gt-sm="33">
            <div class="mat-display-1 section-title" fxLayout="row" fxLayoutGap="30px">
                <div fxFlex>AGENDA</div>
                <div class="relative">
                    <button *ngIf="permissionService?.crud?.event?.create" class="absolute" color="none" mat-fab routerLink="/admin/event">
                        <natural-icon name="edit"></natural-icon>
                    </button>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="newses-list" fxLayout="column" fxLayoutGap="30px">
                <div></div>
                <div *ngFor="let event of events" class="event">
                    <a class="mat-h2" [routerLink]="['/agenda', event.id]" matRipple>{{ event.name }}</a>
                    <div class="mat-h3">
                        <span class="text-light">{{ event.date | date : 'EEE dd.MM.yy' | capitalize }}</span>
                        - {{ event.place }} - {{ event.type }}</div>
                </div>
            </div>
            <a color="primary" mat-flat-button routerLink="/agenda">Voir tout l'agenda</a>

        </div>
    </div>
</div>

<div class="la-revue-splash">
    <div class="container">
        <img alt="logo" class="section-logo" src="assets/LaRevueDurable-90noir.svg" />
        <!-- img alt="logo" src="assets/LaRevueDurable-blanc.svg" [style.width.perc]="50" class="section-logo" />-->
    </div>
</div>

<div class="la-revue section" *ngIf="currentReview">
    <div class="container" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">

        <a [routerLink]="['/larevuedurable/article', currentReview.id]">
            <img [attr.src]="'/image/' + currentReview.image.id + '/470'"
                 alt="illustration du dernier numéro paru"
                 class="mat-elevation-z5 last-product-thumbnail"
            />
        </a>

        <div class="la-revue-body" fxLayout="column" fxLayoutGap="10px">
            <div class="mat-h1 text-primary text-bold">Le dernier numéro</div>
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start baseline" class="mat-h2 text-thin">
                <span>{{ currentReview.reviewNumber }}</span>
                <span>|</span>
                <span>{{ currentReview.releaseDate | date : 'MMMM yyyy' | capitalize }}</span>
            </div>
            <a [routerLink]="['/larevuedurable/article', currentReview.id]" class="mat-display-1">{{ currentReview.name }}</a>

            <!-- If has not access -->
            <div class="mat-h3" *ngIf="!currentReview.file">
                Disponible en versions papier ou PDF avec votre abonnnement
                <br />
                <app-price [product]="currentReview"></app-price>
                pour non abonnés
            </div>

            <!-- If has access -->
            <div *ngIf="currentReview.file">
                <a mat-flat-button color="accent" [routerLink]="['/file/', currentReview.file.id]">
                    Télécharger le numéro
                </a>
            </div>
        </div>

    </div>
</div>

<div class="categories section">
    <div class="container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="40px">
        <div class="mat-display-1 ">NOS THEMES</div>
        <app-tags-navigation [service]="productTagService" [linkBase]="['/larevuedurable/articles']"></app-tags-navigation>
        <a color="primary" mat-flat-button routerLink="/larevuedurable/articles">Voir tous nos articles et dossiers</a>
    </div>
</div>

<div class="support section">

    <div class="container">

        <div class="mat-display-1 margin-bottom">NOUS SOUTENIR</div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start stretch" fxLayoutGap="30px" fxLayoutGap.gt-sm="60px">

            <div class="support-column" fxFlex.gt-sm="33" id="support-column-1">
                <div class="support-image"></div>
                <div class="support-column-body">
                    <div class="mat-h1">S'abonner</div>
                    <div class="support-column-content mat-h3">
                        <p>Un accès à toute la base de données avec près de 1000 articles de fond sur tous les thèmes qui touchent à la
                            durabilité dans une soixantaine de pays.</p>
                        <p>Un travail rédactionnel indépendant. Aucun partenariat ni soutien financier n’y porte atteinte. </p>
                    </div>
                    <a mat-flat-button routerLink="/larevuedurable/abonnements"> Voir les abonnements
                        <natural-icon name="chevron_right"></natural-icon>
                    </a>
                </div>
            </div>

            <div class="support-column" fxFlex.gt-sm="33" id="support-column-2">
                <div class="support-image"></div>
                <div class="support-column-body">
                    <div class="mat-h1">Rejoindre l’association</div>
                    <div class="support-column-content mat-h3">
                        <p>Devenir acteur du respect des grands équilibres écologiques.</p>
                        <p>Plus nous aurons de membres, plus l’élan sera fort et plus nous pourrons continuer d’identifier en toute
                            indépendance les actions les plus pertinentes à entreprendre.</p>
                    </div>
                    <a mat-flat-button> Découvrir l'association
                        <natural-icon name="chevron_right"></natural-icon>
                    </a>
                </div>
            </div>
            <div class="support-column" fxFlex.gt-sm="33" id="support-column-3">
                <div class="support-image"></div>
                <div class="support-column-body">
                    <div class="mat-h1">Rejoindre l’association</div>
                    <div class="support-column-content mat-h3">
                        <p>LaRevueDurable est un média indépendant, presque sans publicité. Son financement est donc un défi permanent. Il
                            aidera ce titre à poursuivre ses efforts pour fournir une information rigoureuse, à la pointe et toujours
                            constructive. Les dons sont déductibles d’impôts pour les contribuables suisses.</p>
                    </div>
                    <a mat-flat-button> Faire un don
                        <natural-icon name="chevron_right"></natural-icon>
                    </a>
                </div>
            </div>

        </div>

    </div>
</div>
