/config/autoload/*.local.php
/config/autoload/local.php
/config/development.config.php
/data/tmp/
/data/cache/*.*
/data/cache/DoctrineORMModule/*
/data/cache/images/*
/data/accounting/
!/data/accounting/dw4jV3zYSPsqE2CB8BcP8ABD0.pdf
/data/images/*
!/data/images/chat1.jpg
!/data/images/chat2.jpg
!/data/images/chat3.jpg
!/data/images/chat4.jpg
!/data/images/chat5.jpg
!/data/images/chat6.jpg
!/data/images/chat7.jpg
!/data/images/chat8.jpg
/*.backup.sql.gz
/htdocs/favicon.ico
/htdocs/*.html
/htdocs/*.js
/htdocs/*.map
/htdocs/*.txt
/htdocs/*.css
/htdocs/*.woff
/htdocs/*.woff2
/htdocs/*.ttf
/htdocs/*.eot
/htdocs/assets
/.idea/
/logs/
/node_modules/
/phpunit.xml
/vendor/
client/app/shared/generated-types.ts
/client/assets/config/*.local.json
.DS_Store


# keep it at the end of the file
!.gitkeep
