/config/autoload/*.local.php
/config/autoload/local.php
/config/development.config.php
/data/tmp/
/data/cache/*.*
/data/cache/DoctrineORMModule/*
/data/cache/images/*
/data/file/*
/data/session/*
!/data/file/dw4jV3zYSPsqE2CB8BcP8ABD0.pdf
!/data/file/4k123pkopvs3iDFV948abcde.pdf
/data/images/*
!/data/images/train.jpg
!/data/images/revue61.jpg
!/data/images/revue62.jpg
/*.backup.sql.gz
/htdocs/
/.idea/
/logs/
/node_modules/
/phpunit.xml
/.pm2/
/vendor/
/client/app/shared/generated-schema.graphql
/client/app/shared/generated-types.ts
/client/assets/config/*.local.json
/client/assets/images/*
!/client/assets/images/.gitkeep
.DS_Store


# keep it at the end of the file
!.gitkeep
