/config/autoload/*.local.php
/config/autoload/local.php
/config/development.config.php
/data/tmp/
/data/cache/*.*
/data/cache/DoctrineORMModule/*
/data/cache/images/*
/data/accounting/
!/data/accounting/dw4jV3zYSPsqE2CB8BcP8ABD0.pdf
/data/images/*
!/data/images/chocolat1.jpg
!/data/images/chocolat2.jpg
!/data/images/miel.png
!/data/images/oeufs.jpg
!/data/images/patates.jpg
!/data/images/poire.jpg
!/data/images/pomme.jpg
!/data/images/salade.jpg
!/data/images/vin1.jpg
!/data/images/vin2.jpg
!/data/images/yogourt1.jpg
!/data/images/yogourt2.png
/*.backup.sql.gz
/htdocs/favicon.ico
/htdocs/*.html
/htdocs/*.js
/htdocs/*.map
/htdocs/*.txt
/htdocs/*.css
/htdocs/*.woff
/htdocs/*.woff2
/htdocs/*.ttf
/htdocs/*.eot
/htdocs/*.png
/htdocs/*.svg
/htdocs/*.webmanifest
/htdocs/*.xml
/htdocs/assets
/.idea/
/logs/
/node_modules/
/phpunit.xml
/vendor/
client/app/shared/generated-types.ts
/client/assets/config/*.local.json
.DS_Store


# keep it at the end of the file
!.gitkeep
