parameters:
    level: 5
    paths:
        - bin/
        - config/
        - server/
        - tests/
    doctrine:
        repositoryClass: Application\Repository\AbstractRepository
    inferPrivatePropertyTypeFromConstructor: true

    ignoreErrors:
        - '~^Call to an undefined method Application\\Repository\\.*Repository::find(One)?By.*\(\)\.$~'
        - '~^Call to an undefined method Application\\Repository\\AbstractRepository\<Application\\Model\\User\>::(getOneByEmail|getOneById)\(\)\.$~'
        - '~^Property .* does not accept Application\\Repository\\AbstractRepository\<Application\\Model\\.*\>\.$~'
        - '~^Access to an undefined property Laminas\\View\\Renderer\\RendererInterface\:\:\$serverUrl\.$~'
        - '~^Call to an undefined method Laminas\\View\\Renderer\\RendererInterface\:\:.*\(\)\.$~'
        - '~^Call to an undefined method Doctrine\\DBAL\\Driver\\ResultStatement\:\:(fetchOne|fetchAssociative|fetchFirstColumn)\(\)\.$~'
        -
            message: '~^If condition is always true\.$~'
            path: server/Application/Model/OrderLine.php

includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
