parameters:
    level: 5
    paths:
        - bin/
        - config/
        - server/
        - tests/
    doctrine:
        repositoryClass: Application\Repository\AbstractRepository
        objectManagerLoader: tests/object-manager.php
    inferPrivatePropertyTypeFromConstructor: true

    ignoreErrors:
        - '~^Call to an undefined method Application\\Repository\\.*Repository::find(One)?By.*\(\)\.$~'
        - '~^Access to an undefined property Laminas\\View\\Renderer\\RendererInterface\:\:\$serverUrl\.$~'
        - '~^Call to an undefined method Laminas\\View\\Renderer\\RendererInterface\:\:.*\(\)\.$~'
        -
            message: '~^If condition is always true\.$~'
            path: server/Application/Model/OrderLine.php

includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
