<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="server/index.php"
         colors="true"
         cacheDirectory="data/tmp/.phpunit.cache"
         displayDetailsOnAllIssues="true"
>
    <testsuites>
        <testsuite name="Application\\Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <!-- Include only our own code for code coverage statistics -->
            <directory>./server</directory>
        </include>
    </source>
</phpunit>
