<!--<mat-form-field>--><!--<input matInput placeholder="Rechercher" (ngModelOnChange)="search($event)" />--><!--</mat-form-field>-->

<mat-progress-spinner mode="indeterminate" [diameter]="36" *ngIf="loading" style="margin:10px"></mat-progress-spinner>

<div class="body">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

        <mat-tree-node *matTreeNodeDef="let node;" matTreeNodePadding [ngClass]="{'leaf': !node.expandable}">

            <button mat-icon-button
                    matTreeNodeToggle
                    [attr.aria-label]="'toggle ' + node.name"
                    (click)="loadChildren(node)"
                    *ngIf="node.expandable"
            >

                <mat-progress-spinner mode="indeterminate" [diameter]="24" [strokeWidth]="5" *ngIf="node.loading" style="margin:8px"></mat-progress-spinner>
                <mat-icon *ngIf="!node.loading">
                    {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
                </mat-icon>
            </button>

            <mat-checkbox (change)="toggleFlatNode(node)"
                          style="margin-right:10px;"
                          [checked]="flatNodesSelection.isSelected(node)"
                          [disabled]="!isNodeTogglable(node)"
            ></mat-checkbox>

            <app-icon *ngIf="node.node.config.icon" [name]="node.node.config.icon" style="margin-right:10px;"></app-icon>
            <span>{{ node.name }}</span>
        </mat-tree-node>
    </mat-tree>

    <mat-chip-list class="mat-chip-list-stacked" aria-orientation="vertical">
        <mat-chip *ngFor="let node of selectedNodes" [selectable]="false" [removable]="true" (removed)="unselectModelNode(node)">
            <app-icon *ngIf="node.config.icon" [name]="node.config.icon"></app-icon>
            <div class="chip-label">{{ node.model.name || node.model.fullName }}</div>
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
    </mat-chip-list>
</div>

<div *ngIf="!loading && !dataSource.data.length" i18n class="margin-v">Aucun résultat</div>
