<div fxLayout="row" fxLayoutGap="10px">
    <ng-container *ngFor="let file of _files; let i = index; trackBy: trackByFn; let last = last ">
        <div fxLayout="column" fxLayoutAlign="start center">
            <app-file [model]="file"
                      accept="image/bmp,image/gif,image/jpeg,image/pjpeg,image/png,image/svg+xml,image/webp,application/pdf,application/x-pdf"
                      (modelChange)="fileAdded($event, i)"
                      [height]="fileHeight"
                      [style.width.px]="fileWidth"
                      [action]="getAction(file, i, last)"
            ></app-file>
            <button mat-icon-button (click)="!last ? removeFile(i) : null" *ngIf="!_disabled && !last">
                <app-icon name="clear" ></app-icon>
            </button>
            <p *ngIf="!_disabled && last" class="mat-body"[style.maxWidth.px]="fileWidth" style="text-align: center">Images (jpg, png, webp, svg, gif, bmp) ou document PDF uniquement</p>
        </div>
    </ng-container>
</div>
