@if (dataSource) {
    <div class="nat-vertical">
        <div class="nat-horizontal">
            <div class="mat-font-headline-sm nat-expand">
                {{ routeData?.seo.title }}
            </div>
            <natural-columns-picker
                [availableColumns]="availableColumns"
                [selections]="selectedColumns"
                (selectionChange)="selectColumns($event)"
            />
        </div>
        <div class="nat-vertical">
            <div class="nat-margin-vertical overflow nat-horizontal">
                <natural-search
                    class="nat-expand"
                    [facets]="naturalSearchFacets"
                    [multipleGroups]="true"
                    [selections]="naturalSearchSelections"
                    (selectionChange)="search($event)"
                />
            </div>
            <div class="responsive-table">
                <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sorting([$event])">
                    <tr *matHeaderRowDef="columnsForTable" mat-header-row></tr>
                    <tr *matRowDef="let row; columns: columnsForTable" mat-row></tr>
                    <tr *matFooterRowDef="columnsForTable" mat-footer-row [hidden]="!dataSource.data?.length"></tr>

                    <ng-container matColumnDef="owner">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Utilisateur</th>
                        <td *matCellDef="let element" mat-cell>
                            @if (element.owner) {
                                <div class="nat-horizontal nat-align">
                                    <natural-avatar
                                        [initials]="element.owner?.name"
                                        [gravatar]="element.owner?.email"
                                        [size]="36"
                                    />
                                    <natural-table-button
                                        matTooltip="Éditer"
                                        [label]="element.owner?.name"
                                        [navigate]="['/admin/user', element.owner?.id]"
                                    />
                                </div>
                            }
                        </td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="creationDate">
                        <th *matHeaderCellDef class="app-date-column" mat-header-cell mat-sort-header>Date</th>
                        <td *matCellDef="let element" mat-cell>
                            <natural-table-button
                                matTooltip="Éditer"
                                icon="open_in_new"
                                [label]="element.creationDate | date"
                                [navigate]="[element.id]"
                            />
                        </td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="lines">
                        <th *matHeaderCellDef mat-header-cell>Entrées</th>
                        <td *matCellDef="let element" mat-cell>{{ element.orderLines.length }}</td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th *matHeaderCellDef mat-header-cell>État</th>
                        <td *matCellDef="let element" mat-cell>
                            {{ element.status | enum: 'OrderStatus' | async }}
                        </td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="balanceCHF">
                        <th
                            *matHeaderCellDef
                            mat-header-cell
                            mat-sort-header
                            class="natural-7em-column natural-align-right"
                            arrowPosition="before"
                        >
                            Total CHF
                        </th>
                        <td *matCellDef="let element" mat-cell class="natural-align-right">
                            @if (element.balanceCHF > 0) {
                                {{ element.balanceCHF | currency: 'CHF' }}
                            }
                        </td>
                        <td *matFooterCellDef mat-footer-cell class="natural-align-right">
                            @if (dataSource.data?.totalBalanceCHF > 0) {
                                <span>{{ dataSource.data?.totalBalanceCHF | currency: 'CHF' }}</span>
                            }
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="balanceEUR">
                        <th
                            *matHeaderCellDef
                            mat-header-cell
                            mat-sort-header
                            class="natural-7em-column natural-align-right"
                            arrowPosition="before"
                        >
                            Total EUR
                        </th>
                        <td *matCellDef="let element" mat-cell class="natural-align-right">
                            @if (element.balanceEUR > 0) {
                                {{ element.balanceEUR | currency: 'EUR' }}
                            }
                        </td>
                        <td *matFooterCellDef mat-footer-cell class="natural-align-right">
                            @if (dataSource.data?.totalBalanceEUR > 0) {
                                <span>{{ dataSource.data?.totalBalanceEUR | currency: 'EUR' }}</span>
                            }
                        </td>
                    </ng-container>
                </table>
            </div>

            @if (showNoResults()) {
                <div class="nat-margin text-center">Pas de résultats</div>
            }
            @if (!dataSource.data) {
                <div class="nat-margin nat-vertical nat-center">
                    <mat-progress-spinner mode="indeterminate" [diameter]="40" />
                </div>
            }
            @if (dataSource.data?.length) {
                <mat-paginator
                    [length]="dataSource.data?.length"
                    [pageIndex]="dataSource.data?.pageIndex"
                    [pageSizeOptions]="pageSizeOptions"
                    [pageSize]="dataSource.data?.pageSize"
                    (page)="pagination($event)"
                />
            }
        </div>
    </div>
}

<router-outlet />
