<div *ngIf="dataSource" fxLayout="column">

    <div fxLayout="column">
        <div class="mat-h1 no-margin" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">{{routeData?.title}}</div>
    </div>

    <div fxLayout="column">

        <div class="margin-v" fxLayout="row" overflow>
            <natural-search (selectionChange)="search($event)"
                            [facets]="naturalSearchFacets"
                            [multipleGroups]="true"
                            [selections]="naturalSearchSelections"
                            fxFlex
            >
                <natural-columns-picker (selectionChange)="selectedColumns = $event" [initialSelection]="initialColumns">
                    <span naturalColumnsPickerColumn="creationDate">Date</span>
                    <span naturalColumnsPickerColumn="owner">Utilisateur</span>
                    <span naturalColumnsPickerColumn="lines">Entrées</span>
                    <span naturalColumnsPickerColumn="status">Statut</span>
                    <span naturalColumnsPickerColumn="balance">Total</span>
                </natural-columns-picker>
            </natural-search>
        </div>

        <div class="responsive-table">
            <table (matSortChange)="sorting([$event])" [dataSource]="dataSource" mat-table matSort>

                <tr *matHeaderRowDef="selectedColumns" mat-header-row></tr>
                <tr *matRowDef="let row; columns: selectedColumns;" mat-row></tr>
                <tr *matFooterRowDef="selectedColumns" mat-footer-row></tr>

                <ng-container matColumnDef="owner">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>Utilisateur</th>
                    <td *matCellDef="let element" mat-cell>
                        <div *ngIf="element.owner" fxLayout="row" fxLayoutAlign="start center">
                            <ngx-avatar [name]="element.owner?.name" [size]="36"></ngx-avatar>
                            <natural-table-button [label]="element.owner?.name"
                                                  [navigate]="['/admin/user', element.owner?.id]"
                                                  matTooltip="Éditer"
                            ></natural-table-button>
                        </div>
                    </td>
                    <td *matFooterCellDef mat-footer-cell></td>
                </ng-container>

                <ng-container matColumnDef="creationDate">
                    <th *matHeaderCellDef app-date-column mat-header-cell mat-sort-header>Date</th>
                    <td *matCellDef="let element" mat-cell>
                        <natural-table-button [label]="element.creationDate | date: 'd MMM y - HH:mm'"
                                              [navigate]="[element.id]"
                                              matTooltip="Éditer"
                        ></natural-table-button>
                    </td>
                    <td *matFooterCellDef mat-footer-cell></td>
                </ng-container>

                <ng-container matColumnDef="lines">
                    <th *matHeaderCellDef mat-header-cell>Entrées</th>
                    <td *matCellDef="let element" mat-cell>{{ element.orderLines.length }}</td>
                    <td *matFooterCellDef mat-footer-cell></td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th *matHeaderCellDef mat-header-cell natural-5em-column>Status</th>
                    <td *matCellDef="let element" mat-cell>{{ element.status | enum: 'OrderStatus' | async}}</td>
                </ng-container>

                <ng-container matColumnDef="balance">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header natural-5em-column natural-align-right>Total</th>
                    <td *matCellDef="let element" mat-cell natural-align-right>
                        <ng-container *ngIf="element.balanceCHF > 0">{{ element.balanceCHF  | currency : 'CHF' }}</ng-container>
                        <ng-container *ngIf="element.balanceEUR > 0">{{ element.balanceEUR  | currency : 'EUR' }}</ng-container>
                    </td>
                    <td *matFooterCellDef mat-footer-cell natural-align-right>
                        <span *ngIf="dataSource?.data?.totalBalanceCHF > 0">{{dataSource.data.totalBalanceCHF | currency : 'CHF'}}</span>
                        <ng-container *ngIf="dataSource?.data?.totalBalanceCHF > 0 && dataSource?.data.totalBalanceEUR > 0"> -</ng-container>
                        <span *ngIf="dataSource?.data?.totalBalanceEUR > 0">{{dataSource.data.totalBalanceEUR | currency : 'EUR'}}</span>
                    </td>
                </ng-container>

            </table>
        </div>

        <div *ngIf="dataSource.data?.length === 0" class="margin" fxLayout="column" fxLayoutAlign="center center">
            <div>Pas de résultats</div>
        </div>

        <div **ngIf="!dataSource?.data" class="margin" fxLayout="column" fxLayoutAlign="center center">
            <mat-progress-spinner [diameter]="40" mode="indeterminate"></mat-progress-spinner>
        </div>

        <mat-paginator (page)="pagination($event)"
                       *ngIf="dataSource.data?.length"
                       [length]="dataSource.data?.length"
                       [pageIndex]="dataSource.data?.pageIndex"
                       [pageSizeOptions]="pageSizeOptions"
                       [pageSize]="dataSource.data?.pageSize"
        ></mat-paginator>

    </div>
</div>

<router-outlet></router-outlet>
