<div class="container">
    <h1 class="mat-display-1">VOUS ÊTES UNE ORGANISATION ?</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body rich-text mat-h3">
            <p>
                Les Conversations carbone sont un outil de cohérence et d’efficacité sur le chemin d’une société sobre
                en carbone. Les organisations étant des acteurs clefs, il est tout à fait recommandé d’organiser une
                Conversation Carbone en entreprise ou en association.
            </p>
            <p>
                Si
                <strong>la durabilité est une priorité pour votre organisation</strong>, les Conversations carbone font
                ressortir des valeurs partagées et stimulent des améliorations à l’interne. D’une manière générale,
                cette méthode soude les équipes, <strong>favorise les liens interpersonnels et interservices</strong>,
                le partage de valeurs et la coconstruction d’un savoir commun. Elle encourage l’écoute, créent une zone
                de parole sécurisante et valorisante propice à la prise d’initiatives.
            </p>

            <p>
                Pour plus de détails, merci de contacter
                <a href="mailto:philippe.solms@artisansdelatransition.org">philippe.solms@artisansdelatransition.org</a>
            </p>
        </div>

        <div fxFlex fxHide.lt-md>
            <app-session-side-column hiddenBlocName="organisations"></app-session-side-column>
        </div>
    </div>
</div>
