<div
    class="page-illustration"
    [style.backgroundImage]="'url(assets/images/illustration-pages/conversations-carbones_artisans1.jpg)'"
></div>

<div class="container">
    <h1 class="mat-headline-4">VOUS ÊTES UNE COLLECTIVITE OU UNE ORGANISATION ?</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body rich-text mat-h3">
            <p>
                Les cantons, communes, associations, établissements de formation, entreprises, etc. sont des acteurs
                clefs et les Conversation carbone sont un outil très précieux pour lancer ou entretenir une dynamique de
                sobriété carbone.
            </p>
            <p>
                Déployées auprès d’élus ou de décideurs, les Conversations carbone sont un moyen d’enrichir et de
                stimuler les réflexions en amont de l’élaboration d’un Plan climat. Elles sont aussi un excellent outil
                pour accompagner les différents publics cibles de toute organisation qui souhaite favoriser l’adoption
                de modes de vie les moins nocifs possibles pour le climat.
            </p>
            <p>
                N'hésitez pas à consulter notre
                <a href="assets/images/conversation-carbon/descriptif_deploiement_cc_organisation.pdf">documentation</a>
                à ce propos.
            </p>

            <p>
                Pour plus de détails ou questions, merci de contacter
                <a href="mailto:marie.lendais@artisansdelatransition.org">marie.lendais@artisansdelatransition.org</a>
            </p>
        </div>

        <div fxFlex fxHide.lt-md>
            <app-session-side-column hiddenBlocName="organisations"></app-session-side-column>
        </div>
    </div>
</div>
