<div class="container" fxLayout="row" fxLayoutGap="30px">

    <div class="page-body rich-text mat-h3">
        <h1 class="mat-display-1">Vous êtes une organisation ?</h1>

        <p>Faire une Conversations Carbone en entreprise ou association c’est tout à fait possible!</p>

        <p>Pour l' <strong>organisation active dans le champ de la durabilité</strong>, la méthode des Conversations carbone constitue une
            aide déterminante pour la mise en place de valeurs partagées entre l'employeur et les collaborateurs·trices mais également entre
            collaborateurs·trices. Sur cette base, la méthode motive entre autre l’adoption d'améliorations à l'interne.</p>

        <p>Pour l' <strong>organisation soucieuse de sa communication en matière de durabilité</strong> et de son orientation client, la
            méthode des Conversations carbone permet aux collaborateurs·trices concernés·es de se mettre à la place du client et d'apporter
            à ce dernier des connaissances ou des prestations enrichies d'une expérience vécue.</p>

        <p>De manière générale, la méthode des Conversations carbone a les qualités et effets d’une démarche de team building. Elle <strong>favorise
            le développement des liens interpersonnels et interservices</strong>, le partage des valeurs et tend à co-créer une vison
            positive d’un avenir sobre en carbone. Entre autres bénéfices indirects tels que le développement de l'écoute, elle constitue
            une opportunité pour co-construire un savoir commun. Elle permet également de créer une zone de parole sécurisante qui, selon
            notre expérience, est valorisante et motive des initiatives.</p>

        <p>La méthode des Conversations carbone est un outil pour plus de cohérence et d'efficacité sur le chemin d'une société sobre en
            carbone et les organisations en sont un des acteurs clé!</p>

        <p>Pour recevoir de plus amples détails merci de prendre contact avec nous : philippe.solms@artisansdelatransition.org</p>

    </div>

    <div fxFlex fxHide.lt-md>
        <mat-nav-list>
            <a mat-list-item routerLink="/agir-avec-nous/conversation-carbone">La méthode</a>
            <a mat-list-item routerLink="/agir-avec-nous/prochaines-conversations-carbone">Prochaines sessions</a>
            <a mat-list-item routerLink="/agir-avec-nous/conversation-carbone/facilitateurs">Facilitateurs</a>
        </mat-nav-list>
    </div>

</div>
