<div class="container">
    <h1 class="mat-font-headline-lg">RAPPORTS BNS</h1>
    <div class="nat-horizontal nat-gap-30 nat-distribute">
        <div class="app-md-expand-70 mat-font-body-lg rich-text">
            <p>
                Depuis 2016, l’association a publié trois rapports sur les investissements de la Banque Nationale Suisse
                dans l’industrie des énergies fossiles, dont les deux premiers ont donné lieu à de nombreuses motions
                parlementaires, y compris au niveau fédéral.
            </p>

            <h1 class="mat-font-headline-sm nat-text-primary" id="francais">Français</h1>

            <h2 class="mat-font-title-lg">Sur le climat, la BNS égare la place financière suisse</h2>
            <img src="assets/images/bns/bns-rapport-1.png" class="cover" />
            <p>
                Fribourg, mardi 21 avril 2020. A trois jours de l’assemblée générale annuelle de la BNS, l’association
                <strong>Artisans de la transition</strong>
                publie un nouveau rapport sur la politique de gestion des risques climatiques de cette institution. Le
                constat est clair : la BNS n’a toujours pas pris la mesure du risque systémique colossal et
                potentiellement irréversible que le changement climatique pose au système financier et à l’ensemble de
                l’économie suisses.
            </p>
            <p>
                Selon la BNS, la Suisse n’étant pas en bord la mer, ses biens matériels étant bien assurés, la
                redondance des centres de calcul des banques étant garantie et l’industrie lourde étant très peu
                présente dans le pays, les risques que pose le changement climatique à l’économie et au système
                financier suisses seraient modérés.
            </p>
            <p>
                Ainsi, alors que la BNS devrait être un phare pour tous les acteurs économiques et financiers suisses,
                elle envoie au contraire des signaux qui les égarent. En s’appuyant notamment sur les avancées des
                banques centrales européennes dans la gestion des risques climatiques, ce rapport formule des
                recommandations pour que la BNS sorte de son attentisme et adopte au plus vite, en coordination avec le
                politique, une stratégie pour aplatir la courbe des risques climatiques.
            </p>

            <a matButton="filled" href="assets/images/bns/bns-fr-1.pdf" target="_blank">Rapport BNS 2020 (pdf)</a>

            <h2 class="mat-font-title-lg">
                Les investissements de la BNS dans l’industrie des énergies fossiles sont contraires aux intérêts de la
                Suisse
            </h2>

            <img src="assets/images/bns/bns-rapport-2.png" class="cover" />

            <p>
                Mardi 24 avril 2018, les
                <strong>Artisans de la transition</strong>
                publient une nouvelle étude sur les placements de la Banque nationale suisse dans l’industrie des
                énergies fossiles aux Etats-Unis et au Royaume-Uni. Alors que cette institution gère l’une des plus
                importantes fortunes au monde, elle n’a toujours pas de politique climatique. Ce faisant, la BNS est en
                retard sur l’évolution de la finance internationale, en contradiction avec les politiques climatiques
                fédérales et nuit aux intérêts de la Suisse.
            </p>

            <a matButton="filled" href="assets/images/bns/bns-fr-2.pdf" target="_blank">Rapport BNS 2018 (pdf)</a>

            <img class="illustration" src="assets/images/bns/bns-rapport-2-fr-illustration.jpg" />

            <h2 class="mat-font-title-lg">
                Les investissements de la BNS dans l’industrie fossile aux Etats-Unis : une catastrophe financière et
                pour le climat
            </h2>

            <img src="assets/images/bns/bns-rapport-3.png" class="cover" />

            <p>
                Jeudi 16 décembre, les
                <strong>Artisans de la transition</strong>
                publient un rapport sur les placements de la Banque nationale suisse aux Etats-Unis. Pour les
                <strong>Artisans de la transition</strong>
                , South Pole Group a passé en revue les 2535 titres que la BNS possède aux Etats-Unis, évalué les
                émissions de CO
                <sub>2</sub>
                dont ils sont responsables et l’évolution de leur valeur du 1er janvier 2013 au 31 décembre 2015, date
                du dernier exercice pour lequel les émissions de CO
                <sub>2</sub>
                des entreprises sont connues.
            </p>

            <p>
                Les résultats sont éloquents : avec moins de 10&nbsp;% de sa fortune placés à la Bourse des Etats-Unis,
                soit 61,5 milliards de dollars/francs (les deux monnaies sont à parité), la Banque nationale suisse
                (BNS) émet autant de CO
                <sub>2</sub>
                que la Suisse entière et contribue à placer le monde sur une trajectoire de +4°C à +6°C de hausse de la
                température. Très loin, donc, de l’objectif de l’accord de Paris qui vise à limiter cette hausse bien en
                dessous de 2°C. Et au lieu d’obtenir de solides rendements financiers, la BNS a perdu, avec ses
                placements dans l’industrie fossile aux Etats-Unis, 4 milliards de dollars/francs en trois ans.
            </p>

            <a matButton="filled" href="assets/images/bns/bns-fr-3.pdf" target="_blank">Rapport BNS 2016 (pdf)</a>

            <h1 class="mat-font-headline-sm nat-text-primary" id="allemand">Deutsch</h1>

            <h2 class="mat-font-title-lg">Die Nationalbank sendet dem Schweizer Finanzplatz falsche Signale</h2>

            <img src="assets/images/bns/bns-rapport-1.png" class="cover" />

            <p>
                21. April 2020. Die Schweizerische Nationalbank (SNB) hat nach wie vor nicht begriffen, welch enormes
                Risiko der Klimawandel für das Schweizer Finanzsystem und die gesamte Wirtschaft darstellt. Zu diesem
                Schluss kommt eine Studie, welche der Verein
                <strong>Artisans de la transition</strong>
                gemeinsam mit der Klima-Allianz Schweiz drei Tage vor der Generalversammlung der SNB publiziert. Gemäss
                der SNB stellt der Klimawandel für die Schweizer Wirtschaft und das Finanzsystem nur ein moderates
                Risiko dar: Die Schweiz liege nicht am Meer, ihre Sachwerte seien gut versichert, die Redundanz der
                Bankrechenzentren sei gewährleistet und sie habe kaum Schwerindustrie.
            </p>

            <p>
                Die europäischen Zentralbanken haben bei der Anerkennung der bereits eingetretenen enormen
                wirtschaftlichen und finanziellen Auswirkungen der Erderwärmung bereits Fortschritte erzielt. Darauf
                aufbauend enthält dieser Bericht Empfehlungen an die SNB, ihre passive Haltung aufzugeben und in
                Abstimmung mit der Politik unverzüglich eine Vision und eine Strategie für die Abflachung der Klima
                Risikokurve zu entwickeln.
            </p>

            <a matButton="filled" href="assets/images/bns/bns-de-1.pdf" target="_blank"
                >SNB Investitionen-Bericht 2020 (pdf)</a
            >
            <h2 class="mat-font-title-lg">
                Prädikat klimaschädlich Studie zur Anlagepolitik der Schweizerischen Nationalbank
            </h2>
            <img src="assets/images/bns/bns-rapport-2.png" class="cover" />

            <p>
                Am Dienstag, 24. April 2018, veröffentlichten die
                <strong>Artisans de la transition</strong>
                eine neue Studie über die Investitionen der Schweizerischen Nationalbank in Fossile Unternehmen. Die BNS
                verwaltet zwar eines der größten Vermögen der Welt, hat aber noch keine Klimapolitik. Damit hinkt Sie
                der internationalen finanziellen Entwicklung hinterher, widerspricht der Klimapolitik des Bundes und
                schadet den Interessen der Schweiz.
            </p>

            <a matButton="filled" href="assets/images/bns/bns-de-2.pdf" target="_blank"
                >SNB Investitionen-Bericht 2018 (pdf)</a
            >

            <img class="illustration" src="assets/images/bns/bns-rapport-2-de-illustration.jpg" />

            <h2 class="mat-font-title-lg">
                USA-Finanzanlagen der Schweizer Nationalbank in fossile Unternehmen: ein Desaster für Rendite und Klima.
            </h2>
            <img src="assets/images/bns/bns-rapport-3.png" class="cover" />

            <p>
                Mit ihrer Anlagepolitik unterstützt die Schweizer Nationalbank (SNB) eine globale Temperaturerhöhung von
                4°C bis 6°C. Knapp 10&nbsp;% ihres Vermögens sind an der US-Börse investiert. Dieser erste
                Artisans-Bericht zeigt zum ersten Mal die Klimawirkung der Investitionen der SNB auf.
            </p>

            <a matButton="filled" href="assets/images/bns/bns-de-3.pdf" target="_blank"
                >SNB Investitionen-Bericht 2016 (pdf)</a
            >

            <h1 class="mat-font-headline-sm nat-text-primary" id="anglais">English</h1>

            <h2 class="mat-font-title-lg">
                The SNB’s misguided view of climate risks misleads the entire Swiss financial centre
            </h2>
            <img src="assets/images/bns/bns-rapport-1.png" class="cover" />

            <p>
                Tuesday, April 21, 2020. Three days before the SNB's Annual General Meeting, the association Artisans de
                la transition in cooperation with the Swiss Climate Alliance published an analysis of the SNB's climate
                risk management policy. The findings are clear: the SNB has not adequately assessed the colossal and
                potentially irreversible systemic risk that climate change poses to the Swiss financial system and the
                economy as a whole.
            </p>

            <p>
                Drawing on the progress made by European central banks in acknowledging the enormous economic and
                financial impacts of global warming that have already begun, this report makes recommendations for the
                SNB to drop its wait-and-see attitude, to break with the passive management of its portfolio and to
                adopt, as soon as possible and in coordination with politicians, a vision and a strategy to flatten the
                climate risks curve as soon as possible.
            </p>

            <a matButton="filled" href="assets/images/bns/bns-en-1.pdf" target="_blank"
                >SNB Investment’s 2020 report (pdf)</a
            >

            <h2 class="mat-font-title-lg">
                The Swiss National Bank’s Investments in the Fossil Fuel Industry Inflicts Heavy Losses to Switzerland
            </h2>
            <img src="assets/images/bns/bns-rapport-2.png" class="cover" />

            <p>
                With a portfolio of 865 billion dollars, the Swiss National Bank (SNB) is amongst the biggest public
                investors in the world. A new report published today shows that the known portion of the SNB's equity
                portfolio (95.6 billion dollars, representing 60&nbsp;% of the bank's equity investments) was the source
                of 48.5 million tons of CO
                <sub>2</sub>
                in 2017. That’s more than the total emissions attributable to Switzerland in 2016 (48.3 million tons),
                the last available data.
            </p>

            <p>
                The report, issued by
                <strong>Artisans de la transition</strong>
                is based on research done by three specialists: ISS-Ethix, 2°Investing initiative and Profundo. It shows
                that the SNB could tip the scales in favour of the energy transition at no cost. Better still, with a
                significant benefice. ISS-Ethix has calculated that if the SNB had divested 7.6 billion dollars that are
                invested into the most carbon-intensive companies and had used this money instead to finance more
                climate-friendly companies, it would have halved the emissions resulting from its equity portfolio and
                improved its financial performance by 20 billion dollars over the last three years (between January 1st,
                2015 and December 31st, 2017).
            </p>

            <p>
                More importantly: if the SNB were to adopt a climate policy to invest its money, it would support
                federal policies to address climate change and poverty instead of undermining them. And this would be
                ground breaking for the Swiss financial centre, which, like the SNB, so far supports a path leading to a
                rise of temperature of 4°C to 6°C. Moreover, Switzerland is amongst the countries most at risk from
                climate change: its average temperature increased by 1,8°C between 1864 and 2016, while the global mean
                is 0.85°C. The SNB is thus making the situation much worse for the country.
            </p>

            <a matButton="filled" href="assets/images/bns/bns-en-2.pdf" target="_blank"
                >SNB Investment’s 2018 report (pdf)</a
            >
        </div>
        <div class="nat-vertical nat-gap-10 nat-md-show">
            <a matButton="outlined" routerLink="." fragment="francais">Français</a>
            <a matButton="outlined" routerLink="." fragment="allemand">Deutsch</a>
            <a matButton="outlined" routerLink="." fragment="anglais">English</a>
        </div>
    </div>
</div>
