h1.mat-font-headline-sm {
    clear: both;
    margin-top: 3em;
}

h2.mat-font-title-lg {
    clear: both;
    margin-top: 2em;
}

.rich-text > :first-child {
    margin-top: 0;
}

.cover {
    display: block;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 150px;
}

.illustration {
    margin: 30px 0;
    max-width: 100%;
}
