@mixin artisans($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $bg: map-get($theme, background);
    $fg: map-get($theme, foreground);


    .text {
        color: mat-color($primary);
    }

    .text {
        color: mat-color($accent);
    }

    .text {
        color: mat-color($warn);
    }


    .frame-primary {
        background: mat-color($primary);

        &, a:not([routerLink]) {
            color: mat-color($primary, default-contrast);
        }

    }

    .frame-accent {
        background: mat-color($accent);

        &, a:not([routerLink]) {
            color: mat-color($accent, default-contrast);
        }

    }

    .frame-warn {
        background: mat-color($warn);

        &, a:not([routerLink]) {
            color: mat-color($warn, default-contrast);
        }
    }


    .frame-padding {
        padding: 30px;
    }

}


