@use 'sass:map';
@use '@angular/material' as mat;
@mixin page-header($theme) {
    $primary: map.get($theme, primary);
    $accent: map.get($theme, accent);
    $background: map.get($theme, background);
    $foreground: map.get($theme, foreground);

    .pageHeader {
        padding-top: 20px;

        .pageTitle {
            position: relative;
            min-width: 300px;

            & > span {
                position: absolute;
                top: -1.7em;
                left: 0;
                font-size: 0.6em;
                color: mat.get-color-from-palette($primary);
            }
        }
    }
}

@mixin page-with-illustration() {
    :host {
        margin-top: 0 !important;
        .page-illustration {
            margin-bottom: 50px;
        }
        .page-illustration-content img {
            width: 300px;
            height: 300px;
        }
    }
}
