@mixin page-with-illustration() {
    :host {
        margin-top: 0 !important;
        .page-illustration {
            margin-bottom: 50px;
        }
        .page-illustration-content img {
            width: 300px;
            height: 300px;
        }
    }
}
