@mixin page-header($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .pageHeader {
        padding-top: 20px;

        .pageTitle {
            position: relative;
            min-width: 300px;

            & > span {
                position: absolute;
                top: -1.7em;
                left: 0;
                font-size: .6em;
                color: mat-color($primary);
            }
        }
    }

}
