/**
 * For some rich text editor or for static text oriented front-office pages content
 */
@mixin rich-text($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .rich-text {
        line-height: 1.6em;

        a {
            color: mat-color($primary);
        }

        .strong {
            font-weight: bold;
        }
    }
}
