/**
 * !!! NEVER INCLUDE THIS FILE IN A SCSS FILE
 * See source doc here https://github.com/angular/material2/tree/master/src/lib/core/theming
 */
// Import theming files full relative way or karma will display warning
@import '~@angular/material/theming';
@import '~@ecodev/natural/theming/natural.theme';
@import '../app/app.theme';
@import 'rich-text';
@import 'page-header';
@import '../app/shared/components/money/money.theme';
@import '../app/shared/components/file/file.theme';
@import '../app/shared/components/transaction-amount/transaction-amount.theme';

// Include material core (only once !)
@include mat-core();

// Include components themes
@mixin components-theme($theme) {
    @include app($theme);
    @include natural($theme);
    @include page-header($theme);
    @include money($theme);
    @include file($theme);
    @include transaction-amount($theme);
    @include rich-text($theme);
}


$mat-emmy-primary: (
        50: #f1f8e9,
        100: #dcedc8,
        200: #c5e1a5,
        300: #aed581,
        400: #9ccc65,
        500: #A4CE4C,
        600: #7cb342,
        700: #689f38,
        800: #558b2f,
        900: #33691e,
        A100: #ccff90,
        A200: #b2ff59,
        A400: #76ff03,
        A700: #64dd17,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $dark-primary-text,
                600: $dark-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $dark-primary-text,
                A400: $dark-primary-text,
                A700: $dark-primary-text,
        )
);


// Configure themes
$emmy-primary: mat-palette($mat-emmy-primary);
$emmy-accent: mat-palette($mat-purple);
$emmy-warn: mat-palette($mat-red);
$emmy-theme: mat-light-theme($emmy-primary, $emmy-accent, $emmy-warn);

@include angular-material-theme($emmy-theme);
@include components-theme($emmy-theme);
