/**
 * !!! NEVER INCLUDE THIS FILE IN A SCSS FILE
 * See source doc here https://github.com/angular/material2/tree/master/src/lib/core/theming
 */
// Import theming files full relative way or karma will display warning
@import '~@angular/material/theming';
@import '~@ecodev/natural/theming/natural.theme';
@import '../app/app.theme';
@import 'rich-text';
//@import 'page-header';
@import '../app/shared/components/money/money.theme';
@import '../app/shared/components/file/file.theme';
@import '../app/admin/products/product/product.theme';
@import '../app/profile/components/profile/profile.theme';
@import '../app/front-office/homepage/homepage.theme';
@import '../app/front-office/front-office.theme';

// Include material core (only once !)
@include mat-core();

// Include components themes
@mixin components-theme($theme) {
    @include app($theme);
    @include natural($theme);
    //@include page-header($theme);
    @include money($theme);
    @include file($theme);
    @include product($theme);
    @include rich-text($theme);
    @include profile($theme);
    @include homepage($theme);
    @include front-office($theme);
}

// Configure themes
$artisans-primary: mat-palette($mat-deep-orange);
$artisans-accent: mat-palette($mat-blue);
$artisans-warn: mat-palette($mat-red);
$artisans-theme: mat-light-theme($artisans-primary, $artisans-accent, $artisans-warn);

@include angular-material-theme($artisans-theme);
@include components-theme($artisans-theme);
