/**
 * !!! NEVER INCLUDE THIS FILE IN A SCSS FILE
 * See source doc here https://github.com/angular/material2/tree/master/src/lib/core/theming
 */
// Import theming files full relative way or karma will display warning
@use '@angular/material' as mat;
@use '@ecodev/natural';
@use '@ecodev/natural-editor';
@use '../app/app.theme';
@use 'rich-text';
@use 'mixins';
@use 'artisans.theme';
@use '../app/shared/components/breadcrumbs/breadcrumbs.theme';
@use '../app/shared/components/tags-navigation/tags-navigation.theme';
@use '../app/admin/admin/admin.theme';
@use '../app/admin/products/product/product.theme';
@use '../app/admin/order/order-line/order-line.theme';
@use '../app/profile/components/profile/profile.theme';
@use '../app/profile/components/purchases/purchases.theme';
@use '../app/front-office/components/homepage/homepage.theme';
@use '../app/front-office/front-office.theme';
@use '../app/front-office/components/menu/menu.theme';
@use '../app/front-office/components/session-facilitator/session-facilitator.theme';
@use '../app/front-office/components/session-facilitator-private/session-facilitator-private.theme';
@use '../app/front-office/modules/shop/components/products-page/products-page.theme';
@use '../app/front-office/modules/shop/components/product-page/product-page.theme';
@use '../app/front-office/modules/shop/components/subscriptions/subscriptions.theme';
@use '../app/front-office/components/session-method/session-method.theme';

// Include material core (only once !)
@include mat.core();

// Include components themes
@mixin components-theme($theme) {
    @include app.app($theme);
    @include natural.natural($theme);
    @include natural-editor.natural-editor($theme);
    @include artisans.artisans($theme);
    @include mixins.page-header($theme);
    @include product.product($theme);
    @include rich-text.rich-text($theme);
    @include profile.profile($theme);
    @include homepage.homepage($theme);
    @include front-office.front-office($theme);
    @include products-page.products-page($theme);
    @include product-page.product-page($theme);
    @include tags-navigation.tags-navigation($theme);
    @include menu.menu($theme);
    @include breadcrumbs.breadcrumbs($theme);
    @include order-line.order-line($theme);
    @include subscriptions.subscriptions($theme);
    @include purchases.purchases($theme);
    @include session-facilitator.session-facilitator($theme);
    @include session-facilitator-private.session-facilitator-private($theme);
    @include session-method.session-method($theme);
    @include admin.admin($theme);
}

$artisans-blue: (
    50: #e3f2fd,
    100: #bbdefb,
    200: #90caf9,
    300: #64b5f6,
    400: #42a5f5,
    500: #0e7ecb,
    600: #1e88e5,
    700: #1976d2,
    800: #1565c0,
    900: #0d47a1,
    A100: #82b1ff,
    A200: #448aff,
    A400: #2979ff,
    A700: #466287,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: white,
        A400: white,
        A700: white,
    ),
);

$artisans-orange: (
    50: #fbe9e7,
    100: #ffccbc,
    200: #ffab91,
    300: #ff8a65,
    400: #ff7043,
    500: #ef6031,
    600: #f4511e,
    700: #e64a19,
    800: #d84315,
    900: #bf360c,
    A100: #f6f2e6,
    A200: #ff6e40,
    A400: #ff3d00,
    A700: #dd2c00,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: rgba(black, 0.87),
        A400: white,
        A700: white,
    ),
);

$artisans-green: (
    50: #e0f2f1,
    100: #b2dfdb,
    200: #80cbc4,
    300: #4db6ac,
    400: #26a69a,
    500: #00ae8c,
    600: #00897b,
    700: #00796b,
    800: #00695c,
    900: #004d40,
    A100: #a7ffeb,
    A200: #64ffda,
    A400: #1de9b6,
    A700: #00bfa5,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: rgba(black, 0.87),
        A400: rgba(black, 0.87),
        A700: rgba(black, 0.87),
    ),
);

// Configure themes
$artisans-primary: mat.define-palette($artisans-blue);
$artisans-accent: mat.define-palette($artisans-orange);
$artisans-warn: mat.define-palette(mat.$red-palette);
$artisans-theme: mat.define-light-theme($artisans-primary, $artisans-accent, $artisans-warn);

@include mat.all-component-themes($artisans-theme);
@include components-theme($artisans-theme);
