<div [formGroup]="form">

    <div fxLayout="column" class="pageHeader">
        <div class="mat-headline no-margin" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <a mat-icon-button [routerLink]="['..']">
                <app-icon name="arrow_back"></app-icon>
            </a>
            <ngx-avatar [name]="form.get('name').value" [size]="40"></ngx-avatar>
            <span *ngIf="!form.get('name').value">Nouvel utilisateur</span>
            <span *ngIf="form.get('name').value" class="pageTitle">
                <span i18n>Utilisateur</span>
                {{ form.get('name').value }}
            </span>
        </div>
    </div>

    <mat-tab-group [dynamicHeight]="true" (selectedIndexChange)="changeTab($event)">
        <mat-tab i18n-label label="Général">
            <div fxLayout="column" fxLayoutGap="30px" class="padding-top">
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px">
                    <div fxFlex="66" fxLayout="column">

                        <mat-form-field class="width-auto">
                            <input matInput formControlName="name" (change)="update()">
                            <mat-label i18n>Nom</mat-label>
                            <mat-error *ngIf="form.get('name').hasError('maxlength')" i18n>Maximum {{
                                                                                           form.get('name').errors.maxlength.requiredLength
                                                                                           }} caractères
                            </mat-error>
                            <mat-error *ngIf="form.get('name').hasError('required')" i18n>Requis</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxFlex="33">
                        <app-relations [main]="data.model"
                                       [service]="tagService"
                                       [filter]="{groups: [{conditions: [{users: {have: {values: [data.model.id]}}}]}]}"
                                       i18n-placeholder
                                       placeholder="Associer à un tag"
                        >
                            <ng-template let-item="item">
                                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                                    <ngx-avatar [bgColor]="item.color" [name]="item.name" [size]="36"></ngx-avatar>
                                    <span>{{ item.name }}</span>
                                </div>
                            </ng-template>
                        </app-relations>
                    </div>

                </div>

                <app-relations [main]="data.model"
                               [service]="bookingService"
                               [filter]="{groups: [{conditions: [{owner: {have: {values: [data.model.id]}}}]}]}"
                               [disabled]="true"
                >
                    <ng-template let-item="item">
                        <div fxLayout="row" fxLayoutGap="20px">
                            <span>
                                <span class="mat-body-2">de</span>
                                {{ item.startDate }},
                            </span>
                            <span *ngIf="item.endDate">
                                <span class="mat-body-2">à</span>
                                {{item.endDate}},
                            </span>
                            <span *ngIf="item.estimatedEndDate">
                                <span class="mat-body-2">retour prévu</span>
                                {{ item.estimatedEndDate}}
                            </span>
                            <div fxFlex fxLayout="row" fxLayoutAlign="end" *ngIf="!item.endDate">
                                <button mat-button color="warn" (click)="bookingService.flagEndDate(item.id)">Terminer</button>
                            </div>
                        </div>
                    </ng-template>
                </app-relations>

                <!--<app-common-fields [form]="form" (change)="update()" [data]="data" [showVisas]="false"></app-common-fields>-->
            </div>

        </mat-tab>

    </mat-tab-group>

    <app-detail-fixed-button *ngIf="showFabButton" [form]="form" [model]="data.model" (create)="create()" (delete)="delete()"
    ></app-detail-fixed-button>

</div>
