<div fxLayout="column" fxLayoutGap="50px">

    <div>
        <div fxLayout="row" fxLayoutAlign="start center" class="margin-bottom">
            <h3 fxFlex class="mat-headline no-margin-bottom">Historique des transactions</h3>
        </div>

        <app-transaction-lines [contextVariables]="variables" [persistSearch]="false" [contextColumns]="['transactionDate', 'open', 'remarks', 'balance']" (select)="detail($event)" [relativeToAccount]="user.account"></app-transaction-lines>

    </div>
</div>

<router-outlet></router-outlet>
