@if (dataSource) {
    <div class="nat-vertical nat-gap-30">
        <h2 class="mat-font-headline-lg">Commandes</h2>
        <div class="nat-vertical">
            <div class="responsive-table">
                <table mat-table [dataSource]="dataSource">
                    <tr *matHeaderRowDef="columnsForTable" mat-header-row></tr>
                    <tr *matRowDef="let row; columns: columnsForTable" mat-row></tr>

                    <ng-container matColumnDef="creationDate">
                        <th *matHeaderCellDef class="app-date-column" mat-header-cell>Date</th>
                        <td *matCellDef="let element; dataSource: dataSource" mat-cell>
                            <natural-table-button
                                icon="open_in_new"
                                matTooltip="Éditer"
                                [label]="element.creationDate | date"
                                [navigate]="[element.id]"
                            />
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th *matHeaderCellDef mat-header-cell>État</th>
                        <td *matCellDef="let element; dataSource: dataSource" mat-cell>
                            {{ element.status | enum: 'OrderStatus' | async }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="balance">
                        <th *matHeaderCellDef mat-header-cell class="natural-5em-column natural-align-right">Total</th>
                        <td *matCellDef="let element; dataSource: dataSource" mat-cell class="natural-align-right">
                            @if (+element.balanceCHF > 0) {
                                {{ element.balanceCHF | currency: 'CHF' }}
                            }
                            @if (+element.balanceEUR > 0) {
                                {{ element.balanceEUR | currency: 'EUR' }}
                            }
                        </td>
                    </ng-container>
                </table>
            </div>

            @if (showNoResults()) {
                <div class="nat-margin text-center">Pas de résultats</div>
            }
            @if (!dataSource.data) {
                <div class="nat-margin nat-vertical nat-center">
                    <mat-progress-spinner mode="indeterminate" [diameter]="40" />
                </div>
            }
            @if (dataSource.data?.length) {
                <mat-paginator
                    [length]="dataSource.data?.length"
                    [pageIndex]="dataSource.data?.pageIndex"
                    [pageSizeOptions]="[25]"
                    [pageSize]="25"
                    (page)="pagination($event)"
                />
            }
        </div>
    </div>
}

<router-outlet />
