<div *ngIf="dataSource" fxLayout="column">
    <div fxLayout="row">
        <div class="mat-h1 no-margin" fxFlex>
            {{ routeData?.seo.title }}
        </div>
        <natural-columns-picker
            [availableColumns]="availableColumns"
            [selections]="selectedColumns"
            (selectionChange)="selectColumns($event)"
        />
    </div>

    <div fxLayout="column">
        <div class="margin-v overflow" fxLayout="row">
            <natural-search
                (selectionChange)="search($event)"
                [facets]="naturalSearchFacets"
                [multipleGroups]="true"
                [selections]="naturalSearchSelections"
                fxFlex
            />
        </div>

        <div [fxShow]="dataSource.data?.length > 0" class="responsive-table">
            <table (matSortChange)="sorting([$event])" [dataSource]="dataSource" mat-table matSort>
                <tr *matHeaderRowDef="columnsForTable" mat-header-row></tr>
                <tr *matRowDef="let row; columns: columnsForTable" mat-row></tr>

                <ng-container matColumnDef="date">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>Date</th>
                    <td *matCellDef="let element" mat-cell>{{ element.date | date : 'dd.MM.y' }}</td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>Nom</th>
                    <td *matCellDef="let element" mat-cell>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <natural-table-button
                                [label]="element.name"
                                [navigate]="['/admin/news', element.id]"
                                matTooltip="Éditer"
                            ></natural-table-button>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="isActive">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>Active</th>
                    <td *matCellDef="let element" mat-cell>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon *ngIf="element.isActive" naturalIcon="done"></mat-icon>
                        </div>
                    </td>
                </ng-container>
            </table>
        </div>

        <div *ngIf="dataSource.data?.length === 0" class="margin" fxLayout="column" fxLayoutAlign="center center">
            <div>Pas de résultats</div>
        </div>

        <div *ngIf="!dataSource?.data" class="margin" fxLayout="column" fxLayoutAlign="center center">
            <mat-progress-spinner [diameter]="40" mode="indeterminate"></mat-progress-spinner>
        </div>

        <mat-paginator
            (page)="pagination($event)"
            *ngIf="dataSource.data?.length"
            [length]="dataSource.data?.length"
            [pageIndex]="dataSource.data?.pageIndex"
            [pageSizeOptions]="pageSizeOptions"
            [pageSize]="dataSource.data?.pageSize"
        ></mat-paginator>
    </div>
</div>

<natural-fixed-button
    *ngIf="permissionsService.crud?.news.create"
    [routerLink]="['/admin/news/new']"
    icon="add"
></natural-fixed-button>
