@if (dataSource) {
    <div class="nat-vertical">
        <div class="nat-horizontal">
            <div class="mat-h1 nat-no-margin nat-expand">
                {{ routeData?.seo.title }}
            </div>
            <natural-columns-picker
                [availableColumns]="availableColumns"
                [selections]="selectedColumns"
                (selectionChange)="selectColumns($event)"
            />
        </div>
        <div class="nat-vertical">
            <div class="nat-margin-vertical overflow nat-horizontal">
                <natural-search
                    (selectionChange)="search($event)"
                    [facets]="naturalSearchFacets"
                    [multipleGroups]="true"
                    [selections]="naturalSearchSelections"
                    class="nat-expand"
                />
            </div>
            <div [class.nat-show]="dataSource.data?.length > 0" class="responsive-table">
                <table (matSortChange)="sorting([$event])" [dataSource]="dataSource" mat-table matSort>
                    <tr *matHeaderRowDef="columnsForTable" mat-header-row></tr>
                    <tr *matRowDef="let row; columns: columnsForTable" mat-row></tr>

                    <ng-container matColumnDef="date">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Date</th>
                        <td *matCellDef="let element" mat-cell>{{ element.date | date: 'dd.MM.y' }}</td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Nom</th>
                        <td *matCellDef="let element" mat-cell>
                            <div class="nat-horizontal nat-left nat-center">
                                <natural-table-button
                                    [label]="element.name"
                                    [navigate]="['/admin/news', element.id]"
                                    matTooltip="Éditer"
                                />
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="isActive">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Active</th>
                        <td *matCellDef="let element" mat-cell>
                            <div class="nat-horizontal nat-left nat-center">
                                @if (element.isActive) {
                                    <mat-icon naturalIcon="done" />
                                }
                            </div>
                        </td>
                    </ng-container>
                </table>
            </div>
            @if (dataSource.data?.length === 0) {
                <div class="nat-margin nat-vertical nat-center">
                    <div>Pas de résultats</div>
                </div>
            }
            @if (!dataSource.data) {
                <div class="nat-margin nat-vertical nat-center">
                    <mat-progress-spinner [diameter]="40" mode="indeterminate" />
                </div>
            }
            @if (dataSource.data?.length) {
                <mat-paginator
                    (page)="pagination($event)"
                    [length]="dataSource.data?.length"
                    [pageIndex]="dataSource.data?.pageIndex"
                    [pageSizeOptions]="pageSizeOptions"
                    [pageSize]="dataSource.data?.pageSize"
                />
            }
        </div>
    </div>
}

@if (permissionsService.crud?.news.create) {
    <natural-fixed-button [routerLink]="['/admin/news/new']" icon="add" />
}
