<div [formGroup]="form" class="detail-body">
    <natural-detail-header
        [listRoute]="['admin', 'comment']"
        [model]="data.model"
        label="Événement"
        [newLabel]="data.seo.title"
    ></natural-detail-header>

    <mat-tab-group naturalLinkableTab (selectedIndexChange)="changeTab($event)" [dynamicHeight]="true">
        <mat-tab id="general" label="Général">
            <div class="padding-top" fxLayout="column" fxLayoutGap="30px">
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px">
                    <div fxFlex="66" fxLayout="column">
                        <mat-form-field>
                            <textarea (change)="update()" formControlName="description" matInput></textarea>
                            <mat-label>Commentaire</mat-label>
                            <mat-error *ngIf="form.get('description')?.hasError('maxlength')">
                                Maximum {{ form.get('description')?.errors?.maxlength?.requiredLength }} caractères
                            </mat-error>
                            <mat-error *ngIf="form.get('description')?.hasError('required')">Requis</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxFlex="33">
                        <natural-select
                            [service]="newsService"
                            formControlName="event"
                            placeholder="Événement"
                            [navigateTo]="['/admin/event', form.get('event')?.value?.id]"
                            [disabled]="true"
                        ></natural-select>

                        <natural-select
                            [service]="eventService"
                            formControlName="news"
                            placeholder="Actualité"
                            [navigateTo]="['/admin/news', form.get('event')?.value?.id]"
                            [disabled]="true"
                        ></natural-select>
                    </div>
                </div>

                <natural-stamp [item]="data.model"></natural-stamp>
            </div>
        </mat-tab>
    </mat-tab-group>

    <natural-fixed-button-detail
        (create)="create()"
        (delete)="delete()"
        *ngIf="showFabButton"
        [form]="form"
        [model]="data.model"
    ></natural-fixed-button-detail>
</div>
