<a (fileChange)="upload($event)"
   [accept]="accept"
   [attr.href]="getDownloadLink()"
   [class.has-action]="!!action"
   [class.suggest-upload]="!model && action === 'upload'"
   [fileDropDisabled]="action !== 'upload'"
   [matRippleDisabled]="!action"
   [ngfFixOrientation]="false"
   [style.backgroundImage]="imagePreview"
   appFileDrop
   download
   matRipple
   ngfSelect
   target="_blank"
>

    <div *ngIf="filePreview" class="file-preview">
        <natural-icon [size]="height * 0.33" name="attachment"></natural-icon>
        {{ filePreview | uppercase }}
    </div>

    <div class="action-overlay">
        <natural-icon *ngIf="action === 'upload'" [size]="height * 0.66" name="cloud_upload"></natural-icon>
        <natural-icon *ngIf="action === 'download'" [size]="height * 0.66" name="get_app"></natural-icon>
    </div>

</a>
