<a matRipple
   [matRippleDisabled]="!action"
   ngfSelect
   [accept]="accept"
   appFileDrop
   [fileDropDisabled]="action !== 'upload'"
   [ngfFixOrientation]="false"
   (fileChange)="upload($event)"
   [attr.href]="getDownloadLink()"
   target="_blank"
   download
   [style.backgroundImage]="imagePreview"
   [class.has-action]="!!action"
   [class.suggest-upload]="!model && action === 'upload'"
>

    <div class="file-preview" *ngIf="filePreview">
        <app-icon name="attachment" [size]="height * 0.33"></app-icon>
        {{ filePreview | uppercase }}
    </div>

    <div class="action-overlay">
        <app-icon name="cloud_upload" [size]="height * 0.66" *ngIf="action === 'upload'"></app-icon>
        <app-icon name="get_app" [size]="height * 0.66" *ngIf="action === 'download'"></app-icon>
    </div>

</a>
