<div class="container mat-h3">
    <h1 class="mat-display-1">Faire un don</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body mat-h3">
            <div class="rich-text">
                <p>
                    Les dons composent la moitié des revenus de l’association. Ils garantissent son indépendance. En
                    faisant un don à l’association, vous soutenez une petite équipe motivée et compétente.
                </p>
                <ul>
                    <li>
                        En vingt ans, LaRevueDurable a été pionnière sur plus d’un sujet : la souveraineté alimentaire
                        (lien vers le n°6), les écoquartiers
                        <!-- todo : lien vers le n°28 -->, la prospérité sans croissance (lien vers le n°36), l’impact
                        de la finance
                        <!-- todo : lien vers l'article ref 024-063 -->, le rôle des récits dans la capacité à s’engager
                        pour le climat
                        <!-- todo : lien vers l'article ref 046-031 -->
                        ou la surveillance numérique
                        <!-- todo : lien vers le n°63 -->.
                    </li>
                    <li>
                        Votre don servira essentiellement à soutenir l’économie locale et durable. Nous privilégions les
                        partenaires qui partagent nos valeurs et avons à cœur de solliciter des jeunes engagés,
                        notamment pour les illustrations.
                    </li>
                    <li>Votre don est déductible d’impôts (pour les contribuables taxés en Suisse).</li>
                </ul>
            </div>

            <br />
            <a mat-flat-button color="primary" class="margin-bottom" (click)="cartService.inputDonation(true)"
                >Faire un don</a
            >
        </div>
    </div>
</div>
