<div class="container mat-h3">
    <h1 class="mat-display-1">Faire un don</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body mat-h3">
            <a mat-flat-button color="primary" class="margin-bottom" (click)="cartService.inputDonation(true)"
                >Faire un don</a
            >

            <div class="rich-text">
                <p>Les dons composent la moitié des revenus de l’association. Ils garantissent son indépendance.</p>
                <p>En faisant un don à l’association, vous soutenez une petite équipe motivée et compétente.</p>
                <p>
                    En vingt ans, les animateurs de LaRevueDurable ont été pionniers sur plusieurs sujets : l’impact de
                    la finance (lien vers l’article sur l’ecorating
                    (www.larevuedurable.com/fr/economie/567-envimpact-le-levier-ecologique-qui-manquait-aux-investisseurs.html
                    à faire après migration), le rôle des récits dans l’engagement écologique
                    (www.larevuedurable.com/fr/philosophie-et-culture/190-changer-de-recit-pour-changer-le-monde.html)
                    ou le numérique (lien vers le n°63)-
                </p>
                <p>
                    Votre don servira essentiellement à soutenir l’économie locale et durable. Nous privilégions les
                    partenaires qui partagent nos valeurs et avons à cœur de solliciter des jeunes engagés, notamment
                    pour les illustrations.
                </p>
                <p>Votre don est déductible d’impôts (pour les contribuables taxés en Suisse).</p>
            </div>
        </div>
    </div>
</div>
