<div *ngIf="data.model.illustration"
     class="frame-primary illustration"
     fxShow.gt-sm
     [style.background-image]="'url(/image/' + data.model.illustration.id + '/400)'"
></div>

<div class="container body" fxLayout="column" fxLayoutGap="60px">

    <div fxLayout="column" fxLayoutGap="15px">
        <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">

            <!-- Review number -->
            <div class="text-primary text-bold mat-h1 no-margin-bottom" *ngIf="data.model.reviewNumber">
                N° {{ data.model.reviewNumber }}
            </div>

            <span *ngIf="data.model.reviewNumber && data.model.releaseDate" class="mat-h2 no-margin-bottom"> |</span>

            <!-- Release date -->
            <div class="mat-h2 text-light no-margin-bottom" *ngIf="data.model.releaseDate">
                {{ data.model.releaseDate | date: 'MMMM yyyy' }}
            </div>

            <!-- Reading duration -->
            <div *ngIf="data.model.readingDuration"
                 fxLayout="row"
                 fxLayoutAlign="start center"
                 fxLayoutGap="10px"
                 class="mat-h3 no-margin-bottom"
            >
                |
                <natural-icon name="alarm"></natural-icon>
                <div>Durée de lecture : {{ data.model.readingDuration }} {{ data.model.readingDuration > 1 ? 'minutes' : 'minute' }}</div>
            </div>

            <div fxFlex></div>

            <!-- Admin shortcut -->
            <a *ngIf="data.model.permissions?.update" [routerLink]="['/admin/product', data.model.id]" mat-stroked-button>Administrer</a>
        </div>

        <h1 class="mat-display-1 no-margin-bottom">{{ data.model.name }}</h1>

    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="60px" fxLayoutAlign="start start">

        <!-- Product image -->
        <div fxFlex="33">
            <img class="product-image"
                 *ngIf="data.model.image"
                 [attr.src]="'/image/' + data.model.image.id + '/400'"
                 alt="aperçu de l'article"
            />
        </div>

        <!-- Short description -->
        <section fxFlex>
            <h2 class="mat-h2">Description</h2>
            <div [innerHTML]="data.model.shortDescription" class="mat-h3"></div>
        </section>

        <!-- Download -->
        <div fxFlex="20" class="frame-primary padding" *ngIf="data.model.file">
            <h2 class="mat-h2">Téléchargement</h2>
            <p class="mat-body">Vous pouvez dès à présent télécharger cette revue en format numérique (PDF)</p>
            <a mat-flat-button [href]="getDownloadLink(data.model)">Télécharger cette revue</a>
        </div>
    </div>

    <div fxLayout="column" fxLayoutGap="30px">

        <div *ngIf="!viewer" class="mat-h3 frame-accent frame" fxLayout="row wrap" fxLayoutAlign="start baseline" fxLayoutGap="15px">
            <div class="mat-h1 no-margin-bottom">Intéressé par ce contenu ?</div>
            <div>Si vous êtes déjà abonnés à la version digitale</div>
            <a mat-flat-button routerLink="/login" [queryParams]="{returnUrl: router.url}"> connectez-vous !</a>
        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="30px">

            <div *ngIf="showBuyPaper || showBuyDigital" fxFlex fxLayout="column" fxLayoutAlign="start center" class="frame-green frame" fxLayoutGap="30px">
                <div class="mat-h1">Acheter le numéro</div>

                <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">

                    <div *ngIf="showBuyPaper" fxLayout="column" fxLayoutAlign="start center">
                        <div class="mat-h2 price no-margin-bottom">
                            <app-price [product]="data.model"></app-price>
                        </div>
                        <app-add-to-cart [buttonColor]="null"
                                         [product]="data.model"
                                         [type]="ProductType.paper"
                                         label="Acheter la version papier"
                        ></app-add-to-cart>
                    </div>

                    <div *ngIf="showBuyDigital" fxLayout="column" fxLayoutAlign="start center">
                        <div class="mat-h2 price no-margin-bottom">
                            <app-price [product]="data.model"></app-price>
                        </div>
                        <app-add-to-cart [buttonColor]="null"
                                         [product]="data.model"
                                         [type]="ProductType.digital"
                                         label="Acheter la version numérique"
                        ></app-add-to-cart>
                    </div>

                </div>

                <!-- Todo ? maybe link to articles from same review -->
                <a mat-button routerLink="/larevuedurable/articles" *ngIf="data.model.reviewNumber">ou acheter par articles</a>
            </div>

            <div fxFlex class="frame-primary frame" *ngIf="!viewer?.subscriptionType">
                <h1 class="mat-h1">S'abonner</h1>
                <a mat-flat-button routerLink="/larevuedurable/abonnements">S'abonner</a>
            </div>
        </div>
    </div>

</div>
