@use '@ecodev/natural-layout' as nat;

:host {
    margin-top: 0 !important; // override default and generalized top margin
}

.frame {
    padding: 30px;
}

.body {
    margin-top: 40px;
}

.product-image {
    display: block;
    margin-top: 50px;
    max-width: 220px;
}

.review {
    a {
        font-weight: bold;
    }

    img {
        max-width: 100%;
    }
}

.show-products-of-review-button {
    padding: 5px 10px;
}

.illustration {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
}

@media screen and (min-width: 700px) {
    .description {
        max-width: 66%;
    }
}

@include nat.media(null, md) {
    #see-more {
        order: 2;
    }
    #related-review {
        order: 1;
    }
}

@include nat.media(md) {
    .image-preview {
        flex: 0 1 230px;
    }
}

.review {
    a {
        color: var(--mat-sys-on-surface);
    }
}

.duration {
    margin-bottom: 1.5em !important;
    font-weight: normal;
}
