
:host {

    margin-top: 0 !important; // override default and generalized top margin

    .frame {
        padding: 30px;
    }

    .body {
        margin-top: 60px;
    }

    .product-image {
        display: block;
        width: 100%;
    }

    .review {

        border-left-width: 6px;
        border-left-style: solid;
        padding-left: 20px;

        a {
            font-weight: bold;
        }

        img {
            max-width: 100%;
        }
    }

    .illustration {
        height: 350px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}
