<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
@if (isUpdatePage()) {
    <div class="container body app-gap-60 nat-vertical">
        <section class="nat-vertical nat-gap app-md-gap-60 nat-md-horizontal">
            <div class="nat-md-expand nat-gap-10 nat-vertical">
                <div class="nat-horizontal nat-gap-15 nat-align">
                    <!-- Review number -->
                    @if (data.model.reviewNumber) {
                        <div class="nat-text-primary text-bold mat-font-headline-sm">
                            N° {{ data.model.reviewNumber }}
                        </div>
                    }
                    <!-- Release date -->
                    @if (data.model.releaseDate) {
                        <div class="mat-font-title-lg text-light">
                            {{ data.model.releaseDate | date: 'MMMM yyyy' | capitalize }}
                        </div>
                    }
                    @if (data.model.permissions.update) {
                        <a matMiniFab class="nat-rounded nat-flat" [routerLink]="['/admin/product', data.model.id]">
                            <mat-icon naturalIcon="edit" />
                        </a>
                    }
                </div>
                <h1 class="mat-font-headline-lg">{{ data.model.name }}</h1>

                <!-- Reading duration -->
                <div class="nat-horizontal nat-gap duration nat-align mat-font-title-md nat-gap-10">
                    @if (data.model.readingDuration) {
                        <mat-icon naturalIcon="alarm" />
                        <span>
                            {{ data.model.readingDuration }}{{ data.model.readingDuration > 1 ? 'minutes' : 'minute' }}
                            de lecture
                        </span>
                    }
                </div>
                <div class="description mat-font-body-lg rich-text" [innerHTML]="data.model.description"></div>
            </div>
            <div class="image-preview nat-vertical nat-gap-30">
                <!-- Product image (preview) -->
                @if (data.model.image) {
                    <img
                        class="product-image"
                        alt="aperçu de l'article"
                        [naturalSrcDensity]="`/api/image/${data.model.image.id}/300`"
                    />
                }
            </div>
        </section>
        <section class="nat-vertical nat-md-horizontal nat-md-top nat-md-left app-gap-60">
            @if (articles.length) {
                <div id="see-more" class="nat-expand nat-vertical">
                    <div
                        matRipple
                        class="nat-text-primary nat-gap-5 nat-horizontal nat-align"
                        (click)="articlesMenuOpen = !articlesMenuOpen"
                    >
                        <span class="mat-font-title-lg show-products-of-review-button nat-no-margin-bottom"
                            >Voir les articles de ce numéro
                        </span>
                        <mat-icon naturalIcon="expand_more" />
                    </div>
                    @if (articlesMenuOpen) {
                        <mat-nav-list>
                            @for (article of articles; track article) {
                                <a mat-list-item [routerLink]="['/larevuedurable/article', article.id]">
                                    {{ article.name }}
                                </a>
                            }
                        </mat-nav-list>
                    }
                </div>
            }
            <!-- Related review link -->
            @if (data.model.review) {
                <div id="related-review" class="image-preview nat-vertical review nat-gap-10">
                    <a [routerLink]="['/larevuedurable/article', data.model.review.id]">
                        <img
                            alt="couverture de la revue"
                            [naturalSrcDensity]="`/api/image/${data.model.review.image.id}/300`"
                        />
                    </a>
                    <span class="mat-font-title-md">Article issu de la revue</span>
                    <a class="mat-font-title-md" [routerLink]="['/larevuedurable/article', data.model.review.id]">
                        <span class="nat-text-primary">N° {{ data.model.review.reviewNumber }}</span>
                        {{ data.model.review.name }}
                    </a>
                    <span class="text-light">{{ data.model.review.releaseDate | date: 'MMMM yyyy' | capitalize }}</span>
                </div>
            }
        </section>
        <div class="nat-vertical nat-gap-30">
            @if (!viewer) {
                <div class="mat-font-title-md nat-gap-15 nat-horizontal nat-wrap nat-align">
                    <div class="mat-font-headline-sm">Intéressé par ce contenu ?</div>
                    <div>Si vous êtes déjà abonné à la version numérique</div>
                    <a matButton="filled" routerLink="/login" [queryParams]="{returnUrl: url}">connectez-vous !</a>
                </div>
            }
            <div class="nat-vertical nat-gap-30 nat-md-horizontal rich-text">
                <!-- Download -->
                @if (data.model.file) {
                    <div class="nat-frame-tertiary nat-padding nat-vertical nat-center nat-md-expand-50">
                        <div style="max-width: 300px">
                            <h2 class="mat-font-title-lg">Téléchargement</h2>
                            @if (data.model.reviewNumber) {
                                <p>Vous pouvez dès à présent télécharger cette revue en format numérique (PDF)</p>
                            }
                            @if (!data.model.reviewNumber) {
                                <p>Vous pouvez dès à présent télécharger cet article en format numérique (PDF)</p>
                            }
                            <a matButton="filled" target="_blank" [href]="`/api/file/${data.model.file.id}`">
                                <mat-icon naturalIcon="get_app" />
                                @if (data.model.reviewNumber) {
                                    <span>Télécharger cette revue</span>
                                }
                                @if (!data.model.reviewNumber) {
                                    <span>Télécharger cet article</span>
                                }
                            </a>
                        </div>
                    </div>
                }
                @if (showBuyPaper || showBuyDigital) {
                    <div class="nat-md-expand-50 nat-gap-30 frame-green frame nat-center nat-vertical">
                        @if (data.model.reviewNumber) {
                            <div class="mat-font-headline-sm">Acheter le numéro</div>
                        }
                        @if (!data.model.reviewNumber) {
                            <div class="mat-font-headline-sm">Acheter cet article</div>
                        }
                        <div class="nat-horizontal nat-wrap nat-gap-30">
                            @if (showBuyPaper) {
                                <div class="nat-vertical nat-gap-10">
                                    <div class="mat-font-title-lg price nat-center">
                                        <app-price [product]="data.model" />
                                    </div>
                                    <app-add-to-cart
                                        label="Version papier"
                                        [product]="data.model"
                                        [type]="ProductType.Paper"
                                    />
                                </div>
                            }
                            @if (showBuyDigital) {
                                <div class="nat-vertical nat-gap-10 nat-center">
                                    <div class="mat-font-title-lg price">
                                        <app-price [product]="data.model" />
                                    </div>
                                    <app-add-to-cart
                                        label="Version numérique"
                                        [product]="data.model"
                                        [type]="ProductType.Digital"
                                    />
                                </div>
                            }
                        </div>
                        @if (data.model.reviewNumber) {
                            <a matButton routerLink="/larevuedurable/articles">ou acheter par articles</a>
                        }
                    </div>
                }
                @if (!viewer?.subscriptionType) {
                    <div class="nat-md-expand-50 nat-vertical nat-frame-primary frame nat-left">
                        <h1 class="mat-font-headline-sm">S'abonner</h1>
                        <p>
                            Un accès à
                            <span class="mat-font-title-sm">toute la base de données</span>
                            avec près de
                            <span class="mat-font-title-sm">1000 articles</span>
                            de fond sur tous les thèmes qui touchent à la durabilité dans une soixantaine de pays
                        </p>
                        <p>
                            Un travail rédactionnel
                            <span class="mat-font-title-sm">indépendant</span>
                            . Aucun partenariat ni soutient financier n'y porte atteinte.
                        </p>
                        <p>
                            L'envie de
                            <span class="mat-font-title-sm">comprendre</span>
                            et le pouvoir d'
                            <span class="mat-font-title-sm">agir</span>
                            pour
                            <span class="mat-font-title-sm">construire</span>
                            une société écologique et solidaire.
                        </p>
                        <a matButton="filled" routerLink="/larevuedurable/abonnements">S'abonner</a>
                    </div>
                }
            </div>
        </div>
        <div [class.nat-hide]="!relatedProducts?.dataSource?.data?.length">
            <div class="mat-font-title-lg">Pour continuer votre lecture ...</div>
            <app-products-page
                #relatedProducts
                [forcedVariables]="{
                    filter: {groups: [{conditions: [{relatedProducts: {have: {values: [data.model.id]}}}]}]},
                }"
                [highlightFirstItems]="false"
            />
        </div>
    </div>
}
