<mat-dialog-content>

    <div *ngIf="!data.model" class="mat-subheading-2">
        Oops, aucun article ne correspond au code recherché : "{{ routeSnapshot.params.code }}"
    </div>

    <div *ngIf="data.model" fxLayout="column" fxLayoutGap="20px">

        <app-file *ngIf="data.model.image" [model]="data.model.image" [height]="200" fxFlex="none"></app-file>

        <div fxLayout="row" fxLayoutGap="10px">
            <h2 class="mat-headline no-margin-bottom">{{ data.model.name }}</h2>
            <div fxFlex></div>
            <div class="mat-headline price no-margin-bottom">
                {{ CartService.getPriceTaxInc(data.model, 1) | currency : 'CHF' }}
                <span *ngIf="data.model.unit" class="mat-body-2"> / {{ data.model.unit }}</span>
            </div>
        </div>

        <mat-divider></mat-divider>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">

            <mat-form-field [style.width.px]="90" [style.padding-top.em]="1.34375">
                <mat-label>Quantité</mat-label>
                <input matInput type="number" min="0" [formControl]="quantityForm" (change)="computePrice()" (keydown.enter)="updateOrAddToCart()">
                <div matSuffix *ngIf="data.model.unit">{{ data.model.unit }}</div>
                <mat-error *ngIf="quantityForm.hasError('required')">Requis</mat-error>
            </mat-form-field>

            <div fxLayout="column" fxLayoutGap="10px" fxFlex>
                <button mat-icon-button mat-raised-button *ngIf="!data.model.unit" (click)="increase()">
                    <natural-icon name="add"></natural-icon>
                </button>
                <button mat-icon-button mat-raised-button *ngIf="!data.model.unit" (click)="decrease()" [disabled]="quantityForm.value <= 0"
                >
                    <natural-icon name="remove"></natural-icon>
                </button>
            </div>

            <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="10px">

                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="none" class="mat-title no-margin-bottom">{{ quantityForm.value || 0 }}x</div>
                </div>

                <div class="mat-display-1 price no-margin">{{ price | currency : 'CHF' }}</div>
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="mat-subheading-2">
            <span style="font-weight:bold">Code d'article :</span>
            {{ data.model.code }}
        </div>
        <div class="mat-subheading-2" *ngIf="data.model.supplier">
            <span style="font-weight:bold">Fournisseur :</span>
            {{ data.model.supplier }}
        </div>
        <div class="mat-subheading-2" [innerHTML]="data.model.description"></div>

        <div *ngIf="data.model.permissions?.update">
            <button mat-stroked-button [mat-dialog-close]="['/admin/product', data.model.id]">Administration</button>
        </div>

    </div>

</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
    <button mat-button [mat-dialog-close]="null">Fermer</button>

    <button mat-stroked-button
            color="warn"
            (click)="removeFromCart()"
            mat-dialog-close
            [disabled]="formGroup.invalid"
            *ngIf="edit && data?.model"
    >
        Supprimer
    </button>

    <button mat-flat-button
            color="primary"
            (click)="updateCart()"
            mat-dialog-close
            *ngIf="edit && data?.model"
            [disabled]="formGroup.invalid || !formGroup.dirty || !data.model.isActive"
    >
        Mettre à jour
    </button>

    <button mat-flat-button
            color="primary"
            (click)="addToCart()"
            mat-dialog-close
            *ngIf="!edit && data?.model"
            [disabled]="formGroup.invalid || !data.model.isActive"
    >
        Ajouter au panier
    </button>

</mat-dialog-actions>
