<h2 mat-dialog-title>{{ data.model.name }}</h2>

<mat-dialog-content>

    <app-file [model]="data.model.image" [height]="300"></app-file>
    <div class="mat-display-1"> {{ data.model.pricePerUnit | currency : 'CHF' }} / {{ data.model.unit }}</div>
    <div class="mat-headline" [innerHTML]="data.model.description"></div>
    <div class="mat-subheading-2" [innerHTML]="data.model.remarks"></div>

</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
    <button mat-button mat-dialog-close>Fermer</button>
    <button mat-button mat-dialog-close [routerLink]="['/admin/product', data.model.id]">Administration</button>
    <button mat-dialog-close mat-flat-button color="primary" (click)="addToCart()">
        <natural-icon name="add"></natural-icon>
        Panier
    </button>
</mat-dialog-actions>
