<div
    class="page-illustration"
    [style.backgroundImage]="'url(assets/images/illustration-pages/larevuedurable-tatyana-aksenova-photocase.jpg)'"
></div>

<div class="container mat-font-title-md rich-text">
    <h1 class="mat-font-headline-lg">NUMÉRIQUE ÉTHIQUE</h1>

    <div class="nat-horizontal nat-gap-30">
        <div class="app-md-expand-70 page-body rich-text mat-font-title-md">
            <p>
                Chercher des informations sur internet, acheter en ligne ou avec sa carte de crédit, échanger sur les
                réseaux sociaux, participer à des visioconférences, regarder des vidéos, utiliser son GPS, gérer ses
                activités de loisir ou celles de ses enfants ou simplement se déplacer avec son smartphone. Tout ce
                qu’une personne fait en lien avec un équipement numérique peut faire l’objet d’une captation de données.
                Traitées par des logiciels d’intelligence artificielle, ces données fournissent une image suffisamment
                précise du profil de milliards de personnes – leurs goûts, leurs fréquentations, leurs idées, etc. –
                pour pouvoir en déduire des prédictions sur leurs comportements futurs. Ces prédictions sont ensuite
                vendues à des entreprises qui vont pouvoir envoyer des messages ciblés aux personnes les plus
                susceptibles d’acheter leurs produits ou à ou à des agences spécialisées dans le façonnement des idées
                et des opinions.
            </p>
            <p>
                La chercheuse états-unienne Shoshana Zuboff appelle « capitalisme de surveillance » cette mutation de
                l’économie qui fait des comportements humains une matière première manipulable et monnayable à l’échelle
                de sociétés entières.
            </p>
            <p>
                En 2019, les Artisans de la transition ont publié le dossier
                <a routerLink="/larevuedurable/article/1263">n°63 de LaRevueDurable</a>
                sur ce mode opératoire ultrapuissant incompatible avec la transition. En 2020, le dossier
                <a routerLink="/larevuedurable/article/1238">n°64 de LaRevueDurable</a>
                associait ce mode opératoire à la croissance fulgurante de l’industrie textile.
            </p>
        </div>
    </div>
</div>
