<div
    class="page-illustration"
    [style.backgroundImage]="'url(assets/images/illustration-pages/larevuedurable-tatyana-aksenova-photocase.jpg)'"
></div>

<div class="container mat-h3 rich-text">
    <h1 class="mat-display-1">NUMÉRIQUE ÉTHIQUE</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body rich-text mat-h3">
            <p>
                En janvier 2019, un livre extraordinaire est paru aux Etats-Unis. Son autrice, Shoshana Zuboff, y
                dévoile avec maestria la façon dont Google, puis Facebook, la Silicon Valley et enfin l’ensemble du
                tissu économique bouleversent le capitalisme depuis 2001. En août 2019, les
                <strong>Artisans de la transition</strong> ont publié le dossier
                <a [routerLink]="['/larevuedurable/numero', 1263]">n°63 de <strong>LaRevueDurable</strong></a>
                pour faire connaître cette évolution incompatible avec la transition, qui a émergé dans une parfaite
                opacité.
            </p>
            <p>
                Le capitalisme de surveillance est une mutation inhumaine et antidémocratique du capitalisme. Les
                comportements humains y sont la matière première captée à très grande échelle dans tous les
                compartiments de la vie privée. Des logiciels d’intelligence artificielle calculent à partir d’elle des
                prédictions comportementales pour des milliards d’individus. Ces prédictions sont d’autant plus fiables
                que les données exploitables sont quantitativement astronomiques et qualitativement diversifiées.
            </p>
            <p>
                Grâce à ces prédictions qu’elles achètent aux capitalistes de la surveillance, d’autres entreprises –
                Big Other – soumettent les usagers à un flot publicitaire personnalisé taillé sur mesure pour assurer
                des niveaux de vente inédits de leurs biens et/ou services. Cette mécanique ultrapuissante est à
                l’origine d’une surconsommation systématique visible, par exemple, dans
                <a [routerLink]="['/larevuedurable/numero', 1238]"
                    >l’industrie de la mode, secteur sinistré de la transition qui fait l’objet du dernier dossier de
                    <strong>LaRevueDurable</strong></a
                >
            </p>
            <p>
                Pour informer et alerter sur cette mutation du capitalisme qui échappe encore à une majorité
                d’écologistes qui se veulent pourtant radicaux, les
                <strong>Artisans de la transition</strong> travaillent à mettre sur pied un atelier pratique pour
                comprendre et agir.
            </p>
        </div>
    </div>
</div>
