:host {
    display: flex;
    flex: 1;
    overflow: auto;
    padding: 20px;

    & > div {
        max-width: 1300px;
        margin: auto;
    }

    .bookingImg {
        background-size: cover;
        background-position: center;
        height:200px;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
    }

    mat-card {
        min-width:300px
    }
}
