<div [formGroup]="form" class="detail-body">

    <natural-detail-header newLabel="Nouveau compte" label="Compte" [model]="data.model" [listRoute]="['admin', 'account']">
        <app-money [amount]="data.model.balance" sizeClass="mat-display-1"></app-money>
    </natural-detail-header>

    <mat-tab-group [dynamicHeight]="true" (selectedIndexChange)="changeTab($event)">
        <mat-tab label="Général">
            <div fxLayout="column" fxLayoutGap="30px" class="padding-top">
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px">
                    <div fxFlex="66" fxLayout="column">

                        <mat-form-field>
                            <mat-label>Nom</mat-label>
                            <input matInput formControlName="name" (change)="update()">
                            <mat-error *ngIf="form.get('name')?.hasError('maxlength')">
                                Maximum {{form.get('name')?.errors.maxlength.requiredLength }} caractères
                            </mat-error>
                            <mat-error *ngIf="form.get('name')?.hasError('required')">Requis</mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="!form.get('owner')?.value">
                            <mat-label>IBAN Emmy</mat-label>
                            <input matInput formControlName="iban" (change)="update()">
                            <mat-error *ngIf="form.get('iban')?.hasError('maxlength')">
                                Maximum {{form.get('iban')?.errors.maxlength.requiredLength }} caractères
                            </mat-error>
                            <mat-error *ngIf="form.get('iban')?.hasError('required')">Requis</mat-error>
                            <mat-hint>Pour les comptes bancaires emmy uniquement</mat-hint>
                        </mat-form-field>

                    </div>

                    <div fxFlex="33" fxLayout="column">

                        <natural-select formControlName="owner"
                                    placeholder="Membre"
                                    [service]="userService"
                                    [filter]="{groups: [{conditions: [{accounts: {empty: {not: false}}}]}]}"
                                    (selectionChange)="update()"
                                    [showIcon]="false"
                                    [navigateTo]="form.get('owner')?.value?.id ? ['/admin/user', form.get('owner')?.value.id] : null"
                        ></natural-select>

                        <div *ngIf="form.get('owner')?.value">IBAN de l'utilisateur : {{ form.get('owner')?.value?.iban }}</div>
                    </div>

                </div>

                <mat-divider></mat-divider>

                <natural-stamp [item]="data.model"></natural-stamp>
            </div>
        </mat-tab>

    </mat-tab-group>

    <natural-fixed-button-detail *ngIf="showFabButton" [form]="form" [model]="data.model" (create)="create()" (delete)="delete()"
    ></natural-fixed-button-detail>

</div>
