<div [formGroup]="form">

    <app-detail-header newLabel="Nouveau compte" label="Compte" [model]="data.model" [listRoute]="['admin', 'account']"></app-detail-header>

    <mat-tab-group [dynamicHeight]="true" (selectedIndexChange)="changeTab($event)">
        <mat-tab label="Général">
            <div fxLayout="column" fxLayoutGap="30px" class="padding-top">
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px">
                    <div fxFlex="66" fxLayout="column">

                        <mat-form-field>
                            <mat-label>Nom</mat-label>
                            <input matInput formControlName="name" (change)="update()">
                            <mat-error *ngIf="form.get('name').hasError('maxlength')">
                                Maximum {{form.get('name').errors.maxlength.requiredLength }} caractères
                            </mat-error>
                            <mat-error *ngIf="form.get('name').hasError('required')">Requis</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>IBAN</mat-label>
                            <input matInput formControlName="iban" (change)="update()">
                            <mat-error *ngIf="form.get('iban').hasError('maxlength')">
                                Maximum {{form.get('iban').errors.maxlength.requiredLength }} caractères
                            </mat-error>
                            <mat-error *ngIf="form.get('iban').hasError('required')">Requis</mat-error>
                        </mat-form-field>

                    </div>

                    <div fxFlex="33" fxLayout="column">

                        <app-select formControlName="user"
                                    placeholder="Membre"
                                    [service]="userService"
                                    (selectionChange)="update()"
                                    [showIcon]="false"
                                    [navigateTo]="form.get('user').value?.id ? ['/admin/user', form.get('user').value.id] : null"
                        ></app-select>

                        <h2 class="mat-title">Solde</h2>
                        {{ data.model.balance }} CHF

                    </div>

                </div>

                <mat-divider></mat-divider>

                <app-stamp [item]="data.model"></app-stamp>
            </div>
        </mat-tab>

    </mat-tab-group>

    <app-detail-fixed-button *ngIf="showFabButton" [form]="form" [model]="data.model" (create)="create()" (delete)="delete()"
    ></app-detail-fixed-button>

</div>
