<div *ngIf="cart" class="container" fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="start start">

    <div fxFlex fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="60px">

        <div [formGroup]="shippingForm" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="60px">
            <h1 class="mat-display-1">Méthode de paiement</h1>

            <mat-radio-group aria-label="Select an option" formControlName="paymentMethod" fxLayout="column" fxLayoutGap="20px">
                <div class="payment-method">
                    <mat-radio-button [value]="PaymentMethod.datatrans">Paiement par carte de crédit</mat-radio-button>
                </div>
                <div>
                    <mat-radio-button [value]="PaymentMethod.ebanking">Paiement par virement bancaire</mat-radio-button>
                </div>
                <div>
                    <mat-radio-button [value]="PaymentMethod.bvr">Paiement par virement bancaire avec bulletin de versement
                    </mat-radio-button>
                </div>
            </mat-radio-group>

            <!--        <mat-error *ngIf="firstStepForm.get('paymentMethod')?.hasError('required')">Requis</mat-error>-->

            <h1 class="mat-display-1">Votre adresse</h1>

            <div>
                <app-address [form]="shippingForm" [readonly]="true"></app-address>
                <a mat-button routerLink="/mon-compte/donnees-personnelles">Modifier l'adresse</a>
            </div>

        </div>

        <div [formGroup]="billingForm" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="60px">

            <h1 class="mat-display-1">Adresse de facturation</h1>

            <mat-checkbox (change)="updateAddressRequirements(!$event.checked, billingForm)" formControlName="sameAsBilling">
                Identique à mon adresse
            </mat-checkbox>

            <app-address *ngIf="!billingForm.get('sameAsBilling')?.value" [form]="billingForm"></app-address>

        </div>

    </div>

    <div fxFlex="20" fxLayout="column" fxLayoutGap="20px" class="frame-primary padding">

        <!-- Regular products -->
        <div *ngFor="let line of cart?.productLines" class="cart-item">
            <a [routerLink]="['/larevuedurable/product', line.product.id]">{{ line.product.name }}</a>
            <div>Version :  {{ line.type | enum : 'ProductType' | async }}</div>
            <div>Quantité : {{ line.quantity }}</div>
        </div>

        <!-- Subscription -->
        <div *ngIf="cart.subscription" class="cart-item">
            <a [routerLink]="['/larevuedurable/abonnements']">{{ cart.subscription.subscription.name }}</a>
            <div>Version :  {{ cart.subscription.type | enum : 'ProductType' | async }}</div>
            <div *ngIf="cart.subscription.emails">{{ cart.subscription.emails.join(', ') }} </div>
        </div>

        <!-- Donation -->
        <div *ngIf="cart.donationAmount" class="cart-item">Donation</div>

        <div fxLayout="column" fxLayoutAlign="start end">
            <div class="mat-h1">Prix total</div>
            <div class="mat-display-1">{{ cart.totalTaxInc | currency : CurrencyManager.current.value }}</div>
        </div>

        <button (click)="confirm()" [disabled]="billingForm.invalid || shippingForm.invalid" mat-flat-button>
            Terminer la commande
        </button>
    </div>

</div>
