@if (cart && !showConfirmationMessage) {
    <div class="container app-gap-60 nat-vertical nat-md-horizontal nat-md-top">
        <div class="nat-md-expand app-gap-60 nat-vertical">
            <div class="nat-vertical app-gap-60" [formGroup]="shippingForm">
                <h1 class="mat-headline-4">MÉTHODE DE PAIEMENT</h1>
                <mat-radio-group formControlName="paymentMethod" class="nat-vertical nat-gap-10">
                    <div class="payment-method">
                        <mat-radio-button [value]="PaymentMethod.Datatrans"
                            >Paiement par carte de crédit
                        </mat-radio-button>
                    </div>
                    <div>
                        <mat-radio-button [value]="PaymentMethod.Bvr">Recevoir une facture</mat-radio-button>
                    </div>
                </mat-radio-group>
                <h1 class="mat-headline-4">Votre adresse</h1>
                <div>
                    <app-address [form]="shippingForm" [disabled]="true" />
                    <a mat-button routerLink="/mon-compte/donnees-personnelles">Modifier l'adresse</a>
                </div>
            </div>
            <div class="nat-vertical app-gap-60" [formGroup]="billingForm">
                <h1 class="mat-headline-4">Adresse de facturation</h1>
                <mat-checkbox
                    formControlName="sameAsBilling"
                    (change)="updateAddressRequirements(!$event.checked, billingForm)"
                >
                    Identique à mon adresse
                </mat-checkbox>
                @if (!billingForm.get('sameAsBilling')?.value) {
                    <app-address [form]="billingForm" />
                }
            </div>
        </div>
        <div class="nat-md-expand-33 frame-primary nat-padding nat-gap nat-vertical">
            <!-- Regular products -->
            @for (line of cart.productLines; track line) {
                <div class="cart-item">
                    <a [routerLink]="['/larevuedurable/product', line.product.id]">{{ line.product.name }}</a>
                    <div>Version : {{ line.type | enum: 'ProductType' | async }}</div>
                    <div>Quantité : {{ line.quantity }}</div>
                </div>
            }
            <!-- Subscription -->
            @if (cart.subscription) {
                <div class="cart-item">
                    <a [routerLink]="['/larevuedurable/abonnements']">{{ cart.subscription.subscription.name }}</a>
                    <div>Version : {{ cart.subscription.type | enum: 'ProductType' | async }}</div>
                    @if (cart.subscription.emails) {
                        <div>{{ cart.subscription.emails.join(', ') }}</div>
                    }
                </div>
            }
            <!-- Donation -->
            @if (cart.donationAmount) {
                <div class="cart-item">Don</div>
            }
            <div class="nat-vertical text-right">
                <div class="mat-h2">Prix total</div>
                <div class="mat-h1 nat-fill" style="word-break: break-word">
                    {{ cart.totalTaxInc | currency: currencyService.current.value }}
                </div>
            </div>
            <button
                mat-flat-button
                [disabled]="!billingForm.valid || !shippingForm.valid || pending"
                (click)="createOrder()"
            >
                Terminer la commande
            </button>
        </div>
    </div>
}

@if (showConfirmationMessage) {
    <div class="container">
        <h1 class="mat-headline-4 nat-no-margin-bottom">Merci pour votre commande</h1>
        <p class="mat-h3 rich-text">
            Consulter les articles et revues achetées dans
            <a routerLink="/mon-compte/articles-achetes" fragment="profile-content">mon compte</a>
            .
        </p>
    </div>
}

<router-outlet />
