<div class="container mat-h3 rich-text">
    <h1 class="mat-headline-4">PREMIER RAPPORT SUR LES ÉPICERIES ALTERNATIVES EN SUISSE ROMANDE</h1>

    <div class="nat-horizontal nat-xs-vertical nat-gap-30">
        <div class="app-md-expand-70 page-body rich-text mat-h3">
            <p>
                Paru le 20 novembre 2024, le rapport des <strong>Artisans de la transition</strong> Les épiceries
                alternatives sont irremplaçables montre, pour la première fois, la claire dynamique positive des
                épiceries alternatives en Suisse romande entre 2010 et 2023. Leur nombre a presque quadruplé pour
                arriver à 149. Rapporté à l’évolution démographique, l’essor est encore plus frappant. Fin 2009, il y en
                a environ une pour 50 000 habitants. Fin 2023, il y en a environ une pour 16 000 habitants.
            </p>

            <p>
                Elles se sont aussi diversifiées. Les bio sont toujours nettement plus nombreuses (80), mais les vrac
                (38) et les participatives (27) sont désormais aussi en nombre.
            </p>

            <p>
                Cette présence accrue et cette diversification sont une excellente nouvelle. Les entretiens menés avec
                48 d’entre elles révèlent qu’elles sont bien plus que de simples canaux de distribution. A l’occasion de
                la sortie du rapport des Artisans de la transition, plus de 65 d’entre elles ont signé une prise de
                position pour défendre un système alimentaire plus juste et soutenable. Le site
                <a href="https://epiceries-alternatives.ch">https://epiceries-alternatives.ch</a> permet de localiser
                les épiceries alternatives signataires de sa région.
            </p>

            <p>
                Pour soutenir ces épiceries, une voie est d’identifier tout ce qui peut motiver, stimuler, encourager à
                y faire ses courses. Le rapport des <strong>Artisans de la transition</strong> identifie et analyse en
                sus les obstacles à leur rayonnement, puis développe cinq propositions pour lever ces obstacles.
            </p>
            <br />
            <!--            <a mat-flat-button color="primary" href="/api/download-file" target="_blank">Rapport 2024 (pdf)</a>-->
        </div>

        <div class="app-md-expand-30">
            <img
                src="/assets/images/illustration-pages/epiceries_alternatives_romandes_couverture-2x-80.webp"
                alt="couverture  du rapport"
            />
        </div>
    </div>
</div>
