@if (dataSource) {
    <div class="nat-vertical">
        <div class="nat-horizontal">
            <div class="mat-font-headline-sm nat-no-margin nat-expand">
                {{ routeData?.seo.title }}
            </div>
            <natural-columns-picker
                [availableColumns]="availableColumns"
                [selections]="selectedColumns"
                (selectionChange)="selectColumns($event)"
            />
        </div>
        <div class="nat-vertical">
            <div class="nat-margin-vertical overflow nat-horizontal">
                <natural-search
                    class="nat-expand"
                    [facets]="naturalSearchFacets"
                    [multipleGroups]="true"
                    [selections]="naturalSearchSelections"
                    (selectionChange)="search($event)"
                />
            </div>
            <div class="responsive-table">
                <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sorting([$event])">
                    <tr *matHeaderRowDef="columnsForTable" mat-header-row></tr>
                    <tr *matRowDef="let row; columns: columnsForTable" mat-row></tr>

                    <ng-container matColumnDef="code">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Code</th>
                        <td *matCellDef="let element" mat-cell>{{ element.code }}</td>
                    </ng-container>

                    <ng-container matColumnDef="image">
                        <th *matHeaderCellDef mat-header-cell class="natural-2em-column"></th>
                        <td *matCellDef="let element" mat-cell>
                            @if (element.image) {
                                <natural-file
                                    [height]="40"
                                    [model]="element.image"
                                    [style.borderRadius.px]="40"
                                    [style.width.px]="40"
                                />
                            }
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Nom</th>
                        <td *matCellDef="let element" mat-cell>
                            <natural-table-button
                                matTooltip="Éditer"
                                [class]="!element.isActive ? 'inactive' : ''"
                                [label]="element.name"
                                [navigate]="['/admin/product', element.id]"
                            />
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Type</th>
                        <td *matCellDef="let element" mat-cell>{{ element.type | enum: 'ProductType' | async }}</td>
                    </ng-container>

                    <ng-container matColumnDef="pricePerUnitCHF">
                        <th
                            *matHeaderCellDef
                            mat-header-cell
                            mat-sort-header
                            class="natural-align-right"
                            arrowPosition="before"
                        >
                            Prix CHF
                        </th>
                        <td *matCellDef="let element" mat-cell class="natural-align-right">
                            @if (element.pricePerUnitCHF !== '0.00') {
                                <span>{{ element.pricePerUnitCHF | currency: 'CHF' }}</span>
                            }
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="pricePerUnitEUR">
                        <th
                            *matHeaderCellDef
                            mat-header-cell
                            mat-sort-header
                            class="natural-align-right"
                            arrowPosition="before"
                        >
                            Prix EUR
                        </th>
                        <td *matCellDef="let element" mat-cell class="natural-align-right">
                            @if (element.pricePerUnitEUR !== '0.00') {
                                <span>{{ element.pricePerUnitEUR | currency: 'EUR' }}</span>
                            }
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="isActive">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Active</th>
                        <td *matCellDef="let element" mat-cell>
                            <div class="nat-horizontal nat-align">
                                @if (element.isActive) {
                                    <mat-icon naturalIcon="done" />
                                }
                            </div>
                        </td>
                    </ng-container>
                </table>
            </div>

            @if (showNoResults()) {
                <div class="nat-margin text-center">Pas de résultats</div>
            }
            @if (!dataSource.data) {
                <div class="nat-margin nat-vertical nat-center">
                    <mat-progress-spinner mode="indeterminate" [diameter]="40" />
                </div>
            }
            @if (dataSource.data?.length) {
                <mat-paginator
                    [length]="dataSource.data?.length"
                    [pageIndex]="dataSource.data?.pageIndex"
                    [pageSizeOptions]="pageSizeOptions"
                    [pageSize]="dataSource.data?.pageSize"
                    (page)="pagination($event)"
                />
            }
        </div>
    </div>
}

@if ((permissionsService.crud | async)?.product.create) {
    <natural-fixed-button icon="add" [routerLink]="['/admin/product/new']" />
}
