<div *ngIf="dataSource" fxLayout="column">

    <div fxLayout="column">
        <div class="mat-headline no-margin" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">{{routeData?.title}}</div>
    </div>

    <div fxLayout="column">

        <div fxLayout="row" class="margin-v" overflow>
            <natural-search fxFlex [configurations]="naturalSearchConfig" [selections]="naturalSearchSelections" (selectionChange)="search($event)" [multipleGroups]="true"
            >
                <natural-columns-picker (selectionChange)="selectedColumns = $event" [initialSelection]="initialColumns">
                    <span naturalColumnsPickerColumn="image">Image</span>
                    <span naturalColumnsPickerColumn="name">Nom</span>
                    <span naturalColumnsPickerColumn="code">Code</span>
                    <span naturalColumnsPickerColumn="supplierPrice">Prix du producteur</span>
                    <span naturalColumnsPickerColumn="pricePerUnit">Prix par unité</span>
                    <span naturalColumnsPickerColumn="vatRate">TVA</span>
                    <span naturalColumnsPickerColumn="date">Dernière modification</span>
                    <span naturalColumnsPickerColumn="verificationDate">Dernière vérification</span>
                </natural-columns-picker>
            </natural-search>
        </div>

        <div class="responsive-table">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sorting($event)">

                <tr mat-header-row *matHeaderRowDef="selectedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: selectedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="selectedColumns"></tr>

                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header app-2em-column></th>
                    <td mat-cell *matCellDef="let element">
                        <app-file *ngIf="element.image" [model]="element.image" [height]="40" [style.width.px]="40" [style.borderRadius.px]="40"
                        ></app-file>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
                    <td mat-cell *matCellDef="let element">
                        <natural-table-button [label]="element.name" [navigate]="['/admin/product', element.id]" matTooltip="Éditer"
                        ></natural-table-button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef>Totaux</td>
                </ng-container>

                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
                    <td mat-cell *matCellDef="let element">{{ element.code }}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="supplierPrice">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header app-align-right app-price-column>Prix achat</th>
                    <td mat-cell *matCellDef="let element" app-align-right>
                        <span *ngIf="element.supplierPrice > 0">{{ element.supplierPrice | currency: 'CHF' }}</span>
                    </td>
                    <td mat-footer-cell *matFooterCellDef app-align-right>
                        <span *ngIf="dataSource?.data?.totalSupplierPrice > 0">
                            {{ dataSource.data.totalSupplierPrice | currency: 'CHF'}}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="pricePerUnit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header app-align-right app-price-column>Prix vente</th>
                    <td mat-cell *matCellDef="let element" app-align-right>
                        <span *ngIf="element.pricePerUnit != 0">{{ element.pricePerUnit | currency: 'CHF' }}</span>
                        <span *ngIf="element.unit">/{{ element.unit }}</span>
                    </td>
                    <td mat-footer-cell *matFooterCellDef app-align-right>
                        <span *ngIf="dataSource?.data?.totalPricePerUnit > 0">
                            {{ dataSource.data.totalPricePerUnit | currency: 'CHF'}}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="vatRate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header app-align-right app-2em-column>TVA</th>
                    <td mat-cell *matCellDef="let element" app-align-right>{{ element.vatRate * 100}}%</td>
                    <td mat-footer-cell *matFooterCellDef ></td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header app-date-column>Dernière modification</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.updateDate || element.creationDate | date: 'mediumDate' }}-{{ element.updateDate || element.creationDate | date: 'shortTime' }}
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="verificationDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header app-date-column>Dernière vérification</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.verificationDate | date: 'mediumDate' }} - {{ element.verificationDate | date: 'shortTime' }}
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

            </table>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" class="margin" *ngIf="dataSource.length === 0">
            <div>Pas de résultats</div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" class="margin" *ngIf="dataSource.length === null">
            <mat-progress-spinner mode="indeterminate" [diameter]="40"></mat-progress-spinner>
        </div>

        <mat-paginator *ngIf="dataSource.data?.length" [length]="dataSource.data?.length" [pageSize]="dataSource.data?.pageSize" [pageIndex]="dataSource.data?.pageIndex" [pageSizeOptions]="pageSizeOptions" (page)="pagination($event)"
        ></mat-paginator>

    </div>
</div>

<natural-fixed-button [routerLink]="['/admin/product/new']" icon="add" *ngIf="permissionsService.crud?.product.create"></natural-fixed-button>
