<h2 mat-dialog-title>
    Achats du {{ data.model.transaction.transactionDate | date: 'mediumDate' }}
</h2>

<mat-dialog-content fxLayout="column" fxLayoutAlign="start end">
    <app-order-lines [contextVariables]="contextVariables"></app-order-lines>

    <div class="natural-table">
        <div class="mat-subheading-2">
            <div>TVA :</div>
            <div style="text-align:right">{{ data.model.vatPart | currency : 'CHF' }}</div>
        </div>
        <div class="mat-headline">
            <div>Total :</div>
            <div style="text-align:right">{{ data.model.balance | currency : 'CHF' }}</div>
        </div>
    </div>

</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
    <button mat-button [mat-dialog-close]="dialogData.routeSnapshot.data.escapeRouterLink">Fermer</button>
</mat-dialog-actions>
