<h2 mat-dialog-title>
    Achats du
    <span class="mat-body-1"> - {{ data.model.transaction.transactionDate | date: 'mediumDate' }} - {{ data.model.transaction.transactionDate | date: 'shortTime' }}</span>
    {{ data.model.transaction.name }}
</h2>

<mat-dialog-content fxLayout="column" fxLayoutAlign="start end">
    <app-order-lines [contextVariables]="contextVariables"></app-order-lines>

    <div class="natural-table ">
        <div class="mat-subheading-2">
            <div>TVA :</div>
            <div>{{ '123.00' | currency : 'CHF' }}</div>
        </div>
        <div class="mat-headline">
            <div>Total :</div>
            <div>{{ data.model.total | currency : 'CHF' }}</div>
        </div>
    </div>

</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
    <button mat-button [mat-dialog-close]="dialogData.routeSnapshot.data.escapeRouterLink">Fermer</button>
</mat-dialog-actions>
