<div *ngIf="dataSource" fxLayout="column">

    <div fxLayout="column">
        <div class="mat-headline no-margin" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">{{routeData?.title}}</div>
    </div>

    <div fxLayout="column">

        <div fxLayout="row" class="margin-v" overflow>
            <natural-search fxFlex
                            [configurations]="naturalSearchConfig"
                            [selections]="naturalSearchSelections"
                            (selectionChange)="search($event)"
                            [multipleGroups]="true"
            >
                <natural-columns-picker (selectionChange)="selectedColumns = $event" [initialSelection]="initialColumns">
                    <span naturalColumnsPickerColumn="transactionDate">Date</span>
                    <span naturalColumnsPickerColumn="name">Nom</span>
                    <span naturalColumnsPickerColumn="open" [checked]="false" [hidden]="true">Nom</span>
                    <span naturalColumnsPickerColumn="remarks">Remarques</span>
                    <span naturalColumnsPickerColumn="lines">Entrées</span>
                    <span naturalColumnsPickerColumn="balance">Montant</span>
                </natural-columns-picker>
            </natural-search>
        </div>

        <div class="responsive-table">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sorting($event)">

                <tr mat-header-row *matHeaderRowDef="selectedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: selectedColumns;"></tr>
                <!--<tr mat-footer-row *matFooterRowDef="selectedColumns"></tr>-->

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
                    <td mat-cell *matCellDef="let element">
                        <natural-table-button [label]="element.transaction.name"
                                              [navigate]="['/admin', 'order', element.id]"
                                              matTooltip="Éditer"
                        ></natural-table-button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="open">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
                    <td mat-cell *matCellDef="let element">
                        <natural-table-button [label]="element.transaction.name" matTooltip="Éditer" (click)="select.emit(element)"></natural-table-button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="transactionDate">
                    <th mat-header-cell *matHeaderCellDef app-date-column>Date</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.transaction.transactionDate | date: 'mediumDate' }}
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="remarks">
                    <th mat-header-cell *matHeaderCellDef m>Remarques</th>
                    <td mat-cell *matCellDef="let element">
                        <div [innerHTML]="element.transaction.remarks" class="line-break"></div>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="lines">
                    <th mat-header-cell *matHeaderCellDef >Entrées</th>
                    <td mat-cell *matCellDef="let element">{{ element.orderLines.length }}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="balance">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header app-5em-column app-align-right>Total</th>
                    <td mat-cell *matCellDef="let element" app-align-right>{{ element.balance | currency : 'CHF' }}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

            </table>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" class="margin" *ngIf="dataSource.data?.length === 0">
            <div>Pas de résultats</div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" class="margin" *ngIf="dataSource.data?.length === null">
            <mat-progress-spinner mode="indeterminate" [diameter]="40"></mat-progress-spinner>
        </div>

        <mat-paginator *ngIf="dataSource.data?.length"
                       [length]="dataSource.data?.length"
                       [pageSize]="dataSource.data?.pageSize"
                       [pageIndex]="dataSource.data?.pageIndex"
                       [pageSizeOptions]="pageSizeOptions"
                       (page)="pagination($event)"
        ></mat-paginator>

    </div>
</div>

<natural-fixed-button [routerLink]="['/admin/transaction/new']" icon="add" *ngIf="permissionsService.crud?.transaction.create"
></natural-fixed-button>

<router-outlet></router-outlet>
