<div
    class="page-illustration"
    [style.backgroundImage]="
        'url(assets/images/illustration-pages/artisans-de-la-transition_desinvestir-des-energies-fossiles.jpg)'
    "
></div>

<div class="container mat-h3 rich-text">
    <h1 class="mat-headline-4">DÉSINVESTIR DE L’INDUSTRIE DES ÉNERGIES FOSSILES</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body rich-text mat-h3">
            <p>
                Etre sobre dans l’usage des combustibles et des carburants fossiles est fondamental pour baisser les
                émissions de CO<sub>2</sub>. Il est tout aussi fondamental de s’attaquer en complément, avec toute la
                vigueur nécessaire, à l’amont du cycle du carbone en posant un couvercle sur les puits et les mines
                d’énergies fossiles.
            </p>
            <p>
                Cette action part du constat qu’il y a cinq fois plus d’énergies fossiles dans le sous-sol de la Terre
                que ce que l’humanité peut se permettre d’extraire et de brûler si elle ne veut pas réchauffer le climat
                au-delà de 1,5°C. Il n’est dès lors pas possible d’attendre qu’un effondrement – dont la temporalité est
                fondamentalement imprévisible –, par exemple dû au pic pétrolier, vienne stopper l’extraction de ces
                énergies. Or, il y a un levier pour enrayer l’extraction d’énergies fossiles&nbsp;: la finance.
            </p>
            <p>
                En 2015, les Artisans de la transition ont lancé la première campagne publique pour appeler à
                désinvestir des 200 plus grandes entreprises d’énergie fossile du monde. Grâce à un crowdfunding, ils
                ont publié
                <a [routerLink]="['/larevuedurable/numero', 981]">le n°55 de <strong>LaRevueDurable</strong></a>
                qui décrit l’histoire et explique les fondements du désinvestissement et organisé deux cycles de trois
                conférences en partenariat avec la Ville de Genève et l’Université de Lausanne.
            </p>
            <p>
                En 2016, 2018 et 2020, l’association a publié un rapport sur les investissements de la Banque nationale
                suisse dans l’industrie des énergies fossiles, dont les deux premiers ont donné lieu à de nombreuses
                motions parlementaires, y compris au niveau fédéral.
            </p>
            <p>
                Depuis 2021, les Artisans de la transition coopèrent avec l’ONG allemande Urgewald afin d’attirer
                l’attention sur la responsabilité des acteurs suisses dans le financement de l’extension de l’extraction
                de charbon et de la production d’électricité à partir du charbon.
            </p>
            <p>
                En 2021, ils ont publié la note d’analyse
                <a href="assets/images/pour_le_pire_ou_pour_le_meilleur.pdf">Pour le pire ou pour le meilleur </a>
                . Et ce communiqué de presse en 2022&nbsp;:
                <a href="assets/images/communique_financing_gcel_2021.pdf"
                    >La place financière suisse soutient l’expansion du charbon dans le monde
                </a>
                .
            </p>

            <h2 class="mat-h2">Ressources pratiques</h2>
            <p>
                <a href="https://www.klima-allianz.ch/fr/rating-climatique/" target="_blank"
                    >Rating des caisses de pension de l’Alliance climatique
                </a>
            </p>
        </div>

        <div fxLayout="column" fxLayoutGap="20px">
            <div class="frame-stroked-primary padding">
                <h2 class="mat-h2 no-margin-top">Rapports BNS</h2>
                <a mat-stroked-button color="primary" routerLink="/agir-avec-nous/desinvestir/rapport-bns"
                    >En savoir plus
                </a>
            </div>

            <div class="frame-stroked-primary padding">
                <h2 class="mat-h2 no-margin-top">Atelier finance</h2>
                <a mat-stroked-button color="primary" routerLink="/agir-avec-nous/desinvestir/atelier-finance"
                    >En savoir plus
                </a>
            </div>
        </div>
    </div>
</div>
