<div
    class="page-illustration"
    [style.backgroundImage]="
        'url(assets/images/illustration-pages/artisans-de-la-transition_desinvestir-des-energies-fossiles.jpg)'
    "
></div>

<div class="container mat-h3 rich-text">
    <h1 class="mat-display-1">DÉSINVESTIR DE L’INDUSTRIE DES ÉNERGIES FOSSILES</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body rich-text mat-h3">
            <p>
                Etre sobre dans l’usage des combustibles et des carburants fossiles est fondamental pour baisser les
                émissions de CO<sub>2</sub>. Il est tout aussi fondamental de s’attaquer en complément, avec toute la
                vigueur nécessaire, à l’amont du cycle du carbone en posant un couvercle sur les puits et les mines
                d’énergies fossiles.
            </p>
            <p>
                Cette action part du constat qu’il y a cinq fois plus d’énergies fossiles dans le sous-sol de la Terre
                que ce que l’humanité peut se permettre d’extraire et de brûler si elle ne veut pas réchauffer le climat
                au-delà de 1,5°C. Il n’est dès lors pas possible d’attendre qu’un effondrement – dont la temporalité est
                fondamentalement imprévisible –, par exemple dû au pic pétrolier, vienne stopper l’extraction de ces
                énergies. Or, il y a un levier pour remonter à la source des filières d’énergies fossiles pour enrayer
                leur extraction : la finance.
            </p>
            <p>
                Cette campagne a pour avantage de cibler un nombre d’acteurs très limité – les deux cents plus grandes
                entreprises d’énergies fossiles du monde. Elle est particulièrement pertinente en Suisse, au 70e rang en
                termes d’émissions directes de CO<sub>2</sub>, au 7e rang en termes d’émissions générées par sa place
                financière.
            </p>
            <p>
                Les <strong>Artisans de la transition</strong> ont lancé cette campagne en 2015 grâce à un crowdfunding.
                L’argent récolté leur a permis de publier
                <a [routerLink]="['/larevuedurable/numero', 981]">le n°55 de <strong>LaRevueDurable</strong></a>
                qui décrit son histoire et explique ses fondements et d’organiser deux cycles de trois conférences en
                partenariat avec la Ville de Genève et l’Université de Lausanne.
            </p>
            <p>
                Deux premières victoires sont à relever en 2019. L’annonce, le 16 juin, de l’évêché de Lausanne, Genève
                et Fribourg informant qu’il n’investirait plus aucun fonds dans l’industrie des énergies fossiles. Et
                celle, le 7 octobre, de l’Université de Lausanne, expliquant que son portefeuille géré par la Banque
                cantonale vaudoise (BCV) serait expurgé du charbon et le reste rendu compatible avec l’accord de Paris.
                Mieux : la BCV appliquera ces critères de gestion à tout l’argent public qui lui est confié, soit un
                portefeuille trente-cinq fois supérieur à la fortune de l’Université de Lausanne.
            </p>

            <h2 class="mat-h2">Ressources pratiques</h2>
            <p>
                <a
                    href="https://www.wwf.ch/sites/default/files/doc-2019-02/Leitfaden-PK-Versicherte_f.pdf"
                    target="_blank"
                    >Guide du WWF pour interpeller sa caisse de pension</a
                >
            </p>
            <p>
                <a href="https://www.klima-allianz.ch/fr/rating-climatique/" target="_blank"
                    >Rating des caisses de pension de l’Alliance climatique</a
                >
            </p>
        </div>

        <div fxLayout="column" fxLayoutGap="20px">
            <div class="frame-stroked-primary padding">
                <h2 class="mat-h2 no-margin-top">Rapports BNS</h2>
                <a mat-stroked-button color="primary" routerLink="/agir-avec-nous/desinvestir/rapport-bns"
                    >En savoir plus</a
                >
            </div>

            <div class="frame-stroked-primary padding">
                <h2 class="mat-h2 no-margin-top">Atelier finance</h2>
                <a mat-stroked-button color="primary" routerLink="/agir-avec-nous/desinvestir/atelier-finance"
                    >En savoir plus</a
                >
            </div>
        </div>
    </div>
</div>
