<div
    class="page-illustration"
    [style.backgroundImage]="'url(assets/images/illustration-pages/artisansdelatransition-ende-gelaende.jpg)'"
></div>

<div class="container mat-h3 rich-text">
    <h1 class="mat-display-1">DÉSINVESTIR DE L’INDUSTRIE DES ÉNERGIES FOSSILES</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body rich-text mat-h3">
            <p>
                Etre sobre dans l’usage des combustibles et des carburants fossiles est fondamental pour baisser les
                émissions de CO2. Il est tout aussi fondamental de s’attaquer en complément, avec toute la vigueur
                nécessaire, à l’amont du cycle du carbone en posant un couvercle sur les puits et les mines d’énergies
                fossiles.
            </p>
            <p>
                Cette action part du constat qu’il y a cinq fois plus d’énergies fossiles dans le sous-sol de la Terre
                que ce que l’humanité peut se permettre d’extraire et de brûler si elle ne veut pas réchauffer le climat
                au-delà de 1,5°C. Il n’est dès lors pas possible d’attendre qu’un effondrement – dont la temporalité est
                fondamentalement imprévisible –, par exemple dû au pic pétrolier, vienne stopper l’extraction de ces
                énergies. Or, il y a un levier pour remonter à la source des filières d’énergies fossiles pour enrayer
                leur extraction : la finance.
            </p>
            <p>
                Cette campagne a pour avantage de cibler un nombre d’acteurs très limité – les deux cents plus grandes
                entreprises d’énergies fossiles du monde. Elle est particulièrement pertinente en Suisse, au 70e rang en
                termes d’émissions directes de CO2, au 7e rang en termes d’émissions générées par sa place financière.
            </p>
            <p>
                Les Artisans de la transition ont lancé cette campagne en 2015 grâce à un crowdfunding. L’argent récolté
                leur a permis de publier le n°55 de LaRevueDurable (lien vers ce numéro) qui décrit son histoire et
                explique ses fondements et d’organiser deux cycles de trois conférences en partenariat avec la Ville de
                Genève et l’Université de Lausanne.
            </p>
            <p>
                Deux premières victoires sont à relever en 2019. L’annonce, le 16 juin, de l’évêché de Lausanne, Genève
                et Fribourg informant qu’il n’investirait plus aucun fonds dans l’industrie des énergies fossiles. Et
                celle, le 7 octobre, de l’Université de Lausanne, expliquant que son portefeuille géré par la Banque
                cantonale vaudoise (BCV) serait expurgé du charbon et le reste rendu compatible avec l’accord de Paris.
                Mieux : la BCV appliquera ces critères de gestion à tout l’argent public qui lui est confié, soit un
                portefeuille trente-cinq fois supérieur à la fortune de l’Université de Lausanne.
            </p>

            <h2 class="mat-h2">Rapports sur la BNS</h2>
            <p>
                Depuis 2016, l’association a publié trois rapports sur les investissements de la BNS dans l’industrie
                des énergies fossiles, dont les deux premiers ont donné lieu à de nombreuses motions parlementaires, y
                compris au niveau fédéral.
            </p>

            <a routerLink="/agir-avec-nous/rapport-bns" mat-flat-button color="primary">Voir les rapports BNS</a>

            <h2 class="mat-h2">Devenir facilitateur ou facilitatrice d’apéro-divest</h2>
            <p>
                Le désinvestissement vous intéresse et vous aimez les contacts humains&nbsp;? En une demi-journée de
                formation, vous serez paré-e pour faire passer le message sur l’utilité et l’urgence de modifier les
                pratiques de la place financière.
            </p>
            <p>
                Si vous souhaitez devenir facilitateur ou facilitatrice d’apéro-divest, contactez :
                <a href="mailto:susana.jourdan@larevuedurable.com">susana.jourdan@larevuedurable.com</a>
            </p>

            <h2 class="mat-h2">Ressources pratiques</h2>
            <p>Contacter votre banque, votre caisse de pension ou votre assurance (lien vers Lettre type)</p>
            <p>
                <a href="https://www.wwf.ch/sites/default/files/doc-2019-02/Leitfaden-PK-Versicherte_f.pdf"
                    >Guide du WWF pour interpeller sa caisse de pension</a
                >
            </p>
            <p>
                <a href="https://www.alliance-climatique.ch/rating-climatique"
                    >Rating des caisses de pension de l’Alliance climatique</a
                >
            </p>
        </div>
    </div>
</div>
