@mixin app($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    @at-root app-root#{&} > div {
        background: mat-color($background, background);
    }

    ng-progress {
        .ng-bar {
            height: 3px !important;
            background-color: mat-color($accent) !important;
            box-shadow: mat-color($accent) 0 0 5px !important;
        }

        .ng-meteor {
            opacity: 1 !important;
            transform: none !important;
            width: 25px !important;
            top: 0 !important;
            box-shadow: mat-color($accent) 0 0 20px !important;
        }
    }
}
