@use '~@angular/material' as mat;
@mixin app($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    // Splash logo and login page have different background than usual layout for other pages
    // and they need to have the correct background color in dark mode (otherwise we get black text on black background)
    @at-root app-root > div {
        & > div {
            background: mat.get-color-from-palette($background, background);
        }
    }

    ng-progress {
        .ng-bar {
            height: 3px !important;
            background-color: mat.get-color-from-palette($accent) !important;
            box-shadow: mat.get-color-from-palette($accent) 0 0 5px !important;
        }

        .ng-meteor {
            opacity: 1 !important;
            transform: none !important;
            width: 25px !important;
            top: 0 !important;
            box-shadow: mat.get-color-from-palette($accent) 0 0 20px !important;
        }
    }
}
