<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>Welcome to {{ title }}! </h1>
    <img alt="Logo" src="assets/logo.png" style="position: absolute;top: 10px;right: 10px;">
</div>

<div fxLayout="column" style="padding:30px;">

    <div fxLayout="column" fxLayoutGap="100px">

        <div fxLayout="column">
            <h1 class="mat-title">
                Users
                <button mat-raised-button color="primary" (click)="addUser()">add</button>
            </h1>
            <table mat-table [dataSource]="userDS">
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef i18n>Nom</th>
                    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                </ng-container>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef i18n>ID</th>
                    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
                </ng-container>
            </table>
        </div>

        <div fxLayout="column">
            <h1 class="mat-title">
                Ressources
                <button mat-raised-button color="primary" (click)="addItem()">add</button>
            </h1>
            <table mat-table [dataSource]="itemDS">
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef i18n>Nom</th>
                    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                </ng-container>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef i18n>ID</th>
                    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
                </ng-container>
            </table>
        </div>

        <div fxLayout="column">
            <h1 class="mat-title">
                Bookings
                <button mat-raised-button color="primary" (click)="addBooking()">add</button>
            </h1>
            <table mat-table [dataSource]="bookingDS">
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef i18n>Nom</th>
                    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                </ng-container>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef i18n>ID</th>
                    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
                </ng-container>
            </table>
        </div>
    </div>

</div>

<pre>{{ data | json }}</pre>
<ng-progress [trickleSpeed]="1000" [spinner]="false"></ng-progress>
<router-outlet></router-outlet>
