// .nat-fill
:host {
    &,
    ::ng-deep {
        .app-page-reference + * {
            display: flex;
            flex: 1;
            flex-direction: column;
            width: 100%;
            min-width: 100%;
            height: 100%;
            min-height: 100%;
        }
    }
}
