// .nat-fill
:host {
    &,
    ::ng-deep {
        .app-page-reference + * {
            display: flex;
            flex: 1;
            flex-direction: column;
            width: 100%;
            min-width: 100%;
            height: 100%;
            min-height: 100%;
        }
    }
}

.witnesses {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;

    @media screen and (max-width: 700px) {
        grid-template-columns: 100%;
    }
}

.witness {
    display: inline-block; // prevents columns to break paragraph (from bottom to top of next column)
    margin-bottom: 30px;
    border-width: 0;
    border-left-width: 5px;
    border-style: solid;
    border-color: var(--mat-sys-primary-container);
    padding: 0 0 0 10px;
}
