@if (cart) {
    <div class="container nat-vertical">
        <div class="mat-headline-4">Panier</div>
        @if (cart.isEmpty()) {
            <div class="nat-vertical nat-center">
                <div class="mat-h1">Aucun article dans le panier</div>
                <div class="nat-vertical nat-sm-horizontal nat-wrap nat-gap-30">
                    <a color="primary" mat-flat-button routerLink="/larevuedurable/articles">Consulter nos articles</a>
                    <a color="primary" mat-flat-button routerLink="/larevuedurable/numeros">Consulter nos revues</a>
                    <a color="primary" mat-flat-button routerLink="/larevuedurable/abonnements">S'abonner</a>
                    <button color="primary" mat-flat-button (click)="cartService.inputDonation(false, cart)">
                        Faire un don
                    </button>
                </div>
            </div>
        }
        <div class="nat-vertical nat-gap-10">
            <!-- Regular products -->
            @if (cart.productLines.length) {
                <div class="cart-items">
                    @for (line of cart.productLines; track line) {
                        <div class="cart-item">
                            <a
                                class="product-image"
                                [routerLink]="['/larevuedurable/article', line.product.id]"
                                [naturalBackgroundDensity]="'/api/image/' + line.product.image?.id + '/70'"
                            ></a>
                            <a
                                class="item-body item-button"
                                mat-button
                                [routerLink]="['/larevuedurable/article', line.product.id]"
                            >
                                {{ line.product.name }}, {{ line.type | enum: 'ProductType' | async }}
                            </a>
                            @if (line.quantity > 1) {
                                <app-price [product]="line.product" />
                                <div>x {{ line.quantity }}</div>
                            }
                            <div class="price mat-body-strong" style="white-space: nowrap">
                                {{ line.totalTaxInc | currency: currencyService.current.value }}
                            </div>
                            <div class="nat-horizontal nat-align nat-gap-10">
                                @if (line.quantity === 1) {
                                    <button
                                        color="warn"
                                        mat-icon-button
                                        class="mat-elevation-z4"
                                        (click)="decrease(line.product, line.type)"
                                    >
                                        <mat-icon naturalIcon="delete" />
                                    </button>
                                }
                                @if (line.quantity > 1) {
                                    <button
                                        mat-icon-button
                                        class="mat-elevation-z4"
                                        (click)="decrease(line.product, line.type)"
                                    >
                                        <mat-icon naturalIcon="remove" />
                                    </button>
                                }
                                <button
                                    mat-icon-button
                                    class="mat-elevation-z4"
                                    (click)="increase(line.product, line.type)"
                                >
                                    <mat-icon naturalIcon="add" />
                                </button>
                            </div>
                        </div>
                    }
                </div>
            }
            <!-- Subscription -->
            @if (cart.subscription) {
                <div class="cart-item">
                    <a
                        class="product-image"
                        routerLink="/larevuedurable/abonnements"
                        [naturalBackgroundDensity]="'/api/image/' + cart.subscription.subscription.image?.id + '/70'"
                    ></a>
                    <a routerLink="/larevuedurable/abonnements" mat-button class="item-body item-button">
                        {{ cart.subscription.subscription.name }},{{
                            cart.subscription.type | enum: 'ProductType' | async
                        }}
                    </a>
                    @if (cart.subscription.emails) {
                        <div>{{ cart.subscription.emails.join(', ') }}</div>
                    }
                    <div style="white-space: nowrap">
                        <app-price class="price mat-body-strong" [product]="cart.subscription.subscription" />
                    </div>
                    <div class="nat-horizontal nat-align nat-gap-10">
                        <button
                            color="warn"
                            mat-icon-button
                            class="mat-elevation-z4"
                            (click)="cart.unsetSubscription()"
                        >
                            <mat-icon naturalIcon="delete" />
                        </button>
                        <button routerLink="/larevuedurable/abonnements" mat-icon-button class="mat-elevation-z4">
                            <mat-icon naturalIcon="edit" />
                        </button>
                    </div>
                </div>
            }
            <!-- Donation -->
            @if (cart.donationAmount) {
                <div class="cart-item">
                    <div
                        style="width: 70px; height: 70px"
                        [style.backgroundImage]="'url(assets/images/homepage/la-revue-durable_faire-un-don.jpg)'"
                    ></div>
                    <a mat-button class="item-body">Don</a>
                    <div class="price mat-body-strong" style="white-space: nowrap">
                        {{ cart.donationAmount | currency: currencyService.current.value }}
                    </div>
                    <div class="nat-horizontal nat-align nat-gap-10">
                        <button color="warn" mat-icon-button class="mat-elevation-z4" (click)="cart.unsetDonation()">
                            <mat-icon naturalIcon="delete" />
                        </button>
                        <button
                            mat-icon-button
                            class="mat-elevation-z4"
                            (click)="cartService.inputDonation(false, cart)"
                        >
                            <mat-icon naturalIcon="edit" />
                        </button>
                    </div>
                </div>
            }
            @if (!cart.isEmpty()) {
                <mat-divider />
                <div class="nat-horizontal nat-right">
                    <div class="mat-h1 nat-padding-vertical">
                        Total TTC : {{ cart.totalTaxInc | currency: currencyService.current.value }}
                    </div>
                </div>
                <div class="nat-vertical nat-right cart-buttons nat-gap-10 nat-md-gap-20 nat-md-horizontal">
                    <a mat-stroked-button routerLink="/larevuedurable/articles">Continuer mes achats</a>
                    <button mat-stroked-button (click)="empty()">Vider le panier</button>
                    <div class="nat-md-expand"></div>
                    @if (!cart.donationAmount) {
                        <button mat-flat-button color="accent" (click)="cartService.inputDonation(false, cart)">
                            Faire un don
                        </button>
                    }
                    <button mat-flat-button color="primary" [routerLink]="['/panier/commande', cart.id]">
                        Commander
                    </button>
                </div>
            }
        </div>
    </div>
}

<router-outlet />
