<div class="container" fxLayout="column">

    <div class="mat-display-1">Panier</div>

    <div *ngIf="!cartService.cart.length" fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="start center">

        <div class="mat-headline">Aucun article dans le panier</div>
        <div fxLayout="row" fxLayoutGap="30px">
            <a mat-flat-button color="primary" routerLink="/larevuedurable/articles">Consulter nos articles</a>
            <a mat-flat-button color="primary" routerLink="/larevuedurable/numeros">Consulter nos revues</a>
            <a mat-flat-button color="primary" routerLink="/...">S'abonner</a>
        </div>

    </div>

    <div *ngIf="cartService?.cart?.length" fxLayout="column" fxLayoutGap="10px">

        <div class="cart-items">
            <div class="cart-item" *ngFor="let line of cartService.cart" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                <app-file [height]="70"
                          [model]="line.product.image"
                          [style.width.px]="70"
                          matListAvatar
                          [routerLink]="['/larevuedurable/product', line.product.id]"
                          matRipple

                ></app-file>
                <a mat-button [routerLink]="['/larevuedurable/product', line.product.id]" fxFlex>{{ line.product.name }}</a>

                <ng-container *ngIf="line.quantity > 1">
                    <div>{{ line.product.pricePerUnitCHF }} x</div>
                    <div>{{ line.quantity }}</div>
                </ng-container>

                <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px" style="white-space: nowrap">
                    <div class="price mat-body-2">{{ line.total | currency : 'CHF'}}</div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <button mat-icon-button mat-raised-button (click)="decrease(line.product)" color="warn" *ngIf="line.quantity === 1">
                        <natural-icon name="delete"></natural-icon>
                    </button>
                    <button mat-icon-button mat-raised-button (click)="decrease(line.product)" *ngIf="line.quantity > 1">
                        <natural-icon name="remove"></natural-icon>
                    </button>
                    <button mat-icon-button mat-raised-button (click)="increase(line.product)">
                        <natural-icon name="add"></natural-icon>
                    </button>
                </div>
            </div>
        </div>

        <mat-divider></mat-divider>

        <div fxLayout="row" fxLayoutAlign="end">
            <div class="mat-body-1 padding totals natural-table">
                <div *ngIf="CartService.totalTaxes">
                    <span class="mat-body-2">TVA :</span>
                    <span>{{ CartService.totalTaxes | currency : 'CHF' }}</span>
                </div>
                <div>
                    <span class="mat-body-2">Total TTC :</span>
                    <span class="mat-body-2">{{ CartService.totalTaxInc | currency : 'CHF' }}</span>
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
            <button (click)="empty()" mat-button>Vider le panier</button>
            <button (click)="createOrder()" [style.width.px]="200" color="primary" mat-flat-button>Passer à la caisse</button>
        </div>
    </div>

</div>

<router-outlet></router-outlet>
