:host {

    .cart-items {
        .cart-item {
            a.mat-button {

                text-align: left;
                line-height: 60px;
            }
        }
    }

    .totals {
        & > div > span {
            display: inline-block;
            width: 80px;
            text-align: right;

            &:first-child {
                text-align: left;
            }
        }
    }
}
