@use '../../../../../../styles/responsive';

.mat-font-headline-lg {
    margin-bottom: 0.5em;
}

.cart-buttons .mat-mdc-unelevated-button[color] {
    min-width: 200px;
}

.cart-item .mat-mdc-button-base:not(.mdc-fab) {
    justify-content: start;
}

:host {
    @include responsive.responsive(responsive.$lt-md) {
        .cart-buttons > * {
            min-width: 300px !important;
        }
    }
}

.cart-item {
    display: flex;
    flex-direction: column;

    // Small
    @include responsive.responsive(responsive.$xs) {
        align-items: flex-start;
        margin-bottom: 30px;

        & > *:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    // Large
    @include responsive.responsive(responsive.$gt-xs) {
        flex-direction: row;
        align-items: center;

        & > *:not(:last-child) {
            margin-right: 10px;
        }
    }

    a.mat-mdc-button {
        text-align: left;
        white-space: normal;
    }

    .item-body {
        flex: 1;
    }

    .product-image {
        display: block;
        background-position: center;

        background-size: cover;
        background-repeat: no-repeat;
        width: 70px;
        height: 70px;

        img {
            max-width: 70px;
            max-height: 70px;
        }
    }
}

.totals {
    & > div > span {
        display: inline-block;
        width: 80px;
        text-align: right;

        &:first-child {
            text-align: left;
        }
    }
}
