<div class="container mat-h3 rich-text">
    <h1 class="mat-display-1">MENTIONS LÉGALES</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body rich-text mat-h3">
            <p>Association <strong>Artisans de la transition</strong>, Rue de Lausanne 23, 1700 Fribourg, Suisse</p>
            <p><strong>Tél.:</strong>+41 26 321 37 11</p>
            <p><strong>Co-directeurs :</strong> Susana Jourdan et Jacques Mirenowicz</p>
            <p>
                <strong>Conception graphique : </strong>
                <a href="https://www.ventdouest.ch/" target="_blank">Jean-Christophe Froidevaux, Vent d’ouest</a>
            </p>
            <p>
                <strong>Développement web : </strong>
                <a href="https://ecodev.ch" target="_blank">ecodev</a>
            </p>
            <p><strong>Hébergeur du site : </strong><a href="https://ecodev.ch" target="_blank">ecodev</a></p>
            <p><strong>Dessins : </strong><a href="https://www.jehankhodl.com" target="_blank">Jehan Khodl</a></p>

            <h2 class="mat-h2">Crédits photos :</h2>
            <ul>
                <li>Page d’accueil : Jérômine Derigny/Eric Rosset</li>
                <li>Nos convictions : Eléonore Henry de Frahan/Collectif Argos</li>
                <li>Contact : Marquis de Valmont/Photocase</li>
                <li>Calculer son empreinte carbone : Troels Heien/Monoline</li>
                <li>Désinvestir de l’industrie des énergies fossiles : Paul Wagner/EndeGelände</li>
                <li>Numérique éthique : Tatyana Aksenova/Photocase</li>
                <li>Alimentation : Denis Lebioda</li>
                <li>Agir au quotidien : Leon Rojo/Photocase</li>
            </ul>

            <p>
                Les auteurs des autres photos sont les
                <strong>Artisans de la transition</strong> ou sont explicitement mentionnés dans les articles de
                LaRevueDurable correspondants.
            </p>

            <h2 class="mat-h2">Liens avec d’autres sites</h2>
            <p>
                L’association
                <strong>Artisans de la transition</strong> ont contrôlé les hyperliens qui partent de ce site vers des
                sites tiers à la date de l’établissement des liens. Des contenus contraires au droit n’étaient pas
                identifiables à la date de l’établissement de ces liens. L’association
                <strong>Artisans de la transition</strong> ne saurait raisonnablement, sans indice concret d’une
                violation du droit, effectuer la surveillance continue des contenus des sites Internet avec lesquels ce
                site est lié par des liens. L’association <strong>Artisans de la transition</strong> supprimera de tels
                liens immédiatement en cas de découverte d’une quelconque violation du droit.
            </p>
            <h2 class="mat-h2">Politique de confidentialité</h2>
            <p>
                Les données personnelles du client (nom, prénom, adresse, adresse électronique, etc.) sont collectées
                pour pouvoir établir les factures et les envois nécessaires. L’association
                <strong>Artisans de la transition</strong> les conserve, mais en aucun cas les revend ou les partage à
                une tierce partie, si ce n’est pour satisfaire à un ordre de justice. Le client peut demander la
                modification ou la radiation de ses données en adressant un message à
                <a href="mailto:courriel@artisansdelatransition.org">courriel@artisansdelatransition.org</a>.
            </p>
            <p>
                Le site <a routerLink="/">www.artisansdelatransition.org</a> utilise des cookies de connexion. Ces
                cookies servent à reconnaître votre navigateur et à enregistrer les préférences que vous avez
                déterminées lors de votre précédente visite sur le site. Nous utilisons aussi des cookies pour mesurer
                l’audience du site. Ces données sont totalement anonymisées et servent uniquement à comprendre
                l’utilisation globale du site par les visiteurs.
            </p>
            <p>
                Ce site bannit tous les autres cookies, qui servent à personnaliser les contenus publicitaires, à
                vérifier si vous êtes connectés à des réseaux sociaux ou à collecter des données destinées à enrichir
                des bases de données de ciblage publicitaire.
            </p>
        </div>
    </div>
</div>
