<div [formGroup]="form" class="body padding">
    <div fxLayout="column" fxLayoutGap="30px">
        <h1 class="mat-headline-4">Demande de changement de mot de passe</h1>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input (keyup.enter)="submit()" formControlName="email" matInput type="email" />
            <mat-icon matIconPrefix naturalIcon="person" />
            @if (form.get('email')?.hasError('maxlength')) {
                <mat-error> Maximum {{ form.get('email')?.errors?.maxlength?.requiredLength }} caractères </mat-error>
            }
            @if (form.get('email')?.hasError('required')) {
                <mat-error>Requis</mat-error>
            }
            @if (form.get('email')?.hasError('email')) {
                <mat-error>Adresse email invalide</mat-error>
            }
        </mat-form-field>

        <div fxLayoutAlign="center">
            <button (click)="submit()" [disabled]="sending || !form.valid" color="primary" mat-raised-button>
                <mat-icon naturalIcon="send" />
                Envoyer
            </button>
        </div>
    </div>
</div>
