<div class="body nat-padding" [formGroup]="form">
    <div class="nat-vertical nat-gap-30">
        <h1 class="mat-font-headline-lg">Demande de changement de mot de passe</h1>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput type="email" (keyup.enter)="submit()" />
            <mat-icon matIconPrefix naturalIcon="person" />
            <mat-error>{{ form.get('email')?.errors | errorMessage }}</mat-error>
        </mat-form-field>

        <div class="text-center">
            <!-- todo: layout check-->
            <button color="primary" mat-raised-button [disabled]="sending || !form.valid" (click)="submit()">
                <mat-icon naturalIcon="send" />
                Envoyer un email
            </button>
        </div>
    </div>
</div>
