<div [formGroup]="form" class="body padding">
    <div fxLayout="column" fxLayoutGap="30px">
        <h1 class="mat-display-1">Demande de changement de mot de passe</h1>

        <div fxLayout="column">
            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="10px">
                <mat-form-field fxFlex>
                    <mat-label>Email</mat-label>
                    <input (keyup.enter)="submit()" formControlName="email" matInput type="email" />
                    <natural-icon matPrefix name="person"></natural-icon>
                    <mat-error *ngIf="form.get('email')?.hasError('maxlength')">
                        Maximum {{ form.get('email')?.errors?.maxlength?.requiredLength }} caractères
                    </mat-error>
                    <mat-error *ngIf="form.get('email')?.hasError('required')">Requis</mat-error>
                    <mat-error *ngIf="form.get('email')?.hasError('email')">Adresse email invalide</mat-error>
                </mat-form-field>
            </div>
        </div>

        <!-- Spacer-->
        <div></div>

        <div fxLayout="row" fxLayoutAlign="center">
            <button (click)="submit()" [disabled]="sending || !form.valid" color="primary" mat-raised-button>
                <natural-icon name="send"></natural-icon>
                Envoyer
            </button>
        </div>
    </div>
</div>
