<div [formGroup]="form" class="padding" fxFlex fxLayout="column" fxLayoutGap="20px">

    <h1 class="mat-display-1">Annoncez une dépense</h1>

    <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex>
            <mat-label>Objet de la dépense</mat-label>
            <input matInput formControlName="name" (change)="update()">
            <mat-error *ngIf="form.get('name').hasError('maxlength')">
                Maximum {{form.get('name').errors.maxlength.requiredLength }} caractères
            </mat-error>
            <mat-error *ngIf="form.get('name').hasError('required')">Requis</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Montant</mat-label>
            <input matInput type="number" step="0.01" min="1" formControlName="amount" (change)="update()">
            <div matSuffix>CHF</div>
            <mat-error *ngIf="form.get('amount').hasError('required')">Requis</mat-error>
            <mat-error *ngIf="form.get('amount').hasError('min')">Le montant doit être positif</mat-error>
        </mat-form-field>
    </div>

    <mat-form-field>
        <mat-label>Secteur concerné et nature de la dépense</mat-label>
        <textarea matInput formControlName="description" matTextareaAutosize [matAutosizeMinRows]="3"></textarea>
        <mat-hint>Achat, entretien courant, réparation d'un dégat</mat-hint>
    </mat-form-field>

    <div>
        <h2 class="mat-title">Documents justificatifs</h2>
        <div fxLayout="row wrap" fxLayoutGap="10px grid">
            <app-accounting-documents [model]="data.model"></app-accounting-documents>
        </div>
    </div>
</div>

<natural-fixed-button icon="check" (click)="create(false)"></natural-fixed-button>
