<div class="container" fxLayout="column" fxLayoutGap="60px">
    <div fxLayout="column" fxLayoutGap="10px">
        <div class="mat-h2 text-light">{{ data.model.date | date : 'EEEE d MMMM yyyy' | capitalize }}</div>

        <h1 class="mat-headline-4 no-margin-bottom">
            {{ data.model.name }}
            <a
                mat-icon-button
                mat-raised-button
                [routerLink]="['/admin/news', data.model.id]"
                *ngIf="data.model.permissions.update"
            >
                <natural-icon name="edit"></natural-icon>
            </a>
        </h1>
    </div>

    <div class="mat-h3 rich-text" [innerHTML]="data.model.content"></div>

    <div fxLayout="column" fxLayoutGap="30px">
        <h2 class="mat-h1">Commentaires</h2>
        <app-comment-list [news]="data.model"></app-comment-list>
    </div>
</div>
