<div class="container" fxLayout="column" fxLayoutGap="60px">

    <div fxLayout="column" fxLayoutGap="15px">
        <h1 class="mat-display-1">
            {{ data.model.name }}
            <a mat-stroked-button [routerLink]="['/admin/event', data.model.id]" *ngIf="data.model.permissions.update">Administrer</a>
        </h1>

        <div class="text-light">{{ data.model.date | date : 'EEEE d MMMM yyyy' | capitalize}}</div>
    </div>

    <div class="mat-h3" [innerHTML]="data.model.content"></div>

    <div fxLayout="column" fxLayoutGap="30px">
        <h2 class="mat-display-1">Commentaires</h2>
        <app-comment-list [news]="data.model"></app-comment-list>
    </div>
</div>
