<div class="container app-gap-60 nat-vertical">
    <div class="nat-vertical nat-gap-10">
        <div class="mat-h2 text-light">{{ data.model.date | date: 'EEEE d MMMM yyyy' | capitalize }}</div>

        <h1 class="mat-headline-4 nat-no-margin-bottom">
            {{ data.model.name }}
            @if (isUpdatePage() && data.model.permissions.update) {
                <a mat-icon-button class="mat-elevation-z4" [routerLink]="['/admin/news', data.model.id]">
                    <mat-icon naturalIcon="edit" />
                </a>
            }
        </h1>
    </div>

    <div class="mat-h3 rich-text" [innerHTML]="data.model.content"></div>

    <div class="nat-vertical nat-gap-30">
        <h2 class="mat-h1">Commentaires</h2>
        @if (isUpdatePage()) {
            <app-comment-list [news]="data.model" />
        }
    </div>
</div>
