<div *ngIf="dataSource" fxLayout="column">
    <div fxLayout="column">
        <div class="mat-h1 no-margin" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            {{ routeData?.seo.title }}
        </div>
    </div>

    <div fxLayout="column">
        <div class="margin-v overflow" fxLayout="row">
            <natural-search
                (selectionChange)="search($event)"
                [facets]="naturalSearchFacets"
                [multipleGroups]="true"
                [selections]="naturalSearchSelections"
                fxFlex
            >
            </natural-search>
        </div>

        <div [fxShow]="dataSource.data?.length > 0 || false" class="responsive-table">
            <table (matSortChange)="sorting([$event])" [dataSource]="dataSource" mat-table matSort>
                <tr *matHeaderRowDef="columnsForTable" mat-header-row></tr>
                <tr *matRowDef="let row; columns: columnsForTable" mat-row></tr>

                <ng-container matColumnDef="name">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>Nom</th>
                    <td *matCellDef="let element" mat-cell>
                        <natural-table-button
                            [class]="!element.isActive ? 'inactive' : ''"
                            [label]="element.name"
                            [navigate]="['/admin/facilitator-document', element.id]"
                            matTooltip="Éditer"
                        ></natural-table-button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="category">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>Rubrique</th>
                    <td *matCellDef="let element" mat-cell>
                        {{ element.category }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="file">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>Télécharger</th>
                    <td *matCellDef="let element" mat-cell>
                        <a *ngIf="element.file" [href]="'/api/file/' + element.file.id" target="_blank">
                            <mat-icon naturalIcon="download"></mat-icon
                        ></a>
                    </td>
                </ng-container>
            </table>
        </div>

        <div *ngIf="dataSource.data?.length === 0" class="margin" fxLayout="column" fxLayoutAlign="center center">
            <div>Pas de résultats</div>
        </div>

        <div *ngIf="!dataSource?.data" class="margin" fxLayout="column" fxLayoutAlign="center center">
            <mat-progress-spinner [diameter]="40" mode="indeterminate"></mat-progress-spinner>
        </div>

        <mat-paginator
            (page)="pagination($event)"
            *ngIf="dataSource.data?.length"
            [length]="dataSource.data?.length"
            [pageIndex]="dataSource.data?.pageIndex"
            [pageSizeOptions]="pageSizeOptions"
            [pageSize]="dataSource.data?.pageSize"
        ></mat-paginator>
    </div>
</div>

<natural-fixed-button
    *ngIf="permissionsService.crud?.facilitatorDocument.create"
    [routerLink]="['/admin/facilitator-document/new']"
    icon="add"
></natural-fixed-button>
