@if (dataSource) {
    <div class="nat-vertical">
        <div class="nat-horizontal">
            <div class="mat-h1 nat-no-margin nat-expand">
                {{ routeData?.seo.title }}
            </div>
        </div>
        <div class="nat-vertical">
            <div class="nat-margin-vertical overflow nat-horizontal">
                <natural-search
                    (selectionChange)="search($event)"
                    [facets]="naturalSearchFacets"
                    [multipleGroups]="true"
                    [selections]="naturalSearchSelections"
                    class="nat-expand"
                />
            </div>
            <div [class.nat-show]="dataSource.data?.length > 0 || false" class="responsive-table">
                <table (matSortChange)="sorting([$event])" [dataSource]="dataSource" mat-table matSort>
                    <tr *matHeaderRowDef="columnsForTable" mat-header-row></tr>
                    <tr *matRowDef="let row; columns: columnsForTable" mat-row></tr>

                    <ng-container matColumnDef="name">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Nom</th>
                        <td *matCellDef="let element" mat-cell>
                            <natural-table-button
                                [class]="!element.isActive ? 'inactive' : ''"
                                [label]="element.name"
                                [navigate]="['/admin/facilitator-document', element.id]"
                                matTooltip="Éditer"
                            />
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="category">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Rubrique</th>
                        <td *matCellDef="let element" mat-cell>
                            {{ element.category }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="file">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Télécharger</th>
                        <td *matCellDef="let element" mat-cell>
                            @if (element.file) {
                                <a [href]="'/api/file/' + element.file.id" target="_blank">
                                    <mat-icon naturalIcon="download"
                                /></a>
                            }
                        </td>
                    </ng-container>
                </table>
            </div>
            @if (dataSource.data?.length === 0) {
                <div class="nat-margin nat-vertical nat-center">
                    <div>Pas de résultats</div>
                </div>
            }
            @if (!dataSource.data) {
                <div class="nat-margin nat-vertical nat-center">
                    <mat-progress-spinner [diameter]="40" mode="indeterminate" />
                </div>
            }
            @if (dataSource.data?.length) {
                <mat-paginator
                    (page)="pagination($event)"
                    [length]="dataSource.data?.length"
                    [pageIndex]="dataSource.data?.pageIndex"
                    [pageSizeOptions]="pageSizeOptions"
                    [pageSize]="dataSource.data?.pageSize"
                />
            }
        </div>
    </div>
}

@if (permissionsService.crud?.facilitatorDocument.create) {
    <natural-fixed-button [routerLink]="['/admin/facilitator-document/new']" icon="add" />
}
