@if (dataSource) {
    <div class="nat-vertical">
        <div class="nat-horizontal">
            <div class="mat-font-headline-sm nat-expand">
                {{ routeData?.seo.title }}
            </div>
        </div>
        <div class="nat-vertical">
            <div class="nat-margin-vertical overflow nat-horizontal">
                <natural-search
                    class="nat-expand"
                    [facets]="naturalSearchFacets"
                    [multipleGroups]="true"
                    [selections]="naturalSearchSelections"
                    (selectionChange)="search($event)"
                />
            </div>
            <div class="responsive-table">
                <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sorting([$event])">
                    <tr *matHeaderRowDef="columnsForTable" mat-header-row></tr>
                    <tr *matRowDef="let row; columns: columnsForTable" mat-row></tr>

                    <ng-container matColumnDef="name">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Nom</th>
                        <td *matCellDef="let element" mat-cell>
                            <natural-table-button
                                matTooltip="Éditer"
                                [class]="!element.isActive ? 'inactive' : ''"
                                [label]="element.name"
                                [navigate]="['/admin/facilitator-document', element.id]"
                            />
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="category">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Rubrique</th>
                        <td *matCellDef="let element" mat-cell>
                            {{ element.category }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="file">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Télécharger</th>
                        <td *matCellDef="let element" mat-cell>
                            @if (element.file) {
                                <a target="_blank" [href]="`/api/file/${element.file.id}`">
                                    <mat-icon naturalIcon="download" />
                                </a>
                            }
                        </td>
                    </ng-container>
                </table>
            </div>

            @if (showNoResults()) {
                <div class="nat-margin text-center">Pas de résultats</div>
            }
            @if (!dataSource.data) {
                <div class="nat-margin nat-vertical nat-center">
                    <mat-progress-spinner mode="indeterminate" [diameter]="40" />
                </div>
            }
            @if (dataSource.data?.length) {
                <mat-paginator
                    [length]="dataSource.data?.length"
                    [pageIndex]="dataSource.data?.pageIndex"
                    [pageSizeOptions]="pageSizeOptions"
                    [pageSize]="dataSource.data?.pageSize"
                    (page)="pagination($event)"
                />
            }
        </div>
    </div>
}

@if ((permissionsService.crud | async)?.facilitatorDocument.create) {
    <natural-fixed-button icon="add" [routerLink]="['/admin/facilitator-document/new']" />
}
