<div class="container" fxLayout="column" fxLayoutGap="30px">
    <div fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutGap="15px" class="mat-h3 text-light">
            <div>{{ data.model.date | date : 'EEEE d MMMM yyyy' | capitalize }}</div>
        </div>

        <h1 class="mat-display-1 no-margin-bottom">
            {{ data.model.name }}
            <a
                mat-icon-button
                mat-raised-button
                [routerLink]="['/admin/event', data.model.id]"
                *ngIf="data.model.permissions.update"
            >
                <natural-icon name="edit"></natural-icon>
            </a>
        </h1>

        <div fxLayout="column" fxLayoutGap="20px">
            <div class="mat-body-2">{{ data.model.type }}</div>
            <div class="mat-h2">{{ data.model.place }}</div>
        </div>
    </div>

    <div fxLayout="column" fxLayoutGap="30px">
        <h2 class="mat-h1">Commentaires</h2>
        <app-comment-list [event]="data.model"></app-comment-list>
    </div>
</div>
