<div [formGroup]="form" *ngIf="form" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px" class="responsive-table">
    <table mat-table [dataSource]="dataSource" formArrayName="lines">

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        <!--<tr mat-footer-row *matFooterRowDef="columns"></tr>-->

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nom</th>
            <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
                <mat-form-field>
                    <mat-label>Nom</mat-label>
                    <input matInput formControlName="name">
                    <mat-error *ngIf="form.get('lines')?.at(i).get('name')?.hasError('maxlength')">
                        Maximum {{form.get('lines')?.at(i).get('name')?.errors.maxlength.requiredLength }} caractères
                    </mat-error>
                    <mat-error *ngIf="form.get('lines')?.at(i).get('name')?.hasError('required')">Requis</mat-error>
                </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="balance">
            <th mat-header-cell *matHeaderCellDef style="text-align:left !important">Montant</th>
            <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
                <mat-form-field>
                    <mat-label>Montant</mat-label>
                    <input matInput formControlName="balance">
                    <mat-error *ngIf="form.get('lines')?.at(i).get('balance')?.hasError('min')">
                        Doit être supérieur à {{form.get('lines')?.at(i).get('balance')?.errors.min.min }}
                    </mat-error>
                    <mat-error *ngIf="form.get('lines')?.at(i).get('balance')?.hasError('required')">Requis</mat-error>
                </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef>
                {{0 | currency : 'CHF'}} <!--TODO : remove when implemented-->
                <span *ngIf="result?.totalAmount > 0">{{result.totalAmount | currency : 'CHF'}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="debit">
            <th mat-header-cell *matHeaderCellDef>Compte débit</th>
            <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
                <natural-select [hierarchicSelectorConfig]="accountHierarchicConfig"
                            formControlName="debit"
                            placeholder="Compte débit"
                            [displayWith]="getAccountLabel"
                            [showIcon]="false"
                ></natural-select>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="credit">
            <th mat-header-cell *matHeaderCellDef>Compte crédit</th>
            <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
                <natural-select [hierarchicSelectorConfig]="accountHierarchicConfig"
                            formControlName="credit"
                            placeholder="Compte crédit"
                            [displayWith]="getAccountLabel"
                            [showIcon]="false"
                >
                    <!--<mat-error *ngIf="form.get('lines')?.at(i).hasError('atLeastOneAccountRequired')">Au moins un compte est requis</mat-error>-->
                </natural-select>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="isReconciled">
            <th mat-header-cell *matHeaderCellDef style="text-align:left !important">Pointé</th>
            <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
                <mat-checkbox formControlName="isReconciled"></mat-checkbox>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="transactionTag">
            <th mat-header-cell *matHeaderCellDef>Tag</th>
            <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
                <natural-select [service]="transactionTagService" formControlName="transactionTag" placeholder="Tag" [showIcon]="false"
                ></natural-select>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="remarks">
            <th mat-header-cell *matHeaderCellDef>Remarque</th>
            <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
                <mat-form-field>
                    <mat-label>Remarques</mat-label>
                    <textarea matInput formControlName="remarks" matTextareaAutosize [matAutosizeMinRows]="1"></textarea>
                </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="remove">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
                <button mat-icon-button color="warn" (click)="removeAt(i)">
                    <natural-icon name="delete"></natural-icon>
                </button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

    </table>

</div>
