@use '../../../../styles/mixins';
@use '@ecodev/natural-layout' as nat;
@include mixins.page-with-illustration();

.page-illustration-content {
    top: -450px;
    margin-bottom: -400px;
}

.vignette {
    display: block;
    margin: 0;
}

audio {
    flex: none !important;
}

audio,
.vignette {
    width: 100%;
    max-width: 300px;
}

@include nat.media(null, sm) {
    ul {
        padding-left: 0;

        li::before {
            content: '';
        }
    }
}
