@import '../../../../styles/mixins';
@include page-with-illustration();

:host {
    .page-illustration-content {
        top: -450px;
        margin-bottom: -400px;

        .illustration {
            display: block;
            width: 100% !important;
            margin-bottom: 5px;
            height: auto !important;
        }
    }

    .vignette {
        display: block;
        width: 300px;
        margin: 0;
    }

    audio {
        width: 400px;
        flex: none !important;
    }
}
