<div
    class="page-illustration"
    [style.backgroundImage]="'url(assets/images/illustration-pages/artisans_de_la_transition_notre-projet.jpg)'"
></div>

<div class="container mat-h3 rich-text">
    <div class="container mat-h3 rich-text">
        <h1 class="mat-headline-4">NOTRE PROJET</h1>

        <div fxLayout="row" fxLayoutGap="30px">
            <div fxFlex.gt-sm="70" class="page-body rich-text mat-h3">
                <p>
                    Les journalistes jugent souvent <strong>LaRevueDurable</strong> très engagée. Ses lecteurs saluent
                    sa rigueur. Ce sont les deux traits les plus caractéristiques de ce projet éditorial.
                </p>
                <p>
                    A qui s’adresse <strong>LaRevueDurable</strong>&nbsp;? Poserait-on la question à un peintre ou à un
                    écrivain&nbsp;? <strong>LaRevueDurable</strong> n’est pas un « produit&nbsp;» de presse, c’est une
                    création, une quête permanente. Derrière son contenu et sa forme, pas d’étude de marché ni d’analyse
                    d’agence. Pour savoir si cette revue peut vous instruire et vous aider à avancer, y a-t-il une autre
                    option que de lire et de découvrir ses numéros&nbsp;?
                </p>

                <h1 class="mat-h1">Aux sources de LaRevueDurable</h1>

                <ul>
                    <li>
                        <p>
                            Il était une fois, au départ de <strong>LaRevueDurable</strong>, deux idéalistes. Au début
                            de l’aventure, en 2002, ils ressemblaient à cela.
                        </p>
                        <a
                            fxLayout.gt-sm="row"
                            fxLayout="column"
                            fxLayoutGap="20px"
                            fxLayoutAlign.gt-sm="start center"
                            style="border-bottom: none"
                            href="https://www.rts.ch/play/tv/12h45/video/sommet-de-la-terre-la-nouvelle-revue-revue-durable-a-vu-le-jour-interview-de-susana-jourdan-et-jacques-mirenowicz-redacteurs-resp--la-revue-durable?id=554003"
                        >
                            <img
                                class="vignette"
                                src="assets/images/illustration-pages/susana-jourdan-jacques-mirenowicz-larevuedurable-2002.jpg"
                                width="250"
                            />
                        </a>
                    </li>
                </ul>
                <br />
                <ul>
                    <li>
                        <p>
                            Quelques années plus tard, ils ont un peu plus de verbe qu’à leurs débuts (entretien RTS en
                            juin 2008).
                        </p>
                        <div
                            fxLayout.gt-sm="row"
                            fxLayout="column"
                            fxLayoutGap="20px"
                            fxLayoutAlign.gt-sm="start center"
                        >
                            <img
                                class="vignette"
                                src="assets/images/illustration-pages/entretien-rts-2008-jacques-mirenowicz.jpg"
                            />
                            <audio controls="controls">
                                <source src="/assets/images/interview.mp3" />
                            </audio>
                        </div>
                    </li>
                </ul>
                <br />
                <ul>
                    <li>
                        <p>
                            En 2019, Jacques Mirenowicz évoque ces dix dernières années de mobilisation pour le climat.
                        </p>
                        <a
                            class="no-style"
                            target="_blank"
                            href="https://www.rts.ch/play/radio/prise-de-terre/audio/prise-de-terre-10-ans-apres?id=10888085"
                        >
                            <img
                                src="assets/images/illustration-pages/entretien-rts-2019-jacques-mirenowicz.png"
                                class="vignette"
                            />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
