<div class="page-illustration" [style.backgroundColor]="'#EBEBEB'"></div>

<div class="container page-illustration-content" fxLayout="row" fxLayoutGap="20px">
    <div fxFlex>
        <img class="mat-elevation-z3" src="assets/images/illustration-pages/LRD-1.jpg" />
        N° 1 : 2002
    </div>
    <div fxFlex>
        <img class="mat-elevation-z3" src="assets/images/illustration-pages/couv_LRD28.jpg" />
        N° 28 : 2008
    </div>
    <div fxFlex>
        <img class="mat-elevation-z3" src="assets/images/illustration-pages/LaRevuedurable-59-Couverture.jpg" />
        N° 59 : 2017
    </div>
</div>

<div class="container mat-h3 rich-text">
    <h1 class="mat-display-1">NOTRE PROJET</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body rich-text mat-h3">
            <p>
                Les journalistes jugent souvent <strong>LaRevueDurable</strong> très engagée. Ses lecteurs saluent sa
                rigueur. Ce sont les deux traits les plus caractéristiques de ce projet éditorial.
            </p>
            <p>
                A qui s’adresse LaRevueDurable&nbsp;? Poserait-on la question à un peintre ou à un écrivain&nbsp;?
                LaRevueDurable n’est pas un « produit&nbsp;» de presse, c’est une création, une quête permanente.
                Derrière son contenu et sa forme, point d’étude de marché ni d’analyse d’agence. Pour savoir si cette
                revue peut vous instruire et vous aider à avancer, y a-t-il une autre option que de lire et de découvrir
                ses numéros&nbsp;?
            </p>

            <h1 class="mat-h1">Aux sources de LaRevueDurable</h1>

            <ul>
                <li>
                    <p>
                        Il était une fois, au départ de LaRevueDurable, deux idéalistes. Au début de l’aventure, en
                        2002,
                        <a
                            href="https://www.rts.ch/play/tv/12h45/video/sommet-de-la-terre-la-nouvelle-revue-revue-durable-a-vu-le-jour-interview-de-susana-jourdan-et-jacques-mirenowicz-redacteurs-resp--la-revue-durable?id=554003"
                            >ils ressemblaient à cela</a
                        >.
                    </p>
                    <img
                        src="assets/images/illustration-pages/susana-jourdan-jacques-mirenowicz-larevuedurable-2002.png"
                        width="250"
                    />
                </li>
                <li>
                    <p>
                        Quelques années plus tard, ils ont un peu plus de verbe qu’à leurs débuts (entretien RTS en juin
                        2008).
                    </p>
                    <a
                        class="no-style"
                        href="https://www.rts.ch/play/radio/prise-de-terre/audio/prise-de-terre-10-ans-apres?id=10888085"
                    >
                        <img
                            src="assets/images/illustration-pages/entretien-rts-2008-jacques-mirenowicz.png"
                            width="250"
                        />
                    </a>
                </li>
                <li>
                    <p>L’entretien de Jacques avec Adrien Zerbini vers 2012 ou un récent Prise de Terre.</p>
                    <a
                        class="no-style"
                        target="_blank"
                        href="https://www.rts.ch/play/radio/prise-de-terre/audio/prise-de-terre-10-ans-apres?id=10888085"
                    >
                        <img
                            src="assets/images/illustration-pages/entretien-rts-2019-jacques-mirenowicz.png"
                            width="250"
                        />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
