<div class="page-illustration" [style.backgroundColor]="'#EBEBEB'"></div>

<div class="container mat-h3 rich-text">
    <h1 class="mat-display-1">Notre projet</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body rich-text mat-h3">
            <p class="text-primary">
                Les journalistes jugent souvent <strong>LaRevueDurable</strong> très engagée. Ses lecteurs saluent sa
                rigueur. Ce sont les deux traits les plus caractéristiques de ce projet éditorial.
            </p>
            <p>
                A qui s’adresse LaRevueDurable ? Poserait-on la question à un peintre ou à un écrivain ? LaRevueDurable
                n’est pas un « produit » de presse, c’est une création, une quête permanente. Derrière son contenu et sa
                forme, point d’étude de marché ni d’analyse d’agence. Pour savoir si cette revue peut vous instruire et
                vous aider à avancer, y a-t-il une autre option que de lire et de découvrir ses numéros ?
            </p>

            <h1 class="mat-h1">Aux sources de LaRevueDurable</h1>

            <p>
                Il était une fois, au départ de LaRevueDurable, deux idéalistes. Au début de l’aventure, en 2002,
                <a
                    href="https://www.rts.ch/play/tv/12h45/video/sommet-de-la-terre-la-nouvelle-revue-revue-durable-a-vu-le-jour-interview-de-susana-jourdan-et-jacques-mirenowicz-redacteurs-resp--la-revue-durable?id=554003"
                    >ils ressemblaient à cela</a
                >.
            </p>
            <p>
                Quelques années plus tard, ils ont un peu plus de verbe qu’à leurs débuts (entretien RTS avec xxx xxx en
                juin 2008).
            </p>
            <p>L’entretien de Jacques avec Adrien Zerbini vers 2012 ou un récent Prise de Terre.</p>
        </div>
    </div>
</div>
