<div class="detail-body" [formGroup]="form">
    <natural-detail-header
        label="Produit"
        [listRoute]="['admin', 'product']"
        [model]="data.model"
        [newLabel]="data.seo.title"
    >
        @if (isUpdatePage()) {
            <a
                matButton="filled"
                [routerLink]="[
                    data.model.reviewNumber ? '/larevuedurable/numero' : '/larevuedurable/article',
                    data.model.id,
                ]"
            >
                <mat-icon naturalIcon="remove_red_eye" />
                Voir la page
            </a>
        }
    </natural-detail-header>

    <mat-tab-group naturalLinkableTab [dynamicHeight]="true" (selectedIndexChange)="changeTab($event)">
        <mat-tab label="Général">
            <div class="nat-vertical nat-padding-top nat-gap-horizontal nat-md-horizontal">
                <div class="nat-vertical nat-md-expand-66">
                    <mat-form-field>
                        <mat-label>Nom</mat-label>
                        <input formControlName="name" matInput (change)="update()" />
                        <mat-error>{{ form.get('name')?.errors | errorMessage }}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Code</mat-label>
                        <input formControlName="code" matInput maxlength="20" (change)="update()" />
                        @if (form.get('code')?.hasError('duplicateValue')) {
                            <mat-error> Ce code est déjà attribué à un produit</mat-error>
                        } @else {
                            <mat-error>{{ form.get('code')?.errors | errorMessage }}</mat-error>
                        }
                    </mat-form-field>

                    <div class="nat-bold">Description</div>
                    <natural-editor formControlName="description" (contentChange)="update()" />

                    <br />
                    <mat-form-field>
                        <mat-label>Contenu complet</mat-label>
                        <textarea
                            formControlName="content"
                            matInput
                            [cdkAutosizeMinRows]="1"
                            [cdkTextareaAutosize]="true"
                            (change)="update()"
                        ></textarea>
                    </mat-form-field>

                    <mat-form-field class="nat-margin-top">
                        <mat-label>Remarques internes</mat-label>
                        <textarea
                            formControlName="internalRemarks"
                            matInput
                            [cdkAutosizeMaxRows]="3"
                            [cdkTextareaAutosize]="true"
                            (change)="update()"
                        ></textarea>
                    </mat-form-field>
                </div>

                <div class="nat-md-expand-33 nat-gap nat-vertical">
                    <div class="nat-vertical nat-gap nat-margin-bottom">
                        <mat-slide-toggle formControlName="isActive" (change)="update()"
                            >Disponible à la vente
                        </mat-slide-toggle>
                        <mat-slide-toggle formControlName="isHighlighted" (change)="update()"
                            >Mettre en avant
                        </mat-slide-toggle>
                    </div>

                    <natural-select-enum
                        formControlName="type"
                        enumName="ProductType"
                        placeholder="Type"
                        (selectionChange)="update()"
                    />

                    <mat-form-field>
                        <mat-label>Date de publication</mat-label>
                        <input formControlName="releaseDate" matInput [matDatepicker]="picker" (change)="update()" />
                        <mat-datepicker-toggle matIconSuffix [for]="picker" />
                        <mat-datepicker #picker />
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Numéro de revue</mat-label>
                        <input
                            formControlName="reviewNumber"
                            matInput
                            type="number"
                            [errorStateMatcher]="reviewXorArticleErrorStateMatcher"
                            (change)="update()"
                        />
                        <mat-hint>Seulement pour les revues</mat-hint>
                        @if (form.hasError('reviewXorArticle')) {
                            <mat-error
                                >Un produit ne peut pas être à la fois une revue et un article. Il faut soit entrer un
                                numéro de revue pour une revue, soit choisir une revue existante pour un article.
                            </mat-error>
                        }
                    </mat-form-field>

                    @if (isUpdatePage()) {
                        <natural-select
                            formControlName="review"
                            placeholder="Revue dont est extrait cet article"
                            [service]="service"
                            [navigateTo]="['/admin/product', form.get('event')?.value?.id]"
                            [filter]="{
                                groups: [
                                    {
                                        conditions: [
                                            {id: {equal: {value: data.model.id, not: true}}},
                                            {reviewNumber: {null: {not: true}}},
                                        ],
                                    },
                                ],
                            }"
                            (selectionChange)="update()"
                        />
                    }

                    <mat-form-field>
                        <mat-label>Durée de lecture</mat-label>
                        <input formControlName="readingDuration" matInput type="number" (change)="update()" />
                        <mat-hint>Saisir un nombre de minutes</mat-hint>
                    </mat-form-field>

                    <mat-divider class="nat-margin-vertical" />

                    <h2 class="mat-font-title-lg">Prix</h2>

                    <mat-form-field>
                        <mat-label>Prix par unité CHF</mat-label>
                        <input
                            formControlName="pricePerUnitCHF"
                            matInput
                            step="0.01"
                            type="number"
                            (change)="update()"
                        />
                        <div matTextSuffix>CHF</div>
                        <mat-error>{{ form.get('pricePerUnitCHF')?.errors | errorMessage }}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Prix par unité EUR</mat-label>
                        <input
                            formControlName="pricePerUnitEUR"
                            matInput
                            step="0.01"
                            type="number"
                            (change)="update()"
                        />
                        <div matTextSuffix>EUR</div>
                        <mat-error>{{ form.get('pricePerUnitEUR')?.errors | errorMessage }}</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <mat-divider class="nat-margin-vertical" />

            <div class="nat-vertical nat-md-horizontal nat-gap-horizontal-30">
                <div class="nat-md-expand-33 nat-vertical">
                    <h2 class="mat-font-title-lg">Produit dématérialisé (PDF)</h2>
                    <natural-file
                        action="upload"
                        class="mat-elevation-z2"
                        accept="application/pdf"
                        [model]="data.model.file"
                        [formCtrl]="form.get('file')"
                        [uploader]="createFileAndLink.bind(this)"
                        [height]="300"
                        [style.borderRadius.px]="4"
                        [style.marginLeft.px]="2"
                    />
                </div>

                <div class="nat-md-expand-33 nat-vertical">
                    <h2 class="mat-font-title-lg">Illustration</h2>
                    <natural-file
                        action="upload"
                        class="mat-elevation-z2"
                        [model]="data.model.illustration"
                        [formCtrl]="form.get('illustration')"
                        [uploader]="createImageAndLink('illustration')"
                        [height]="300"
                        [style.borderRadius.px]="4"
                        [style.marginLeft.px]="2"
                    />
                </div>

                <div class="nat-md-expand-33 nat-vertical">
                    <h2 class="mat-font-title-lg">Aperçu du produit</h2>
                    <natural-file
                        action="upload"
                        class="mat-elevation-z2"
                        [model]="data.model.image"
                        [formCtrl]="form.get('image')"
                        [uploader]="createImageAndLink('image')"
                        [height]="300"
                        [style.borderRadius.px]="4"
                        [style.marginLeft.px]="2"
                    />
                </div>
            </div>

            <mat-divider class="nat-margin-vertical" />

            <div class="nat-vertical nat-md-horizontal nat-gap-horizontal-30">
                <div class="nat-md-expand-66 nat-vertical">
                    @if (isUpdatePage()) {
                        <div>
                            <h2 class="mat-font-title-lg">Tags</h2>
                            <natural-relations
                                placeholder="Ajouter un tag"
                                [filter]="{groups: [{conditions: [{products: {have: {values: [data.model.id]}}}]}]}"
                                [main]="data.model"
                                [service]="productTagService"
                            >
                                <ng-template let-item="item">
                                    <div class="nat-horizontal nat-align nat-gap-10">
                                        <!-- TODO : link to products list filtred by tag -->
                                        <natural-avatar [bgColor]="item.color" [initials]="item.name" [size]="32" />
                                        <natural-table-button [label]="item.name" [navigate]="['/admin/product']" />
                                    </div>
                                </ng-template>
                            </natural-relations>
                        </div>
                    }
                </div>
            </div>

            @if (isUpdatePage()) {
                <mat-divider class="nat-margin-vertical" />
                <natural-stamp [item]="data.model" />
            }
        </mat-tab>

        @if (isUpdatePage()) {
            <mat-tab id="order-line" label="Ventes">
                <app-order-lines
                    [selectedColumns]="['creationDate', 'quantity', 'owner', 'balance']"
                    [forcedVariables]="{filter: {groups: [{conditions: [{product: {equal: {value: data.model.id}}}]}]}}"
                    [persistSearch]="false"
                    [showTotals]="true"
                />
            </mat-tab>
        }

        @if (isUpdatePage()) {
            <mat-tab id="product" label="Produits similaires">
                <div class="nat-padding-top">
                    <natural-relations
                        otherName="relatedProduct"
                        placeholder="Produit similaire"
                        [autocompleteSelectorFilter]="{
                            groups: [{conditions: [{id: {equal: {value: data.model.id, not: true}}}]}],
                        }"
                        [filter]="{
                            groups: [{conditions: [{inversedRelatedProducts: {have: {values: [data.model.id]}}}]}],
                        }"
                        [main]="data.model"
                        [service]="service"
                    >
                        <ng-template let-item="item">
                            <div class="nat-horizontal nat-align nat-gap-10">
                                <natural-table-button [label]="item.name" [navigate]="['/admin/product/', item.id]" />
                            </div>
                        </ng-template>
                    </natural-relations>
                </div>
            </mat-tab>
        }
    </mat-tab-group>

    @if (showFabButton) {
        <natural-fixed-button-detail [form]="form" [model]="data.model" (create)="create()" (delete)="delete()" />
    }
</div>
