<div [formGroup]="form" class="detail-body">
    <natural-detail-header
        [listRoute]="['admin', 'product']"
        [model]="data.model"
        label="Produit"
        [newLabel]="data.seo.title"
    >
        @if (isUpdatePage()) {
            <a
                [routerLink]="[
                    data.model.reviewNumber ? '/larevuedurable/numero' : '/larevuedurable/article',
                    data.model.id
                ]"
                color="primary"
                mat-raised-button
            >
                <mat-icon naturalIcon="remove_red_eye" />
                Voir la page
            </a>
        }
    </natural-detail-header>

    <mat-tab-group naturalLinkableTab (selectedIndexChange)="changeTab($event)" [dynamicHeight]="true">
        <mat-tab id="general" label="Général">
            <div class="padding-top" fxLayout="column" fxLayoutGap="30px">
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px">
                    <div fxFlex="66" fxLayout="column">
                        <div class="margin-bottom" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
                            <div fxFlex fxLayout="column">
                                <mat-form-field>
                                    <mat-label>Nom</mat-label>
                                    <input (change)="update()" formControlName="name" matInput />
                                    @if (form.get('name')?.hasError('maxlength')) {
                                        <mat-error>
                                            Maximum {{ form.get('name')?.errors?.maxlength?.requiredLength }} caractères
                                        </mat-error>
                                    }
                                    @if (form.get('name')?.hasError('required')) {
                                        <mat-error>Requis</mat-error>
                                    }
                                </mat-form-field>

                                <mat-form-field>
                                    <mat-label>Code</mat-label>
                                    <input (change)="update()" formControlName="code" matInput maxlength="20" />
                                    @if (form.get('code')?.hasError('maxlength')) {
                                        <mat-error>
                                            Maximum {{ form.get('code')?.errors?.maxlength?.requiredLength }} caractères
                                        </mat-error>
                                    }
                                    @if (form.get('code')?.hasError('duplicateValue')) {
                                        <mat-error> Ce code est déjà attribué à un produit</mat-error>
                                    }
                                    @if (form.get('code')?.hasError('required')) {
                                        <mat-error>Requis</mat-error>
                                    }
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="mat-body-2">Description</div>
                        <natural-editor formControlName="description" (contentChange)="update()" />

                        <br />

                        <mat-form-field>
                            <mat-label>Contenu complet</mat-label>
                            <textarea
                                (change)="update()"
                                [cdkAutosizeMinRows]="1"
                                formControlName="content"
                                matInput
                                [cdkTextareaAutosize]="true"
                            ></textarea>
                        </mat-form-field>
                    </div>

                    <div fxFlex="33" fxLayout="column" fxLayoutGap="20px">
                        <div fxLayout="column" class="margin-bottom" fxLayoutGap="20px">
                            <mat-slide-toggle (change)="update()" formControlName="isActive"
                                >Disponible à la vente
                            </mat-slide-toggle>
                            <mat-slide-toggle (change)="update()" formControlName="isHighlighted"
                                >Mettre en avant
                            </mat-slide-toggle>
                        </div>

                        <natural-select-enum
                            (selectionChange)="update()"
                            formControlName="type"
                            enumName="ProductType"
                            placeholder="Type"
                        />

                        <mat-form-field>
                            <mat-label>Date de publication</mat-label>
                            <input
                                [matDatepicker]="picker"
                                formControlName="releaseDate"
                                matInput
                                (change)="update()"
                            />
                            <mat-datepicker-toggle [for]="picker" matIconSuffix />
                            <mat-datepicker #picker />
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Numéro de revue</mat-label>
                            <input
                                (change)="update()"
                                formControlName="reviewNumber"
                                matInput
                                type="number"
                                [errorStateMatcher]="reviewXorArticleErrorStateMatcher"
                            />
                            <mat-hint>Seulement pour les revues</mat-hint>
                            @if (form.hasError('reviewXorArticle')) {
                                <mat-error
                                    >Un produit ne peut pas être à la fois une revue et un article. Il faut soit entrer
                                    un numéro de revue pour une revue, soit choisir une revue existante pour un article.
                                </mat-error>
                            }
                        </mat-form-field>

                        @if (isUpdatePage()) {
                            <natural-select
                                (selectionChange)="update()"
                                [service]="productService"
                                formControlName="review"
                                placeholder="Revue dont est extrait cet article"
                                [navigateTo]="['/admin/product', form.get('event')?.value?.id]"
                                [filter]="{
                                    groups: [
                                        {
                                            conditions: [
                                                {id: {equal: {value: data.model.id, not: true}}},
                                                {reviewNumber: {null: {not: true}}}
                                            ]
                                        }
                                    ]
                                }"
                            />
                        }

                        <mat-form-field>
                            <mat-label>Durée de lecture</mat-label>
                            <input (change)="update()" formControlName="readingDuration" matInput type="number" />
                            <mat-hint>Saisir un nombre de minutes</mat-hint>
                        </mat-form-field>

                        <mat-divider />

                        <h2 class="mat-h2">Prix</h2>

                        <mat-form-field>
                            <mat-label>Prix par unité CHF</mat-label>
                            <input
                                (change)="update()"
                                formControlName="pricePerUnitCHF"
                                matInput
                                step="0.01"
                                type="number"
                            />
                            <div matTextSuffix>CHF</div>
                            @if (form.get('pricePerUnitCHF')?.hasError('required')) {
                                <mat-error>Requis</mat-error>
                            }
                            @if (form.get('pricePerUnitCHF')?.hasError('money')) {
                                <mat-error>Le montant doit être un nombre avec un maximum de deux décimales</mat-error>
                            }
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Prix par unité EUR</mat-label>
                            <input
                                (change)="update()"
                                formControlName="pricePerUnitEUR"
                                matInput
                                step="0.01"
                                type="number"
                            />
                            <div matTextSuffix>EUR</div>
                            @if (form.get('pricePerUnitEUR')?.hasError('required')) {
                                <mat-error>Requis</mat-error>
                            }
                            @if (form.get('pricePerUnitEUR')?.hasError('money')) {
                                <mat-error>Le montant doit être un nombre avec un maximum de deux décimales</mat-error>
                            }
                        </mat-form-field>

                        <mat-form-field class="margin-top">
                            <mat-label>Remarques internes</mat-label>
                            <textarea
                                (change)="update()"
                                [cdkAutosizeMaxRows]="3"
                                formControlName="internalRemarks"
                                matInput
                                [cdkTextareaAutosize]="true"
                            ></textarea>
                        </mat-form-field>
                    </div>
                </div>

                <mat-divider />

                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px">
                    <div fxFlex="25" fxLayout="column">
                        <h2 class="mat-h2">Produit dématérialisé (PDF)</h2>
                        <natural-file
                            [model]="data.model.file"
                            [formCtrl]="form.get('file')"
                            [uploader]="createFileAndLink.bind(this)"
                            [height]="300"
                            [style.borderRadius.px]="4"
                            [style.marginLeft.px]="2"
                            action="upload"
                            class="mat-elevation-z2"
                            accept="application/pdf"
                        />
                    </div>

                    <div fxFlex="50" fxLayout="column">
                        <h2 class="mat-h2">Illustration</h2>
                        <natural-file
                            [model]="data.model.illustration"
                            [formCtrl]="form.get('illustration')"
                            [uploader]="createImageAndLink('illustration')"
                            [height]="300"
                            [style.borderRadius.px]="4"
                            [style.marginLeft.px]="2"
                            action="upload"
                            class="mat-elevation-z2"
                        />
                    </div>

                    <div fxFlex="25" fxLayout="column">
                        <h2 class="mat-h2">Aperçu du produit</h2>
                        <natural-file
                            [model]="data.model.image"
                            [formCtrl]="form.get('image')"
                            [uploader]="createImageAndLink('image')"
                            [height]="300"
                            [style.borderRadius.px]="4"
                            [style.marginLeft.px]="2"
                            action="upload"
                            class="mat-elevation-z2"
                        />
                    </div>
                </div>

                <mat-divider />

                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px">
                    <div fxFlex="66" fxLayout="column">
                        @if (isUpdatePage()) {
                            <div>
                                <h2 class="mat-h2">Tags</h2>
                                <natural-relations
                                    [filter]="{groups: [{conditions: [{products: {have: {values: [data.model.id]}}}]}]}"
                                    [main]="data.model"
                                    [service]="productTagService"
                                    placeholder="Ajouter un tag"
                                >
                                    <ng-template let-item="item">
                                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                                            <!-- TODO : link to products list filtred by tag -->
                                            <natural-avatar [bgColor]="item.color" [initials]="item.name" [size]="32" />
                                            <natural-table-button [label]="item.name" [navigate]="['/admin/product']" />
                                        </div>
                                    </ng-template>
                                </natural-relations>
                            </div>
                        }
                    </div>
                </div>

                @if (isUpdatePage()) {
                    <natural-stamp [item]="data.model" />
                }
            </div>
        </mat-tab>

        @if (isUpdatePage()) {
            <mat-tab id="order-line" label="Ventes">
                <app-order-lines
                    [selectedColumns]="['creationDate', 'quantity', 'owner', 'balance']"
                    [forcedVariables]="{filter: {groups: [{conditions: [{product: {equal: {value: data.model.id}}}]}]}}"
                    [persistSearch]="false"
                    [showTotals]="true"
                />
            </mat-tab>
        }

        @if (isUpdatePage()) {
            <mat-tab id="product" label="Produits similaires">
                <div class="padding-top">
                    <natural-relations
                        [autocompleteSelectorFilter]="{
                            groups: [{conditions: [{id: {equal: {value: data.model.id, not: true}}}]}]
                        }"
                        [filter]="{
                            groups: [{conditions: [{inversedRelatedProducts: {have: {values: [data.model.id]}}}]}]
                        }"
                        [main]="data.model"
                        [service]="productService"
                        otherName="relatedProduct"
                        placeholder="Produit similaire"
                    >
                        <ng-template let-item="item">
                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                                <natural-table-button [label]="item.name" [navigate]="['/admin/product/', item.id]" />
                            </div>
                        </ng-template>
                    </natural-relations>
                </div>
            </mat-tab>
        }
    </mat-tab-group>

    @if (showFabButton) {
        <natural-fixed-button-detail (create)="create()" (delete)="delete()" [form]="form" [model]="data.model" />
    }
</div>
