<div class="nat-vertical nat-gap-30">
    @if (permissionsService.crud?.comment?.create) {
        <div class="nat-vertical nat-left">
            <mat-form-field [style.width]="'100%'">
                <mat-label>Rédiger un commentaire</mat-label>
                <textarea matInput [(ngModel)]="newCommentValue"></textarea>
            </mat-form-field>
            <a mat-stroked-button color="primary" [disabled]="publishing" (click)="addComment()">Publier</a>
        </div>
    }

    @if (dataSource?.data?.items?.length) {
        <div class="nat-vertical nat-gap-30">
            @for (comment of dataSource?.data?.items; track comment) {
                <div class="nat-vertical nat-gap-5 nat-left">
                    @if (comment.authorName) {
                        <div class="mat-h2 nat-gap-15 nat-horizontal nat-wrap nat-left nat-center">
                            <span>{{ comment.authorName }}</span>
                            <span class="mat-body text-light">
                                Posté le {{ comment.creationDate | date: 'longDate' }}
                            </span>
                            @if (comment.permissions?.update) {
                                <a
                                    mat-icon-button
                                    class="mat-elevation-z4"
                                    [routerLink]="['/admin/comment', comment.id]"
                                >
                                    <mat-icon naturalIcon="edit" />
                                </a>
                            }
                        </div>
                    }
                    <div class="mat-h3 line-break">{{ comment.description }}</div>
                </div>
            }
        </div>
    }

    @if (!dataSource?.data?.items?.length) {
        <div class="mat-h3">Aucun commentaire</div>
    }
</div>
