@if (hiddenBlocName !== 'methode') {
    <div class="frame-stroked-primary padding">
        <h2 class="mat-h2">La méthode</h2>
        <a mat-stroked-button color="primary" routerLink="/agir-avec-nous/conversation-carbone/methode"
            >En savoir plus</a
        >
    </div>
}

@if (hiddenBlocName !== 'prochaines') {
    <div class="frame-primary padding">
        <h2 class="mat-h2">Rejoignez une conversation carbone !</h2>
        <p>
            Des Conversations carbone sont organisées dans différentes localités de
            <strong>Suisse Romande</strong>.
        </p>
        <a mat-flat-button routerLink="/agir-avec-nous/conversation-carbone/prochaines">Je vais voir</a>
    </div>
}

@if (hiddenBlocName !== 'organisations') {
    <div class="frame-stroked-primary padding">
        <h2 class="mat-h2">Pour les organisations</h2>
        <a mat-stroked-button color="primary" routerLink="/agir-avec-nous/conversation-carbone/organisations"
            >En savoir plus</a
        >
    </div>
}

@if (hiddenBlocName !== 'facilitateurs') {
    <div class="frame-stroked-primary padding">
        <h2 class="mat-h2">Les facilitateurs</h2>
        <a mat-stroked-button color="primary" routerLink="/agir-avec-nous/conversation-carbone/facilitateurs"
            >En savoir plus</a
        >
    </div>
}

@if (canAccessFacilitatorPrivate()) {
    <div class="frame-stroked-primary padding">
        <h2 class="mat-h2">Accès réservé aux facilitateurs</h2>
        <a mat-stroked-button color="primary" routerLink="/agir-avec-nous/conversation-carbone/facilitateurs-prive"
            >Accéder</a
        >
    </div>
}
