@if (hiddenBlocName() !== 'methode') {
    <div class="frame-stroked-primary nat-padding">
        <h2 class="mat-font-title-lg">La méthode</h2>
        <a mat-stroked-button color="primary" routerLink="/agir-avec-nous/conversation-carbone/methode"
            >En savoir plus</a
        >
    </div>
}

@if (hiddenBlocName() !== 'prochaines') {
    <div class="nat-frame-primary nat-padding">
        <h2 class="mat-font-title-lg">Rejoignez une conversation carbone !</h2>
        <p>
            Des Conversations carbone sont organisées dans différentes localités de
            <strong>Suisse Romande</strong>.
        </p>
        <a matButton="filled" routerLink="/agir-avec-nous/conversation-carbone/prochaines">Je vais voir</a>
    </div>
}

@if (hiddenBlocName() !== 'organisations') {
    <div class="frame-stroked-primary nat-padding">
        <h2 class="mat-font-title-lg">Pour les organisations</h2>
        <a mat-stroked-button color="primary" routerLink="/agir-avec-nous/conversation-carbone/organisations"
            >En savoir plus</a
        >
    </div>
}

@if (hiddenBlocName() !== 'facilitateurs') {
    <div class="frame-stroked-primary nat-padding">
        <h2 class="mat-font-title-lg">Les facilitateurs</h2>
        <a mat-stroked-button color="primary" routerLink="/agir-avec-nous/conversation-carbone/facilitateurs"
            >En savoir plus</a
        >
    </div>
}

@if (canAccessFacilitatorPrivate()) {
    <div class="frame-stroked-primary nat-padding">
        <h2 class="mat-font-title-lg">Accès réservé aux facilitateurs</h2>
        <a mat-stroked-button color="primary" routerLink="/agir-avec-nous/conversation-carbone/facilitateurs-prive"
            >Accéder</a
        >
    </div>
}
