<div class="frame-primary padding">
    <h1 class="mat-h2">Prochaines sessions</h1>

    <p>
        {{ number }} sessions de Conversations Carbone sont organisées dans différentes villes de
        <strong>Suisse Romande</strong>.
    </p>

    <a mat-flat-button routerLink="/agir-avec-nous/conversation-carbone/prochaines">Voir les sessions</a>
</div>

<div class="frame-stroked-primary padding">
    <h1 class="mat-h2">Les Conversations pour les organisations</h1>

    <a mat-stroked-button color="primary" routerLink="/agir-avec-nous/conversation-carbone/organisations"
        >En savoir plus</a
    >
</div>

<div class="frame-stroked-primary padding">
    <h1 class="mat-h2">Devenir facilitateur</h1>
    <a mat-stroked-button color="primary" routerLink="/agir-avec-nous/conversation-carbone/facilitateurs"
        >Devenir facilitateur</a
    >
</div>
