<div class="container mat-font-title-md rich-text">
    <h1 class="mat-font-headline-lg">COMITÉ ET STATUTS</h1>

    <div class="nat-horizontal nat-gap-30">
        <div class="app-md-expand-70 page-body rich-text mat-font-title-md">
            <div class="mat-font-headline-sm">Comité</div>

            <div class="mat-font-title-lg">Président</div>
            <p>
                Yvan Maillard Ardenti pilote le programme « Justice climatique&nbsp;» à la fondation Pain pour le
                prochain. Grand connaisseur de la finance éthique, il a été l’une des chevilles ouvrières du collectif
                Non au charbon&nbsp;! qui, en 2008-2009, a fait capoter, avec les Amis de
                <strong>LaRevueDurable</strong>, un projet d’investissement fribourgeois dans une centrale à charbon au
                nord de l’Allemagne.
            </p>

            <div class="mat-font-title-lg">Secrétaire</div>
            <p>
                Depuis qu’il a pris sa retraite d’enseignant en géographie, Jacques Eschmann profite de la nature et
                laisse libre cours à son esprit contemplatif. Il reste toutefois aussi très impliqué dans plusieurs
                associations : Pro Natura, dont il a présidé la section de Fribourg jusqu'en 2017, Fri-Santé, qui vient
                en aide aux plus démunis qui ont besoin d’assistance médicale, et les Grands-parents pour le climat.
            </p>

            <div class="mat-font-title-lg">Membres</div>
            <p>
                Stéphane Cuennet est géographe, journaliste et traducteur. Il propose des services rédactionnels sur
                tous les thèmes liés au territoire et à l’environnement. Il a longtemps assuré la présidence des Amis de
                <strong>LaRevueDurable</strong>.
            </p>
            <p>
                Berthe Darras est ingénieure agronome. Elle partage sa vie professionnelle entre la défense des paysans
                en tant que secrétaire de l’organisation Uniterre et le contact avec la terre en tant que paysanne dans
                une ferme à Puidoux.
            </p>
            <p>
                Anne DuPasquier, experte en développement durable, est membre de la Fondation sanu durabilitas et de la
                Fondation pour le développement durable des régions de montagne. Jusqu'en 2017, elle a été cheffe
                suppléante de la section Développement durable à l’Office fédéral du développement territorial.
            </p>
            <p>
                Pietro Majno, chirurgien, dirige le département de chirurgie de l’Hôpital de Lugano. Bien qu’il ait une
                vie professionnelle très remplie, il s’intéresse depuis longtemps aux questions environnementales et
                s’applique à dénoncer les travers des mondes économiques et politiques en dans ce domaine.
            </p>
            <p>
                Aurianne Stroude est chercheuse et enseignante en travail social à l’Université de Fribourg, où elle a
                soutenu une thèse de doctorat sur le parcours de personnes qui entrent en transition et décident de
                vivre sobrement. Elle est actuellement en séjour post-doctoral à l’Université de Galway, en Irlande.
            </p>
            <p>
                Julien Woessner pendule d’un lac à l'autre, entre Yverdon-les-Bains, où il est responsable du Service de
                l’urbanisme de la ville, et Cully, où il habite avec ses trois enfants. Son parcours l’a conduit de
                l’architecture aux fondations internationales, puis à nouveau à l’urbanisme. Préoccupé par ce que notre
                époque va léguer aux générations futures, il s’efforce de faire avancer les causes écologique et de
                justice sociale.
            </p>

            <h2 class="mat-font-headline-sm">Statuts de l'association</h2>

            <a target="_blank" color="primary" href="/assets/images/association/artisans-de-la-transition-statuts.pdf"
                >à télécharger en PDF
            </a>

            <br />
            <br />
            <h2 class="mat-font-headline-sm">Rapports annuels d'activité</h2>
            <div class="nat-vertical nat-gap-10 nat-left">
                <a target="_blank" color="primary" href="/assets/images/association/rapport-activite-artisans-2023.pdf"
                    >2023 (PDF)
                </a>
                <a target="_blank" color="primary" href="/assets/images/association/rapport-activite-artisans-2022.pdf"
                    >2022 (PDF)
                </a>
                <a target="_blank" color="primary" href="/assets/images/association/rapport-activite-artisans-2021.pdf"
                    >2021 (PDF)
                </a>
                <a target="_blank" color="primary" href="/assets/images/association/rapport-activite-artisans-2020.pdf"
                    >2020 (PDF)
                </a>
                <a target="_blank" color="primary" href="/assets/images/association/rapport-activite-artisans-2019.pdf"
                    >2019 (PDF)
                </a>

                <a target="_blank" color="primary" href="/assets/images/association/rapport-activite-artisans-2018.pdf"
                    >2018 (PDF)
                </a>
            </div>
        </div>
    </div>
</div>
