<div *ngIf="dataSource" fxLayout="column">

    <div fxLayout="column">
        <div class="mat-headline no-margin" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            {{routeData?.title}}
        </div>
    </div>

    <div fxLayout="column">

        <div fxLayout="row" class="margin-v">

            <natural-search fxFlex
                            [configurations]="naturalSearchConfig"
                            [(selections)]="naturalSearchSelections"
                            (selectionChange)="search($event)"
                            [multipleGroups]="true"
            >
                <app-columns-picker (selectionChange)="selectedColumns = $event">
                    <span appColumnsPickerColumn="edit" i18n>Editer</span>
                    <!--<span appColumnsPickerColumn="id" i18n>id</span>-->
                    <span appColumnsPickerColumn="responsible" i18n>Responsable</span>
                    <span appColumnsPickerColumn="bookable" i18n>Réservable</span>
                    <span appColumnsPickerColumn="destination" i18n>Destination</span>
                    <span appColumnsPickerColumn="startDate" i18n>Début</span>
                    <span appColumnsPickerColumn="endDate" i18n>Fin</span>
                    <span appColumnsPickerColumn="estimatedEndDate" i18n>Retour prévu</span>
                    <span appColumnsPickerColumn="participantCount" i18n>Nb participants</span>
                    <span appColumnsPickerColumn="flagEndDate" i18n>Terminer</span>
                </app-columns-picker>
            </natural-search>

        </div>

        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sorting($event)">

            <tr mat-header-row *matHeaderRowDef="selectedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: selectedColumns;"></tr>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n app-4em-column>ID</th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n></th>
                <td mat-cell *matCellDef="let element">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <app-table-button icon="edit"
                                          [navigate]="['/admin/booking/', element.id]"
                                          matTooltip="Éditer"
                        ></app-table-button>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="responsible">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Responsable</th>
                <td mat-cell *matCellDef="let element">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <ngx-avatar [name]="element.responsible?.name" [size]="36"></ngx-avatar>
                        <app-table-button [label]="element.responsible?.name"
                                          [navigate]="['/admin/user/', element.responsible?.id]"
                                          i18n-matTooltip
                                          matTooltip="Éditer"
                        ></app-table-button>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="bookable">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Réservable</th>
                <td mat-cell *matCellDef="let element">
                    <div fxLayout="row" fxLayoutAlign="start center" *ngIf="element.bookables.length">
                        <app-table-button [label]="element.bookables[0].name"
                                          [navigate]="['/admin/bookable/', element.bookables[0].id]"
                                          i18n-matTooltip
                                          matTooltip="Éditer"
                        ></app-table-button>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="destination">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Destination</th>
                <td mat-cell *matCellDef="let element">{{ element.destination }}</td>
            </ng-container>
            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Début</th>
                <td mat-cell *matCellDef="let element">{{ element.startDate | date: 'short' }}</td>
            </ng-container>

            <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Fin</th>
                <td mat-cell *matCellDef="let element">{{ element.endDate | date: 'short' }}</td>
            </ng-container>

            <ng-container matColumnDef="estimatedEndDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Retour prévu</th>
                <td mat-cell *matCellDef="let element">{{ element.estimatedEndDate }}</td>
            </ng-container>

            <ng-container matColumnDef="participantCount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>
                    <app-icon name="group" matTooltip="Nombre de participants"></app-icon>
                </th>
                <td mat-cell *matCellDef="let element">{{ element.participantCount }}</td>
            </ng-container>

            <ng-container matColumnDef="flagEndDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n app-5em-column></th>
                <td mat-cell *matCellDef="let element">
                    <button *ngIf="!element.endDate" mat-button color="warn" (click)="bookingService.flagEndDate(element.id)">
                        Terminer
                    </button>
                </td>
            </ng-container>

        </table>

        <div fxLayout="column" fxLayoutAlign="center center" class="margin" *ngIf="dataSource.length === 0">
            <div i18n>Pas de résultats</div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" class="margin" *ngIf="dataSource.length === null">
            <mat-progress-spinner mode="indeterminate" [diameter]="40"></mat-progress-spinner>
        </div>

        <mat-paginator *ngIf="dataSource?.length"
                       [length]="dataSource.length"
                       [pageSize]="dataSource?.pagination?.pageSize"
                       [pageIndex]="dataSource?.pagination?.pageIndex"
                       [pageSizeOptions]="pageSizeOptions"
                       (page)="pagination($event)"
        ></mat-paginator>

    </div>
</div>

<app-fixed-button [routerLink]="['/admin/booking/new']" icon="add"></app-fixed-button>
