<div *ngIf="dataSource" fxLayout="column">

    <div fxLayout="column">
        <div class="mat-headline no-margin" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <span i18n>Sorties</span>
        </div>
    </div>

    <div fxLayout="column">

        <div fxLayout="row" class="margin-v">

            <natural-search fxFlex
                            [configurations]="naturalSearchConfig"
                            [(selections)]="naturalSearchSelections"
                            (selectionChange)="search($event)"
                            [multipleGroups]="true"
            ></natural-search>

            <app-columns-picker (selectionChange)="selectedColumns = $event">
                <span appColumnsPickerColumn="id" i18n>id</span>
                <span appColumnsPickerColumn="avatar" i18n>Initiales</span>
                <span appColumnsPickerColumn="responsible" i18n>Responsable</span>
                <span appColumnsPickerColumn="destination" i18n>Destination</span>
                <span appColumnsPickerColumn="startDate" i18n>Début</span>
                <span appColumnsPickerColumn="endDate" i18n>Fin</span>
                <span appColumnsPickerColumn="estimatedEndDate" i18n>Retour prévu</span>
                <span appColumnsPickerColumn="participantCount" i18n>Nb participants</span>
            </app-columns-picker>
        </div>

        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sorting($event)">

            <tr mat-header-row *matHeaderRowDef="selectedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: selectedColumns;"></tr>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>ID</th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <ng-container matColumnDef="avatar">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>ID</th>
                <td mat-cell *matCellDef="let element">
                    <ngx-avatar [name]="element.responsible?.name" [size]="36"></ngx-avatar>
                </td>
            </ng-container>

            <ng-container matColumnDef="responsible">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Responsable</th>
                <td mat-cell *matCellDef="let element">{{ element.responsible?.name }}</td>
            </ng-container>

            <ng-container matColumnDef="destination">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Destination</th>
                <td mat-cell *matCellDef="let element">{{ element.destination }}</td>
            </ng-container>
            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Début</th>
                <td mat-cell *matCellDef="let element">{{ element.startDate }}</td>
            </ng-container>

            <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Fin</th>
                <td mat-cell *matCellDef="let element">{{ element.endDate }}</td>
            </ng-container>

            <ng-container matColumnDef="estimatedEndDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Retour prévu</th>
                <td mat-cell *matCellDef="let element">{{ element.estimatedEndDate }}</td>
            </ng-container>

            <ng-container matColumnDef="participantCount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Participants</th>
                <td mat-cell *matCellDef="let element">{{ element.participantCount }}</td>
            </ng-container>

        </table>

        <div fxLayout="column" fxLayoutAlign="center center" class="margin" *ngIf="dataSource.length === 0">
            <div i18n>Pas de résultats</div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" class="margin" *ngIf="dataSource.length === null">
            <mat-progress-spinner mode="indeterminate" [diameter]="40"></mat-progress-spinner>
        </div>

        <mat-paginator *ngIf="dataSource?.length"
                       [length]="dataSource.length"
                       [pageSize]="dataSource?.pagination?.pageSize"
                       [pageIndex]="dataSource?.pagination?.pageIndex"
                       [pageSizeOptions]="pageSizeOptions"
                       (page)="pagination($event)"
        ></mat-paginator>

    </div>
</div>

<app-fixed-button [routerLink]="['new']" icon="add"></app-fixed-button>
