<div
    class="page-illustration"
    [style.backgroundImage]="'url(assets/images/illustration-pages/epicerie_alternative_intchieno-artisans-de-la-transition.webp)'"
></div>

<div class="container mat-font-title-md">
    <h1 class="mat-font-headline-lg">IRREMPLAÇABLES ÉPICERIES</h1>

    <div class="nat-horizontal nat-gap-30">
        <div class="app-md-expand-70 page-body mat-font-body-lg rich-text">
            <p>
                Le documentaire Irremplaçables épiceries ! présente en 47 minutes la façon dont les épiceries
                alternatives de Suisse romande s’approvisionnent en donnant la priorité aux fermes en agroécologie et
                aux ateliers de transformation artisanaux proches de chez elles, garantissent la transparence sur leurs
                marges raisonnables, évitent le gaspillage alimentaire, luttent contre les emballages et assurent un
                contact privilégié avec la clientèle.
            </p>
            <div style="padding: 56.25% 0 10% 0; position: relative">
                <iframe
                    frameborder="0"
                    allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
                    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
                    title="Irremplaçables épiceries ! - Bande d&#039;annonce"
                    src="https://player.vimeo.com/video/1071336324?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                ></iframe>
            </div>
            <script src="https://player.vimeo.com/api/player.js"></script>

            <p>
                Ces commerces sont un trait d’union entre le monde des consommateurs et des consommatrices et le monde
                paysan. C’est pourquoi Irremplaçables épiceries ! relie leur action à la vision de l’agriculture
                paysanne que définit, en France, le syndicat agricole La Confédération paysanne.
            </p>

            <p>
                Cette vision ne peut exister qu’en coopération avec les autres maillons des circuits courts alimentaires
                artisanaux et avec l’adhésion de la population. Elle prône des rapports économiques dans lesquels les
                épiceries ont une place essentielle.
            </p>
            <p>
                <strong>Les Artisans de la transition</strong>
                espèrent que ce film incitera les épiceries alternatives à faire leur cette vision du système
                alimentaire. Il est rempli d’informations et stimule la discussion en poussant à la mise en place ou au
                renforcement de politiques alimentaires ambitieuses.
            </p>
            <p>
                <strong>Les Artisans de la transition</strong>
                sollicitent l’appui des épiceries alternatives et des organisations paysannes qui défendent les circuits
                courts alimentaires artisanaux collectifs pour organiser des projections à conditions qu’elles soient
                suivies d’une discussion dans un contexte associatif, politique et éducatif.
            </p>
            <p>
                Si vous souhaitez organiser un tel événement, vous pouvez
                <a href="https://framaforms.org/irremplacables-epiceries-1731598725">remplir ce formulaire</a>
                .
            </p>
        </div>
        <div class="nat-vertical">
            <a routerLink="/larevuedurable/numero/1312">
                <img naturalSrcDensity="/api/image/1727/400" alt="Revue numéro 66" height="400px" />
                <br />
                N° 70. Les épiceries alternatives, levier de la transition
            </a>
        </div>
    </div>
</div>
