<div
    class="page-illustration"
    [style.backgroundImage]="
        'url(assets/images/illustration-pages/epicerie_alternative_intchieno-artisans-de-la-transition.webp)'
    "
></div>

<div class="container mat-h3 rich-text">
    <h1 class="mat-headline-4">IRREMPLAÇABLES ÉPICERIES</h1>

    <div class="nat-horizontal nat-gap-30">
        <div class="app-md-expand-70 page-body rich-text mat-h3">
            <p>
                Le documentaire Irremplaçables épiceries ! présente en 50 minutes la façon dont les épiceries
                alternatives de Suisse romande s’approvisionnent en donnant la priorité aux fermes en agroécologie et
                aux ateliers de transformation artisanaux proches de chez elles, garantissent la transparence sur leurs
                marges raisonnables, évitent le gaspillage alimentaire, luttent contre les emballages et assurent un
                contact privilégié avec la clientèle.
            </p>

            <p>
                Ces commerces sont un trait d’union entre le monde des consommateurs et des consommatrices et le monde
                paysan. C’est pourquoi Irremplaçables épiceries ! relie l’action de ces épiceries à la vision de
                l’agriculture paysanne que définit, en France, le syndicat agricole La Confédération paysanne.
            </p>

            <p>
                Cette vision de l’agriculture ne peut exister qu’en coopération avec les autres maillons des circuits
                courts alimentaires artisanaux et avec l’adhésion de la population. Elle participe à la construction
                d’autres rapports économiques dans lesquels les épiceries ont toute leur place et qu’elles peuvent
                conforter.
            </p>

            <p>
                Les <strong>Artisans de la transition</strong> nourrissent l’espoir que ce film aidera les épiceries
                alternatives à faire leur cette vision de l’agriculture et du système alimentaire, avec son potentiel
                d’incitation au changement. Comme Manger, c’est politique&nbsp;! il est rempli d’informations et stimule
                la discussion en poussant à la mise en place ou au renforcement de politiques alimentaires ambitieuses.
            </p>

            <p>
                Les <strong>Artisans de la transition</strong> sollicitent l’appui des épiceries alternatives, de même
                que des organisations paysannes qui défendent les circuits courts artisanaux collectifs, pour organiser
                des projections-débats suivies d’une discussion en présence d’élus dans un contexte associatif,
                politique ou d’enseignement.
            </p>

            <p>
                Pour toute information, contactez
                <a href="mailto:jacques.mirenowicz@larevuedurable.com">jacques.mirenowicz&#64;larevuedurable.com</a>.
            </p>
        </div>

        <div class="nat-vertical nat-gap"></div>
    </div>
</div>
