<h2 mat-dialog-title>Faire un versement</h2>
<mat-dialog-content>

    <p class="mat-body">Merci d'indiquer le montant que tu souhaites verser.</p>

    <div fxLayout="row" fxLayoutAlign="center">
        <mat-form-field style="width:120px;">
            <mat-label>Montant</mat-label>
            <input matInput type="number" step="1" [formControl]="formCtrl" [errorStateMatcher]="matcher" />
            <mat-error *ngIf="formCtrl.errors?.min">Minimum {{ formCtrl.errors.min.min | currency : 'CHF' }}</mat-error>
            <div matSuffix>CHF</div>
        </mat-form-field>
    </div>

    <app-bvr [bankingData]="bvrData"></app-bvr>


</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
    <button mat-button mat-dialog-close>Annuler</button>
</mat-dialog-actions>
