@use 'sass:color';
@use 'sass:map';
@use '@angular/material' as mat;
@mixin front-office($theme) {
    $primary: map.get($theme, primary);
    $accent: map.get($theme, accent);
    $warn: map.get($theme, warn);
    $bg: map.get($theme, background);
    $fg: map.get($theme, foreground);

    app-front-office {
        #header-top {
            background: color.adjust(mat.get-color-from-palette($bg, app-bar), $lightness: -5%);
            .mat-mdc-button:not(:disabled) {
                color: color.adjust(mat.get-color-from-palette($fg, text), $lightness: 35%);
            }
        }

        #mobile-menu .mat-expansion-panel-body {
            padding-right: 0 !important;
        }

        #search-field .mdc-line-ripple::before {
            border: none;
        }

        #logo-slogan {
            color: mat.get-color-from-palette($accent);
        }

        #menu-main > ul {
            a {
                color: color.adjust(mat.get-color-from-palette($fg, text), $lightness: 20%);
            }

            li:hover > a,
            a.open,
            a.active {
                span {
                    border-color: mat.get-color-from-palette($primary) !important;
                }
            }

            & > li.hasMenu::after {
                background: mat.get-color-from-palette($bg, card);
            }

            ul a:hover,
            a.open,
            a.active {
                color: mat.get-color-from-palette($primary);
            }
        }

        #mobile-menu a:hover {
            color: mat.get-color-from-palette($primary) !important;
        }

        #newsletter-zone {
            background: mat.get-color-from-palette($accent);
            color: mat.get-color-from-palette($accent, default-contrast);
        }

        #footer {
            background: #e1e1e3;

            .mat-mdc-form-field,
            mat-form-field * {
                border-bottom-color: mat.get-color-from-palette($primary, default-contrast) !important;
                color: mat.get-color-from-palette($primary, default-contrast) !important;
            }

            mat-form-field .mat-mdc-text-field-wrapper {
                background-color: #0000000a !important;
            }
        }

        #footer-body {
            a:hover {
                color: mat.get-color-from-palette($accent);
            }

            .mdc-list-item__primary-text {
                text-transform: uppercase;
            }
        }
    }
}
