@use 'sass:color';
@use 'sass:map';
@use '@angular/material' as mat;
@mixin front-office($theme) {
    $primary: map.get($theme, primary);
    $accent: map.get($theme, accent);
    $warn: map.get($theme, warn);
    $bg: map.get($theme, background);
    $fg: map.get($theme, foreground);

    app-front-office {
        #header-top {
            background: color.adjust(mat.get-color-from-palette($bg, app-bar), $lightness: -5%);
            color: color.adjust(mat.get-color-from-palette($fg, text), $lightness: 35%);
        }

        #mobile-menu .mat-expansion-panel-body {
            padding-right: 0 !important;
        }
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
        #search-field .mat-form-field-underline {
            display: none;
        }

        #logo-slogan {
            color: mat.get-color-from-palette($accent);
        }

        #menu-main > ul {
            a {
                color: color.adjust(mat.get-color-from-palette($fg, text), $lightness: 20%);
            }

            li:hover > a,
            a.open,
            a.active {
                span {
                    border-color: mat.get-color-from-palette($primary) !important;
                }
            }

            & > li.hasMenu::after {
                background: mat.get-color-from-palette($bg, card);
            }

            ul a:hover,
            a.open,
            a.active {
                color: mat.get-color-from-palette($primary);
            }
        }

        #mobile-menu a:hover {
            color: mat.get-color-from-palette($primary) !important;
        }

        #newsletter-zone {
            background: mat.get-color-from-palette($accent);
            color: mat.get-color-from-palette($accent, default-contrast);
        }

        #footer {
            background: #e1e1e3;

            .mat-mdc-form-field,
            .mat-form-field * {
                color: mat.get-color-from-palette($primary, default-contrast) !important;
                border-bottom-color: mat.get-color-from-palette($primary, default-contrast) !important;
            }
        }

        #footer-body {
            a:hover {
                color: mat.get-color-from-palette($accent);
            }
        }
    }
}
