@mixin front-office($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $bg: map-get($theme, background);
    $fg: map-get($theme, foreground);

    app-front-office {

        #header-top {
            background: darken(mat-color($bg, app-bar), 5%);
            color: lighten(mat-color($fg, text), 35%);
        }

        #mobile-menu .mat-expansion-panel-body {
            padding-right: 0 !important;
        }

        #search-field .mat-form-field-underline {
            display: none;
        }

        #logo-slogan {
            color: mat-color($accent);
        }

        #menu-main > ul {

            a {
                color: lighten(mat-color($fg, text), 20%);
            }

            li:hover > a, a.open, a.active {
                span {
                    border-color: mat-color($primary) !important;
                }
            }

            & > li.hasMenu::after {
                background: mat-color($bg, card);
            }

            ul a:hover, a.open, a.active {
                color: mat-color($primary);
            }
        }

        #mobile-menu a:hover {
            color: mat-color($primary) !important;
        }

        #newsletter-zone {
            background: mat-color($primary, A700);
            color: mat-color($primary, default-contrast);
        }

        #footer {

            .mat-form-field, .mat-form-field * {
                color: mat-color($primary, default-contrast) !important;
                border-bottom-color: mat-color($primary, default-contrast) !important;
            }
        }

        #footer-body {
            a:hover {
                color: mat-color($accent);
            }
        }
    }
}


