@import '../../styles/responsive';

:host {

    #searchByCode {
        display: flex;

        padding: 3px 5px;
        width: 135px;

        border-radius: 5px;
        background: rgba(0, 0, 0, 0.05);

        input {
            border: none;
            font-size: 16px;
            line-height: 40px;
            height: 40px;
            min-width: 70px;
            width: calc(100% - 50px);
            display: block;
            padding: 5px;
            background: transparent;
            outline: none;
        }
    }

    mat-sidenav-container {
        height: 100%;
        min-height: 100%;
        min-width: 100%;
        width: 100%;
    }

    #header, #body, #footer {
        margin-bottom: 50px;
    }

    #body {
        @include responsive($gt-xs) {
            margin-bottom: 150px;
        }
    }


}
