@use '@ecodev/natural-layout' as nat;
@use '@angular/material' as mat;

:host {
    @include mat.button-overrides(
        (
            filled-container-shape: 0,
            outlined-container-shape: 0,
            protected-container-shape: 0,
            text-container-shape: 0,
            tonal-container-shape: 0,
        )
    );
}

mat-sidenav-container {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
}

app-breadcrumbs {
    margin-top: 20px;
    margin-left: 10px;
}

#logo-slogan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;

    #logo-link {
        width: 530px;
        max-width: 80%;
    }

    #slogan {
        margin: auto;
        padding-left: 90px;
    }
}

#footer {
    background: #ebebeb;
}

#footer-body {
    padding: 50px 0 40px;
    text-transform: uppercase;

    * {
        line-height: 48px;
    }
}

.footer-right-column {
    margin-top: 5px;
    padding-left: 16px;
}

#head-of-footer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    background: #4d6e99;
    height: 300px;

    #footer-logo {
        position: relative;
        left: -12px;
        z-index: 2;
    }

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        opacity: 0.5;
        z-index: 0;
        background-image: url('../../assets/images/footer-1_cc_artisansdelatransition.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        content: '';
    }

    & > div {
        width: 100%;
    }
}

#newsletter-subscription {
    width: 30em;
    max-width: 100%;
}

#newsletter-zone {
    padding: 15px 0 0 0;

    @include nat.media(md) {
        .container {
            align-items: center;
        }
    }

    @include mat.form-field-overrides(
        (
            filled-container-color: rgba(0, 0, 0, 0.1),
            filled-active-indicator-color: white,
            filled-focus-active-indicator-color: white,
        )
    );
}

#front-office-body {
    margin-bottom: 300px;
}

#header-top {
    background: var(--mat-sys-surface-dim);

    .mdc-button {
        text-transform: uppercase;
    }

    .mat-mdc-button:not(:disabled) {
        color: color-mix(in srgb, var(--mat-sys-on-background) 60%, white);
    }
}

#header-middle {
    padding-top: 80px;
    padding-bottom: 50px;
}

#header-mobile {
    margin-bottom: 30px;
}

#header-bottom {
    position: relative;
}

.section-logo {
    margin-bottom: 15px;
    width: 390px;
    max-width: 100%;
}

#menu-main {
    & > ul {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        margin: 0;
        padding: 0;
        height: 50px;

        a {
            color: color-mix(in srgb, var(--mat-sys-on-background) 80%, white);
        }

        ul {
            position: absolute;
            z-index: 901;
            padding: 30px 0 0 0;
        }

        li {
            display: block;
            flex-direction: row;
            align-items: stretch;
            margin: 0;
            padding: 0;

            &:not(:last-child) {
                margin-right: 20px;
            }
        }

        a {
            display: block;
            position: relative; // to limit ripple
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            outline: none;
            font-weight: bold;
            font-size: 20px;
            text-transform: uppercase;
            white-space: nowrap;

            span {
                display: block;
                border-bottom: 6px solid transparent;
                padding: 10px;
            }
        }
    }
}

#mobile-menu {
    margin-top: 20px;
    min-width: 300px;

    a {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        padding: 0 24px;

        height: 48px;
        color: black;
        font-size: 16px;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    & > ul {
        ul {
            transition: all 0.5s ease-out;
            margin-left: 24px;
            max-height: 0;
            overflow: hidden;
        }
    }

    li.opened > ul {
        max-height: 400px;
    }
}

#mobile-menu .mat-expansion-panel-body {
    padding-right: 0 !important;
}

#search-field .mdc-line-ripple::before {
    border: none;
}

#logo-slogan {
    color: var(--mat-sys-tertiary-container);
}

#menu-main ul {
    li:hover > a,
    a.open,
    a.active {
        span {
            border-color: var(--mat-sys-primary-container) !important;
        }
    }

    & > li.hasMenu::after {
        background: var(--mat-sys-surface-container-highest);
    }

    ul a:hover,
    a.open,
    a.active {
        color: var(--mat-sys-primary-container);
    }
}

#mobile-menu a:hover {
    color: var(--mat-sys-primary-container) !important;
}

#newsletter-zone {
    background: var(--mat-sys-tertiary-container);
    color: var(--mat-sys-on-tertiary-container);
}

#footer {
    background: #e1e1e3;

    .mat-mdc-form-field,
    mat-form-field * {
        border-bottom-color: var(--mat-sys-on-primary-container) !important;
        color: var(--mat-sys-on-primary-container) !important;
    }

    mat-form-field .mat-mdc-text-field-wrapper {
        background-color: #0000000a !important;
    }
}

#footer-body {
    a:hover {
        color: var(--mat-sys-tertiary-container);
    }

    .mdc-list-item__primary-text {
        text-transform: uppercase;
    }
}
