<!-- Mobile menu template -->
<ng-template #mobileNavigationTemplate let-navigation>
    @if (navigation?.length) {
        <ul>
            @for (item of navigation; track item) {
                <li [class.opened]="item.opened">
                    @if (!item.children?.length) {
                        <a matRipple [routerLink]="item.link" (click)="menu.close()">{{ item.display }}</a>
                    }
                    @if (item.children?.length) {
                        <a matRipple (click)="item.opened = !item.opened">{{ item.display }}</a>
                    }
                    <ng-container *ngTemplateOutlet="mobileNavigationTemplate; context: {$implicit: item.children}" />
                </li>
            }
        </ul>
    }
</ng-template>

<!-- Main menu template -->
<ng-template #navigationTemplate let-navigation>
    @if (navigation?.length) {
        <ul>
            @for (item of navigation; track item) {
                <li [class.hasMenu]="item.children?.length">
                    <a matRipple routerLinkActive="active" [routerLink]="item.link">
                        <span (click)="openMenuDropdown(item.children, $event)">{{ item.display }}</span>
                    </a>
                </li>
            }
        </ul>
    }
</ng-template>

<mat-sidenav-container>
    <mat-sidenav #menu position="end" [opened]="menuOpened">
        <!-- menu mobile -->
        <div id="mobile-menu">
            <ng-container *ngTemplateOutlet="mobileNavigationTemplate; context: {$implicit: mobileNavigation}" />

            @if (viewer?.role === UserRole.administrator) {
                <ul>
                    <li>
                        <a routerLink="/admin" matRipple>Administration</a>
                    </li>
                </ul>
            }
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar class="nat-horizontal nat-align nat-md-hide" id="header-mobile">
            <div class="nat-expand"></div>

            <a routerLink="/"><img alt="logo" height="30" src="assets/logo-artisans-de-la-transition.svg" /></a>

            <div class="nat-expand"></div>

            <button mat-icon-button (click)="menu.toggle()">
                <mat-icon naturalIcon="menu" />
            </button>
        </mat-toolbar>

        <div id="header" class="nat-md-show">
            <!-- header : 1s line -->
            <div id="header-top">
                <div class="container nat-horizontal">
                    <div class="nat-expand"></div>
                    @if (!currencyService.locked) {
                        <a mat-button [matMenuTriggerFor]="deviseMenu">
                            {{ currencyService.current.value === Currency.CHF ? 'Suisse (CHF)' : 'Europe (EUR)' }}
                            <mat-icon naturalIcon="keyboard_arrow_down" />
                        </a>
                    }
                    <mat-menu #deviseMenu="matMenu">
                        <button mat-menu-item (click)="currencyService.setCurrency(Currency.CHF)">Suisse (CHF)</button>
                        <button mat-menu-item (click)="currencyService.setCurrency(Currency.EUR)">Europe (EUR)</button>
                    </mat-menu>
                    @if (viewer?.role === UserRole.administrator) {
                        <a routerLink="/admin" mat-button>Administration</a>
                    }
                    @for (item of topNavigation; track item) {
                        <a mat-button [routerLink]="item.link"> {{ item.display }}</a>
                    }
                </div>
            </div>

            <!-- header : 2nd line -->
            <div id="header-middle">
                <div class="container" id="logo-slogan">
                    <a routerLink="/" id="logo-link">
                        <img alt="logo" src="assets/logo-artisans-de-la-transition.svg" />
                    </a>
                    <div id="slogan">
                        <div>Comprendre l’urgence écologique</div>
                        <div>Des pistes pour y répondre</div>
                    </div>
                </div>
            </div>

            <!-- header : 3rd line -->
            <div id="header-bottom">
                <div class="container nat-horizontal nat-right" id="menu-main-container">
                    <div class="nat-expand nat-horizontal nat-align" id="menu-main">
                        <ng-container *ngTemplateOutlet="navigationTemplate; context: {$implicit: navigation}" />
                    </div>

                    <mat-form-field id="search-field">
                        <mat-label>Rechercher</mat-label>
                        <input
                            matInput
                            [(ngModel)]="searchTerm"
                            (keydown.enter)="search()"
                            (keydown.esc)="searchTerm = ''"
                        />
                        <button mat-icon-button matIconSuffix (click)="search()">
                            <mat-icon naturalIcon="search" />
                        </button>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <!-- THE BODY IS HERE -->
        <div id="front-office-body">
            <div class="container">
                <app-breadcrumbs />
            </div>

            <router-outlet />
        </div>

        <!-- THE FOOTER IS HERE -->
        <div id="footer">
            <div id="head-of-footer">
                <div class="container">
                    <img
                        id="footer-logo"
                        alt="logo"
                        class="section-logo"
                        src="assets/logo-artisans-de-la-transition-blanc.svg"
                        [style.width.perc]="50"
                    />
                </div>
            </div>

            <div id="newsletter-zone">
                <form class="container nat-vertical nat-md-horizontal nat-md-gap-20" [formGroup]="newsletterForm">
                    <div class="mat-h1" id="newsletter">Inscrivez-vous à la lettre d'info !</div>

                    <mat-form-field id="newsletter-subscription">
                        <mat-label>Adresse e-mail</mat-label>
                        <input matInput formControlName="email" />
                        @if (newsletterForm.controls.email.errors) {
                            <mat-error>Veuillez indiquer une addresse courriel valide</mat-error>
                        }
                    </mat-form-field>

                    @if (newsletterForm.valid) {
                        <button mat-flat-button (click)="subscribeNewsletter()">S'inscrire</button>
                    }
                </form>
            </div>

            <div class="container nat-gap-30 app-md-gap-60 nat-vertical" id="footer-body">
                <div class="mat-h3 app-md-gap-50 nat-md-horizontal nat-vertical">
                    <mat-nav-list class="nat-md-expand-33">
                        <a mat-list-item routerLink="mentions-legales">Mentions légales</a>
                        <a mat-list-item routerLink="cgv">Conditions générales de vente</a>
                    </mat-nav-list>

                    <div class="footer-right-column">
                        <div class="mat-h2 nat-no-margin-bottom">
                            Association
                            <br />
                            Artisans de la transition
                        </div>
                        <div class="mat-h2">La Revue durable</div>
                    </div>

                    <div class="nat-md-expand-33 footer-right-column nat-gap-10 nat-vertical">
                        <div>
                            Rue de Lausanne 23
                            <br />
                            1700 Fribourg
                            <br />
                            Suisse
                            <br />
                            Tél: +41 26 321 37 11
                            <br />
                            <a href="mailto:courriel@artisansdelatransition.org" style="text-transform: lowercase"
                                >courriel&#64;artisansdelatransition.org
                            </a>
                            <br />
                            IBAN CH2300768300140932307
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
