<div [formGroup]="form">

    <app-detail-header newLabel="Nouvel utilisateur"
                       label="Utilisateur"
                       [model]="data.model"
                       [listRoute]="['admin', 'user']"
                       [showAvatar]="true"
    ></app-detail-header>

    <mat-tab-group [dynamicHeight]="true" (selectedIndexChange)="changeTab($event)">
        <mat-tab i18n-label label="Général">
            <div fxLayout="column" fxLayoutGap="30px" class="padding-top">
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px">
                    <div fxFlex="66">

                        <h2 class="mat-title">Coordonnées</h2>

                        <div fxLayout="row" fxLayoutGap="10px">
                            <mat-form-field fxFlex>
                                <mat-label i18n>Prénom</mat-label>
                                <input matInput formControlName="firstName" (change)="update()">
                                <mat-error *ngIf="form.get('firstName').hasError('maxlength')" i18n>
                                    Maximum {{form.get('firstName').errors.maxlength.requiredLength}} caractères
                                </mat-error>
                                <mat-error *ngIf="form.get('firstName').hasError('required')" i18n>Requis</mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex>
                                <mat-label i18n>Nom de famille</mat-label>
                                <input matInput formControlName="lastName" (change)="update()">
                                <mat-error *ngIf="form.get('lastName').hasError('maxlength')" i18n>
                                    Maximum {{form.get('lastName').errors.maxlength.requiredLength}} caractères
                                </mat-error>
                                <mat-error *ngIf="form.get('lastName').hasError('required')" i18n>Requis</mat-error>
                            </mat-form-field>
                        </div>

                        <app-address [form]="form" (change)="update()"></app-address>

                    </div>

                    <div fxFlex="33" fxLayout="column">
                        <h2 class="mat-title">Compte</h2>
                        <mat-form-field>
                            <mat-label i18n>email</mat-label>
                            <input matInput formControlName="email" (change)="update()">
                            <mat-error *ngIf="form.get('email').hasError('required')" i18n>Requis</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label i18n>Nom d'utilisateur</mat-label>
                            <input matInput formControlName="login" (change)="update()">
                            <mat-error *ngIf="form.get('login').hasError('maxlength')" i18n>
                                Maximum {{form.get('login').errors.maxlength.requiredLength}} caractères
                            </mat-error>
                            <mat-error *ngIf="form.get('login').hasError('required')" i18n>Requis</mat-error>
                        </mat-form-field>


                        <app-select-enum enumName="UserStatus"
                                         formControlName="status"
                                         (selectionChange)="update()"
                                         placeholder="Status"
                        ></app-select-enum>

                        <app-select-enum enumName="UserRole"
                                         formControlName="role"
                                         (selectionChange)="update()"
                                         placeholder="Rôle"
                        ></app-select-enum>

                    </div>
                </div>

                <!-- Bookings -->
                <mat-divider *ngIf="data.model.id"></mat-divider>
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px" *ngIf="data.model.id">
                    <div fxFlex="33" fxLayout="column">
                        <h2 class="mat-title">Sorties en cours</h2>
                        <app-relations [main]="data.model"
                                       [service]="bookingService"
                                       [filter]="runningSelfApproved"
                                       [disabled]="true"
                                       [hideSearch]="true"
                        >
                            <ng-template let-item="item">
                                <div fxLayout="row" fxLayoutGap="20px">
                                    <span>
                                        <span class="mat-body-2">de</span>
                                        {{ item.startDate }},
                                    </span>
                                    <span *ngIf="item.endDate">
                                        <span class="mat-body-2">à</span>
                                        {{item.endDate}},
                                    </span>
                                    <span *ngIf="item.estimatedEndDate">
                                        <span class="mat-body-2">retour prévu</span>
                                        {{ item.estimatedEndDate}}
                                    </span>
                                    <div fxFlex fxLayout="row" fxLayoutAlign="end" *ngIf="!item.endDate">
                                        <button mat-button color="warn" (click)="bookingService.flagEndDate(item.id)">Terminer</button>
                                    </div>
                                </div>
                            </ng-template>
                        </app-relations>
                    </div>
                    <div fxFlex="33" fxLayout="column">
                        <h2 class="mat-title">Cotisation, stockage et services</h2>
                        <app-relations [main]="data.model"
                                       [service]="bookingService"
                                       [filter]="runningActive"
                                       [disabled]="true"
                                       [hideSearch]="true"
                        >
                            <ng-template let-item="item">
                                <app-table-button [navigate]="['/admin/booking/', item.id]" [label]="item.bookables[0].name"
                                ></app-table-button>
                            </ng-template>
                        </app-relations>
                    </div>
                    <div fxFlex="33">
                        <h2 class="mat-title">Demandes en attente</h2>
                        <app-relations [main]="data.model"
                                       [service]="bookingService"
                                       [filter]="pendingDemands"
                                       [disabled]="true"
                                       [hideSearch]="true"
                        >
                            <ng-template let-item="item">
                                <app-table-button [navigate]="['/admin/booking/', item.id]" [label]="item.bookables[0].name"
                                ></app-table-button>
                            </ng-template>
                        </app-relations>
                    </div>
                </div>

                <mat-divider *ngIf="data.model.id"></mat-divider>

                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px" *ngIf="data.model.id">
                    <div fxFlex="50" fxLayout="column">
                        <h2 class="mat-title">Certifications</h2>
                        <app-relations [main]="data.model"
                                       [service]="licenseService"
                                       [filter]="{groups: [{conditions: [{users: {have: {values: [data.model.id]}}}]}]}"
                                       i18n-placeholder
                                       placeholder="Attribuer une certification"
                                       [hideSearch]="true"
                        >
                            <ng-template let-item="item">
                                <app-table-button [navigate]="['/admin/license/', item.id]" [label]="item.name"></app-table-button>
                            </ng-template>
                        </app-relations>
                    </div>

                    <div fxFlex="50" fxLayout="column">
                        <h2 class="mat-title">Tags</h2>
                        <app-relations [main]="data.model"
                                       [service]="userTagService"
                                       [filter]="{groups: [{conditions: [{users: {have: {values: [data.model.id]}}}]}]}"
                                       [hideSearch]="true"
                                       placeholder="Ajouter un tag"
                        >
                            <ng-template let-item="item">
                                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                                    <!-- TODO : link to users list filtred by tag -->
                                    <ngx-avatar [bgColor]="item.color" [name]="item.name" [size]="36"></ngx-avatar>
                                    <app-table-button [navigate]="['/admin/user', item.id]" [label]="item.name"></app-table-button>
                                </div>
                            </ng-template>
                        </app-relations>
                    </div>
                </div>

                <mat-divider></mat-divider>

                <app-stamp [item]="data.model"></app-stamp>
            </div>

        </mat-tab>

    </mat-tab-group>

    <app-detail-fixed-button *ngIf="showFabButton" [form]="form" [model]="data.model" (create)="create()"></app-detail-fixed-button>

</div>
