<div [formGroup]="form">

    <app-detail-header newLabel="Nouvel utilisateur"
                       label="Utilisateur"
                       [model]="data.model"
                       [listRoute]="['admin', 'user']"
                       [showAvatar]="true"
    ></app-detail-header>

    <mat-tab-group [dynamicHeight]="true" (selectedIndexChange)="changeTab($event)">
        <mat-tab  label="Général">
            <div fxLayout="column" fxLayoutGap="30px" class="padding-top">
                <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px">
                    <div fxFlex="66" fxLayout="column">

                        <h2 class="mat-title">Coordonnées</h2>

                        <div fxLayout="row" fxLayoutGap="10px">
                            <mat-form-field fxFlex>
                                <mat-label  >Prénom</mat-label>
                                <input matInput formControlName="firstName" (change)="update()">
                                <mat-error *ngIf="form.get('firstName').hasError('maxlength')"  >
                                    Maximum {{form.get('firstName').errors.maxlength.requiredLength}} caractères
                                </mat-error>
                                <mat-error *ngIf="form.get('firstName').hasError('required')"  >Requis</mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex>
                                <mat-label  >Nom de famille</mat-label>
                                <input matInput formControlName="lastName" (change)="update()">
                                <mat-error *ngIf="form.get('lastName').hasError('maxlength')"  >
                                    Maximum {{form.get('lastName').errors.maxlength.requiredLength}} caractères
                                </mat-error>
                                <mat-error *ngIf="form.get('lastName').hasError('required')"  >Requis</mat-error>
                            </mat-form-field>

                            <app-select-enum enumName="Sex" formControlName="sex" placeholder="Genre"></app-select-enum>
                        </div>

                        <app-address [form]="form" (change)="update()"></app-address>

                        <div fxLayout="row" fxLayoutGap="10px">

                            <mat-form-field fxFlex>
                                <mat-label  >Téléphone fixe</mat-label>
                                <input matInput formControlName="phone" (change)="update()">
                            </mat-form-field>

                            <mat-form-field fxFlex>
                                <mat-label  >Téléphone mobile</mat-label>
                                <input matInput formControlName="mobilePhone" (change)="update()">
                            </mat-form-field>

                        </div>

                    </div>

                    <div fxFlex="33" fxLayout="column">
                        <h2 class="mat-title">Compte</h2>
                        <mat-form-field>
                            <mat-label  >email</mat-label>
                            <input matInput formControlName="email" (change)="update()">
                            <mat-error *ngIf="form.get('email').hasError('required')"  >Requis</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label  >Nom d'utilisateur</mat-label>
                            <input matInput formControlName="login" (change)="update()">
                            <mat-error *ngIf="form.get('login').hasError('maxlength')"  >
                                Maximum {{form.get('login').errors.maxlength.requiredLength}} caractères
                            </mat-error>
                            <mat-error *ngIf="form.get('login').hasError('required')"  >Requis</mat-error>
                        </mat-form-field>

                        <mat-divider class="margin-bottom"></mat-divider>
                        <h2 class="mat-title">Finances</h2>
                        <app-select formControlName="account"
                                    placeholder="Compte"
                                    [service]="accountService"
                                    (selectionChange)="update()"
                                    [showIcon]="false"
                                    [navigateTo]="['/admin/account', form.get('account').value?.id]"
                        ></app-select>

                    </div>
                </div>

                <mat-divider></mat-divider>

                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px">
                    <div fxFlex="66" fxLayout="column">
                        <h2 class="mat-title">Autres</h2>

                        <app-select [service]="service"
                                    formControlName="responsible"
                                    placeholder="Chef de famille"
                                    (selectionChange)="update()"
                                    [showIcon]="false"
                        ></app-select>

                        <mat-form-field fxFlex>
                            <mat-label  >Swiss sailling</mat-label>
                            <input matInput formControlName="ichtusSwissSailing" (change)="update()">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label  >Remarques</mat-label>
                            <textarea matInput formControlName="remarks" (change)="update()" matTextareaAutosize [matAutosizeMinRows]="1"
                            ></textarea>
                        </mat-form-field>

                        <div class="mat-body-1">
                            <p>Dernière connexion : {{ data.model.lastLogin | date: 'fullDate'}}</p>
                            <p>Séance d'accueil le : {{ data.model.welcomeSessionDate | date: 'fullDate'}}</p>
                        </div>

                    </div>

                    <div fxFlex="33" fxLayout="column">

                        <h2 class="mat-title">État</h2>

                        <app-select-enum enumName="UserStatus" formControlName="status" (selectionChange)="update()" placeholder="Status"
                        ></app-select-enum>

                        <app-select-enum enumName="UserRole" formControlName="role" (selectionChange)="update()" placeholder="Rôle"
                        ></app-select-enum>


                        <div fxLayout="row wrap" fxLayoutGap="20px" class="margin-v">
                            <mat-slide-toggle fxFlex formControlName="door1" (change)="update()" class="margin-bottom">Porte 1</mat-slide-toggle>
                            <mat-slide-toggle fxFlex formControlName="door2" (change)="update()" class="margin-bottom">Porte 2</mat-slide-toggle>
                            <mat-slide-toggle fxFlex formControlName="door3" (change)="update()" class="margin-bottom">Porte 3</mat-slide-toggle>
                            <mat-slide-toggle fxFlex formControlName="door4" (change)="update()" class="margin-bottom">Porte 4</mat-slide-toggle>
                        </div>
                    </div>
                </div>

                <!-- Bookings -->
                <mat-divider *ngIf="data.model.id"></mat-divider>
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px" *ngIf="data.model.id">
                    <div fxFlex="33" fxLayout="column">
                        <h2 class="mat-title">Sorties en cours</h2>
                        <app-relations [main]="data.model"
                                       [service]="bookingService"
                                       [filter]="runningSelfApproved"
                                       [disabled]="true"
                                       [hideSearch]="true"
                        >
                            <ng-template let-item="item">
                                <div fxLayout="row" fxLayoutGap="20px">
                                    <span>
                                        <span class="mat-body-2">de</span>
                                        {{ item.startDate }},
                                    </span>
                                    <span *ngIf="item.endDate">
                                        <span class="mat-body-2">à</span>
                                        {{item.endDate}},
                                    </span>
                                    <span *ngIf="item.estimatedEndDate">
                                        <span class="mat-body-2">retour prévu</span>
                                        {{ item.estimatedEndDate}}
                                    </span>
                                    <div fxFlex fxLayout="row" fxLayoutAlign="end" *ngIf="!item.endDate">
                                        <button mat-button color="warn" (click)="bookingService.flagEndDate(item.id)">Terminer</button>
                                    </div>
                                </div>
                            </ng-template>
                        </app-relations>
                    </div>
                    <div fxFlex="33" fxLayout="column">
                        <h2 class="mat-title">Cotisation, stockage et services</h2>
                        <app-relations [main]="data.model"
                                       [service]="bookingService"
                                       [filter]="runningActive"
                                       [disabled]="true"
                                       [hideSearch]="true"
                        >
                            <ng-template let-item="item">
                                <app-table-button [navigate]="['/admin/booking/', item.id]" [label]="item.bookables[0].name"
                                ></app-table-button>
                            </ng-template>
                        </app-relations>
                    </div>
                    <div fxFlex="33">
                        <h2 class="mat-title">Demandes en attente</h2>
                        <app-relations [main]="data.model"
                                       [service]="bookingService"
                                       [filter]="pendingDemands"
                                       [disabled]="true"
                                       [hideSearch]="true"
                        >
                            <ng-template let-item="item">
                                <app-table-button [navigate]="['/admin/booking/', item.id]" [label]="item.bookables[0].name"
                                ></app-table-button>
                            </ng-template>
                        </app-relations>
                    </div>
                </div>

                <mat-divider *ngIf="data.model.id"></mat-divider>

                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px" *ngIf="data.model.id">
                    <div fxFlex="50" fxLayout="column">
                        <h2 class="mat-title">Certifications</h2>
                        <app-relations [main]="data.model"
                                       [service]="licenseService"
                                       [filter]="{groups: [{conditions: [{users: {have: {values: [data.model.id]}}}]}]}"

                                       placeholder="Attribuer une certification"
                                       [hideSearch]="true"
                        >
                            <ng-template let-item="item">
                                <app-table-button [navigate]="['/admin/license/', item.id]" [label]="item.name"></app-table-button>
                            </ng-template>
                        </app-relations>
                    </div>

                    <div fxFlex="50" fxLayout="column">
                        <h2 class="mat-title">Tags</h2>
                        <app-relations [main]="data.model"
                                       [service]="userTagService"
                                       [filter]="{groups: [{conditions: [{users: {have: {values: [data.model.id]}}}]}]}"
                                       [hideSearch]="true"
                                       placeholder="Ajouter un tag"
                        >
                            <ng-template let-item="item">
                                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                                    <!-- TODO : link to users list filtred by tag -->
                                    <ngx-avatar [bgColor]="item.color" [name]="item.name" [size]="36"></ngx-avatar>
                                    <app-table-button [navigate]="['/admin/user', item.id]" [label]="item.name"></app-table-button>
                                </div>
                            </ng-template>
                        </app-relations>
                    </div>
                </div>

                <mat-divider></mat-divider>

                <app-stamp [item]="data.model"></app-stamp>
            </div>

        </mat-tab>

    </mat-tab-group>

    <app-detail-fixed-button *ngIf="showFabButton" [form]="form" [model]="data.model" (create)="create()"></app-detail-fixed-button>

</div>
