<div class="detail-body" [formGroup]="form">
    <natural-detail-header
        label="Utilisateur"
        [listRoute]="['admin', 'user']"
        [model]="data.model"
        [newLabel]="data.seo.title"
    />

    @if (isUpdatePage() && data.model.shouldDelete) {
        <mat-toolbar color="error"
            >Cet utilisateur n'existe pas dans Crésus. Il doit soit être ajouté dans Crésus, soit être supprimé
            définitivement ici.</mat-toolbar
        >
    }

    <!-- naturalLinkableTab conflicts with order detail page (child route) -->
    @if (isUpdatePage()) {
        <mat-tab-group [dynamicHeight]="true" (selectedIndexChange)="changeTab($event)">
            <mat-tab label="Général">
                <div class="nat-vertical nat-padding-top nat-gap-horizontal nat-md-horizontal">
                    <div class="nat-vertical nat-md-expand-66">
                        <h2 class="mat-font-title-lg">Coordonnées</h2>
                        <app-address [form]="form" [disabled]="true" />
                        <mat-form-field>
                            <mat-label>Téléphone</mat-label>
                            <input formControlName="phone" matInput />
                        </mat-form-field>
                    </div>
                    <div class="nat-md-expand-33 nat-vertical">
                        <h2 class="mat-font-title-lg">Compte</h2>
                        <mat-form-field>
                            <mat-label>email</mat-label>
                            <input formControlName="email" matInput (change)="update()" />
                            @if (form.get('email')?.hasError('duplicateValue')) {
                                <mat-error>Cet email est déjà attribué</mat-error>
                            } @else {
                                <mat-error>{{ form.get('email')?.errors | errorMessage }}</mat-error>
                            }
                        </mat-form-field>
                        <natural-select-enum
                            enumName="UserRole"
                            formControlName="role"
                            placeholder="Rôle"
                            [optionDisabled]="roleDisabled()"
                            (selectionChange)="update()"
                        />
                        <mat-slide-toggle
                            formControlName="isPublicFacilitator"
                            class="nat-margin-bottom"
                            (change)="update()"
                            >Facilitateur public</mat-slide-toggle
                        >
                        <h2 class="mat-font-title-lg">État</h2>
                        <natural-select-enum
                            enumName="Membership"
                            formControlName="membership"
                            placeholder="Membre des artisans"
                        />
                        <div>
                            <span class="mat-font-title-sm">Abonnement :</span>
                            @if (data.model.subscriptionLastReviewNumber) {
                                Abonné {{ data.model.subscriptionType | enum: 'ProductType' | async }} jusqu'au numéro{{
                                    data.model.subscriptionLastReviewNumber
                                }}
                            } @else {
                                N'est pas abonné
                            }
                        </div>
                        <div
                            matTooltip="L'accès temporaire donne accès au contenu numérique en attendant le prochain import de Crésus qui confirmera les accès disponible"
                        >
                            <span class="mat-font-title-sm">Accès temporaire :</span>
                            {{ data.model.webTemporaryAccess ? 'oui' : 'non' }}
                        </div>
                    </div>
                </div>
                <mat-divider class="nat-margin-vertical" />
                <h2 class="mat-font-title-lg">Conversations carbone animées</h2>
                <natural-relations
                    otherName="facilitator"
                    placeholder="Conversations carbone"
                    [filter]="{groups: [{conditions: [{facilitators: {have: {values: [data.model.id]}}}]}]}"
                    [main]="data.model"
                    [service]="sessionService"
                >
                    <ng-template let-item="item">
                        <div class="nat-horizontal nat-align nat-gap-10">
                            <natural-table-button [label]="item.name" [navigate]="['/admin/session/', item.id]" />
                        </div>
                    </ng-template>
                </natural-relations>
                <mat-divider class="nat-margin-vertical" />
                @if (isUpdatePage()) {
                    <div class="nat-vertical nat-gap-15">
                        <natural-stamp [item]="data.model" />
                        @if (data.model.firstLogin) {
                            <div>
                                <span class="nat-bold">Première connexion :</span>
                                {{ data.model.firstLogin | date }} ({{ data.model.firstLogin | timeAgo }})
                            </div>
                        }
                        @if (data.model.lastLogin) {
                            <div>
                                <span class="nat-bold">Dernière connexion :</span>
                                {{ data.model.lastLogin | date }} ({{ data.model.lastLogin | timeAgo }})
                            </div>
                        }
                    </div>
                }
            </mat-tab>

            @if (isUpdatePage()) {
                <mat-tab id="orders" label="Commandes">
                    <div class="nat-padding-top">
                        <div>
                            <app-orders
                                [forcedVariables]="{
                                    filter: {groups: [{conditions: [{owner: {equal: {value: data.model.id}}}]}]},
                                }"
                                [selectedColumns]="['creationDate', 'lines', 'status', 'balanceCHF', 'balanceEUR']"
                            />
                        </div>
                    </div>
                </mat-tab>
            }
        </mat-tab-group>
    }

    @if (showFabButton) {
        <natural-fixed-button-detail [form]="form" [model]="data.model" (create)="create()" (delete)="delete()" />
    }
</div>

<router-outlet />
