<div
    class="page-illustration"
    [style.backgroundImage]="'url(assets/images/illustration-pages/eleonore-henry-de-frahan-argos-larevuedurable.jpg)'"
></div>

<div class="container mat-h3 rich-text">
    <h1 class="mat-display-1">NOS CONVICTIONS</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body rich-text mat-h3">
            <p class="text-primary">
                « Lorsqu’on commence à agir, l’espoir est partout. Au lieu de chercher l’espoir, il faut donc plutôt
                chercher à agir. L’espoir suivra.&nbsp;» Greta Thunberg
            </p>
            <p>&nbsp;</p>
            <p>
                D’où la volonté de l’association Artisans de la transition de créer un maximum d’opportunités pour aider
                à agir afin de créer une société soutenable. Il y a cependant diverses manières d’agir, qui
                correspondent à différentes visions de la transition. La vision dominante prétend résoudre la crise
                écologique et sociale grâce à des technologies de plus en plus risquées pour maintenir la croissance
                économique. Mais l’échec de cette option est si flagrant que la thèse d’un effondrement inévitable et
                proche du système gagne de plus en plus d’adeptes.
            </p>
            <p>
                Les Artisans de la transition voudraient se démarquer de ces deux visions. La première ne voit pas que
                l’éventualité d’un effondrement est bel et bien à l’ordre du jour et que l’éviter nécessite des
                changements radicaux rapides, préparatoires à un changement de paradigme. En estimant la catastrophe
                inéluctable, la seconde invite à agir, mais pour se préparer à amortir le choc plutôt que pour l’éviter.
            </p>
            <p>
                Les Artisans de la transition voudraient fortifier une troisième vision, entre fuite en avant et
                fatalisme : reconnaître que la catastrophe écologique est possible et tout faire pour l’éviter tant
                qu’il en est encore temps. Pour cela, l’association :
            </p>
            <ul>
                <li>
                    informe et réfléchit via LaRevueDurable, revue semestrielle consacrée à l’écologie, des rapports et
                    une lettre d’information
                </li>
                <li>stimule l’implication personnelle via la diffusion des Conversations carbone en Suisse romande</li>
                <li>
                    œuvre au changement de logique économique via la campagne de désinvestissement de l’industrie des
                    énergies fossiles, le changement de système alimentaire et l’essor d’un numérique sobre expurgé de
                    toute surveillance.
                </li>
            </ul>
        </div>
    </div>
</div>
