<div
    class="page-illustration"
    [style.backgroundImage]="
        'url(assets/images/illustration-pages/artisansdelatransition-eleonore-henry-de-frahan.jpg)'
    "
></div>

<div class="container mat-font-body-lg rich-text">
    <h1 class="mat-font-headline-lg">NOS CONVICTIONS</h1>

    <div class="nat-horizontal nat-gap-30">
        <div class="app-md-expand-70 page-body mat-font-body-lg rich-text">
            <p class="nat-text-primary">
                « Lorsqu’on commence à agir, l’espoir est partout. Au lieu de chercher l’espoir, il faut donc plutôt
                chercher à agir. L’espoir suivra.&nbsp;» Greta Thunberg
            </p>
            <p>&nbsp;</p>
            <p>
                L’association
                <strong>Artisans de la transition</strong>
                voudrait créer un maximum d’opportunités d’agir pour construire une société soutenable. A cette
                fin&nbsp;:
            </p>
            <ul>
                <li>
                    elle informe et réfléchit avec
                    <strong>LaRevueDurable</strong>
                    , revue semestrielle consacrée à l’écologie, des rapports et une lettre d’information&nbsp;;
                </li>
                <li>
                    elle stimule l’implication personnelle grâce à la méthode des Conversations carbone, dont elle
                    assure la diffusion en Suisse romande&nbsp;;
                </li>
                <li>
                    elle œuvre au changement de paradigme via la campagne de désinvestissement de l’industrie des
                    énergies fossiles, la convergence des acteurs de la transition dans le domaine alimentaire et
                    l’essor d’un numérique expurgé de toute surveillance vraiment au service des usagers.
                </li>
            </ul>
        </div>
    </div>
</div>
