<div class="container mat-h3 rich-text">
    <h1 class="mat-display-1">Nos convictions</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body rich-text mat-h3">
            <p>
                « Lorsqu’on commence à agir, l’espoir est partout. Au lieu de chercher l’espoir, il faut donc plutôt
                chercher à agir. L’espoir suivra. » Greta Thunberg
            </p>
            <p>
                Fondée en mars 2016, l’association Artisans de la transition s’emploie à créer un maximum d’opportunités
                pour aider à agir dans tous les secteurs, de l’individuel au politique, afin de créer une société
                soutenable.
            </p>
            <p>
                Il y a cependant plus d’une manière d’agir, qui chacune renvoie à une vision. La vision dominante pour
                résoudre la crise écologique et sociale est celle du sauvetage par des technologies de plus en plus
                risquées pour maintenir la croissance économique. De plus en plus de personnes lui opposent la vision
                d’un effondrement du système jugé inévitable.
            </p>
            <p>
                Les Artisans de la transition voudraient se démarquer de ces deux visions qui font l’une comme l’autre
                le jeu de l’effondrement. La première ne voit pas que cette éventualité est bel et bien l’ordre du jour
                et que l’éviter nécessite des changements radicaux rapides, préparatoires à un changement de paradigme.
                En estimant la catastrophe inéluctable, la seconde invite certes à agir, mais pour s’y préparer plutôt
                que pour l’éviter.
            </p>
            <p>
                Les Artisans de la transition voudraient fortifier une troisième vision, entre fuite en avant et
                fatalisme : reconnaître que la catastrophe écologique est possible, mais pas certaine et tout faire pour
                l’éviter tant qu’il en est encore temps. Pour y parvenir, l’association :
            </p>
            <ul>
                <li>
                    informe et réfléchit via LaRevueDurable, semestriel consacré à l’écologie, des rapports et une
                    lettre d’information
                </li>
                <li>stimule l’implication personnelle via la diffusion des Conversations carbone en Suisse romande</li>
                <li>
                    œuvre au changement de logique économique via la campagne de désinvestissement de l’industrie des
                    énergies fossiles, la transition écologique dans le domaine alimentaire et l’essor d’un numérique
                    sobre et expurgé de toute surveillance.
                </li>
            </ul>
        </div>
    </div>
</div>
