<div class="container mat-h3 rich-text">
    <h1 class="mat-display-1">Partenariats et coopérations</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body rich-text mat-h3" fxLayout="column" fxLayoutGap="50px">
            <div>
                <div class="mat-h1">Plate-forme développement durable-HES-SO</div>
                <p>
                    Les hautes écoles de la HES-SO s’engagent pour le développement durable. Les Artisans de la
                    transition sont partenaires officiels de leur Plateforme Développement durable en ligne depuis juin
                    2019. Elle valorise des projets d’enseignement, de recherche appliquée, de campus et de stratégie
                    institutionnelle qui contribuent à la transition écologique :
                    https://developpement-durable.hes-so.ch/fr/plateforme-developpement-durable. Chaque projet est
                    accompagné d’un article de LaRevueDurable, qui approfondit ou offre une autre approche des thèmes
                    abordés.
                </p>
                <img src="assets/images/association/hes-so.png" alt="logo hes-so" />
            </div>

            <div>
                <div class="mat-h1">CAS - Développement durable de l'Université de Genève</div>
                <img src="assets/images/association/cas.png" alt="logo cas" />
            </div>

            <div>
                <div class="mat-h1">Hepia - Haute école du paysage, d’ingénierie et d’architecture de Genève</div>
                <p>Depuis 2015, l’hepia abonne tous ses étudiants et son personnel à LaRevueDurable.</p>
                <img src="assets/images/association/hepia.png" alt="logo hepia" />
            </div>

            <div>
                <div class="mat-h1">Tera</div>
                <p>
                    En 2010, LaRevueDurable a inauguré un partenariat de contenu avec Tera, qui se traduit par une
                    rubrique régulière dans la revue.
                </p>
                <img src="assets/images/association/tera.png" alt="logo tera" />
            </div>
        </div>
    </div>
</div>
