<div class="container mat-h3 rich-text">
    <h1 class="mat-headline-4">PARTENARIATS ET COOPÉRATIONS</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body rich-text mat-h3" fxLayout="column" fxLayoutGap="50px">
            <div>
                <div class="mat-h1">Plate-forme développement durable-HES-SO</div>
                <p>
                    Les hautes écoles de la HES-SO s’engagent pour le développement durable. Les Artisans de la
                    transition sont partenaires officiels de leur
                    <a href="https://developpement-durable.hes-so.ch/fr/plateforme-developpement-durable-13753.html"
                        >Plate-forme Développement durable</a
                    >
                    en ligne depuis juin 2019. Elle valorise des projets d’enseignement, de recherche appliquée, de
                    campus et de stratégie institutionnelle qui contribuent à la transition écologique. Chaque projet
                    est accompagné d’un article de <strong>LaRevueDurable</strong>, qui approfondit ou offre une autre
                    approche des thèmes abordés.
                </p>
                <img src="assets/images/association/hes-so.png" alt="logo hes-so" />
            </div>

            <div>
                <div class="mat-h1">CAS - Développement durable de l'Université de Genève</div>
                <p>
                    Le CAS développement durable horizon 2030 de l’Université de Genève a pour objectifs l’acquisition,
                    le développement et la consolidation de connaissances scientifiques pluridisciplinaires et de
                    compétences transversales sur le développement durable.
                </p>
                <a href="https://www.unige.ch/formcont/cours/developpementdurable" class="image-link" target="_blank">
                    <img src="assets/images/association/cas.png" alt="logo cas"
                /></a>
            </div>

            <div>
                <div class="mat-h1">Hepia - Haute école du paysage, d’ingénierie et d’architecture de Genève</div>
                <p>
                    Depuis 2015, l’hepia abonne tous ses étudiants et son personnel à <strong>LaRevueDurable</strong>.
                </p>
                <a href="https://www.hesge.ch/hepia/" target="_blank" class="image-link">
                    <img src="assets/images/association/hepia.png" alt="logo hepia" />
                </a>
            </div>

            <div>
                <div class="mat-h1">Tera</div>
                <p>
                    En 2010, <strong>LaRevueDurable</strong> a inauguré un partenariat de contenu avec Tera, qui se
                    traduit par une rubrique régulière dans la revue.
                </p>
                <a href="https://www.tera.coop/" target="_blank" class="image-link">
                    <img src="assets/images/association/tera.png" alt="logo tera" />
                </a>
            </div>
        </div>
    </div>
</div>
