<div [formGroup]="form">

    <app-detail-header newLabel="Nouvelle réservation" label="Réservation" [model]="data.model" [listRoute]="['admin', 'booking']"
    ></app-detail-header>

    <mat-tab-group [dynamicHeight]="true" (selectedIndexChange)="changeTab($event)">
        <mat-tab label="Général">
            <div fxLayout="column" fxLayoutGap="30px" class="padding-top">
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px">
                    <div fxFlex="80" fxLayout="column">

                        <div fxLayout="row" fxLayoutGap="10px">
                            <app-select fxFlex="80"
                                        formControlName="responsible"
                                        placeholder="Responsable"
                                        [service]="userService"
                                        (selectionChange)="update()"
                            ></app-select>

                            <mat-form-field fxFlex="20">
                                <mat-label>Nombre de participants</mat-label>
                                <input matInput formControlName="participantCount" (change)="update()">
                            </mat-form-field>
                        </div>

                        <mat-card *ngIf="data.model.id">
                            <h2 class="mat-title">Réservable</h2>
                            <app-relations [main]="data.model"
                                           [service]="bookableService"
                                           [filter]="{groups: [{conditions: [{bookings: {have: {values: [data.model.id]}}}]}]}"
                                           placeholder="Associer à un réservable"
                                           [hideSearch]="true"
                            >
                                <ng-template let-item="item">
                                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                                        <app-table-button [navigate]="['/admin/bookable/', item.id]" [label]="item.name"></app-table-button>
                                    </div>
                                </ng-template>
                            </app-relations>
                        </mat-card>

                    </div>
                    <div fxFlex="20" fxLayout="column">
                        <div fxLayout="column" fxLayoutAlign="center start" class="margin-bottom">
                            <h2 class="mat-title">Statut</h2>
                            <mat-button-toggle-group #group="matButtonToggleGroup"
                                                     formControlName="status"
                                                     (change)="update()"
                                                     [vertical]="true"
                            >
                                <mat-button-toggle *ngFor="let item of data.status" [value]="item.value">
                                    {{ item.name }}
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>
                </div>

                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px">

                    <div fxFlex="50" fxLayout="column">

                        <h2 class="mat-title">Début</h2>

                        <div class="padding-bottom">
                            &nbsp;
                            <span *ngIf="data.model.startDate">
                                Départ: {{ data.model.startDate | date: 'long'}}
                            </span>
                        </div>

                        <mat-form-field>
                            <mat-label>Destination</mat-label>
                            <input matInput formControlName="destination" (change)="update()" />
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Commentaire de départ</mat-label>
                            <textarea matInput
                                      formControlName="startComment"
                                      (change)="update()"
                                      matTextareaAutosize
                                      [matAutosizeMinRows]="5"
                                      [matAutosizeMaxRows]="5"
                            ></textarea>
                        </mat-form-field>

                    </div>
                    <div fxFlex="50" fxLayout="column">

                        <div fxLayout="row">
                            <h2 class="mat-title" fxFlex>Retour</h2>
                            <button *ngIf="data.model.id && !form.get('endDate').value"
                                    mat-flat-button
                                    color="warn"
                                    (click)="endBooking()"
                            >Terminer
                            </button>
                        </div>
                        <div class="padding-bottom">
                            &nbsp;
                            <span *ngIf="data.model.endDate">
                                Arrivée : {{ data.model.endDate | date: 'long'}}
                            </span>
                        </div>

                        <mat-form-field>
                            <mat-label>Heure estimée de retour</mat-label>
                            <input matInput formControlName="estimatedEndDate" (change)="update()">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Commentaire d'arrivée</mat-label>
                            <textarea matInput
                                      formControlName="endComment"
                                      (change)="update()"
                                      matTextareaAutosize
                                      [matAutosizeMinRows]="5"
                                      [matAutosizeMaxRows]="5"
                            ></textarea>
                        </mat-form-field>
                    </div>

                </div>

                <mat-divider></mat-divider>

                <app-stamp [item]="data.model"></app-stamp>

            </div>
        </mat-tab>

    </mat-tab-group>

    <app-detail-fixed-button *ngIf="showFabButton" [form]="form" [model]="data.model" (create)="create()" (delete)="delete()"
    ></app-detail-fixed-button>

</div>
