<div class="detail-body" [formGroup]="form">

    <natural-detail-header newLabel="Nouvelle réservation" label="Réservation" [model]="data.model" [listRoute]="['admin', 'booking']">
        <div fxLayout="row" fxLayoutGap="20px">
            <button *ngIf="data.model.id && !form.get('endDate').value" mat-flat-button color="warn" (click)="endBooking()">
                Terminer
            </button>
        </div>
    </natural-detail-header>

    <mat-tab-group [dynamicHeight]="true" (selectedIndexChange)="changeTab($event)">
        <mat-tab label="Général">
            <div fxLayout="column" fxLayoutGap="30px" class="padding-top">
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px">
                    <div fxFlex="50" fxLayout="column">

                        <div fxLayout="row" fxLayoutGap="10px">
                            <natural-select fxFlex
                                        formControlName="owner"
                                        placeholder="Responsable"
                                        [service]="userService"
                                        (selectionChange)="update()"
                                        [showIcon]="false"
                                        [navigateTo]="form.get('owner').value?.id ? ['/admin/user', form.get('owner').value.id] : null"
                            ></natural-select>
                        </div>

                        <natural-select formControlName="bookable"
                                    placeholder="Réservable"
                                    [service]="bookableService"
                                    (selectionChange)="update()"
                                    [showIcon]="false"
                                    [navigateTo]="form.get('bookable').value?.id ? ['/admin/bookable', form.get('bookable').value.id] : null"
                        ></natural-select>

                        <button mat-flat-button
                                color="primary"
                                *ngIf="isApplication() && isService() && data.model.status === BookingStatus.application"
                                (click)="assignBookable(form.get('bookable').value)"
                        >
                            Valider la demande
                        </button>

                        <div *ngIf="newBooking">
                            <mat-divider class="margin-bottom"></mat-divider>
                            <p class="mat-body-1">
                                La prestation / espace de stockage
                                <span class="mat-body-2">{{ newBooking.bookable.name }}</span>
                                a été attribué(e).
                            </p>
                            <a mat-stroked-button [routerLink]="['/admin/booking', newBooking.id]" (click)="newBooking = null;">
                                Voir la réservation
                            </a>
                        </div>

                    </div>
                    <div fxFlex="50" fxLayout="column">
                        <natural-select-enum enumName="BookingStatus" formControlName="status" (selectionChange)="update()" placeholder="Status"
                        ></natural-select-enum>

                        <h2 class="mat-title">Commentaires</h2>
                        <mat-form-field>
                            <mat-label>Remarques</mat-label>
                            <textarea matInput formControlName="remarks" (change)="update()" matTextareaAutosize [matAutosizeMinRows]="3"
                            ></textarea>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Remarques internes</mat-label>
                            <textarea matInput
                                      formControlName="internalRemarks"
                                      (change)="update()"
                                      matTextareaAutosize
                                      [matAutosizeMinRows]="3"
                            ></textarea>
                        </mat-form-field>
                    </div>
                </div>

                <div *ngIf="isApplication() && isStorage() && data.model.status === BookingStatus.application">
                    <mat-divider class="margin-bottom"></mat-divider>
                    <div class="mat-title">Attribuer un stockage</div>
                    <app-bookables [contextColumns]="['usage', 'name', 'code', 'periodicPrice', 'select']"
                                   [contextService]="UsageBookableService"
                                   [persistSearch]="false"
                                   [contextVariables]="storageVariables"
                                   (select)="assignBookable($event)"
                    ></app-bookables>
                </div>

                <div *ngIf="isSelfApproved()">
                    <mat-divider></mat-divider>

                    <h1 class="mat-title">Sorties</h1>

                    <mat-form-field style="width:100px">
                        <mat-label>Nb participants</mat-label>
                        <input matInput type="number" step="1" min="1" formControlName="participantCount" (change)="update()">
                    </mat-form-field>

                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px">

                        <div fxFlex="50" fxLayout="column">

                            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" class="margin-bottom">
                                <h2 class="mat-title no-margin-bottom">Début</h2>
                                <div>{{ data.model.startDate | date: 'mediumDate' }} - {{ data.model.startDate | date: 'shortTime' }}</div>
                            </div>

                            <mat-form-field>
                                <mat-label>Destination</mat-label>
                                <input matInput formControlName="destination" (change)="update()" />
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Commentaire de début</mat-label>
                                <textarea matInput
                                          formControlName="startComment"
                                          (change)="update()"
                                          matTextareaAutosize
                                          [matAutosizeMinRows]="5"
                                          [matAutosizeMaxRows]="5"
                                ></textarea>
                            </mat-form-field>

                        </div>
                        <div fxFlex="50" fxLayout="column">

                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="margin-bottom">
                                <h2 class="mat-title no-margin-bottom">Fin</h2>
                                <div fxFlex>{{ data.model.endDate | date: 'mediumDate' }}
                                    - {{ data.model.endDate | date: 'shortTime' }}</div>
                            </div>

                            <mat-form-field>
                                <mat-label>Heure estimée de retour</mat-label>
                                <input matInput formControlName="estimatedEndDate" (change)="update()">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Commentaire de fin</mat-label>
                                <textarea matInput
                                          formControlName="endComment"
                                          (change)="update()"
                                          matTextareaAutosize
                                          [matAutosizeMinRows]="5"
                                          [matAutosizeMaxRows]="5"
                                ></textarea>
                            </mat-form-field>
                        </div>

                    </div>

                </div>

                <mat-divider></mat-divider>

                <natural-stamp [item]="data.model"></natural-stamp>

            </div>
        </mat-tab>

    </mat-tab-group>

    <natural-detail-fixed-button *ngIf="showFabButton" [form]="form" [model]="data.model" (create)="create()" (delete)="delete()"
    ></natural-detail-fixed-button>

</div>
