<div class="detail-body" [formGroup]="form">

    <app-detail-header newLabel="Nouvelle réservation" label="Réservation" [model]="data.model" [listRoute]="['admin', 'booking']"
    ></app-detail-header>

    <mat-tab-group [dynamicHeight]="true" (selectedIndexChange)="changeTab($event)">
        <mat-tab label="Général">
            <div fxLayout="column" fxLayoutGap="30px" class="padding-top">
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px">
                    <div fxFlex="80" fxLayout="column">

                        <div fxLayout="row" fxLayoutGap="10px">
                            <app-select fxFlex="80"
                                        formControlName="owner"
                                        placeholder="Responsable"
                                        [service]="userService"
                                        (selectionChange)="update()"
                            ></app-select>

                            <mat-form-field fxFlex="20">
                                <mat-label>Nombre de participants</mat-label>
                                <input matInput type="number" formControlName="participantCount" (change)="update()">
                            </mat-form-field>
                        </div>

                        <app-select-bookable placeholder="Réservable" [booking]="data.model" (selectionChange)="bookable = $event"
                        ></app-select-bookable>

                    </div>
                    <div fxFlex="20" fxLayout="column">
                        <div fxLayout="column" fxLayoutAlign="center start" class="margin-bottom" *ngIf="isApplication()">
                            <h2 class="mat-title">Statut</h2>
                            <mat-button-toggle-group #group="matButtonToggleGroup"
                                                     formControlName="status"
                                                     (change)="update()"
                                                     [vertical]="true"
                            >
                                <mat-button-toggle *ngFor="let item of statuses" [value]="item.value">{{ item.name }}</mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>
                </div>

                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px">

                    <div fxFlex="50" fxLayout="column">

                        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" class="margin-bottom">
                            <h2 class="mat-title no-margin-bottom">Début</h2>
                            <div>{{ data.model.startDate | date: 'medium'}}</div>
                        </div>

                        <mat-form-field *ngIf="isSelfApproved()">
                            <mat-label>Destination</mat-label>
                            <input matInput formControlName="destination" (change)="update()" />
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Commentaire de début</mat-label>
                            <textarea matInput
                                      formControlName="startComment"
                                      (change)="update()"
                                      matTextareaAutosize
                                      [matAutosizeMinRows]="5"
                                      [matAutosizeMaxRows]="5"
                            ></textarea>
                        </mat-form-field>

                    </div>
                    <div fxFlex="50" fxLayout="column">

                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="margin-bottom">
                            <h2 class="mat-title no-margin-bottom">Fin</h2>
                            <div fxFlex>{{ data.model.endDate | date: 'medium' }}</div>
                            <button *ngIf="data.model.id && !form.get('endDate').value" mat-flat-button color="warn" (click)="endBooking()">
                                Terminer
                            </button>
                        </div>

                        <mat-form-field *ngIf="isSelfApproved()">
                            <mat-label>Heure estimée de retour</mat-label>
                            <input matInput formControlName="estimatedEndDate" (change)="update()">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Commentaire de fin</mat-label>
                            <textarea matInput
                                      formControlName="endComment"
                                      (change)="update()"
                                      matTextareaAutosize
                                      [matAutosizeMinRows]="5"
                                      [matAutosizeMaxRows]="5"
                            ></textarea>
                        </mat-form-field>
                    </div>

                </div>

                <mat-divider></mat-divider>

                <app-stamp [item]="data.model"></app-stamp>

            </div>
        </mat-tab>

    </mat-tab-group>

    <app-detail-fixed-button *ngIf="showFabButton" [form]="form" [model]="data.model" (create)="create()" (delete)="delete()"
    ></app-detail-fixed-button>

</div>
