@mixin dashboard($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $bg: map-get($theme, background);
    $fg: map-get($theme, foreground);

    app-dashboard {

        .mat-button-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1.2em;
            padding-top: 10px;
        }
    }

}


