<div fxFlex fxLayout="column" fxLayoutGap="70px" fxLayoutAlign="center center">

    <img src="assets/ichtus.svg" style="width:200px">

    <div fxLayout="column" fxLayoutAlign="start center" style="opacity:0.3">

        <h1 class="mat-display-2 margin-bottom">Annoncer une sortie</h1>
        <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center">
            <a mat-button fxLayout="column" fxLayoutAlign="start center" [routerLink]="">
                <app-icon name="qr" [size]="100"></app-icon>
                en scannant un code QR
            </a>

            <a mat-button fxLayout="column" fxLayoutAlign="start center" [routerLink]="">
                <app-icon name="code" [size]="100"></app-icon>
                en saisissant un code
            </a>

            <a mat-button fxLayout="column" fxLayoutAlign="start center" [routerLink]="">
                <app-icon name="browse_resources" [size]="100"></app-icon>
                en parcourant le matériel
            </a>

            <a mat-button fxLayout="column" fxLayoutAlign="start center" [routerLink]="">
                <app-icon name="own_resource" [size]="100"></app-icon>
                avec mon propre matériel
            </a>
        </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="start center">

        <h1 class="mat-display-2 margin-bottom">Autres</h1>
        <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center">
            <a mat-button fxLayout="column" fxLayoutAlign="start center" [routerLink]="" style="opacity:0.3">
                <app-icon name="doors" [size]="100"></app-icon>
                Accéder au local
            </a>

            <a mat-button fxLayout="column" fxLayoutAlign="start center" [routerLink]="" style="opacity:0.3">
                <app-icon name="family" [size]="100"></app-icon>
                Mon compte
            </a>

            <a mat-button fxLayout="column" fxLayoutAlign="start center" [routerLink]="" style="opacity:0.3">
                <app-icon name="finances" [size]="100"></app-icon>
                Mes finances
            </a>

            <a mat-button fxLayout="column" fxLayoutAlign="start center" routerLink="admin">
                <app-icon name="administrator" [size]="100"></app-icon>
                Administration
            </a>

            <a mat-button fxLayout="column" fxLayoutAlign="start center" (click)="userService.logout()">
                <app-icon name="exit" [size]="100"></app-icon>
                Déconnexion
            </a>
        </div>
    </div>

</div>
