<div
    class="page-illustration"
    [style.backgroundImage]="'url(assets/images/illustration-pages/artisansdelatransition_actions.jpg)'"
></div>

<div
    class="container page-illustration-content"
    id="introduction"
    fxLayout="column"
    fxLayout.gt-sm="row"
    fxLayoutGap="40px"
>
    <div fxFlex class="frame-primary padding">
        <h1 class="mat-h1">Informer</h1>
        <p>LaRevueDurable est une revue indépendante franco-suisse sur l’écologie, la durabilité et la transition.</p>
    </div>
    <div fxFlex class="frame-green padding">
        <h1 class="mat-h1">Impliquer</h1>
        <p>Les Conversations carbone</p>
        <p>Le Climat entre nos mains&nbsp;!</p>
    </div>
    <div fxFlex class="frame-accent padding">
        <h1 class="mat-h1">Agir</h1>
        <p>Désinvestir</p>
        <p>Numérique éthique</p>
        <p>Alimentation</p>
    </div>
</div>

<div class="container mat-h3 rich-text">
    <h1 class="mat-display-1">TOUTES NOS ACTIONS</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body rich-text mat-h3">
            <p>
                Les actions de l’association sont structurées en trois axes selon une logique progressive. On commence
                par s’informer, puis on se sent concerné au point de vouloir s’impliquer, et on se met à agir. Une fois
                l’étape de l’action franchie, un va-et-vient s’instaure entre chaque axe.
            </p>
            <p>
                Leurs enquêtes pour LaRevueDurable et leurs actions sur le terrain ont permis aux Artisans de la
                transition de repérer deux verrous et deux tremplins pour la transition. Les verrous sont la finance et
                le numérique. Les tremplins sont l’alimentation et l’habitat. L’association agit pour faire sauter ces
                deux verrous et déploient un programme sur l’alimentation.
            </p>
            <p>
                Le dispositif stratégique des Artisans de la transition confère aux Conversations carbone le rôle de
                catalyseur d’engagement dans des actions concrètes significatives pour la transition dans quatre
                domaines d’actions collectives sélectionnées au fil des années pour leur haut potentiel stratégique.
            </p>
            <p>
                Ce texte expose la vision stratégique des Artisans de la transition. Concis et ambitieux, il a été
                rédigé de manière à être le plus clair possible, mais il est dense. N’hésitez pas à nous contacter si
                vous avez des demandes de clarification ou de précision ou si vous voulez simplement faire des remarques
                à son sujet.
            </p>
        </div>
    </div>
</div>
