@use '../../../../../styles/mixins';
@use '@ecodev/natural-layout' as nat;

@include mixins.page-with-illustration();

@include nat.media(sm) {
    .page-illustration {
        height: 500px;
    }

    #introduction {
        position: relative;
        top: -100px;
    }
}
