@import '../../../../../styles/mixins';
@include page-with-illustration();

:host {
    .page-illustration {
        height: 500px;
    }

    #introduction {
        position: relative;
        top: -100px;
    }
}
