<div
    class="page-illustration"
    [style.backgroundImage]="'url(assets/images/illustration-pages/artisansdelatransition_actions.jpg)'"
></div>

<div
    class="container page-illustration-content"
    id="introduction"
    fxLayout="column"
    fxLayout.gt-sm="row"
    fxLayoutGap="40px"
>
    <div fxFlex class="frame-primary padding">
        <h1 class="mat-h1">Informer</h1>
        <p>
            <strong>LaRevueDurable</strong> est une revue indépendante franco-suisse sur l’écologie, la durabilité et la
            transition.
        </p>
    </div>
    <div fxFlex class="frame-green padding">
        <h1 class="mat-h1">Impliquer</h1>
        <p>Les Conversations carbone</p>
        <p>Le Climat entre nos mains</p>
    </div>
    <div fxFlex class="frame-accent padding">
        <h1 class="mat-h1">Agir</h1>
        <p>Désinvestir de l’industrie des énergies fossiles</p>
        <p>Numérique éthique</p>
        <p>Alimentation</p>
    </div>
</div>

<div class="container mat-h3 rich-text">
    <h1 class="mat-display-1">TOUTES NOS ACTIONS</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body rich-text mat-h3">
            <p>
                Pour faire avancer la transition écologique et sociale en Suisse romande, les
                <strong>Artisans de la transition</strong>
                structurent leur action en trois axes selon une logique progressive. On commence par s’informer, puis on
                se sent concerné au point de vouloir s’impliquer, et on se met à agir. Les trois axes se renforcent
                ensuite les uns les autres. Cette façon d’envisager l’engagement se fonde sur vingt ans d’enquêtes et
                d’expériences sur le terrain menés pour, avec et grâce à
                <strong>LaRevueDurable</strong>.
            </p>
        </div>
    </div>
</div>
