<div class="container mat-h3 rich-text">
    <h1 class="mat-display-1">Toutes nos actions</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body rich-text mat-h3">
            <p>
                Les actions de l’association se structurent selon ces trois axes dans une logique progressive, qui
                consiste à commencer par s’informer, puis à se sentir concerné au point de vouloir s’impliquer, puis à
                agir d’une manière stratégiquement pertinente. Bien sûr, une fois ces trois étapes franchies, on peut
                cheminer entre chacune d’elle.
            </p>
            <p>
                Au cours des dernières années d’enquêtes pour LaRevueDurable et d’animations sur le terrain, les
                Artisans de la transition ont repéré deux verrous et deux tremplins pour la transition. Les verrous sont
                la finance et le numérique. Les tremplins sont l’alimentation et l’habitat.
            </p>
            <p>
                Forts de leurs connaissances et de leur expérience, les Artisans de la transition agissent pour faire
                sauter ces deux verrous et déploient un programme sur l’alimentation.
            </p>
            <p>
                Dans le dispositif des Artisans de la transition, les Conversations carbone sont un catalyseur
                d’engagement dans des actions concrètes significatives pour la transition et une invitation à agir dans
                ces quatre domaines d’action collectives sélectionnés au fil des années pour leur haut potentiel
                stratégique.
            </p>
            <p>
                Ce texte expose la vision stratégique des Artisans de la transition. Il est concis et ambitieux. Et a
                été rédigé de manière à être le plus clair possible, mais il est dense. N’hésitez pas à nous contacter
                si vous avez des demandes de clarification ou de précision ou simplement des remarques à faire.
            </p>
        </div>
    </div>
</div>
