@use '~@angular/material' as mat;
@mixin session-facilitator-private($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $bg: map-get($theme, background);
    $fg: map-get($theme, foreground);

    app-session-facilitator-private {
        .facilitator {
            border-left-color: mat.get-color-from-palette($primary);
        }
    }
}
