@use '../../../../styles/mixins';

@include mixins.page-with-illustration();

.facilitators {
    display: grid;
    grid-template-columns: minmax(auto, 33%) minmax(auto, 33%) minmax(auto, 33%);
    grid-auto-rows: 100px;
    grid-gap: 20px;

    .facilitator {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border-left-width: 6px;
        border-left-style: solid;
        padding: 5px 0 5px 10px;
    }
}

.categories {
    padding: 0;

    h3 {
        margin-bottom: 5px;
    }

    ul,
    li {
        display: block;
        list-style: none;
    }

    .category {
        margin: 0 0 5px 0;
        border-left-width: 6px;
        border-left-style: solid;
        padding: 5px 0 5px 10px;

        & > li {
            font-weight: bold;
        }
    }

    .documents {
        padding: 0;
    }

    .document {
        display: block;
        margin: 0 0 3px 0;
        padding: 3px 5px;
    }
}

.facilitator {
    border-left-color: var(--mat-sys-primary-container);
}

.category {
    border-left-color: var(--mat-sys-tertiary-container);
}

.document:hover {
    background: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container);
}
