<div
    class="page-illustration"
    [style.backgroundImage]="'url(assets/images/illustration-pages/conversations-carbones_artisans2.jpg)'"
></div>

<div class="container">
    <h1 class="mat-headline-4">Page réservée aux facilitateurs</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="66" class="page-body rich-text mat-h3">
            <h2 class="mat-h2">Liste des facilitateurs</h2>
            <div class="facilitators">
                <div *ngFor="let user of facilitators" class="facilitator">
                    <strong>{{ user.name }}</strong>
                    <div>{{ user.email }}</div>
                    <div>{{ user.phone }}</div>
                </div>
            </div>
        </div>

        <div fxFlex fxHide.lt-md>
            <h2 class="mat-h2">Documents</h2>
            <ul class="categories">
                <li *ngFor="let category of categories | keyvalue" class="category">
                    <h3 class="mat-h3">{{ category.key }}</h3>
                    <mat-nav-list *ngFor="let document of category.value" class="documents">
                        <a mat-list-item *ngIf="document.file" [href]="'/api/file/' + document.file.id" target="_blank">
                            <natural-icon name="download"></natural-icon>
                            {{ document.name }}</a
                        >
                        <a mat-list-item *ngIf="!document.file">{{ document.name }}</a>
                    </mat-nav-list>
                </li>
            </ul>

            <app-session-side-column hiddenBlocName="facilitateurs"></app-session-side-column>
        </div>
    </div>
</div>
