<div
    class="page-illustration"
    [style.backgroundImage]="'url(assets/images/illustration-pages/conversations-carbones_artisans2.jpg)'"
></div>

<div class="container">
    <h1 class="mat-font-headline-lg">Page réservée aux facilitateurs</h1>

    <div class="nat-horizontal nat-gap-30">
        <div class="app-md-expand-70 page-body mat-font-body-lg rich-text">
            <h2 class="mat-font-title-lg">Liste des facilitateurs</h2>
            <div class="facilitators">
                @for (user of facilitators; track user) {
                    <div class="facilitator">
                        <strong>{{ user.name }}</strong>
                        <div>{{ user.email }}</div>
                        <div>{{ user.phone }}</div>
                    </div>
                }
            </div>
        </div>

        <div class="app-md-expand-30 nat-md-show">
            <h2 class="mat-font-title-lg">Documents</h2>
            <ul class="categories">
                @for (category of categories | keyvalue; track category) {
                    <li class="category">
                        <h3 class="mat-font-title-md">{{ category.key }}</h3>
                        @for (document of category.value; track document) {
                            <mat-nav-list class="documents">
                                @if (document.file) {
                                    <a mat-list-item target="_blank" [href]="`/api/file/${document.file.id}`">
                                        <mat-icon naturalIcon="download" />
                                        {{ document.name }}
                                    </a>
                                } @else {
                                    <a mat-list-item>{{ document.name }}</a>
                                }
                            </mat-nav-list>
                        }
                    </li>
                }
            </ul>

            <app-session-side-column hiddenBlocName="facilitateurs" />
        </div>
    </div>
</div>
