<div fxLayout="column" fxLayoutGap="15px">
    <h2 class="mat-h3">Coordonnées bancaires</h2>

    <div class="bankingData" fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="column" fxLayoutGap="20px">
            <div>
                <div class="mat-body-strong">En faveur de :</div>
                <div class="mat-body" style="white-space: pre-line;">{{ bankingInfos?.paymentFor }}</div>
            </div>

            <div>
                <div class="mat-body-strong">Versement pour :</div>
                <div class="mat-body" style="white-space: pre-line;">{{ bankingInfos?.paymentTo }}</div>
            </div>

            <!--            <div>-->
            <!--                <div class="mat-body-strong">Numéro de référence :</div>-->
            <!--                <div class="mat-body">{{ bankingInfos?.referenceNumber }}</div>-->
            <!--            </div>-->

            <div>
                <span class="mat-body-strong">Compte :&nbsp;</span>
                <span class="mat-body">{{ bankingInfos?.postAccount }}</span>
            </div>
        </div>

        <!--        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">-->
        <!--            <mat-divider fxFlex></mat-divider>-->
        <!--            <div class="mat-body">OU</div>-->
        <!--            <mat-divider fxFlex></mat-divider>-->
        <!--        </div>-->

        <!--        <div>-->
        <!--            <div class="mat-body-strong">Ligne de codage :</div>-->
        <!--            <div class="mat-body">{{ bankingInfos?.encodingLine }}</div>-->
        <!--        </div>-->
    </div>
</div>
