<div
    class="page-illustration"
    [style.backgroundImage]="
        'url(assets/images/illustration-pages/artisans-de-la-transition-calculer-son-empreinte-carbone.jpg)'
    "
></div>

<div class="container">
    <h1 class="mat-display-1">CALCULER SON EMPREINTE CARBONE</h1>
    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body mat-h3 rich-text">
            <p>
                En ligne depuis 2008,
                <a href="https://leclimatentrenosmains.org/">la plate-forme Le climat entre nos mains</a>
                permet de calculer ses émissions de CO<sub>2</sub> et formule des recommandations personnalisées pour
                les réduire. Calculer ses émissions personnelles de CO<sub>2</sub> et comprendre où l’on se situe par
                rapport à la moyenne nationale et à la contrainte climatique est un premier pas dans l’engagement pour
                la préservation des équilibres climatiques.
            </p>
        </div>
    </div>
</div>
