@use 'sass:map';
@use '@angular/material' as mat;
@mixin purchases($theme) {
    $primary: map.get($theme, primary);
    $accent: map.get($theme, accent);
    $warn: map.get($theme, warn);
    $bg: map.get($theme, background);
    $fg: map.get($theme, foreground);

    app-purchases {
        .product a {
            color: mat.get-color-from-palette($fg, text);
        }
    }
}
