<div *ngIf="dataSource" fxLayout="column" fxLayoutGap="30px">
    <h2 class="mat-headline-4">Articles achetés</h2>

    <div fxLayout="column" fxLayoutGap="20px">
        <div class="margin-v overflow" fxLayout="row">
            <natural-search
                (selectionChange)="search($event)"
                [multipleGroups]="false"
                [selections]="naturalSearchSelections"
                fxFlex
            ></natural-search>
        </div>

        <div [fxShow]="dataSource.data?.length > 0" class="responsive-table" fxLayout="column" fxLayoutGap="30px">
            <div *ngFor="let orderLine of dataSource.data?.items" class="product" fxLayout="row" fxLayoutGap="20px">
                <a
                    class="product-image"
                    *ngIf="orderLine.product.image"
                    [routerLink]="['/larevuedurable/article', orderLine.product.id]"
                >
                    <img
                        [naturalSrcDensity]="'/api/image/' + orderLine.product.image.id + '/90'"
                        alt="aperçu du produit"
                    />
                </a>

                <div fxFlex fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start start">
                    <div
                        fxLayout="row"
                        fxLayoutGap="15px"
                        fxLayoutAlign="start baseline"
                        class="mat-body no-margin-bottom text-light"
                    >
                        <span *ngIf="orderLine.product.reviewNumber" class="text-primary">
                            N° {{ orderLine.product.reviewNumber }}
                        </span>
                        <span *ngIf="orderLine.product.releaseDate">
                            {{ orderLine.product.releaseDate | date : 'MMMM yyyy' | capitalize }}
                        </span>
                        <span>{{ orderLine.type | enum : 'ProductType' | async }}</span>
                    </div>

                    <a [routerLink]="['/larevuedurable/article', orderLine.product.id]" matRipple class="mat-h3">
                        {{ orderLine.product.name }}
                    </a>

                    <a
                        mat-stroked-button
                        color="accent"
                        *ngIf="canDownload(orderLine)"
                        [href]="getDownloadLink(orderLine)"
                    >
                        <natural-icon name="get_app"></natural-icon>
                        Télécharger
                    </a>
                </div>
            </div>
        </div>

        <div *ngIf="dataSource.data?.length === 0" class="margin" fxLayout="column" fxLayoutAlign="center center">
            <div>Pas de résultats</div>
        </div>

        <div *ngIf="!dataSource?.data" class="margin" fxLayout="column" fxLayoutAlign="center center">
            <mat-progress-spinner [diameter]="40" mode="indeterminate"></mat-progress-spinner>
        </div>

        <mat-paginator
            (page)="pagination($event)"
            *ngIf="dataSource.data?.length"
            [length]="dataSource.data?.length"
            [pageIndex]="dataSource.data?.pageIndex"
            [pageSizeOptions]="[25]"
            [pageSize]="25"
        ></mat-paginator>
    </div>
</div>
