@if (dataSource) {
    <div class="nat-vertical nat-gap-30">
        <h2 class="mat-font-headline-lg">Articles achetés</h2>
        <div class="nat-vertical nat-gap">
            <div class="nat-margin-vertical overflow nat-horizontal">
                <natural-search
                    class="nat-expand"
                    [multipleGroups]="false"
                    [selections]="naturalSearchSelections"
                    (selectionChange)="search($event)"
                />
            </div>
            <div class="responsive-table nat-gap-30 nat-vertical">
                @for (orderLine of dataSource.data?.items; track orderLine) {
                    <div class="product nat-gap nat-horizontal">
                        @if (orderLine.product.image) {
                            <a class="product-image" [routerLink]="['/larevuedurable/article', orderLine.product.id]">
                                <img
                                    alt="aperçu du produit"
                                    [naturalSrcDensity]="`/api/image/${orderLine.product.image.id}/90`"
                                />
                            </a>
                        }
                        <div class="nat-expand nat-gap-5 nat-vertical nat-top nat-left">
                            <div class="nat-horizontal text-light nat-gap-15 nat-left nat-baseline">
                                @if (orderLine.product.reviewNumber) {
                                    <span class="nat-text-primary">N° {{ orderLine.product.reviewNumber }}</span>
                                }
                                @if (orderLine.product.releaseDate) {
                                    <span>
                                        {{ orderLine.product.releaseDate | date: 'MMMM yyyy' | capitalize }}
                                    </span>
                                }
                                <span>{{ orderLine.type | enum: 'ProductType' | async }}</span>
                            </div>
                            <a
                                matRipple
                                class="mat-font-title-md"
                                [routerLink]="['/larevuedurable/article', orderLine.product.id]"
                            >
                                {{ orderLine.product.name }}
                            </a>
                            @if (canDownload(orderLine)) {
                                <a matButton="outlined" color="tertiary" [href]="getDownloadLink(orderLine)">
                                    <mat-icon naturalIcon="get_app" />
                                    Télécharger
                                </a>
                            }
                        </div>
                    </div>
                }
            </div>

            @if (showNoResults()) {
                <div class="nat-margin text-center">Pas de résultats</div>
            }
            @if (!dataSource.data) {
                <div class="nat-margin nat-vertical nat-center">
                    <mat-progress-spinner mode="indeterminate" [diameter]="40" />
                </div>
            }
            @if (dataSource.data?.length) {
                <mat-paginator
                    [length]="dataSource.data?.length"
                    [pageIndex]="dataSource.data?.pageIndex"
                    [pageSizeOptions]="[25]"
                    [pageSize]="25"
                    (page)="pagination($event)"
                />
            }
        </div>
    </div>
}
