<h2 mat-dialog-title>Faire un don</h2>

<mat-dialog-content>
    <mat-form-field>
        <mat-label>Montant</mat-label>
        <input
            [formControl]="amount"
            matInput
            type="number"
            [attr.min]="0"
            step="1"
            (keydown.enter)="dialogRef.close(amount.value)"
        />
        <div matTextSuffix>{{ currencyService.current.value }}</div>
        @if (amount.hasError('required')) {
            <mat-error>Requis</mat-error>
        }
        @if (amount.hasError('money')) {
            <mat-error>Le montant doit être un nombre avec un maximum de deux décimales </mat-error>
        }
        @if (amount.hasError('min')) {
            <mat-error>Le montant doit être positif</mat-error>
        }
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-dialog-close mat-button>Annuler</button>
    <button [mat-dialog-close]="amount.value" mat-flat-button color="primary" [disabled]="!amount.valid">
        Valider
    </button>
</mat-dialog-actions>
