<h2 mat-dialog-title>Faire un don</h2>

<mat-dialog-content>
    <mat-form-field>
        <mat-label>Montant</mat-label>
        <input
            matInput
            type="number"
            step="1"
            [formControl]="amount"
            [attr.min]="0"
            (keydown.enter)="dialogRef.close(amount.value)"
        />
        <div matTextSuffix>{{ currencyService.current.value }}</div>
        <mat-error>{{ amount.errors | errorMessage }}</mat-error>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-dialog-close mat-button>Annuler</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="amount.value" [disabled]="!amount.valid">
        Valider
    </button>
</mat-dialog-actions>
