@if (dataSource) {
    <div class="nat-vertical">
        <div class="nat-horizontal">
            <div class="mat-h1 nat-no-margin nat-expand">
                {{ routeData?.seo.title }}
            </div>
            <natural-columns-picker
                [availableColumns]="availableColumns"
                [selections]="selectedColumns"
                (selectionChange)="selectColumns($event)"
            />
        </div>
        <div class="nat-vertical">
            <div class="nat-margin-vertical overflow nat-horizontal">
                <natural-search
                    (selectionChange)="search($event)"
                    [facets]="naturalSearchFacets"
                    [multipleGroups]="true"
                    [selections]="naturalSearchSelections"
                    class="nat-expand"
                />
            </div>
            <div [class.nat-show]="dataSource.data?.length > 0" class="responsive-table">
                <table (matSortChange)="sorting([$event])" [dataSource]="dataSource" mat-table matSort>
                    <tr *matHeaderRowDef="columnsForTable" mat-header-row></tr>
                    <tr *matRowDef="let row; columns: columnsForTable" mat-row></tr>

                    <ng-container matColumnDef="description">
                        <th *matHeaderCellDef mat-header-cell>Commentaire</th>
                        <td *matCellDef="let element" mat-cell>
                            <div class="nat-horizontal nat-left nat-center">
                                <natural-table-button
                                    [label]="element.description"
                                    [navigate]="['/admin/comment', element.id]"
                                    matTooltip="Éditer"
                                />
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="event">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header="event">Événement</th>
                        <td *matCellDef="let element" mat-cell>
                            @if (element.event) {
                                <div class="nat-horizontal nat-left nat-center">
                                    <natural-table-button
                                        [label]="element.event.name"
                                        [navigate]="['/admin/event', element.event.id]"
                                        matTooltip="Éditer"
                                    />
                                </div>
                            }
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="news">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header="news">Actualité</th>
                        <td *matCellDef="let element" mat-cell>
                            @if (element.news) {
                                <div class="nat-horizontal nat-left nat-center">
                                    <natural-table-button
                                        [label]="element.news.name"
                                        [navigate]="['/admin/news', element.news.id]"
                                        matTooltip="Éditer"
                                    />
                                </div>
                            }
                        </td>
                    </ng-container>
                </table>
            </div>
            @if (dataSource.data?.length === 0) {
                <div class="nat-margin nat-vertical nat-center">
                    <div>Pas de résultats</div>
                </div>
            }
            @if (!dataSource.data) {
                <div class="nat-margin nat-vertical nat-center">
                    <mat-progress-spinner [diameter]="40" mode="indeterminate" />
                </div>
            }
            @if (dataSource.data?.length) {
                <mat-paginator
                    (page)="pagination($event)"
                    [length]="dataSource.data?.length"
                    [pageIndex]="dataSource.data?.pageIndex"
                    [pageSizeOptions]="pageSizeOptions"
                    [pageSize]="dataSource.data?.pageSize"
                />
            }
        </div>
    </div>
}
