<div class="container mat-h3 rich-text">
    <h1 class="mat-display-1">Agir au quotidien</h1>
    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body mat-h3">
            <p>
                Le confinement nous a amenés à changer de style de vie très rapidement et à grande échelle. Des
                facilitateurs et des facilitatrices de Conversations carbone vous proposent un
                <a href="assets/images/flyer_conversations_carbone_light.pdf">petit guide</a> pour pérenniser et faire
                fructifier cette expérience inédite.
            </p>

            <div fxLayout="row" fxLayoutGap="30px">
                <div fxFlex.gt-sm="70" class="page-body rich-text mat-h3">
                    <ul>
                        <li>
                            <a routerLink="/agir-avec-nous/conversation-carbone"
                                >S’inscrire à une Conversation carbone</a
                            >
                        </li>
                        <li>
                            <a routerLink="/agir-avec-nous/calculer-empreinte-carbone"
                                >Calculer son empreinte carbone</a
                            >
                        </li>
                        <li>Guide pour l’informatique éthique</li>
                        <li>
                            Guide pour des habits durables
                            <!-- todo : lien vers le numéro 64-->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
