<div
    class="page-illustration"
    [style.backgroundImage]="'url(assets/images/illustration-pages/artisansdelatransition_photocase-leonrojo.jpg)'"
></div>

<div class="container mat-font-body-lg rich-text">
    <h1 class="mat-font-headline-lg">AGIR AU QUOTIDIEN</h1>
    <div class="nat-horizontal nat-gap-30">
        <div class="app-md-expand-70 page-body mat-font-body-lg">
            <ul>
                <li>
                    Le confinement nous a amenés à changer de style de vie très rapidement et à grande échelle. Des
                    facilitateurs et des facilitatrices de Conversations carbone vous proposent un petit guide pour
                    pérenniser et faire fructifier cette expérience inédite.
                </li>
                <li>
                    Après la sortie du numéro 63 de
                    <strong>LaRevueDurable</strong>
                    , les
                    <strong>Artisans de la transition</strong>
                    ont mis sur pied un cycle de quatre ateliers, dans quatre villes de Suisse romande, à propos du
                    capitalisme de surveillance et des alternatives libres et éthique aux services des Gafam. Voici les
                    principaux conseils issus de ces ateliers :
                    <a href="assets/images/conversation-carbon/numerique_ethique_2019.pdf"
                        >Guide pour l’informatique éthique</a
                    >
                    .
                </li>
                <li><a [routerLink]="['/larevuedurable/numero', 1305]">Guide pour des habits durables</a></li>
            </ul>
        </div>
    </div>
</div>
