<div
    class="page-illustration"
    [style.backgroundImage]="'url(assets/images/illustration-pages/artisansdelatransition_photocase-leonrojo.jpg)'"
></div>

<div class="container mat-h3 rich-text">
    <h1 class="mat-display-1">AGIR AU QUOTIDIEN</h1>
    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body mat-h3">
            <ul>
                <li>
                    Le confinement nous a amenés à changer de style de vie très rapidement et à grande échelle. Des
                    facilitateurs et des facilitatrices de Conversations carbone vous proposent un petit guide pour
                    pérenniser et faire fructifier cette expérience inédite.
                </li>
                <li>
                    Après la sortie du numéro 63 de LaRevueDurable , les Artisans de la transition ont mis sur pied un
                    cycle de quatre ateliers, dans quatre villes de Suisse romande, à propos du capitalisme de
                    surveillance et des alternatives libres et éthique aux services des Gafam. Voici les principaux
                    conseils issus de ces ateliers :
                    <a href="assets/images/conversation-carbon/numerique_ethique_2019.pdf"
                        >Guide pour l’informatique éthique</a
                    >.
                </li>
                <li><a [routerLink]="['/larevuedurable/numero', 1305]">Guide pour des habits durables</a></li>
                <li>
                    <a href="assets/images/conversation-carbon/confinement-et-conversations-carbone.pdf"
                        >Guide des facilitateurs et facilitatrices</a
                    >
                </li>
            </ul>
        </div>
    </div>
</div>
