<div [formGroup]="form" fxLayout="column" [fxLayoutGap.gt-sm]="vertical ? '0px' : '10px'">
    <mat-form-field>
        <mat-label>Rue</mat-label>
        <input matInput formControlName="street" (change)="update()">
        <mat-error *ngIf="form.get('street').hasError('required')">Requis</mat-error>
    </mat-form-field>

    <div [fxLayout.gt-sm]="vertical ? 'column': 'row'" [fxLayoutGap.gt-sm]="vertical ? '0px' : '10px'" fxLayout="column">

        <mat-form-field [fxFlex]="!vertical">
            <mat-label>Localité</mat-label>
            <input matInput formControlName="locality" (change)="update()">
            <mat-error *ngIf="form.get('locality').hasError('required')">Requis</mat-error>
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field [style.width.px]="100">
                <mat-label>NPA</mat-label>
                <input matInput formControlName="postcode" (change)="update()">
                <mat-error *ngIf="form.get('postcode').hasError('required')">Requis</mat-error>
            </mat-form-field>

            <app-select [service]="countryService"
                        formControlName="country"
                        [showIcon]="false"
                        searchField="name"
                        placeholder="Pays"
                        (selectionChange)="update()"
            ></app-select>
        </div>
    </div>
</div>
