<div class="nat-vertical" [formGroup]="form()">
    <div class="nat-vertical nat-sm-horizontal nat-gap-horizontal-10">
        <mat-form-field class="nat-expand">
            <mat-label>Prénom</mat-label>
            <input formControlName="firstName" matInput (change)="update()" />
            <mat-error>{{ form().get('firstName')?.errors | errorMessage }}</mat-error>
        </mat-form-field>

        <mat-form-field class="nat-expand">
            <mat-label>Nom de famille</mat-label>
            <input formControlName="lastName" matInput (change)="update()" />
            <mat-error>{{ form().get('lastName')?.errors | errorMessage }}</mat-error>
        </mat-form-field>
    </div>

    <mat-form-field>
        <mat-label>Rue</mat-label>
        <input formControlName="street" matInput (change)="update()" />
        <mat-error>{{ form().get('street')?.errors | errorMessage }}</mat-error>
    </mat-form-field>

    <div class="nat-vertical nat-sm-horizontal nat-gap-horizontal-10">
        <mat-form-field [style.width.px]="100">
            <mat-label>NPA</mat-label>
            <input formControlName="postcode" matInput (change)="update()" />
            <mat-error>{{ form().get('postcode')?.errors | errorMessage }}</mat-error>
        </mat-form-field>

        <mat-form-field class="nat-expand">
            <mat-label>Localité</mat-label>
            <input formControlName="locality" matInput (change)="update()" />
            <mat-error>{{ form().get('locality')?.errors | errorMessage }}</mat-error>
        </mat-form-field>

        <natural-select formControlName="country" placeholder="Pays" [service]="countryService" [showIcon]="false" />
    </div>
</div>
