<div [formGroup]="form" [fxLayoutGap.gt-sm]="vertical ? '0px' : '10px'" fxLayout="column">
    <div [fxLayout.gt-sm]="vertical ? 'column' : 'row'" [fxLayoutGap.gt-sm]="vertical ? '0px' : '10px'" fxLayout="row">
        <mat-form-field fxFlex.gt-sm>
            <mat-label>Prénom</mat-label>
            <input (change)="update()" formControlName="firstName" matInput />
            <mat-error *ngIf="form.get('firstName')?.hasError('required')">Requis</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex.gt-sm>
            <mat-label>Nom de famille</mat-label>
            <input (change)="update()" formControlName="lastName" matInput />
            <mat-error *ngIf="form.get('lastName')?.hasError('required')">Requis</mat-error>
        </mat-form-field>
    </div>

    <mat-form-field>
        <mat-label>Rue</mat-label>
        <input (change)="update()" formControlName="street" matInput />
        <mat-error *ngIf="form.get('street')?.hasError('required')">Requis</mat-error>
    </mat-form-field>

    <div
        [fxLayout.gt-sm]="vertical ? 'column' : 'row'"
        [fxLayoutGap.gt-sm]="vertical ? '0px' : '10px'"
        fxLayout="column"
    >
        <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field [style.width.px]="100">
                <mat-label>NPA</mat-label>
                <input (change)="update()" formControlName="postcode" matInput />
                <mat-error *ngIf="form.get('postcode')?.hasError('required')">Requis</mat-error>
            </mat-form-field>
        </div>

        <mat-form-field [fxFlex]="!vertical">
            <mat-label>Localité</mat-label>
            <input (change)="update()" formControlName="locality" matInput />
            <mat-error *ngIf="form.get('locality')?.hasError('required')">Requis</mat-error>
        </mat-form-field>

        <natural-select
            formControlName="country"
            [service]="countryService"
            [showIcon]="false"
            placeholder="Pays"
        ></natural-select>
    </div>
</div>
