<div class="page-illustration" [style.backgroundColor]="'#C4EEDE'"></div>

<div class="container page-illustration-content">
    <img src="assets/images/illustration-pages/offrir-la-revue-durable.jpg" />
</div>

<div class="container mat-h3">
    <h1 class="mat-display-1">Offrir ou s'offrir LaRevueDurable</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body mat-h3">
            <p>
                LaRevueDurable est le cœur battant du travail des Artisans de la transition. La source d’où jaillissent
                toutes leurs initiatives : Le Climat entre nos mains, les Conversations carbone, les Grands-parents pour
                le climat, la campagne pour désinvestir de l’industrie des énergies fossiles, la convergence des acteurs
                de la transition dans le domaine alimentaire, le numérique éthique.
            </p>
            <p>
                LaRevueDurable est un média indépendant, presque sans publicité. Son financement est un défi permanent.
                Chaque abonnement soutient la production d’une information rigoureuse, à la pointe de la durabilité et
                toujours constructive.
            </p>
            <p>
                En presque vingt ans, LaRevueDurable a publié plus de 1100 articles de fond sur tous les thèmes qui
                touchent à la durabilité dans une soixantaine de pays.
            </p>

            <a mat-flat-button color="primary" routerLink="/larevuedurable/abonnements">S'abonner</a>
        </div>
    </div>
</div>
