<div class="container mat-h3">
    <h1 class="mat-display-1">Nous faire connaître</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body mat-h3">
            Vous pouvez mettre des flyers de notre association dans votre commerce ? Installer une caisse qui parle dans
            votre restaurant ? Mettre à disposition d’anciens numéros dans votre lieu de passage ? Nous faire une petite
            place sur un stand ? Autant d’occasions en or de nous faire connaître. Ecrivez-nous et nous vous enverrons
            le matériel. Merci.
            <a mat-flat-button routerLink="contact">Nous contacter</a>
        </div>
    </div>
</div>
