<!--<h2 mat-dialog-title>Sélection de stockage et services supplémentaires</h2>-->
<mat-dialog-content fxLayout="column" fxLayoutGap="20px">

    <!-- Table model template -->
    <ng-template #table let-dataSource="dataSource">
        <div class="responsive-table">
            <table mat-table *ngIf="dataSource" [dataSource]="dataSource">
                <tr mat-header-row *matHeaderRowDef="['selection', 'name', 'periodicPrice' ]"></tr>
                <tr mat-row *matRowDef="let row; columns: ['selection', 'name', 'periodicPrice'];"></tr>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Nom</th>
                    <td mat-cell *matCellDef="let bookable">
                        {{ bookable.name }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="periodicPrice">
                    <th mat-header-cell *matHeaderCellDef app-7em-column app-align-right>Prix annuel</th>
                    <td mat-cell *matCellDef="let bookable" app-align-right>
                        <span *ngIf="bookable.periodicPrice > 0"> {{ bookable.periodicPrice | currency: 'CHF' }}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="selection">
                    <th mat-header-cell *matHeaderCellDef app-3em-column></th>
                    <td mat-cell *matCellDef="let bookable">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(bookable) : null"
                                      [checked]="selection.isSelected(bookable)"
                        ></mat-checkbox>
                    </td>
                </ng-container>
            </table>
        </div>
    </ng-template>

    <div>
        <h2 class="mat-title">Espaces de stockage</h2>
        <ng-container *ngTemplateOutlet="table;context:{dataSource:storagesDataSource}"></ng-container>
    </div>
    <div>
        <h2 class="mat-title">Services et prestations</h2>
        <ng-container *ngTemplateOutlet="table;context:{dataSource:servicesDataSource}"></ng-container>
    </div>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="selection.selected">Valider la demande</button>
</mat-dialog-actions>


