<div fxFlex fxLayoutGap="10px">

    <mat-form-field fxFlex [formGroup]="form">
        <mat-label>Mot de passe</mat-label>
        <input type="password" matInput formControlName="password" autocomplete="new-password">
        <app-icon matPrefix name="lock"></app-icon>
        <mat-error *ngIf="form.get('password').hasError('minlength')">
            Minimum {{form.get('password').errors.minlength.requiredLength}} caractères
        </mat-error>
        <mat-error *ngIf="form.get('password').hasError('required')">Requis</mat-error>
        <mat-error *ngIf="form.get('password').hasError('invalid')">{{ form.get('password').getError('invalid') }}</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex [formGroup]="form">
        <mat-label>Confirmation du mot de passe</mat-label>
        <input type="password" matInput formControlName="confirmPassword" autocomplete="new-password" [errorStateMatcher]="confirmPasswordStateMatcher">
        <app-icon matPrefix name="lock"></app-icon>
        <mat-error *ngIf="form.hasError('notSame')">
            Les mot de passe ne sont pas identiques
        </mat-error>
    </mat-form-field>

</div>
