<div fxFlex fxLayoutGap="10px">
    <mat-form-field [formGroup]="form" fxFlex>
        <mat-label>Mot de passe</mat-label>
        <input autocomplete="new-password" formControlName="password" matInput type="password" />
        <natural-icon matPrefix name="lock"></natural-icon>
        <mat-error *ngIf="form.get('password')?.hasError('minlength')">
            Minimum {{ form.get('password')?.errors.minlength.requiredLength }} caractères
        </mat-error>
        <mat-error *ngIf="form.get('password')?.hasError('required')">Requis</mat-error>
        <mat-hint
            >Une phrase est plus longue et plus sécurisée qu'un terme court avec des caractères spéciaux.</mat-hint
        >
    </mat-form-field>

    <mat-form-field [formGroup]="form" fxFlex>
        <mat-label>Confirmation du mot de passe</mat-label>
        <input
            [errorStateMatcher]="confirmPasswordStateMatcher"
            autocomplete="new-password"
            formControlName="confirmPassword"
            matInput
            type="password"
        />
        <natural-icon matPrefix name="lock"></natural-icon>
        <mat-error *ngIf="form.hasError('notSame')"> Les mot de passe ne sont pas identiques </mat-error>
    </mat-form-field>
</div>
