<div fxLayout="column" fxLayoutGap="20px">
    <mat-form-field [formGroup]="form">
        <mat-label>Mot de passe</mat-label>
        <input autocomplete="new-password" formControlName="password" matInput type="password" />
        <mat-icon matIconPrefix naturalIcon="lock"></mat-icon>
        @if (form.get('password')?.hasError('minlength')) {
            <mat-error> Minimum {{ form.get('password')?.errors?.minlength?.requiredLength }} caractères </mat-error>
        }
        @if (form.get('password')?.hasError('required')) {
            <mat-error>Requis</mat-error>
        }
        <mat-hint
            >Une phrase est plus longue et plus sécurisée qu'un terme court avec des caractères spéciaux.</mat-hint
        >
    </mat-form-field>

    <mat-form-field [formGroup]="form">
        <mat-label>Confirmation du mot de passe</mat-label>
        <input
            [errorStateMatcher]="confirmPasswordStateMatcher"
            autocomplete="new-password"
            formControlName="confirmPassword"
            matInput
            type="password"
        />
        <mat-icon matIconPrefix naturalIcon="lock"></mat-icon>
        @if (form.hasError('notSame')) {
            <mat-error>Les mot de passe ne sont pas identiques</mat-error>
        }
    </mat-form-field>
</div>
