@mixin tags-navigation($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    app-tags-navigation {

        &, a { // explicit a gives more ponderation to css selector
            color: mat-color($foreground, text, 0.25);
        }

        .dot {
            background-color: mat-color($foreground, text, 0.15);
        }

        a:hover {
            color: mat-color($primary);
        }

    }

}


