:host {
    font-weight: bold;
    font-size: 40px;
    line-height: 1.4em;
}

.dot {
    display: inline-block;
    position: relative;
    top: -7px;
    margin: -15px 10px 0 10px;
    border-radius: 100%;
    width: 10px;
    height: 10px;
}

.dot:last-child {
    display: none;
}

@media screen and (max-width: 700px) {
    :host {
        font-size: 26px;
    }

    .dot {
        top: -3px;
    }
}

:host {
    &,
    a {
        // explicit a gives more ponderation to css selector
        color: color-mix(in srgb, var(--mat-sys-on-surface-variant) 40%, white);
    }

    .dot {
        background-color: color-mix(in srgb, var(--mat-sys-on-surface-variant) 30%, white);
    }

    a:hover {
        color: var(--mat-sys-primary-container);
    }
}
