<natural-sidenav-container fxFlex name="dashboardMenu">
    <natural-sidenav>
        <div fxLayout="column" fxLayoutGap="10px" class="margin">

            <a mat-button fxLayout="column" fxLayoutAlign="start center" routerLink="/" class="big-button">
                <natural-icon name="shop" [size]="70"></natural-icon>
                Commissions
            </a>

            <ng-container *ngIf="canAccessAdmin()">
                <mat-divider class="margin"></mat-divider>
                <a mat-button fxLayout="column" fxLayoutAlign="start center" routerLink="/admin" class="big-button">
                    <natural-icon name="administrator" [size]="70"></natural-icon>
                    Administration
                </a>
            </ng-container>

            <mat-divider class="margin"></mat-divider>

            <a mat-button fxLayout="column" fxLayoutAlign="start center" (click)="userService.logout()" class="big-button">
                <natural-icon name="exit" [size]="70"></natural-icon>
                Déconnexion
            </a>
        </div>
    </natural-sidenav>

    <natural-sidenav-content>
        <div fxFlex fxLayout="column">
            <router-outlet></router-outlet>
        </div>
    </natural-sidenav-content>

</natural-sidenav-container>
