<div
    class="page-illustration"
    [style.backgroundImage]="'url(assets/images/illustration-pages/nouscontacter-provisoire.png)'"
></div>

<div class="container mat-h3">
    <h1 class="mat-display-1">NOUS CONTACTER</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body mat-h3" fxLayout="column" fxLayoutGap="40px">
            <div>
                <p>
                    Nous nous réjouissons de vous lire :
                    <span class="text-accent">courriel[at]artisansdelatransition.org</span>
                </p>

                <p>
                    ou de vous entendre, toute la semaine sauf le mercredi :
                    <span class="text-accent">+41 26 321 37 11</span>
                </p>
            </div>
            <div>
                <p>LaRevueDurable et Artisans de la transition</p>
                <p>Rue de Lausanne 23</p>
                <p>1700 Fribourg</p>
            </div>

            <p>IBAN : CH2300768300140932307</p>
        </div>
    </div>
</div>
