<div
    class="page-illustration"
    [style.backgroundImage]="
        'url(assets/images/illustration-pages/artisansdelatransition-marquisdevalmont_photocase.jpg)'
    "
></div>

<div class="container mat-h3">
    <h1 class="mat-headline-4">NOUS CONTACTER</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body mat-h3 rich-text" fxLayout="column" fxLayoutGap="40px">
            <div>
                <p>
                    Nous nous réjouissons de vous lire :
                    <a href="mailto:courriel@artisansdelatransition.org">courriel@artisansdelatransition.org</a>
                </p>

                <p>
                    ou de vous entendre, toute la semaine sauf le mercredi :
                    <span class="text-primary">+41 26 321 37 11</span>
                </p>
            </div>
            <div>
                <p>LaRevueDurable et Artisans de la transition</p>
                <p>Rue de Lausanne 23</p>
                <p>1700 Fribourg</p>
            </div>

            <p>IBAN : CH2300768300140932307</p>
        </div>
    </div>
</div>
