<div class="page-illustration" [style.backgroundColor]="'#E5E0DD'"></div>

<div class="container mat-font-title-md rich-text page-illustration-content">
    <h1 class="mat-font-headline-lg">QUI SOMMES-NOUS ?</h1>

    <div class="nat-horizontal nat-gap-30">
        <div class="app-md-expand-70 app-gap-50 nat-vertical page-body rich-text mat-font-title-md">
            <div>
                <div class="nat-horizontal nat-gap-30">
                    <div class="person nat-md-expand">
                        <img
                            src="assets/images/association/susana_jourdan-artisansdelatransition.jpg"
                            alt="portrait de susana jourdan"
                        />
                        <div class="person-data">
                            <div class="person-name">Susana Jourdan</div>
                            <div class="person-role">Codirectrice</div>
                        </div>
                    </div>

                    <div class="person nat-md-expand">
                        <img
                            src="assets/images/association/jacques_mirenowicz-artisansdelatransition.jpg"
                            alt="portrait de Jacques Mirenowicz"
                        />
                        <div class="person-data">
                            <div class="person-name">Jacques Mirenowicz</div>
                            <div class="person-role">Codirecteur</div>
                        </div>
                    </div>
                </div>

                <p>
                    Après quatorze années passées à animer <strong>LaRevueDurable</strong>, Susana Jourdan et Jacques
                    Mirenowicz ont voulu étoffer leurs moyens de partager leurs compréhensions, convictions et amour du
                    présent et de l’avenir. L’écriture reste pour eux essentielle, mais fait partie, depuis mars 2016,
                    d’un ensemble de trois types d’actions, avec le travail sur soi pour agir de manière résolue et la
                    création d’opportunités stratégiques pour aider un maximum de personnes à construire une société
                    soutenable en actionnant quelques leviers bien ciblés.
                </p>
            </div>

            <div class="nat-md-horizontal nat-gap-30">
                <div class="nat-md-expand-50">
                    <div class="person">
                        <img src="assets/images/association/nathalie_martinoli_kolba-artisansdelatransition.jpg" />
                        <div class="person-data">
                            <div class="person-name">Nathalie Martinoli Kolba</div>
                            <div class="person-role">Responsable administrative</div>
                        </div>
                    </div>

                    <p>
                        Dans son itinétaire professionnel à nombreuses facettes, Nathalie se réjouit de soutenir une
                        cause qui lui tient à cœur : le respect et la responsabilité face à la Création. Elle s’occupe
                        des abonnements à <strong>LaRevueDurable</strong> et de différentes tâches administratives liées
                        aux <strong>Artisans de la transition</strong>.
                    </p>
                </div>
                <div class="nat-md-expand-50">
                    <div class="person">
                        <img
                            src="assets/images/association/jean-christophe_froidevaux-artisansdelatransition.jpg"
                            alt="portrait de Jean-Christophe Froidevaux"
                        />
                        <div class="person-data">
                            <div class="person-name">Jean-Christophe Froidevaux</div>
                            <div class="person-role">Créateur graphique</div>
                        </div>
                    </div>

                    <p>
                        Zélé et fidèle gardien de la ligne graphique de <strong>LaRevueDurable</strong> et de ses
                        émanations, Jean-Christophe Froidevaux mobilise son talent et son dévouement pour valoriser
                        graphiquement les documents, ce site internet et les idées des
                        <strong>Artisans de la transition</strong>.
                    </p>
                </div>
            </div>

            <div class="nat-md-horizontal nat-gap-30">
                <div class="nat-md-expand-50">
                    <div class="person">
                        <img
                            src="assets/images/association/anne_florence_perrenoud-artisansdelatransition.jpg"
                            alt="portrait de Anne Florence Perrenoud"
                        />
                        <div class="person-data">
                            <div class="person-name">Anne Florence Perrenoud</div>
                            <div class="person-role">Relectrice</div>
                        </div>
                    </div>
                    <p>
                        Elle traque maladresses et étourderies, fautes de frappe, d’orthographe, de grammaire, de
                        convention, de typographie, etc. avec une fiabilité et une disponibilité jamais démenties. Anne
                        Florence vérifie aussi, lors de chaque bouclage de <strong>LaRevueDurable</strong>, les épreuves
                        peu avant leur envoi à l’imprimeur.
                    </p>
                </div>
                <div class="nat-md-expand-50">
                    <div class="person">
                        <div class="person-data">
                            <div class="person-name">Tom Tirabosco</div>
                            <div class="person-role">Dessinateur</div>
                        </div>
                    </div>
                    <p>
                        Il illustre chaque dossier de <strong>LaRevueDurable</strong> de ses dessins talentueux et
                        évocateurs, colorés et vivants, recherchés et décalés. Une signature à part entière.
                    </p>
                </div>
            </div>

            <div class="nat-md-horizontal nat-gap-30">
                <div class="nat-md-expand-50">
                    <div class="person">
                        <img
                            src="assets/images/association/amede_felix.jpg"
                            alt="portrait de Anne Florence Perrenoud"
                        />
                        <div class="person-data">
                            <div class="person-name">Amédée Felix</div>
                            <div class="person-role">Chargé de projets</div>
                        </div>
                    </div>
                    <p>
                        Formé en gestion publique, Amédée apporte son plein de vitalité dans l’œuvre des
                        <strong>Artisans de la transition</strong> pour façonner un monde plus juste et vivant. Il est
                        chargé de projets et participe notamment aux programme sur les circuits courts alimentaires
                        collectifs en Suisse romande.
                    </p>
                </div>
            </div>

            <div>
                <h2 class="mat-font-headline-sm">Une question de cohérence</h2>

                <p>
                    Les <strong>Artisans de la transition</strong> s’efforcent chaque jour de mettre leurs actes en
                    cohérence avec leurs idées et leurs convictions. <strong>LaRevueDurable</strong> est imprimée
                    localement sur du papier recyclé. Elle est vendue uniquement par abonnement et dans des points de
                    vente ciblés pour éviter le gaspillage lié à la diffusion en kiosque. Elle est acheminée sous
                    plastique recyclé ou sous enveloppe en papier.
                </p>
                <p>
                    Le bureau utilise du courant 100&nbsp;% solaire issu de la Coopérative Optima Solar Fribourg
                    Freiburg. Sa comptabilité est réalisée dans une institution de réinsertion qui tire son électricité
                    d’une installation solaire financée par Optima Solar Fribourg Freiburg. Ses salariés se déplacent
                    presque exclusivement à pied, à vélo et en train.
                </p>
                <p>
                    Les <strong>Artisans de la transition</strong> s’engagent pour un numérique éthique sans
                    surveillance et ont renoncé pour cette raison, en 2019, à être présents sur les réseaux sociaux
                    Twitter et Facebook.
                </p>
            </div>
        </div>
    </div>
</div>
