<div class="page-illustration" [style.backgroundColor]="'#E5E0DD'"></div>

<div class="container mat-h3 rich-text page-illustration-content">
    <h1 class="mat-display-1">QUI SOMMES-NOUS ?</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body rich-text mat-h3" fxLayout="column" fxLayoutGap="50px">
            <div>
                <div fxLayout="row" fxLayoutGap="30px">
                    <div class="person" fxFlex.gt-sm>
                        <img
                            src="assets/images/association/susana.jourdan-larevuedurable.jpg"
                            alt="portrait de susana jourdan"
                        />
                        <div class="person-data">
                            <div class="person-name">Susana Jourdan</div>
                            <div class="person-role">Codirectrice</div>
                        </div>
                    </div>

                    <div class="person" fxFlex.gt-sm>
                        <img
                            src="assets/images/association/jacques.mirenowicz-larevuedurable.jpg"
                            alt="portrait de Jacques Mirenowicz"
                        />
                        <div class="person-data">
                            <div class="person-name">Jacques Mirenowicz</div>
                            <div class="person-role">Codirecteur</div>
                        </div>
                    </div>
                </div>

                <p>
                    Après quatorze années passées à animer LaRevueDurable, Susana Jourdan et Jacques Mirenowicz ont
                    voulu étoffer leurs moyens de partager leurs compréhensions, convictions et amour du présent et de
                    l’avenir. L’écriture reste pour eux essentielle, mais fait partie, depuis mars 2016, d’un ensemble
                    de trois types d’actions, avec le travail sur soi pour agir de manière résolue et la création
                    d’opportunités stratégiques pour aider un maximum de personnes à construire une société soutenable
                    en actionnant quelques leviers bien ciblés.
                </p>
            </div>

            <div fxLayout.gt-sm="row" fxLayoutGap="30px">
                <div fxFlex.gt-sm="50">
                    <div class="person">
                        <img src="assets/images/association/person-placeholder.jpg" />
                        <div class="person-data">
                            <div class="person-name">Camille Kroug</div>
                            <div class="person-role">Chargée de projet Agriculture et alimentation</div>
                        </div>
                    </div>

                    <p>
                        Donner du sens à son activité est le credo qui guide Camille depuis toujours dans son parcours
                        professionnel. Rejoindre l’équipe des Artisans de la transition pour soutenir le changement du
                        système alimentaire lui offre l’opportunité de travailler en phase avec ses fortes convictions
                        dans ce domaine.
                    </p>
                </div>

                <div fxFlex.gt-sm="50">
                    <div class="person">
                        <img src="assets/images/association/person-placeholder.jpg" />
                        <div class="person-data">
                            <div class="person-name">Philippe Solms</div>
                            <div class="person-role">Chargé de projet Conversations carbone</div>
                        </div>
                    </div>

                    <p>
                        Curieux de toute initiative porteuse de durabilité, Philippe Solms se passionne également pour
                        les dynamiques citoyennes. Fort de ses expériences de terrain, c’est avec pragmatisme,
                        persévérance et humour qu’il aborde les projets des Artisans de la transition.
                    </p>
                </div>
            </div>

            <div fxLayout.gt-sm="row" fxLayoutGap="30px">
                <div fxFlex.gt-sm="50">
                    <div class="person">
                        <img src="assets/images/association/person-placeholder.jpg" />
                        <div class="person-data">
                            <div class="person-name">Nathalie Martinoli Kolba</div>
                            <div class="person-role">Responsable administrative</div>
                        </div>
                    </div>

                    <p>
                        Dans son itinétaire professionnel à nombreuses facettes, Nathalie se réjouit de soutenir une
                        cause qui lui tient à cœur : le respect et la responsabilité face à la Création. Elle s’occupe
                        des abonnements à LaRevueDurable et de différentes tâches administratives liées aux Artisans de
                        la transition.
                    </p>
                </div>
                <div fxFlex.gt-sm="50">
                    <div class="person">
                        <img
                            src="assets/images/association/jean-christophe.froidevaux-larevuedurable.jpg"
                            alt="portrait de Jean-Christophe Froidevaux"
                        />
                        <div class="person-data">
                            <div class="person-name">Jean-Christophe Froidevaux</div>
                            <div class="person-role">créateur graphique</div>
                        </div>
                    </div>

                    <p>
                        Gardien zélé et fidèle de la ligne graphique de LaRevueDurable et de ses émanations,
                        Jean-Christophe Froidevaux mobilise son talent et son dévouement pour valoriser graphiquement
                        les documents, ce site internet et les idées des Artisans de la transition.
                    </p>
                </div>
            </div>

            <div fxLayout.gt-sm="row" fxLayoutGap="30px">
                <div fxFlex.gt-sm="50">
                    <div class="person">
                        <div class="person-data">
                            <div class="person-name">Anne Florence Perrenoud</div>
                        </div>
                    </div>
                    <p>
                        Traque maladresses et étourderies, fautes de frappe, d’orthographe, de grammaire, de convention,
                        de typographie, etc. avec une fiabilité et une disponibilité jamais démenties. Anne Florence
                        vérifie aussi, lors de chaque bouclage de LaRevueDurable, les épreuves peu avant leur envoi à
                        l’imprimeur.
                    </p>
                </div>
                <div fxFlex.gt-sm="50">
                    <div class="person">
                        <div class="person-data">
                            <div class="person-name">Tom Tirabosco</div>
                        </div>
                    </div>
                    <p>
                        Illustre chaque dossier de LaRevueDurable de ses dessins talentueux et évocateurs, colorés et
                        vivants, recherchés et décalés. Une signature à part entière.
                    </p>
                </div>
            </div>

            <div>
                <h2 class="mat-h1">Une question de cohérence</h2>

                <p>
                    Les Artisans de la transition s’efforcent chaque jour de mettre leurs actes en cohérence avec leurs
                    idées et leurs convictions. LaRevueDurable est imprimée localement sur du papier recyclé. Elle est
                    vendue uniquement par abonnement et points de vente ciblés pour éviter le gaspillage. Elle est
                    acheminée sous plastique recyclé ou sous enveloppe en papier.
                </p>
                <p>
                    Le bureau utilise du courant 100 % solaire issu de la Coopérative Optima Solar Fribourg Freiburg. Sa
                    comptabilité est réalisée dans une institution de réinsertion qui tire son électricité d’une
                    installation solaire financée par Optima Solar Fribourg Freiburg. Ses salariés se déplacent presque
                    exclusivement à pied, à vélo et en train.
                </p>
                <p>
                    Les Artisans de la transition s’engagent pour un numérique éthique sans surveillance et ont renoncé,
                    en 2019, à être présents sur les réseaux sociaux Twitter et Facebook.
                </p>
            </div>
        </div>
    </div>
</div>
