@use '../../../../../styles/mixins';
@use '@ecodev/natural-layout' as nat;

@include mixins.page-with-illustration();

.page-illustration {
    height: 350px;
}

@include nat.media(sm) {
    .page-illustration-content {
        top: -300px;
        & > img {
            margin-bottom: -250px;
        }
    }
}

.person {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px !important;

    img {
        display: block;
        float: left;
        width: 162px !important;
        max-width: none !important;
        height: 217px !important;
    }

    .person-data {
        flex: 1;
        align-self: flex-end;
        font-weight: bold;
    }

    img + .person-data {
        padding: 20px;
    }
}
