@import '../../../../../styles/mixins';
@include page-with-illustration();

.page-illustration {
    height: 350px;
}

.page-illustration-content {
    top: -300px;
    & > img {
        margin-bottom: -250px;
    }
}

.person {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px !important;

    img {
        display: block;
        width: 162px !important;
        height: 217px !important;
        max-width: none !important;
        float: left;
    }

    .person-data {
        flex: 1;
        font-weight: bold;
        align-self: flex-end;
    }

    img + .person-data {
        padding: 20px;
    }
}
