<div class="responsive-table" *ngIf="dataSource && dataSource.data.length">
    <table mat-table [dataSource]="dataSource">

        <tr mat-row *matRowDef="let row; columns: columns;"></tr>

        <ng-container matColumnDef="name">

            <td mat-cell *matCellDef="let element;">
                <div *ngIf="edit" fxLayout="column">
                    <mat-form-field class="no-bottom-spacing">
                        <mat-label>nom</mat-label>
                        <input matInput [(ngModel)]="element.name" (change)="updateOrCreate(element)">
                    </mat-form-field>
                </div>
                <div *ngIf="!edit" [innerHTML]="element.name" class="mat-body-2"></div>
            </td>
        </ng-container>

        <ng-container matColumnDef="value">
            <td mat-cell *matCellDef="let element;">
                <div *ngIf="edit" fxLayout="column">
                    <mat-form-field *ngIf="edit" class="no-bottom-spacing">
                        <mat-label>Valeur</mat-label>
                        <input matInput [(ngModel)]="element.value" (change)="updateOrCreate(element)">
                    </mat-form-field>
                </div>
                <div *ngIf="!edit" [innerHTML]="element.value"></div>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef app-1em-column></th>
            <td mat-cell *matCellDef="let element;">
                <button mat-icon-button color="warn" (click)="delete(element)" *ngIf="element.id">
                    <app-icon name="delete"></app-icon>
                </button>
            </td>
        </ng-container>

    </table>
</div>

