<div fxLayout="column">
    <div fxLayout="row"
         fxLayoutAlign="start center"
         style="position: relative; top: 5px"
    >
        <a mat-button color="primary" [routerLink]="getRootLink()">{{ rootLabel || label }}</a>
        <ng-container *ngFor="let parent of breadcrumbs">
            /
            <a mat-button color="primary" [routerLink]="getLink(parent.id)"> {{ parent?.fullName || parent?.name }}</a>
        </ng-container>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" style="min-height: 40px;">
        <div fxFlex *ngIf="!model.id" class="mat-headline no-margin">{{ newLabel }}</div>
        <div fxFlex *ngIf="model.id" fxLayout="row" fxLayoutAlign="start center" class="mat-headline no-margin">
            {{ model?.name || label }}
        </div>
        <div>
            <ng-content></ng-content>
        </div>
    </div>

</div>
