<div *ngIf="transactionLine && relativeToAccount && transactionLine.balance != '0.00' && isIncome !== null"
     [class.positive]="isIncome === true"
     [class.negative]="isIncome === false"
     [class.background-decoration]="displayMode === 'account'"
     [class.text-decoration]="displayMode === 'amount'"
>
    <span *ngIf="displayMode === 'amount'">{{ isIncome ? '➚' : '➘︎' }}&nbsp;{{ transactionLine.balance  | currency : 'CHF'}}</span>
    <span *ngIf="displayMode === 'account'">{{ isIncome ? '➚' : '➘︎' }}&nbsp;{{ relativeToAccount.name }}</span>
</div>
