<div *ngIf="transactionLine && relativeToAccount && transactionLine.balance != '0.00' && isIncome !== null"
    [class.positive]="isIncome === true"
    [class.negative]="isIncome === false"
    [class.background-decoration]="displayMode === 'account'"
    [class.text-decoration]="displayMode === 'amount'"
>
    <span *ngIf="displayMode === 'amount'">{{ isIncome ? '➚' : '➘︎' }}&nbsp;{{ transactionLine.balance  | currency : 'CHF'}}</span>
    <a *ngIf="displayMode === 'account'"
       (click)="propagateAccount(relativeToAccount)"
       [routerLink]="transactionLineService.linkToTransactionForAccount(relativeToAccount)"
       matTooltip="Voir les transactions"
    >{{ isIncome ? '➚' : '➘︎' }}&nbsp;{{ relativeToAccount.name }}</a>
</div>
