<h2 mat-dialog-title>Modification de la vente d'un produit</h2>
<mat-dialog-content>
    <div [formGroup]="form">
        <natural-select
            [service]="productService"
            [showIcon]="false"
            formControlName="product"
            placeholder="Produit"
        ></natural-select>

        <div class="mat-h2">ou</div>

        <natural-select
            [service]="subscriptionService"
            [showIcon]="false"
            formControlName="subscription"
            placeholder="Abonnement"
        ></natural-select>

        <p class="warning mat-body" *ngIf="form.hasError('productXorSubscription')">
            Une vente ne peut pas concerner à la fois un produit et un abonnement. C'est soit l'un, soit l'autre, soit
            rien du tout.
        </p>

        <mat-divider class="margin"></mat-divider>

        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start top">
            <mat-form-field [style.width.px]="90">
                <mat-label>Quantité</mat-label>
                <input formControlName="quantity" matInput min="0" step="1" type="number" />
                <mat-error *ngIf="form.get('quantity')?.hasError('required')">Requis</mat-error>
            </mat-form-field>

            <!-- Show only for products -->
            <natural-select-enum
                *ngIf="form.get('product')?.value && !form.get('subscription')?.value"
                formControlName="type"
                enumName="ProductType"
                placeholder="Type"
            ></natural-select-enum>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
    <button mat-button mat-dialog-close>Fermer</button>

    <button (click)="update(true)" [disabled]="!form.valid" color="primary" mat-dialog-close mat-flat-button>
        Mettre à jour
    </button>
</mat-dialog-actions>
