<h2 mat-dialog-title>{{ data.seo.title }}</h2>
<mat-dialog-content>
    <div [formGroup]="form">
        <natural-select [service]="productService" [showIcon]="false" formControlName="product" placeholder="Produit" />

        <div class="mat-h2">ou</div>

        <natural-select
            [service]="subscriptionService"
            [showIcon]="false"
            formControlName="subscription"
            placeholder="Abonnement"
        />

        @if (form.hasError('productXorSubscription')) {
            <p class="warning mat-body">
                Une vente ne peut pas concerner à la fois un produit et un abonnement. C'est soit l'un, soit l'autre,
                soit rien du tout.
            </p>
        }

        <mat-divider class="nat-margin" />

        <div class="nat-horizontal nat-gap">
            <mat-form-field [style.width.px]="90">
                <mat-label>Quantité</mat-label>
                <input formControlName="quantity" matInput [attr.min]="0" step="1" type="number" />
                @if (form.get('quantity')?.hasError('required')) {
                    <mat-error>Requis</mat-error>
                }
                @if (form.get('quantity')?.hasError('integer')) {
                    <mat-error>Doit être un nombre entier</mat-error>
                }
                @if (form.get('quantity')?.hasError('min')) {
                    <mat-error>Valeur positive</mat-error>
                }
            </mat-form-field>

            <!-- Show only for products -->
            @if (form.get('product')?.value && !form.get('subscription')?.value) {
                <natural-select-enum formControlName="type" enumName="ProductType" placeholder="Type" />
            }
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Fermer</button>

    <button (click)="update(true, true)" [disabled]="!form.valid" color="primary" mat-dialog-close mat-flat-button>
        Mettre à jour
    </button>
</mat-dialog-actions>
