<h2 mat-dialog-title>{{ data.seo.title }}</h2>
<mat-dialog-content>
    <div [formGroup]="form">
        <natural-select formControlName="product" placeholder="Produit" [service]="productService" [showIcon]="false" />

        <div class="mat-font-title-lg">ou</div>

        <natural-select
            formControlName="subscription"
            placeholder="Abonnement"
            [service]="subscriptionService"
            [showIcon]="false"
        />

        @if (form.hasError('productXorSubscription')) {
            <p class="warning">
                Une vente ne peut pas concerner à la fois un produit et un abonnement. C'est soit l'un, soit l'autre,
                soit rien du tout.
            </p>
        }

        <mat-divider class="nat-margin" />

        <div class="nat-horizontal nat-gap">
            <mat-form-field [style.width.px]="90">
                <mat-label>Quantité</mat-label>
                <input formControlName="quantity" matInput step="1" type="number" [attr.min]="0" />
                <mat-error>{{ form.get('quantity')?.errors | errorMessage }}</mat-error>
            </mat-form-field>

            <!-- Show only for products -->
            @if (form.get('product')?.value && !form.get('subscription')?.value) {
                <natural-select-enum formControlName="type" enumName="ProductType" placeholder="Type" />
            }
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button matButton="outlined" mat-dialog-close>Fermer</button>

    <button mat-dialog-close matButton="filled" [disabled]="!form.valid" (click)="update(true, true)">
        Mettre à jour
    </button>
</mat-dialog-actions>
