<div class="container" fxLayout="column" fxLayoutGap="60px">
    @if (title) {
        <div class="mat-headline-4">{{ title }}</div>
    }

    @if (items && items.length) {
        @if (showTagsNavigation) {
            <app-tags-navigation [linkBase]="['/larevuedurable/articles']" />
        }
        <!--
    GRID
    -->
        @if (viewMode === ProductsViewMode.grid) {
            <div class="grid products" [class.highlight-first-items]="highlightFirstItems">
                @for (product of items; track product) {
                    <div class="product" fxLayout="column" fxLayoutGap="10px">
                        @if (showTagsOnProducts) {
                            <div class="product-tags">
                                @for (tag of product.productTags; track tag) {
                                    <a
                                        [routerLink]="['/larevuedurable/articles', tag.name]"
                                        class="product-tag mat-body"
                                        >{{ tag.name }}
                                    </a>
                                }
                            </div>
                        }
                        <a class="product-name mat-h1" [routerLink]="getDetailLink(product)">{{ product.name }}</a>
                        @if ($index <= 1 && product.illustration) {
                            <a
                                [routerLink]="[
                                    '/larevuedurable/',
                                    product.reviewNumber ? 'numero' : 'article',
                                    product.id
                                ]"
                                [style.backgroundImage]="
                                    'url(/api/image/' +
                                    product.illustration.id +
                                    '/' +
                                    ($index === 0 ? '550' : '260') +
                                    ')'
                                "
                                class="product-illustration"
                                fxFlex
                            ></a>
                        }
                        <div class="image-placeholder"></div>
                        <div>
                            @if (!product.file) {
                                <div class="product-price mat-body-strong">
                                    <span class="frame-primary target-customer">Abonné</span>
                                    ou
                                    <app-price [product]="product" class="mat-h3" />
                                </div>
                            }
                            @if (product.file) {
                                <a
                                    mat-flat-button
                                    color="accent"
                                    [href]="'/api/file/' + product.file.id"
                                    class="product-file-button"
                                    target="_blank"
                                >
                                    Télécharger
                                </a>
                            }
                        </div>
                    </div>
                }
            </div>
        }
        <!--
    LIST
    -->
        @if (viewMode === ProductsViewMode.list) {
            <div>
                <div class="list products" fxLayout="column" fxLayoutGap="60px">
                    @for (product of items; track product) {
                        <div class="product" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="60px">
                            @if (product.image) {
                                <a class="product-image" [routerLink]="getDetailLink(product)">
                                    <img
                                        [naturalSrcDensity]="'/api/image/' + product.image.id + '/200'"
                                        alt="aperçu du produit"
                                    />
                                </a>
                            }
                            <div fxLayout="column" fxLayoutGap="10px" fxFlex>
                                <div
                                    fxLayout="row"
                                    fxLayoutGap="15px"
                                    fxLayoutAlign="start baseline"
                                    class="mat-h2 no-margin-bottom text-light"
                                >
                                    @if (product.reviewNumber) {
                                        <span class="text-primary"> N° {{ product.reviewNumber }} </span>
                                    }
                                    @if (product.releaseDate) {
                                        <span>
                                            {{ product.releaseDate | date: 'MMMM yyyy' | capitalize }}
                                        </span>
                                    }
                                </div>
                                <a class="product-name mat-h1" [routerLink]="getDetailLink(product)">{{
                                    product.name
                                }}</a>
                                <div
                                    class="product-name mat-h3"
                                    [innerHTML]="product.description | stripTags | truncate: ['570', '...']"
                                ></div>
                            </div>
                            <div class="product-price" fxLayout="column" fxLayoutGap="15px">
                                <app-price [product]="product" class="mat-h1" />
                                <a
                                    mat-flat-button
                                    color="primary"
                                    [routerLink]="getDetailLink(product)"
                                    class="product-detail-button"
                                    >Voir le détail
                                </a>
                                @if (product.file) {
                                    <a
                                        mat-flat-button
                                        color="accent"
                                        [href]="'/api/file/' + product.file.id"
                                        class="product-file-button"
                                        target="_blank"
                                    >
                                        Télécharger
                                    </a>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        <div fxLayout="row" fxLayoutAlign="center" id="end-of-list">
            @if (items && dataSource?.data?.length > items.length) {
                <a (click)="loadMore()" color="primary" mat-stroked-button>
                    {{ route.snapshot.data.showMoreLabel }}
                </a>
            }
        </div>
    }

    @if (items && items.length === 0 && route.snapshot.data.showNoResults) {
        <div class="mat-h2">Aucun résultat n'a été trouvé.</div>
    }
</div>
