<div class="container" fxLayout="column" fxLayoutGap="60px">

    <div *ngIf="title" class="mat-display-1">{{ title }}</div>

    <ng-container *ngIf="items.length">

        <app-product-tags-navigation *ngIf="showTags"></app-product-tags-navigation>

        <!--
        GRID
        -->
        <div class="grid products" *ngIf="viewMode === ProductsViewMode.grid">
            <div *ngFor="let product of items" class="product" fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="start start">

                <div class="product-tags" *ngIf="showTags">
                    <a *ngFor="let tag of product.productTags"
                       [routerLink]="['/larevuedurable/articles', tag.name]"
                       class="product-tag mat-body"
                    >{{ tag.name }}</a>
                </div>

                <a class="product-name mat-h1" [routerLink]="['/larevuedurable/article', product.id]">{{ product.name }}</a>

                <div class="product-price mat-body-strong" *ngIf="!product.file">
                    <span class="frame-primary">Abonné</span>
                    ou
                    <app-price [product]="product" class="mat-h3"></app-price>
                </div>

                <a mat-flat-button color="accent" *ngIf="product.file" [href]="'/file/' + product.file.id" class="product-file-button">
                    Télécharger
                </a>
            </div>
        </div>

        <!--
        LIST
        -->
        <div *ngIf="viewMode === ProductsViewMode.list">
            <div class="list products" fxLayout="column" fxLayoutGap="60px">
                <div *ngFor="let product of items" class="product" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="60px">

                    <div class="product-image" *ngIf="product.image">
                        <img [attr.src]="'/image/' + product.image.id + '/200'" alt="aperçu du produit" />
                    </div>

                    <div fxLayout="column" fxLayoutGap="10px" fxFlex>
                        <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start baseline" class="mat-h2 no-margin-bottom">
                            <ng-container *ngIf="product.reviewNumber">
                                {{ product.reviewNumber }}
                            </ng-container>
                            <ng-container *ngIf="product.releaseDate">
                                {{ product.releaseDate | date: 'MMMM yyyy' | capitalize }}
                            </ng-container>
                        </div>
                        <a class="product-name mat-h1" [routerLink]="['/larevuedurable/article', product.id]">{{ product.name }}</a>
                        <div class="product-name mat-h3">{{ product.shortDescription }}</div>
                    </div>

                    <div class="product-price" fxLayout="column" fxLayoutGap="15px">
                        <app-price [product]="product" class="mat-h1"></app-price>
                        <a mat-flat-button
                           color="primary"
                           [routerLink]="['/larevuedurable/article', product.id]"
                           class="product-detail-button"
                        >Voir le détail
                        </a>

                        <a mat-flat-button
                           color="accent"
                           *ngIf="product.file"
                           [href]="'/file/' + product.file.id"
                           class="product-file-button"
                           target="_blank"
                        >
                            Télécharger
                        </a>

                    </div>

                </div>
            </div>
        </div>

        <a (click)="loadMore()" mat-stroked-button *ngIf="dataSource?.data?.length > items.length">Afficher plus d'articles</a>
    </ng-container>

    <div class="mat-h2" *ngIf="items.length === 0">Aucun résultat n'a été trouvé.</div>
</div>
