<div fxFlex="1 0 auto" fxLayout="column" class="padding">

    <div fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="start end" *ngIf="!cartService.cart.length">

        <img fxFlex="none" src="assets/images/consigne.svg" style="margin-right:10px;width:380px;height:100px">

        <div fxFlex="1 0 auto" fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="center center" style="max-width:600px; margin: 0 auto">
            <img src="assets/logo.svg" style="height:40vmin; margin:0 auto">
            <div fxFlex="none">
                <h1 class="mat-headline">Bienvenue ! </h1>
                <p class="mat-subheading-2">
                    Pour effectuer tes achats, il te suffit de scanner le code QR du produit ou d'introduire le code de l'article puis sa
                    quantité…
                </p>
                <button mat-flat-button color="primary" routerLink="/shop/camera">
                    <natural-icon name="simple-qr" [size]="24"></natural-icon>
                    Démarrer la caméra
                </button>
            </div>


        </div>
    </div>

    <div *ngIf="cartService?.cart?.length" fxLayout="column" fxLayoutGap="10px" style="width:100%;max-width:600px; margin: 0 auto">
        <h1 class="mat-title">Panier d'achats</h1>

        <mat-nav-list>
            <mat-list-item *ngFor="let line of cartService.cart"
                           [routerLink]="['/shop/product', line.product.code, {quantity: line.quantity}]"
            >
                <app-file [model]="line.product.image" [height]="70" [style.width.px]="70" matListAvatar></app-file>
                <div matLine style="white-space: normal;">{{ line.product.name }}</div>
                <div matLine fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start end" style="white-space: nowrap">
                    <div fxFlex>{{ line.quantity }} {{ line.product.unit || 'x' }}</div>
                    <div class="price mat-body-2">{{ line.total | currency : 'CHF'}}</div>
                </div>
            </mat-list-item>
        </mat-nav-list>

        <mat-divider></mat-divider>

        <div fxLayout="row" fxLayoutAlign="end">
            <div class="mat-body-1 padding totals natural-table">
                <div *ngIf="CartService.totalTaxes">
                    <span class="mat-body-2">TVA :</span>
                    <span>{{CartService.totalTaxes | currency : 'CHF' }}</span>
                </div>
                <div>
                    <span class="mat-body-2">Total TTC :</span>
                    <span class="mat-body-2">{{CartService.totalTaxInc | currency : 'CHF' }}</span>
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="end">
            <button mat-button (click)="empty()">Vider le panier</button>
            <button mat-flat-button color="primary" (click)="createOrder()" [style.width.px]="200">Passer à la caisse</button>
        </div>
    </div>

</div>

<router-outlet></router-outlet>
