:host {
    flex: 1;

    .totals {
        & > div > span {
            display: inline-block;
            width: 80px;
            text-align: right;

            &:first-child {
                text-align: left;
            }
        }
    }
}
