<div fxFlex fxLayout="column" [style.max-width.px]="700" style="margin:auto">

    <router-outlet></router-outlet>

    <div class="margin" *ngIf="cartService?.cart?.length" fxLayout="column" fxLayoutGap="10px">
        <h1 class="mat-title">Panier d'achats</h1>

        <mat-nav-list>
            <mat-list-item *ngFor="let line of cartService.cart" [routerLink]="['/product', line.product.code, {quantity: line.quantity}]">
                <app-file [model]="line.product.image" [height]="70" [style.width.px]="70" matListAvatar></app-file>
                <div matLine style="white-space: normal;">{{ line.product.name }}</div>
                <div matLine fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start end" style="white-space: nowrap">
                    <div fxFlex>{{ line.quantity }} {{ line.product.unit || 'x' }}</div>
                    <div class="price mat-body-2">{{ line.total | currency : 'CHF'}}</div>
                </div>
            </mat-list-item>
        </mat-nav-list>

        <mat-divider></mat-divider>

        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start end" class="mat-body-1" class="padding totals">
            <div *ngIf="CartService.totalTaxExc">
                <span class="mat-body-2">Total HT :</span>
                <span>{{CartService.totalTaxExc | currency : 'CHF' }}</span>
            </div>
            <div *ngIf="CartService.totalTaxes">
                <span class="mat-body-2">TVA :</span>
                <span>{{CartService.totalTaxes | currency : 'CHF' }}</span>
            </div>
            <div>
                <span class="mat-body-2">Total TTC :</span>
                <span class="mat-body-2">{{CartService.totalTaxInc | currency : 'CHF' }}</span>
            </div>
        </div>

        <div fxLayout="column" fxLayoutGap="20px">
            <button mat-flat-button color="primary">Valider et payer</button>
            <button mat-stroked-button (click)="cartService.empty();">Vider le panier</button>
        </div>
    </div>

</div>

