<div class="container" fxLayout="column" fxLayoutGap="60px">

    <h1 class="mat-display-1"> {{ data.model.name }}</h1>

    <app-file *ngIf="data.model.illustration" [height]="300" [model]="data.model.illustration"></app-file>

    <div fxLayout.gt-sm="row" fxLayoutGap="60px">
        <app-file *ngIf="data.model.image" [height]="200" [model]="data.model.image" fxFlex="33"></app-file>
        <div [innerHTML]="data.model.description" class="mat-h3" fxFlex></div>
    </div>

    <div fxLayout="column" fxLayoutGap="30px">

        <div *ngIf="!viewer" class="mat-h3" fxLayout="row wrap">
            <span class="mat-display-1">Intéressé par ce contenu ?</span>
            <span>Si vous êtes déjà abonnés à la version digitale</span>
            <a routerLink="/mon-compte"> connectez-vous !</a>
        </div>
        <div fxLayout="row" fxLayoutGap="60px">
            <div>
                <div class="mat-display-1">Acheter le numéro</div>

                <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">

                    <div *ngIf="data.model.type === ProductType.both" fxLayout="column" fxLayoutAlign="start center">
                        <div class="mat-h1 price no-margin-bottom">
                            <app-price [product]="data.model"></app-price>
                        </div>
                        <app-add-to-cart [product]="data.model" [type]="ProductType.paper" label="Acheter la version papier"
                        ></app-add-to-cart>
                    </div>

                    <div fxLayout="column" fxLayoutAlign="start center">
                        <div class="mat-h1 price no-margin-bottom">
                            <app-price [product]="data.model"></app-price>
                        </div>
                        <app-add-to-cart [product]="data.model" [type]="ProductType.digital" label="Acheter la version numérique"
                        ></app-add-to-cart>
                    </div>

                </div>
            </div>

            <div>
                <h1 class="mat-display-1">S'abonner</h1>
                ...
                <a color="primary" mat-flat-button routerLink="/larevuedurable/abonnements">S'abonner</a>
            </div>
        </div>
    </div>

    <div *ngIf="data.model.permissions?.update">
        <a [routerLink]="['/admin/product', data.model.id]" mat-stroked-button>Administration</a>
    </div>

</div>
