<div class="container" fxLayout="column">

    <h1 class="mat-display-1"> {{ data.model.name }}</h1>

    <app-file *ngIf="data.model.image" [model]="data.model.image" [height]="200" fxFlex="none"></app-file>

    <div class="mat-headline price no-margin-bottom">
        {{ CartService.getPriceTaxInc(data.model, 1) | currency : 'CHF' }}
    </div>
    <div>
        <app-add-to-cart [product]="data.model"></app-add-to-cart>

    </div>
    <div class="mat-subheading-2">
        <span style="font-weight:bold">Code d'article :</span>
        {{ data.model.code }}
    </div>

    <div class="mat-subheading-2" [innerHTML]="data.model.description"></div>

    <div *ngIf="data.model.permissions?.update">
        <button mat-stroked-button [mat-dialog-close]="['/admin/product', data.model.id]">Administration</button>
    </div>

</div>
