<div class="container mat-h3 rich-text">
    <h1 class="mat-display-1">CONDITIONS GÉNÉRALES DE VENTE</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body rich-text mat-h3">
            <p>
                Les présentes conditions générales ont pour objet de définir les droits et les obligations des parties
                dans le cadre de la vente en ligne, de produits papier ou en format pdf, sur le site
                <a routerLink="/">www.artisansdelatransition.org</a>.
            </p>
            <h2 class="mat-h2">Article 1 : Généralités</h2>
            <p>
                Ce site internet est exploité par l'association <strong>Artisans de la transition</strong>, association
                éditrice de <strong>LaRevueDurable</strong>. Son siège se trouve à la Rue de Lausanne 23, 1700 Fribourg
                Suisse.
            </p>
            <p>
                Toute personne physique effectuant un achat via le site internet
                <a routerLink="/">www.artisansdelatransition.org</a>, est dénommée "le client".
            </p>
            <p>
                Le client reconnaît avoir pris connaissance au moment de passer sa commande, des conditions de vente et
                d'achat et il les accepte sans restriction. L’approbation des présentes conditions générales ne
                nécessite pas la signature manuscrite de ce document.
            </p>
            <p>
                Le client déclare en outre avoir la pleine capacité juridique lui permettant de s'engager au titre des
                présentes conditions générales, c’est-à-dire avoir la majorité légale et ne pas être sous tutelle ou
                curatelle.
            </p>
            <h2 class="mat-h2">Article 2 : Intégralité</h2>
            <p>
                Les présentes conditions générales comprennent l'intégralité des droits et obligations des parties.
                Aucune condition générale ou spécifique, figurant dans les documents envoyés ou remis par le client, ne
                pourra compléter ou remplacer en tout ou partie les présentes. L'association
                <strong>Artisans de la transition</strong>
                se réserve le droit de modifier ou d’adapter à n’importe quel moment et sans préavis les présentes
                conditions générales, avec application immédiate des nouvelles. Cependant, en cas de modification, il
                sera appliqué les conditions générales de vente en vigueur sur le site
                <a routerLink="/">www.artisansdelatransition.org</a>, à la date d’enregistrement de la commande.
            </p>
            <p>
                Si une condition venait à faire défaut, elle serait considérée être régie par les usages en vigueur dans
                le secteur de la vente à distance dont les sociétés ont leur siège en Suisse. Dans l’hypothèse où l’une
                des clauses du présent contrat serait nulle et non avenue par un changement de législation, de
                réglementation ou par une décision de justice, cela ne saurait affecter la validité et le respect des
                présentes conditions générales de vente.
            </p>
            <h2 class="mat-h2">Article 3 : Propriété intellectuelle</h2>
            <p>
                Le site <a routerLink="/">www.artisansdelatransition.org</a> relève de la législation suisse et
                internationale sur les droits d’auteur et la propriété intellectuelle. Tous les droits de reproduction
                d’exploitation, de diffusion ou de modification du contenu y sont réservés, y compris les
                représentations iconographiques et photographiques.
            </p>
            <p>
                La présentation générale du site est originale et également protégée. Nul n’est autorisé à reproduire le
                code html des pages de ce serveur dans le but de diffusion publique.
            </p>
            <p>
                L’éditeur n’autorise qu’un usage strictement personnel des données, informations ou contenu diffusé sur
                ce site.
            </p>
            <p>
                La reproduction du contenu ou des graphiques n’est autorisée qu’à des fins non commerciales et dans le
                seul but de faire augmenter la prise de conscience écologique. Dans ce cas, l’auteur et la source des
                contenus ou images reproduites doivent être explicitement citées.
            </p>
            <p>
                A moins qu’une autre source ne soit citée, les graphiques sont la propriété de
                <strong>LaRevueDurable</strong>. Les illustrations et les photos sont la propriété de leurs auteurs et
                leur reproduction doit être négociée directement avec eux.
            </p>
            <h2 class="mat-h2">Article 4 : Prix</h2>
            <p>
                Les prix des produits proposés à la vente sur <a routerLink="/">www.artisansdelatransition.org</a> sont
                indiqués en Francs Suisses (CHF) et en euros.
            </p>
            <p>
                Les personnes résidantes en Suisse sont tenues de passer leur commande en CHF. Les personnes résidant en
                dehors de la Suisse sont tenues de passer leur commande en euros.
            </p>
            <p>L’association <strong>Artisans de la transition</strong> n’est pas soumise à la TVA.</p>
            <p>
                Les frais de livraison sont compris dans le prix sauf pour les livraisons dans des pays en dehors de
                l’Union européenne. Dans ce cas, les frais de livraison sont indiqués de manière distincte à côté de
                l’offre.
            </p>
            <h2 class="mat-h2">Article 5 : Conclusion du contrat</h2>
            <p>
                Toutes les étapes de la procédure de commande sont clairement identifiées et le client a la possibilité
                de vérifier le détail de sa commande, son prix total, et de corriger d’éventuelles erreurs avant de
                valider sa commande définitivement.
            </p>
            <p>
                La commande est enregistrée lorsque le client a cliqué le bouton de confirmation de commande. A partir
                de ce moment, la modification ou l’annulation de commande par le client ne sont plus possibles : le
                "clic" du client au titre du bon de commande constitue une signature électronique qui a, entre les
                parties, la même valeur qu'une signature manuscrite.
            </p>
            <p>
                La validation de la commande vaut donc acceptation expresse et irrévocable des prix et descriptions des
                produits disponibles à la vente et des conditions générales de vente.
            </p>
            <p>
                Après enregistrement de sa commande, le client reçoit un mail de confirmation reprenant les éléments de
                sa commande. Après paiement, il aura la possibilité d’imprimer sa facture en se connectant sur le site,
                dans l’espace « mes achats ».
            </p>
            <p>Les commandes qui ne sont pas réglées au bout de 40 jours, sont annulées.</p>
            <p>
                Les clients qui ont souscrit un abonnement sont prévenus lorsque celui-ci arrive à échéance et sont
                invités à le renouveler. Les abonnements ne sont jamais reconduits de manière tacite.
            </p>
            <h2 class="mat-h2">Article 6 : Paiement</h2>
            <p>
                Tous les paiements par carte de crédit passent par un serveur sécurisé. Les informations saisies
                (notamment le numéro de carte et la date de validité) ne circulent pas « en clair » sur internet mais
                sont cryptés via le service Datatrans.
            </p>
            <p>
                En aucun cas l'association <strong>Artisans de la transition</strong> n'a connaissance du numéro de
                carte du client et ne les stocke aucunement.
            </p>
            <p>
                Lors de la finalisation du processus de commande, le client est invité à saisir son numéro de carte
                bancaire, la date d’expiration de sa carte bancaire ainsi que les 3 derniers chiffres du cryptogramme
                visuel figurant au dos de la carte. Le montant est débité immédiatement lors de la confirmation de
                commande.
            </p>
            <p>Les cartes acceptées sont les suivantes : Visa, MasterCard, Postcard et Paypal.</p>
            <p>
                Le client garantit à <a routerLink="/">www.artisansdelatransition.org</a> qu'il dispose des
                autorisations nécessaires pour utiliser le mode de paiement choisi par lui-même, lors de la validation
                du bon de commande.
            </p>
            <p>
                <a routerLink="/">www.artisansdelatransition.org</a> se réserve le droit de suspendre ou annuler tout
                traitement de commande en cas de refus d'autorisation de paiement par carte bancaire de la part des
                organismes officiellement accrédités ou en cas de non-paiement de la commande.
            </p>
            <p>
                Les clients qui possèdent des cartes prépayées peuvent les utiliser à tout moment pour régler un achat
                sur le site. Pour des raisons techniques, il est toutefois impossible de régler un achat avec deux modes
                de paiement différents. C’est pourquoi, le solde du compte prépayé doit être égal ou supérieur au
                montant de la commande à régler.
            </p>
            <h2 class="mat-h2">Article 7 : Sécurité des paiements</h2>
            <p>
                Datatrans,
                <a href="https://www.datatrans.ch" target="_blank">www.datatrans.ch</a>, est spécialisé dans les
                transactions de paiement dans le commerce en ligne et exploite un système efficace permettant de
                réaliser rapidement des paiements avec toutes les cartes de crédit, avec la Postcard ainsi qu’avec
                différentes cartes de client, tout en bénéficiant de la plus haute sécurité de transaction.
            </p>
            <p>
                Les systèmes de Datatrans sont exploités en Suisse et répondent à tous les standards de sécurité
                habituels. Le Payment Gateway est surveillé 7 jours sur 7 et 24 heures sur 24 et garantit un maximum de
                disponibilité. Le commerçant en ligne envoie les demandes d’autorisation par l’intermédiaire d’un
                cryptage de sécurité en 128 BIT SSL au Datatrans-Gateway. Les données sont décryptées dans un domaine de
                décryptage sécurisé du système Datatrans et transmises dans une autre zone sécurisée du système. La
                communication entre Datatrans et les différents instituts de finance s’effectue via des branchements de
                location ou VPN.
            </p>
            <h2 class="mat-h2">Article 8 : Réclamations</h2>
            <p>
                Pour toute information ou réclamation concernant les produits proposés à la vente sur
                <a routerLink="/">www.artisansdelatransition.org</a>, ou sur les présentes conditions générales de
                vente, le client s’adresser à <a href="mailto:abos@larevuedurable.com">abos@larevuedurable.com</a> ou
                par courrier à cette adresse : Association <strong>Artisans de la transition</strong>, Rue de Lausanne
                23, 1700 Fribourg, Suisse.
            </p>
            <h2 class="mat-h2">Article 9 : Cas de force majeure</h2>
            <p>
                Aucune des deux parties n'aura failli à ses obligations contractuelles, dans la mesure où leur exécution
                sera retardée, entravée ou empêchée par un cas fortuit ou un cas de force majeure.
            </p>
            <p>
                Sera considéré comme cas fortuit ou de force majeure tout fait ou circonstance irrésistible, extérieur
                aux parties, imprévisible, inévitable, indépendant de la volonté des parties et qui ne pourra être
                empêché par ces dernières, malgré tous les efforts raisonnablement possibles.
            </p>
            <p>
                La partie touchée par de telles circonstances en avisera l'autre dans les 2 jours ouvrables suivant la
                date à laquelle elle en aura eu connaissance. Les deux parties examineront alors, dans un délai de 7
                jours, sauf impossibilité due au cas de force majeure, l'incidence de l'événement et conviendront des
                conditions dans lesquelles l'exécution du contrat sera poursuivie. Au-delà d’un délai de (un) 1 mois
                d’interruption pour cas de force majeure, les Parties seront libérées de leurs obligations l’une envers
                l’autre. Le cas échéant, www.larevuedurable.com remboursera le client dans les meilleurs délais.
            </p>
            <p>
                De façon expresse, sont considérés comme cas de force majeure ou cas fortuits, outre ceux habituellement
                retenus par la jurisprudence, le blocage total ou partiel des moyens de transports/d'approvisionnements
                et/ou de réseaux de télécommunication, les tremblements de terre, les incendies, les tempêtes, les
                inondations, la foudre, la grève, l’incendie, la catastrophe, la panne et d’une manière générale tout
                événement ne permettant pas la bonne exécution des commandes.
            </p>
            <h2 class="mat-h2">Article 10 : Responsabilité</h2>
            <p>
                La responsabilité de l'association <strong>Artisans de la transition</strong> ne saurait être engagée
                pour tous les inconvénients ou dommages inhérents à l’utilisation du réseau internet, notamment une
                rupture du service, une intrusion extérieure ou la présence de virus informatiques, ou de fait qualifié
                de force majeure, conformément à la jurisprudence.
            </p>
            <h2 class="mat-h2">Article 11 : Conservation et archivage des transactions</h2>
            <p>
                L'association <strong>Artisans de la transition</strong> procède à l’archivage des bons de commandes et
                des factures sur un support fiable et durable correspondant à une copie fidèle et pouvant être produit à
                titre de preuve. Les registres informatisés conservés dans les systèmes informatiques de l'association
                Artisans de la transition dans des conditions raisonnables de sécurité, seront considérés par la société
                et le client comme les preuves des communications, des commandes et des paiements intervenus entre les
                parties.
            </p>
            <h2 class="mat-h2">Article 12 : Données personnelles</h2>
            <p>
                Les données personnelles du client (nom, prénom, adresse, email, etc…) sont conservées par l'association
                <strong>Artisans de la transition</strong> et ne sont en aucun cas revendues ou partagées à une tierce
                partie, si ce n’est pour satisfaire à un ordre de justice ou sur accord du client concerné.
            </p>
            <p>Le client a la possibilité de demander la modification ou la radiation de ses données.</p>
            <h2 class="mat-h2">Article 13 : Droit applicable</h2>
            <p>
                Les présentes conditions générales de vente en ligne sont soumises au droit suisse uniquement. En
                particulier, pour tout ce qui n’est pas expressément prévu dans les présentes, les règles du Code des
                obligations sont applicables.
            </p>
            <p>
                Tous litiges qui ne pourraient être réglés à l’amiable seront portés devant les tribunaux compétents du
                ressort du siège social de l'association <strong>Artisans de la transition</strong>.
            </p>
        </div>
    </div>
</div>
