<div *ngIf="dataSource" fxLayout="column">

    <div fxLayout="column">
        <div class="mat-headline no-margin" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">{{routeData?.title}}</div>
    </div>

    <div fxLayout="column">

        <div fxLayout="row" class="margin-v" overflow>
            <natural-search fxFlex
                            [configurations]="naturalSearchConfig"
                            [(selections)]="naturalSearchSelections"
                            (selectionChange)="search($event)"
                            [multipleGroups]="true"
            >
                <app-columns-picker (selectionChange)="selectedColumns = $event" [initialSelection]="routerColumns">
                    <span appColumnsPickerColumn="name">Nom</span>
                    <span appColumnsPickerColumn="transactionDate">Date</span>
                    <span appColumnsPickerColumn="balance">Montant</span>
                    <span appColumnsPickerColumn="account">Compte</span>
                    <span appColumnsPickerColumn="bookable">Réservable</span>
                    <span appColumnsPickerColumn="expenseClaim">Quittance</span>
                    <span appColumnsPickerColumn="creationDate">Créé le</span>
                    <span appColumnsPickerColumn="updateDate">Modifié le</span>
                </app-columns-picker>
            </natural-search>
        </div>

        <div class="responsive-table">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sorting($event)">

                <tr mat-header-row *matHeaderRowDef="selectedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: selectedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="selectedColumns"></tr>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
                    <td mat-cell *matCellDef="let element">
                        <app-table-button [label]="element.name"
                                          [navigate]="['/admin', 'transaction', element.transaction.id]"
                                          matTooltip="Éditer"
                        ></app-table-button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="balance">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header app-4em-column>Montant</th>
                    <td mat-cell *matCellDef="let element">
                        <app-money [amount]="element.balance" [showSignal]="false"></app-money>
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <span *ngIf="dataSource?.data.totalBalance > 0">{{dataSource.data.totalBalance | currency : 'CHF'}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="account">
                    <th mat-header-cell *matHeaderCellDef>Compte</th>
                    <td mat-cell *matCellDef="let element">
                        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1px">
                            <app-transaction-amount displayMode="account" [transactionLine]="element" [relativeToAccount]="element.debit"
                            ></app-transaction-amount>
                            <app-transaction-amount displayMode="account" [transactionLine]="element" [relativeToAccount]="element.credit"
                            ></app-transaction-amount>
                        </div>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="bookable">
                    <th mat-header-cell *matHeaderCellDef>Réservable</th>
                    <td mat-cell *matCellDef="let element">
                        <app-table-button *ngIf="element.bookable"
                                          [label]="element.bookable.name"
                                          [navigate]="['/admin/bookable', element.bookable.id]"
                        ></app-table-button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="transactionDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header app-date-column>Date</th>
                    <td mat-cell *matCellDef="let element">{{ element.transactionDate | date : 'medium' }}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="expenseClaim">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Quittance</th>
                    <td mat-cell *matCellDef="let element">{{ element.transaction.expenseClaim }}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="creationDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Créé le</th>
                    <td mat-cell *matCellDef="let element">{{ element.creationDate }}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="updateDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Modifié le</th>
                    <td mat-cell *matCellDef="let element">{{ element.updateDate }}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

            </table>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" class="margin" *ngIf="dataSource.data?.length === 0">
            <div>Pas de résultats</div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" class="margin" *ngIf="dataSource.data?.length === null">
            <mat-progress-spinner mode="indeterminate" [diameter]="40"></mat-progress-spinner>
        </div>

        <mat-paginator *ngIf="dataSource.data?.length"
                       [length]="dataSource.data?.length"
                       [pageSize]="dataSource.data?.pageSize"
                       [pageIndex]="dataSource.data?.pageIndex"
                       [pageSizeOptions]="pageSizeOptions"
                       (page)="pagination($event)"
        ></mat-paginator>

    </div>
</div>

<app-fixed-button [routerLink]="['/admin/transaction/new']" icon="add" *ngIf="permissionsService.crud?.transaction.create"
></app-fixed-button>
