<div *ngIf="dataSource" fxLayout="column">

    <div fxLayout="column">
        <div class="mat-headline no-margin" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">{{routeData?.title}}</div>
    </div>

    <div fxLayout="column">

        <div fxLayout="row" class="margin-v" overflow>
            <natural-search fxFlex [facets]="naturalSearchFacets" [selections]="naturalSearchSelections" (selectionChange)="search($event)" [multipleGroups]="true">
                <natural-columns-picker (selectionChange)="selectedColumns = $event" [initialSelection]="initialColumns">
                    <span naturalColumnsPickerColumn="transactionDate">Date</span>
                    <span naturalColumnsPickerColumn="name">Nom</span>
                    <span naturalColumnsPickerColumn="open" [checked]="false" [hidden]="true">Nom</span>
                    <span naturalColumnsPickerColumn="remarks">Remarques</span>
                    <span naturalColumnsPickerColumn="balance">Montant</span>
                    <span naturalColumnsPickerColumn="account">Compte</span>
                    <span naturalColumnsPickerColumn="isReconciled">Pointé</span>
                    <span naturalColumnsPickerColumn="documents">Justificatifs</span>
                    <span naturalColumnsPickerColumn="tag">Tag</span>
                </natural-columns-picker>

                <button mat-icon-button (click)="download()" matTooltip="Télécharger la liste au format Excel">
                    <natural-icon name="file_download"></natural-icon>
                </button>
            </natural-search>


        </div>

        <div class="responsive-table">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sorting($event)">

                <tr mat-header-row *matHeaderRowDef="selectedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: selectedColumns;"></tr>
                <!--<tr mat-footer-row *matFooterRowDef="selectedColumns"></tr>-->

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
                    <td mat-cell *matCellDef="let element">
                        <natural-table-button [label]="element.name" [navigate]="['/admin', 'transaction', element.transaction.id]" matTooltip="Éditer"
                        ></natural-table-button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="open">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
                    <td mat-cell *matCellDef="let element">
                        <natural-table-button [label]="element.name" (click)="select.emit(element)" matTooltip="Éditer"></natural-table-button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="remarks">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Remarques</th>
                    <td mat-cell *matCellDef="let element">
                        <div [innerHTML]="element.remarks" class="line-break"></div>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="balance">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header natural-4em-column>Montant</th>
                    <td mat-cell *matCellDef="let element">
                        <app-money *ngIf="!relativeToAccount" [amount]="element.balance" [showSignal]="false"></app-money>
                        <app-transaction-amount *ngIf="!!relativeToAccount" displayMode="amount" [transactionLine]="element" [relativeToAccount]="relativeToAccount"></app-transaction-amount>
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <span *ngIf="dataSource?.data.totalBalance > 0">{{dataSource.data.totalBalance | currency : 'CHF'}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="account">
                    <th mat-header-cell *matHeaderCellDef>Compte</th>
                    <td mat-cell *matCellDef="let element">
                        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1px">
                            <app-transaction-amount
                                    displayMode="account"
                                    [transactionLine]="element"
                                    [relativeToAccount]="element.debit"
                                    (accountClick)="filterByAccount($event)"
                                    style="margin: 0 3px 3px 0"
                            ></app-transaction-amount>
                            <app-transaction-amount
                                    displayMode="account"
                                    [transactionLine]="element"
                                    [relativeToAccount]="element.credit"
                                    (accountClick)="filterByAccount($event)"
                            ></app-transaction-amount>
                        </div>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="isReconciled">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header app-date-column>Pointé</th>
                    <td mat-cell *matCellDef="let element">{{ element.isReconciled ? '✔︎' : '' }}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="transactionDate">
                    <th mat-header-cell *matHeaderCellDef app-date-column mat-sort-header>Date</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.transactionDate | date: 'd MMM y - HH:mm' }}
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="documents">
                    <th mat-header-cell *matHeaderCellDef>Justificatifs</th>
                    <td mat-cell *matCellDef="let element">
                        {{ documentCount(element) || '' }}
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="tag">
                    <th mat-header-cell *matHeaderCellDef>Tag</th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.transactionTag" fxLayout="row" fxLayoutAlign="start start">
                            <ngx-avatar [bgColor]="element.transactionTag.color" [size]="32" [name]="element.transactionTag.name"></ngx-avatar>
                            <natural-table-button
                                    [label]="element.transactionTag.name"
                                    (click)="filterByTag(element.transactionTag)"
                                    matTooltip="Voir les transactions"
                            ></natural-table-button>
                        </div>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

            </table>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" class="margin" *ngIf="dataSource.data?.length === 0">
            <div>Pas de résultats</div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" class="margin" *ngIf="dataSource.data?.length === null">
            <mat-progress-spinner mode="indeterminate" [diameter]="40"></mat-progress-spinner>
        </div>

        <mat-paginator *ngIf="dataSource.data?.length" [length]="dataSource.data?.length" [pageSize]="dataSource.data?.pageSize" [pageIndex]="dataSource.data?.pageIndex" [pageSizeOptions]="pageSizeOptions" (page)="pagination($event)"
        ></mat-paginator>

    </div>
</div>

<natural-fixed-button [routerLink]="['/admin/transaction/new']" icon="add" *ngIf="!hideFab && permissionsService.crud?.transaction.create"
></natural-fixed-button>
