<div #wrapper class="wrapper">
    <div>
        <div #element1
             (pComplete)="updateSize()"
             [pColor]="settings1.pColor"
             [pDirection]="settings1.pDirection"
             [pDuration]="settings1.pDuration"
             [pHidden]="!showData1"
             [pOscillationCoefficient]="settings1.pOscillationCoefficient"
             [pParticlesAmountCoefficient]="settings1.pParticlesAmountCoefficient"
             [pSpeed]="settings1.pSpeed"
             libParticleEffectButton
        >
            <ng-template [ngTemplateOutletContext]="{ data: _data1 }" [ngTemplateOutlet]="template"></ng-template>
        </div>
    </div>

    <div>
        <div #element2
             (pComplete)="updateSize()"
             [pColor]="settings2.pColor"
             [pDirection]="settings2.pDirection"
             [pDuration]="settings2.pDuration"
             [pHidden]="!showData2"
             [pOscillationCoefficient]="settings2.pOscillationCoefficient"
             [pParticlesAmountCoefficient]="settings2.pParticlesAmountCoefficient"
             [pSpeed]="settings2.pSpeed"
             libParticleEffectButton
        >
            <ng-template [ngTemplateOutletContext]="{ data: _data2 }" [ngTemplateOutlet]="template"></ng-template>
        </div>
    </div>
</div>
