:host {
    display: flex;
    flex-direction: column;
    flex: 1;

    .bloc {
        flex: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;

        .title {
            min-height: 2.7em;
        }

        .bloc-description {
            flex: 1;
            margin-bottom: 25px;
        }

        .edit-button {
            position: absolute;
            right: -10px;
            bottom: -10px;
        }
    }
}
