@if (!editMode) {
    <div class="bloc">
        <div class="mat-font-headline-sm title">{{ form.get('title')?.value }}</div>
        <div class="bloc-description mat-font-title-md">{{ form.get('description')?.value }}</div>
        <a matButton="filled" [routerLink]="form.get('buttonLink')?.value">
            {{ form.get('buttonLabel')?.value }}
        </a>
        @if ((permissionsService.crud | async)?.configuration.create) {
            <button
                class="edit-button"
                color="none"
                style="color: black; background-color: white"
                mat-fab
                (click)="editMode = true"
            >
                <mat-icon naturalIcon="edit" />
            </button>
        }
    </div>
}

@if (editMode) {
    <mat-card class="bloc nat-gap nat-vertical">
        <form class="nat-vertical" [formGroup]="form">
            <mat-form-field>
                <mat-label>Titre</mat-label>
                <textarea
                    formControlName="title"
                    matInput
                    [cdkAutosizeMinRows]="1"
                    [cdkTextareaAutosize]="true"
                ></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea
                    formControlName="description"
                    matInput
                    [cdkAutosizeMinRows]="1"
                    [cdkTextareaAutosize]="true"
                ></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Nom du bouton</mat-label>
                <input formControlName="buttonLabel" matInput />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Lien du bouton</mat-label>
                <input formControlName="buttonLink" matInput />
                <mat-hint>URL absolue débutant par un slash "/"</mat-hint>
            </mat-form-field>
        </form>
        <div class="nat-horizontal">
            <div class="nat-expand"></div>
            <button matButton (click)="reset()">Annuler</button>
            <button matButton="filled" (click)="update(); editMode = false">
                <mat-icon naturalIcon="save" />
                Sauvegarder
            </button>
        </div>
    </mat-card>
}
