<div fxLayout="column" style="max-width:1100px;margin:auto" fxLayoutGap="40px" class="padding" *ngIf="data.model.id">

    <div class="cover mat-elevation-z2"
         style="background-image:url(https://images.unsplash.com/photo-1500917832468-298fa6292e2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80)"
    ></div>

    <div fxLayout="row" fxLayoutAlign="start stretch" class="mat-display-1">
        <div fxFlex>{{ data.model.name }}</div>
        <div fxLayout="row" fxLayoutGap="20px">
            <mat-divider [vertical]="true"></mat-divider>
            <div fxLayout="column" fxLayoutAlign="center">{{ data.model.code }}</div>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
        <a mat-stroked-button color="primary" *ngIf="canAccessAdmin" [routerLink]="['/admin/bookable', data.model.id]">Administration</a>
        <a mat-flat-button color="primary" *ngIf="canBook | async" [routerLink]="['../new', {bookable: data.model.id}]">Réserver</a>
        <!--<button mat-flat-button color="warn" (click)="bookingService.flagEndDate(data.model.id)">Terminer</button>-->
    </div>

    <div class="mat-subheading-1" [innerHTML]="data.model.description"></div>

    <app-bookable-metadata [bookable]="data.model"></app-bookable-metadata>
</div>

<div *ngIf="!data.model.id" fxFlex fxLayout="column" fxLayoutAlign="center center" class="padding">
    <div class="mat-display-1" style="text-align:center">Aucun matériel correspondant à ce code n'a été trouvé</div>
    <button mat-flat-button color="primary" (click)="back()">Revenir à la page précédente</button>
</div>
