<div fxLayout="column">

    <h2 class="mat-title">Informations pour le versement</h2>

    <div fxLayout="column" fxLayoutGap="10px">


        <div fxLayout="column" fxLayoutGap="30px" class="bankingData">

            <div fxLayout="column" fxLayoutGap="20px">
                <div>
                    <div class="mat-body-2">Versement pour :</div>
                    <div class="mat-body-1" style="white-space: pre-line;">{{ bankingInfos?.paymentTo }}</div>
                </div>

                <div>
                    <div class="mat-body-2">En faveur de :</div>
                    <div class="mat-body-1" style="white-space: pre-line;">{{ bankingInfos?.paymentFor }}</div>
                </div>

                <div>
                    <div class="mat-body-2">Numéro de référence :</div>
                    <div class="mat-body-1">{{ bankingInfos?.referenceNumber }}</div>
                </div>

                <div>
                    <span class="mat-body-2">Compte : </span>
                    <span class="mat-body-1">{{ bankingInfos?.postAccount }}</span>
                </div>

                <div>
                    <span class="mat-body-2">Montant : </span>
                    <span class="mat-body-1">{{ amount | currency : 'CHF' }}</span>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-divider fxFlex></mat-divider>
                <div class="mat-body-1">OU</div>
                <mat-divider fxFlex></mat-divider>
            </div>

            <div>
                <div class="mat-body-2">Ligne de codage :</div>
                <div class="mat-body-1">{{ bankingInfos?.encodingLine }}</div>
            </div>
        </div>

    </div>

    <p class="mat-body">
        Les paiements effectués au travers d'un e-banking peuvent mettre plusieurs jours à être crédités sur ton solde.
    </p>
</div>
