<div>
    <mat-menu #naturalMenu="matMenu">
        <div *ngFor="let column of displayedColumns" class="mat-menu-item" (click)="$event.stopPropagation()">
            <mat-checkbox [(ngModel)]="column.checked" (ngModelChange)="updateColumns()">{{ column.label }}</mat-checkbox>
        </div>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="naturalMenu" i18n-matTooltip matTooltip="Sélectionner les colonnes">
        <natural-icon name="view_column"></natural-icon>
    </button>
</div>

