<div class="body padding" [formGroup]="form">

    <div fxLayout="column" fxLayoutGap="30px">

        <h1 class="mat-display-1">Changement de mot de passe</h1>

        <div fxLayout="column">

            <mat-form-field fxFlex>
                <mat-label>Mot de passe</mat-label>
                <input type="password" matInput formControlName="password">
                <app-icon matPrefix name="lock"></app-icon>
                <mat-error *ngIf="form.get('password').hasError('minlength')">
                    Minimum {{form.get('password').errors.minlength.requiredLength}} caractères
                </mat-error>
                <mat-error *ngIf="form.get('password').hasError('required')">Requis</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex>
                <mat-label>Confirmation du mot de passe</mat-label>
                <input type="password" matInput formControlName="confirmPassword" [errorStateMatcher]="confirmPasswordStateMatcher">
                <app-icon matPrefix name="lock"></app-icon>
                <mat-error *ngIf="form.hasError('notSame')">
                    Les mot de passe ne sont pas identiques
                </mat-error>
            </mat-form-field>
        </div>
        <mat-error *ngIf="form.get('token').hasError('required')"  class="mat-body">
            Un token est requis. Faites une <a [routerLink]="['/request-password-reset']">nouvelle demande de modification</a>.
        </mat-error>
        <!-- Spacer-->
        <div></div>

        <div fxLayout="row" fxLayoutAlign="center">
            <button mat-raised-button color="primary" (click)="submit()" [disabled]="sending || form.invalid">
                <app-icon name="send"></app-icon>
                Envoyer
            </button>
        </div>
    </div>

</div>
