<a (click)="click()" *ngIf="!inCart && !clicked" [color]="buttonColor" mat-flat-button>{{ label || 'Acheter l\'article'}}</a>
<a *ngIf="inCart && !clicked" color="accent" mat-flat-button routerLink="/panier">{{ 'Voir le panier' }}</a>

<app-particle-switch *ngIf="clicked" [data]="inCart">
    <ng-template #template let-data="data">
        <a (click)="click()" *ngIf="!data" [color]="buttonColor" mat-flat-button>{{ label || 'Acheter l\'article'}}</a>
        <a *ngIf="data" color="accent" mat-flat-button routerLink="/panier">Voir le panier</a>
    </ng-template>
</app-particle-switch>

