@use 'sass:color';
@use 'sass:map';
@use '@angular/material' as mat;
@mixin menu($theme) {
    $primary: map.get($theme, primary);
    $accent: map.get($theme, accent);
    $warn: map.get($theme, warn);
    $bg: map.get($theme, background);
    $fg: map.get($theme, foreground);

    .mega-menu {
        background: mat.get-color-from-palette($bg, base);

        ul {
            a {
                color: color.adjust(mat.get-color-from-palette($fg, text), $lightness: 20%);
            }

            a:hover {
                color: mat.get-color-from-palette($primary) !important;
            }

            li:hover > a {
                border-color: mat.get-color-from-palette($primary) !important;
            }

            & > li.hasMenu::after {
                background: mat.get-color-from-palette($bg, card);
            }

            a.active {
                color: mat.get-color-from-palette($primary) !important;
            }
        }
    }
}
