:host {
    display: flex;
    flex: 1;
    flex-direction: row;
}
.mega-menu {
    display: block;
    flex: 1;
    border-radius: 5px;
    background: white;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: auto;

    ul {
        display: block;
        position: relative;
        margin-right: 0;
        padding-right: 0;
        padding-left: 0;
        width: 100%;
        max-width: 25vw;
        list-style: none;

        a {
            display: inline-block;
            position: relative; // to limit ripple
            cursor: pointer;
            padding: 10px;
            font-size: 16px;
            text-transform: uppercase;

            &.highlighted {
                margin-top: 5px;
                margin-left: 10px;
            }
        }

        ul {
            display: none;
        }

        li {
            z-index: 10;
            padding-right: 30px; // gap between menu and submenu

            &.open > ul {
                display: block;
                position: absolute;
                top: 0;
                margin-left: 100%;
            }
        }
    }
}
