<div class="mega-menu mat-elevation-z4" role="menu">
    <div class="mega-menu-content" [style.min-height.px]="data.contentHeight" [style.padding-left.px]="offsetLeft">
        <ng-container *ngTemplateOutlet="navigationTemplate; context: {$implicit: data.items}" />
    </div>
</div>

<ng-template #navigationTemplate let-navigation>
    @if (navigation?.length) {
        <ul>
            @for (item of navigation; track item) {
                <li [class.hasMenu]="item.children?.length" [class.open]="item.open">
                    <a routerLinkActive="active" [routerLink]="item.link">
                        <span (click)="clickAction(item, $event)">{{ item.display }}</span></a
                    >
                    <ng-container *ngTemplateOutlet="navigationTemplate; context: {$implicit: item.children}" />
                </li>
            }
        </ul>
    }
</ng-template>
