<div [@transformMenu]="panelAnimationState" class="mega-menu mat-elevation-z4" role="menu">
    <div [style.min-height.px]="data.contentHeight" [style.padding-left.px]="offsetLeft" class="mega-menu-content">
        <ng-container *ngTemplateOutlet="navigationTemplate; context: {$implicit: data.items}"></ng-container>
    </div>
</div>

<ng-template #navigationTemplate let-navigation>
    <ul *ngIf="navigation?.length">
        <li *ngFor="let item of navigation" [class.hasMenu]="item.children?.length" [class.open]="item.open">
            <a [routerLink]="item.link" routerLinkActive="active">
                <span (click)="clickAction(item, $event)">{{ item.display }}</span></a
            >
            <ng-container *ngTemplateOutlet="navigationTemplate; context: {$implicit: item.children}"></ng-container>
        </li>
    </ul>
</ng-template>
