<div fxLayout="column" fxLayoutGap="50px" *ngIf="user">

    <h2 class="mat-headline margin-bottom">Finances</h2>

    <div>
        <mat-form-field [style.width.px]="250">
            <mat-label>IBAN</mat-label>
            <input matInput
                   [ngModel]="user.iban"
                   (change)="updateIban($event.target.value);"
                   [disabled]="ibanLocked"
                   (blur)="lockIbanIfDefined()"
            >
            <button mat-icon-button matSuffix (click)="ibanLocked = false" *ngIf="ibanLocked">
                <app-icon name="lock"></app-icon>
            </button>
        </mat-form-field>
    </div>

    <div fxLayout="column">

        <div fxLayout="row" fxLayoutAlign="start center" class="margin-bottom" fxLayoutGap="10px">
            <h3 fxFlex class="mat-headline no-margin">Dépenses et remboursements en attente</h3>
            <button mat-stroked-button (click)="createRefund()" [disabled]="!user.iban" *ngIf="!adminMode">
                Demander un remboursement
            </button>
            <a mat-stroked-button [routerLink]="['/profile/create-expense-claim']" *ngIf="!adminMode">
                Annoncer une dépense
            </a>
        </div>

        <div class="mat-body-1 padding margin"
             fxLayout="column"
             fxLayoutAlign="center center"
             *ngIf="runningExpenseClaimsDS?.data?.length === 0"
        >Aucune annonce
        </div>

        <div class="responsive-table" [fxHide]="!runningExpenseClaimsDS?.data?.length">
            <table mat-table [dataSource]="runningExpenseClaimsDS">
                <tr mat-header-row *matHeaderRowDef="expenseClaimsColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: expenseClaimsColumns;"></tr>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Nom</th>
                    <td mat-cell *matCellDef="let expenseClaim">{{ expenseClaim.name }}</td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Description</th>
                    <td mat-cell *matCellDef="let expenseClaim">{{ expenseClaim.description }}</td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Dernière modification</th>
                    <td mat-cell *matCellDef="let expenseClaim">
                        {{ expenseClaim.updateDate || expenseClaim.creationDate | date: 'fullDate' | capitalize}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef app-align-right>Montant</th>
                    <td mat-cell *matCellDef="let expenseClaim" app-align-right>
                        <app-money [amount]="expenseClaim.amount" [showSignal]="false"></app-money>
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let expenseClaim">
                        {{ expenseClaim.status | enum: 'ExpenseClaimStatus' | capitalize | async }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef>Type</th>
                    <td mat-cell *matCellDef="let expenseClaim">{{ expenseClaim.type | enum : 'ExpenseClaimType' | capitalize | async }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="remarks">
                    <th mat-header-cell *matHeaderCellDef>Remarques</th>
                    <td mat-cell *matCellDef="let expenseClaim">
                        <div [innerHTML]="expenseClaim.remarks" class="line-break"></div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="cancel">
                    <th mat-header-cell *matHeaderCellDef app-1em-column></th>
                    <td mat-cell *matCellDef="let expenseClaim">
                        <button mat-icon-button
                                color="warn"
                                (click)="cancelExpenseClaim(expenseClaim)"
                                *ngIf="canCancelExpenseClaim(expenseClaim)"
                        >
                            <app-icon name="delete"></app-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="admin">
                    <th mat-header-cell *matHeaderCellDef app-1em-column>Traiter</th>
                    <td mat-cell *matCellDef="let booking">
                        <a mat-icon-button mat-raised-button color="accent" [routerLink]="['/admin/booking', booking.id]">
                            <app-icon name="chevron_right"></app-icon>
                        </a>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

            </table>
        </div>

    </div>

</div>
