<div fxLayout="column" fxLayoutGap="30px">

    <h2 class="mat-headline">Finances</h2>

    <div fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutGap="10px" fxLayoutAlign.gt-sm="start start" >
        <mat-form-field>
            <mat-label>IBAN</mat-label>
            <input matInput [(ngModel)]="user.iban" (change)="lockIban = true; updateIban();" [disabled]="lockIban">
            <button mat-icon-button matSuffix (click)="lockIban = false">
                <app-icon name="lock"></app-icon>
            </button>
        </mat-form-field>

        <!--[disabled]="!form.get('iban').value"-->
        <a mat-stroked-button color="primary" (click)="createRefund()">Demander un remboursement</a>
        <a mat-stroked-button color="primary" [routerLink]="['/profile/create-expense-claim']">Annoncer une dépense</a>
    </div>

    <div fxLayout="column">

        <h3 fxFlex class="mat-headline">Dépenses annoncées</h3>

        <div class="responsive-table">
            <table mat-table *ngIf="runningExpenseClaimsDS" [dataSource]="runningExpenseClaimsDS">
                <tr mat-header-row *matHeaderRowDef="expenseClaimsColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: expenseClaimsColumns;"></tr>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Nom</th>
                    <td mat-cell *matCellDef="let expenseClaim">{{ expenseClaim.name }}</td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Description</th>
                    <td mat-cell *matCellDef="let expenseClaim">{{ expenseClaim.description }}</td>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef app-align-right>Montant</th>
                    <td mat-cell *matCellDef="let expenseClaim" app-align-right>
                        <app-money [amount]="expenseClaim.amount"></app-money>
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let expenseClaim">
                        {{ expenseClaim.status | enum: 'ExpenseClaimStatus' | capitalize | async }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef>Type</th>
                    <td mat-cell *matCellDef="let expenseClaim">
                        {{ expenseClaim.amount > 0 ? 'Dépense' : 'Remboursement'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="cancel">
                    <th mat-header-cell *matHeaderCellDef app-1em-column></th>
                    <td mat-cell *matCellDef="let expenseClaim">
                        <button mat-icon-button
                                color="warn"
                                (click)="cancelExpenseClaim(expenseClaim)"
                                *ngIf="canCancelExpenseClaim(expenseClaim)"
                        >
                            <app-icon name="delete"></app-icon>
                        </button>
                    </td>
                </ng-container>

            </table>
        </div>

    </div>
    <div *ngIf="transactionsDS && transactionsDS.length">
        <div fxLayout="row" fxLayoutAlign="start center" class="margin-bottom">
            <h3 fxFlex class="mat-title no-margin-bottom">Transactions</h3>
            <button mat-stroked-button color="primary">Annoncer une dépense</button>
        </div>

        <div class="responsive-table">
            <table mat-table *ngIf="transactionsDS" [dataSource]="transactionsDS">
                <tr mat-header-row *matHeaderRowDef="transactionsColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: transactionsColumns;"></tr>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Nom</th>
                    <td mat-cell *matCellDef="let transaction">{{ transaction.name }}</td>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef>Montant</th>
                    <td mat-cell *matCellDef="let transaction">
                        <app-money [amount]="transaction.amount"></app-money>
                    </td>
                </ng-container>

                <ng-container matColumnDef="cancel">
                    <th mat-header-cell *matHeaderCellDef app-1em-column></th>
                    <td mat-cell *matCellDef="let transaction">
                        <button mat-icon-button
                                color="warn"
                                (click)="cancelExpenseClaim(transaction)"
                                *ngIf="canCancelExpenseClaim(transaction)"
                        >
                            <app-icon name="delete"></app-icon>
                        </button>
                    </td>
                </ng-container>

            </table>
        </div>

    </div>
</div>
