<div class="detail-body" [formGroup]="form">
    <natural-detail-header
        label="Documents facilitateurs"
        [listRoute]="['admin', 'facilitator-document']"
        [model]="data.model"
        [newLabel]="data.seo.title"
    >
        @if (isUpdatePage()) {
            <a routerLink="/agir-avec-nous/conversation-carbone/facilitateurs-prive" matButton="filled">
                <mat-icon naturalIcon="remove_red_eye" />
                Voir la page
            </a>
        }
    </natural-detail-header>

    <mat-tab-group naturalLinkableTab [dynamicHeight]="true" (selectedIndexChange)="changeTab($event)">
        <mat-tab label="Général">
            <div class="nat-vertical nat-padding-top nat-gap-horizontal nat-md-horizontal">
                <div class="nat-vertical nat-md-expand-66">
                    <mat-form-field>
                        <mat-label>Nom</mat-label>
                        <input formControlName="name" matInput (change)="update()" />
                        <mat-error>{{ form.get('name')?.errors | errorMessage }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Rubrique</mat-label>
                        <input formControlName="category" matInput (change)="update()" />
                        <mat-error>{{ form.get('category')?.errors | errorMessage }}</mat-error>
                    </mat-form-field>
                </div>

                <div class="nat-md-expand-33 nat-gap nat-vertical">
                    <h2 class="mat-font-title-lg">Document</h2>

                    <natural-file
                        action="upload"
                        class="mat-elevation-z2"
                        accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                        [model]="data.model.file"
                        [formCtrl]="form.get('file')"
                        [uploader]="createFileAndLink.bind(this)"
                        [height]="300"
                        [style.borderRadius.px]="4"
                        [style.marginLeft.px]="2"
                    />
                </div>
            </div>

            @if (isUpdatePage()) {
                <mat-divider class="nat-margin-vertical" />
                <natural-stamp [item]="data.model" />
            }
        </mat-tab>
    </mat-tab-group>

    @if (showFabButton) {
        <natural-fixed-button-detail [form]="form" [model]="data.model" (create)="create()" (delete)="delete()" />
    }
</div>
