@mixin product-tags-navigation($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    app-product-tags-navigation {

        * {
            color: lighten(mat-color($foreground, text), 60%);
        }

        a:hover {
            color: mat-color($primary);
        }

    }

}


