<div [formGroup]="form" class="detail-body">

    <natural-detail-header [listRoute]="['admin', 'news']" [model]="data.model" label="Actualité" newLabel="Nouvelle actualité"
    ></natural-detail-header>

    <mat-tab-group (selectedIndexChange)="changeTab($event)" [dynamicHeight]="true">
        <mat-tab label="Général">
            <div class="padding-top" fxLayout="column" fxLayoutGap="30px">
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px">
                    <div fxFlex="66" fxLayout="column">

                        <mat-form-field>
                            <input (change)="update()" formControlName="name" matInput>
                            <mat-label>Nom</mat-label>
                            <mat-error *ngIf="form.get('name')?.hasError('maxlength')">
                                Maximum {{form.get('name')?.errors.maxlength.requiredLength }} caractères
                            </mat-error>
                            <mat-error *ngIf="form.get('name')?.hasError('required')">Requis</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Description</mat-label>
                            <textarea (change)="update()"
                                      [matAutosizeMinRows]="1"
                                      formControlName="description"
                                      matInput
                                      matTextareaAutosize
                            ></textarea>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Contenu</mat-label>
                            <textarea (change)="update()"
                                      [matAutosizeMinRows]="1"
                                      formControlName="content"
                                      matInput
                                      matTextareaAutosize
                            ></textarea>
                        </mat-form-field>

                    </div>

                    <div fxFlex="33" fxLayout="column">
                        <mat-slide-toggle (change)="update()" formControlName="isActive">Active</mat-slide-toggle>
                    </div>
                </div>

                <natural-stamp [item]="data.model"></natural-stamp>

            </div>
        </mat-tab>

    </mat-tab-group>

    <natural-fixed-button-detail (create)="create()" (delete)="delete()" *ngIf="showFabButton" [form]="form" [model]="data.model"
    ></natural-fixed-button-detail>

</div>
