<div class="detail-body" [formGroup]="form">
    <natural-detail-header
        label="Actualité"
        [listRoute]="['admin', 'news']"
        [model]="data.model"
        [newLabel]="data.seo.title"
    >
        @if (isUpdatePage()) {
            <a color="primary" mat-raised-button [routerLink]="['/actualite', data.model.id]">
                <mat-icon naturalIcon="remove_red_eye" />
                Voir la page
            </a>
        }
    </natural-detail-header>

    <mat-tab-group naturalLinkableTab [dynamicHeight]="true" (selectedIndexChange)="changeTab($event)">
        <mat-tab id="general" label="Général">
            <div class="nat-vertical nat-padding-top nat-gap-horizontal nat-md-horizontal">
                <div class="nat-vertical nat-md-expand-66">
                    <mat-form-field>
                        <input formControlName="name" matInput (change)="update()" />
                        <mat-label>Nom</mat-label>
                        @if (form.get('name')?.hasError('maxlength')) {
                            <mat-error>
                                Maximum {{ form.get('name')?.errors?.maxlength?.requiredLength }} caractères
                            </mat-error>
                        }
                        @if (form.get('name')?.hasError('required')) {
                            <mat-error>Requis</mat-error>
                        }
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Résumé</mat-label>
                        <textarea
                            formControlName="description"
                            matInput
                            [cdkAutosizeMinRows]="1"
                            [cdkTextareaAutosize]="true"
                            (change)="update()"
                        ></textarea>
                    </mat-form-field>

                    <div class="mat-body-2">Contenu</div>
                    <natural-editor formControlName="content" (contentChange)="update()" />
                </div>

                <div class="nat-md-expand-33 nat-vertical">
                    <div class="nat-vertical nat-gap nat-margin-bottom">
                        <mat-slide-toggle formControlName="isActive" (change)="update()">Active</mat-slide-toggle>
                    </div>

                    <mat-form-field>
                        <mat-label>Date</mat-label>
                        <input formControlName="date" matInput [matDatepicker]="picker" (change)="update()" />
                        <mat-datepicker-toggle matIconSuffix [for]="picker" />
                        <mat-datepicker #picker />
                        @if (form.get('date')?.hasError('required')) {
                            <mat-error>Requis</mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>

            @if (isUpdatePage()) {
                <mat-divider class="nat-margin-vertical" />
                <natural-stamp [item]="data.model" />
            }
        </mat-tab>
    </mat-tab-group>

    @if (showFabButton) {
        <natural-fixed-button-detail [form]="form" [model]="data.model" (create)="create()" (delete)="delete()" />
    }
</div>
