.content {
    max-width: 600px;
}

.subscription {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 30px;
    text-align: center;

    &.popular {
        padding: 20px;
    }

    & > *:not(:last-child) {
        margin-bottom: 40px;
    }

    & > *:not(.mat-font-headline-sm) {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
    }

    .title {
        height: 64px;
    }

    .buy-zone {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        app-price {
            font-size: 30px;
        }

        & > *:not(:last-child) {
            margin-bottom: 14px;
        }
    }
}

.subscription.standard {
    background: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container);
}

.subscription.pro {
    background: var(--mat-sys-tertiary-container);
    color: var(--mat-sys-on-tertiary-container);
}

.subscription.popular {
    border: 10px solid var(--mat-sys-surface-container-lowest);
}
