<div class="container" fxLayout="column" fxLayoutGap="60px" *ngIf="subscriptions">
    <div class="content">
        <h1 class="mat-display-1 margin-bottom">S'abonner</h1>

        <p class="mat-h3">
            Un travail rédactionnel indépendant . Aucun partenariat ni soutien financier n'y porte atteinte. L'envie de
            comprendre et le pouvoir d' agir pour construire une société écologique et solidaire.
        </p>

        <p class="mat-h3">
            S'abonner c'est s'assurer de ne rater aucun numéro et vous permet d'économiser de 20 à 60% selon l'option
            choisie.
        </p>
    </div>

    <!--
   Abonnements personnels
   -->
    <div>
        <h1 class="mat-display-1 margin-bottom">Abonnement personnel</h1>
        <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="60px" fxLayout="column" fxLayoutGap="30px">
            <div class="subscription standard">
                <div class="mat-h1 title">Abonnement papier</div>
                <p>Arrive directement dans votre boîte aux lettres</p>
                <div class="buy-zone">
                    <p>Pour 2 ans = 4 numéros</p>
                    <app-price [product]="subscriptions['19000']"></app-price>
                    <a (click)="order('19000', ProductType.paper)" mat-flat-button>Acheter cet abonnement</a>
                </div>
            </div>

            <div class="subscription standard mat-elevation-z6 popular">
                <div class="mat-h1 title">
                    Abonnement numérique
                    <div class="mat-h3">Préféré par nos lecteurs</div>
                </div>
                <p>Arrive directement par mail</p>
                <p>Accès illimité et instantané à une base de données de plus de 1000 articles</p>
                <div class="buy-zone">
                    <p>Pour 2 ans = 4 numéros</p>
                    <app-price [product]="subscriptions['19001']"></app-price>
                    <a (click)="order('19001', ProductType.digital)" mat-flat-button>Acheter cet abonnement</a>
                </div>
            </div>

            <div class="subscription standard">
                <div class="mat-h1 title">Abonnement papier et numérique</div>
                <p>Arrive directement dans votre voite aux lettres et par mail</p>
                <p>Accès illimité et instantané à une base de données de plus de 1000 articles</p>
                <div class="buy-zone">
                    <p>Pour 2 ans = 4 numéros</p>
                    <app-price [product]="subscriptions['19002']"></app-price>
                    <a (click)="order('19002', ProductType.both)" mat-flat-button>Acheter cet abonnement</a>
                </div>
            </div>
        </div>
    </div>

    <!--
   Abonnements profesionnels
   -->
    <div>
        <h1 class="mat-display-1 margin-bottom">Abonnement professionnel</h1>
        <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="60px" fxLayout="column" fxLayoutGap="30px">
            <div class="subscription pro">
                <div class="mat-h1 title">Abonnement papier</div>
                <p>Arrive directement dans votre boîte aux lettres</p>
                <div class="buy-zone">
                    <p>Pour 2 ans = 4 numéros</p>
                    <app-price [product]="subscriptions['19003']"></app-price>
                    <a (click)="order('19003', ProductType.paper, true)" mat-flat-button>Acheter cet abonnement</a>
                </div>
            </div>

            <div class="subscription pro">
                <div class="mat-h1 title">
                    Abonnement numérique
                    <div class="mat-h3">Préféré par nos lecteurs</div>
                </div>
                <p>Arrive directement par mail</p>
                <p>Accès illimité et instantané à une base de données de plus de 1000 articles pour trois personnes</p>
                <div class="buy-zone">
                    <p>Pour 2 ans = 4 numéros</p>
                    <app-price [product]="subscriptions['19004']"></app-price>
                    <a (click)="order('19004', ProductType.digital, true)" mat-flat-button>Acheter cet abonnement</a>
                </div>
            </div>

            <div class="subscription pro">
                <div class="mat-h1 title">Abonnement papier et numérique</div>
                <p>Arrive directement dans votre voite aux lettres et par mail</p>
                <p>Accès illimité et instantané à une base de données de plus de 1000 articles pour trois personnes</p>
                <div class="buy-zone">
                    <p>Pour 2 ans = 4 numéros</p>
                    <app-price [product]="subscriptions['19005']"></app-price>
                    <a (click)="order('19005', ProductType.both, true)" mat-flat-button>Acheter cet abonnement</a>
                </div>
            </div>
        </div>
    </div>
</div>
