<div class="container" fxLayout="column" fxLayoutGap="60px">

    <div class="mat-display-1">{{ title }}</div>

    <app-product-tags-navigation *ngIf="showTags" [current]="currentProductTag"></app-product-tags-navigation>

    <div class="products" [ngClass]="{'grid': viewMode === ProductsViewMode.grid, 'list': viewMode === ProductsViewMode.list}">
        <div *ngFor="let product of products" class="product">
            <div class="product-name">{{ product.name }}</div>
            <app-price [product]="product"></app-price>
            <a mat-stroked-button [routerLink]="['/larevuedurable', 'product', product.id]">Détail</a>
            <app-add-to-cart [product]="product"></app-add-to-cart>
        </div>
    </div>

    <a mat-flat-button color="primary" (click)="loadMore()">Charger plus</a>
</div>
