:host {


    .products.grid {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-auto-rows: 240px;
        grid-gap: 30px;

        .product {
            border-left: 6px solid transparent;
            padding: 5px 30px 5px 30px;

            // if bigger first image
            // &:first-child {
            //    grid-column: span 2;
            //    grid-row: span 2;
            // }

            .product-name {
                flex: 1;
            }

            .product-image img {
                max-width: 100%;
            }

            .product-tag {
                text-decoration: none;
                margin-right: 10px;
            }


            .product-price {
                .frame-primary {
                    padding: 5px;
                    margin-right: 5px;
                }
            }

        }
    }

    .products.list {

        & > :not(:last-child) {
            margin-bottom: 30px
        }

    }

}
