@mixin homepage($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $bg: map-get($theme, background);
    $fg: map-get($theme, foreground);

    app-homepage {
        .introduction-blocs {
            background: mat-color($accent, 0.1);
        }

        .donation {
            background: mat-color($accent, 0.1);
        }
    }

}


