<div class="container">
    <h1 class="mat-display-1">Nous faire connaître</h1>
    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body mat-h3">
            <p>
                Vous pouvez mettre des flyers de notre association dans votre commerce ? Installer une « caisse qui
                parle » dans votre restaurant - une caisse à vin décorée et remplie d’anciens numéros de LaRevueDurable
                et des flyers en lien avec nos activités ? Mettre à disposition d’anciens numéros dans votre lieu de
                passage ? Nous accorder une petite place sur un stand ? Autant d’occasions en or de nous faire
                connaître. Ecrivez à courriel@artisansdelatransition.org et nous vous enverrons le matériel. Merci.
            </p>
        </div>
    </div>
</div>
