@import '../../../../../styles/mixins';
@include page-with-illustration();

.page-illustration {
    height: 350px;
}

.page-illustration-content {
    top: -300px;
    & > img {
        margin-bottom: -250px;
    }
}
