<div class="page-illustration" [style.backgroundColor]="'#EADFC7'"></div>

<div class="container page-illustration-content">
    <img src="assets/images/illustration-pages/la-revue-durable-faire-connaitre.jpg" />
</div>

<div class="container">
    <h1 class="mat-headline-4">NOUS FAIRE CONNAÎTRE</h1>
    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body mat-h3 rich-text">
            <p>
                Vous pouvez mettre des flyers de notre association dans votre commerce&nbsp;? Installer une « caisse qui
                parle&nbsp;» dans votre restaurant - une caisse à vin décorée et remplie d’anciens numéros de
                <strong>LaRevueDurable</strong> et des flyers en lien avec nos activités&nbsp;? Mettre à disposition
                d’anciens numéros dans votre lieu de passage&nbsp;? Nous accorder une petite place sur un stand&nbsp;?
                Autant d’occasions en or de nous faire connaître. Ecrivez à
                <a href="mailto:courriel@artisansdelatransition.org">courriel@artisansdelatransition.org</a> et nous
                vous enverrons le matériel. Merci.
            </p>
        </div>
    </div>
</div>
