<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">

    <mat-form-field [floatLabel]="floatPlaceholder">
        <mat-label>{{ placeholder }}</mat-label>

        <!--
            mat-autocomplete [displayWith] conflicts with input display value when using Hierarchical selector.
            Applying [matAutocomplete] conditionally don't work because directives cant be conditional
                [matAutocomplete]="hierarchicSelectorConfig ? undefined : ac"

            To prevent this, the quicker solution is to have two conditional input tags
        -->

        <!-- Input for autocomplete -->
        <input *ngIf="!hierarchicSelectorConfig"
               matInput
               (keydown.esc)="clear()"
               [formControl]="formCtrl"
               [matAutocomplete]="ac"
               (change)="onInnerFormChange()"
               (click)="autoTrigger.openPanel()"
               (blur)="blur.emit()"
               (focus)="onFocus()"
               aria-label="Recherche et sélection"
               i18n-aria-label
        >

        <!-- Input for hierarchical selector -->
        <input *ngIf="hierarchicSelectorConfig"
               matInput
               #input
               (click)="openDialog()"
               (keydown.esc)="clear()"
               [formControl]="formCtrl"
               (blur)="blur.emit()"
               (focus)="onFocus()"
               aria-label="Recherche et sélection"
               i18n-aria-label
        >

        <!-- Meta data -->
        <app-icon matPrefix *ngIf="!loading && showIcon" [name]="icon"></app-icon>
        <mat-progress-spinner matPrefix *ngIf="loading" [diameter]="21" [strokeWidth]="5" mode="indeterminate"></mat-progress-spinner>

        <!-- Clear button -->
        <div matSuffix fxLayout="row" fxLayoutAlign="start center">
            <button *ngIf="formCtrl.value && formCtrl.enabled && !clearLabel"
                    (click)="clear()"
                    mat-icon-button
                    i18n-matTooltip
                    matTooltip="Désélectionner"
            >
                <app-icon name="close"></app-icon>
            </button>
            <button *ngIf="navigateTo" [routerLink]="navigateTo" mat-button mat-icon-button i18n-matTooltip matTooltip="Naviguer vers">
                <app-icon name="open_in_browser"></app-icon>
            </button>
        </div>

        <ng-template #defaultACItem let-item="item">
            <span>{{ getDisplayFn()(item) }}</span>
        </ng-template>

        <mat-error *ngIf="formCtrl.hasError('required')" i18n>Ce champ est requis</mat-error>
    </mat-form-field>

    <div fxLayout="row" fxLayoutGap="10px" *ngIf="showSelectButton() || showClearButton()">
        <button mat-flat-button *ngIf="showSelectButton()" color="primary" (click)="openDialog()" i18n>
            {{ selectLabel }}
        </button>
        <button mat-button *ngIf="showClearButton()" color="warn" (click)="clear()" i18n>
            {{ clearLabel }}
        </button>
    </div>
</div>

<!-- Autocomplete menu -->
<mat-autocomplete #ac="matAutocomplete" [displayWith]="getDisplayFn()" (optionSelected)="propagateValue($event?.option?.value)">
    <mat-option *ngFor="let item of items | async" [value]="item">
        <ng-template [ngTemplateOutlet]="itemTemplate ? itemTemplate : defaultACItem" [ngTemplateOutletContext]="{ item: item }"
        ></ng-template>
    </mat-option>
    <div style="padding:5px 10px" class="mat-caption" *ngIf="moreNbItems > 0" i18n>{{ moreNbItems }} élément(s) supplémentaire(s)</div>
</mat-autocomplete>
