<div fxLayout="column" fxFlexFill>

    <mat-toolbar fxFlex="none" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">

        <button mat-icon-button *ngIf="menu" (click)="menu.toggle()">
            <natural-icon name="menu"></natural-icon>
        </button>

        <a routerLink="/" style="width:60px; height:60px">
            <natural-icon name="emmy" [size]="60"></natural-icon>
        </a>

        <div fxFlex></div>

        <div id="searchByCode" fxLayout="row" fxLayoutAlign="start center">
            <input fxFlex placeholder="Code d'article" [(ngModel)]="code" (keydown.enter)="goToCode()" (keydown.esc)="code = ''">
            <a mat-icon-button [routerLink]="['/shop/product', code]">
                <natural-icon name="search"></natural-icon>
            </a>
        </div>

        <a mat-icon-button mat-flat-button color="primary" routerLink="/shop/camera" (click)="qrService.start()">
            <natural-icon name="simple-qr" [size]="24"></natural-icon>
        </a>

    </mat-toolbar>

    <div fxFlex fxLayout="column" style="overflow:auto;">
        <router-outlet></router-outlet>
    </div>
</div>
