<div fxLayout="column" fxFlexFill>

    <mat-toolbar fxFlex="none" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">

        <button mat-icon-button *ngIf="menu" (click)="menu.toggle()">
            <app-icon name="menu"></app-icon>
        </button>

        <a routerLink="/" style="width:60px; height:60px">
            <img src="assets/ichtus.svg" style="width:60px; height:60px">
        </a>

        <div fxFlex></div>

        <a mat-icon-button routerLink="/profile">
            <ngx-avatar [name]="userService.getCurrentUser().value?.name" [size]="40"></ngx-avatar>
        </a>

    </mat-toolbar>

    <div fxFlex fxLayout="column" style="overflow:auto;">
        <router-outlet></router-outlet>
    </div>
</div>
