<div class="container">
    <h1 class="mat-display-1">PROCHAINES SESSIONS</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body" fxLayout="column" fxLayoutGap="60px">
            <div class="rich-text mat-h3">
                <h2 class="mat-h1 no-margin-top">Infos pratiques</h2>

                <p>
                    Pour tirer tout le bénéfice d'une Conversation carbone, il est important d'en suivre les six
                    ateliers. Nous vous invitons à vous rendre disponible pour chacune des dates indiquées plus bas.
                </p>
                <p>
                    Le <strong>nombre limité de participants</strong> vise à garantir une dynamique de groupe optimale.
                    Si vous deviez vous désister avant le début de la session, merci de nous en informer aussi vite que
                    possible afin qu’une autre personne puisse profiter de la place libérée.
                </p>
                <p>
                    Le matériel didactique fourni comprend un cahier d’exercices et le guide «Prêt à temps pour demain?»
                    disponible sur ce lien :
                    <a
                        href="/assets/images/conversation-carbon/livre-conversations-carbone-artisans-de-le-transition.pdf"
                        >«Prêt à temps pour demain?»
                    </a>
                </p>
            </div>

            <div *ngFor="let session of sessions">
                <div class="mat-h3">{{ session.name }}</div>
                <div class="rich-text" [innerHtml]="session.description"></div>
            </div>

            <div class="page-body mat-h3">
                <h2>Si vous n’avez pas trouvé de session qui vous convienne :</h2>
                <p>
                    Je désire être averti·e des prochaines sessions pour les régions suivantes (plusieurs choix
                    possibles) :
                </p>
                <a color="accent" mat-flat-button>S'inscrire</a>
            </div>
        </div>

        <div fxFlex fxHide.lt-md>
            <app-session-side-column></app-session-side-column>
        </div>
    </div>
</div>
