<div class="container">
    <h1 class="mat-display-1">PROCHAINES SESSIONS</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body" fxLayout="column" fxLayoutGap="60px">
            <div class="rich-text mat-h3">
                <h2 class="mat-h1 no-margin-top">Infos pratiques</h2>

                <p>
                    Pour tirer tout le bénéfice d'une Conversation carbone, il est important d'en suivre les six
                    ateliers. Nous vous invitons à vous rendre disponible pour chacune des dates indiquées plus bas.
                </p>
                <p>
                    Le <strong>nombre limité de participants</strong> vise à garantir une dynamique de groupe optimale.
                    Si vous deviez vous désister avant le début de la session, merci de nous en informer aussi vite que
                    possible afin qu’une autre personne puisse profiter de la place libérée.
                </p>
                <p>
                    Le matériel didactique fourni comprend un cahier d’exercices et le guide « Prêt à temps pour
                    demain&nbsp;?&nbsp;» disponible sur ce lien :
                    <a href="/assets/images/conversation-carbon/le-guide-des-conversations-carbone.pdf" target="_blank"
                        >« Prêt à temps pour demain ?&nbsp;»
                    </a>
                </p>

                <h2 class="mat-h1 no-margin-top">Recherche sur les comportements en faveur du climat</h2>
                <p>
                    Les Artisans de la transition s’associent au Centre pour le développement et l’environnement (CDE)
                    de l’Université de Berne pour étudier les effets des Conversations carbone. Pour atteindre le nombre
                    critique de participants, une dizaine de nouveaux groupes vont être progressivement lancés entre
                    août et décembre 2021. N’hésitez pas à vous inscrire sur les listes d’attente par région si vous ne
                    trouvez pas de session à votre convenance. Nous vous préviendrons dès que de nouveaux groupes
                    démarrent.
                </p>
                <p>
                    Si vous avez la possibilité de réunir un groupe de huit à dix personnes pour lancer une Conversation
                    carbone, cela nous aiderait énormément ! Ecrivez à
                    <a href="mailto:marie.lendais@artisansdelatransition.org"
                        >marie.lendais@artisansdelatransition.org</a
                    >
                    qui se fera un plaisir de vous trouver deux facilitateurs pour animer ce groupe.
                </p>
                <p>
                    Et si vous pouvez faire passer le mot au sujet de cette recherche sur les comportements en faveur du
                    climat et nous aider ainsi à recruter 150 participants et 150 personnes pour le groupe témoin, voici
                    <a
                        href="/assets/images/conversation-carbon/cherchons_volontaires_recherche-conversations-carbone.pdf"
                        target="_blank"
                        >un flyer de présentation</a
                    >.
                </p>
            </div>

            <div *ngFor="let session of sessions">
                <div class="mat-h2">{{ session.name }}</div>
                <div class="rich-text" [innerHtml]="session.description"></div>
                <a
                    mat-flat-button
                    color="accent"
                    [attr.href]="session.mailingList"
                    *ngIf="session.mailingList"
                    target="_blank"
                >
                    S'inscrire
                </a>
            </div>

            <div class="page-body mat-h3">
                <div class="mat-h2">Si vous n’avez pas trouvé de session qui vous convienne :</div>
                <p>
                    Je désire être averti·e des prochaines sessions pour les régions suivantes (plusieurs choix
                    possibles) :
                </p>
                <div fxLayout="column" fxLayoutGap="10px">
                    <div *ngFor="let queue of queues" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                        <button color="accent" mat-flat-button (click)="subscribeToQueue(queue)">M'avertir</button>
                        <div>{{ queue.name }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div fxFlex fxHide.lt-md>
            <app-session-side-column hiddenBlocName="prochaines"></app-session-side-column>
        </div>
    </div>
</div>
