<div class="container">
    <h1 class="mat-font-headline-lg">PROCHAINES SESSIONS</h1>

    <div class="nat-horizontal nat-gap-30">
        <div class="app-md-expand-70 app-gap-60 nat-vertical page-body">
            <div class="rich-text mat-font-title-md">
                <h2 class="mat-font-headline-sm nat-no-margin-top">Infos pratiques</h2>

                <p>
                    Vous pouvez rejoindre l’une des sessions agendées ci-dessous ou constituer un groupe de huit à dix
                    personnes pour mettre en route une Conversation carbone.
                </p>
            </div>

            <div id="incoming-sessions-list">
                @for (session of sessions; track session) {
                    <div class="nat-vertical nat-gap-10 nat-left">
                        <div class="mat-font-title-lg">{{ session.name }}</div>
                        <div class="rich-text" [innerHtml]="session.description"></div>
                        @if (session.mailingList) {
                            <a matButton="filled" color="tertiary" target="_blank" [attr.href]="session.mailingList">
                                Infos
                            </a>
                        }
                    </div>
                }
            </div>

            <div class="rich-text mat-font-title-md">
                <p>
                    Le nombre de participants à une Conversation carbone est limité afin de garantir une dynamique de
                    groupe optimale. Si vous deviez vous désister avant le début de la session, merci de nous en
                    informer aussi vite que possible afin qu’une autre personne puisse profiter de la place libérée !
                </p>
                <p>
                    Du matériel théorique et didactique vous est fourni. Il comprend un cahier d’exercices pratiques et
                    un guide disponible sur ce lien :
                    <a href="/assets/images/conversation-carbon/le-guide-des-conversations-carbone.pdf" target="_blank"
                        >« Prêt à temps pour demain ?&nbsp;»
                    </a>
                </p>
                <p>
                    Vous souhaitez organiser une Conversation carbone et vous pouvez réunir un groupe de huit à dix
                    personnes ? Écrivez directement à
                    <a href="mailto:susana.jourdan@larevuedurable.com">susana.jourdan&#64;larevuedurable.com</a>
                    afin de coordonner la facilitation de votre groupe !
                </p>
            </div>

            <div class="nat-horizontal nat-gap-30">
                <div class="nat-expand-50 nat-frame-primary nat-padding">
                    <p>
                        " La crise climatique est alarmante et il est facile de se sentir impuissant. Nous essayons de
                        commencer là où les gens en sont aujourd’hui, pas là où nous aimerions qu’ils soient
                        demain.&nbsp;"
                    </p>
                    <p>Rosemary Randall, co-fondatrice des Conversations carbone</p>
                </div>
                <div class="nat-expand-50 nat-frame-primary nat-padding">
                    <p>
                        " L'incertitude que la crise climatique engendre peut pousser à trop se concentrer sur ses rêves
                        et ses cauchemars. Il rend difficile de penser concrètement à ce que nous voulons et à ce qui
                        est envisageable dans un avenir sobre en carbone.&nbsp;"
                    </p>
                    <p>Rosemary Randall, co-fondatrice des Conversations carbone</p>
                </div>
            </div>

            <div>
                <img src="assets/images/conversation-carbon/schema_conversations_carbone_6-ateliers.jpg" />
            </div>
        </div>

        <div class="app-md-expand-30 nat-md-show">
            <app-session-side-column hiddenBlocName="prochaines" />
        </div>
    </div>
</div>
