<div
    class="page-illustration"
    [style.backgroundImage]="'url(assets/images/illustration-pages/conversations-carbone-methode.jpg)'"
></div>

<div class="container">
    <h1 class="mat-headline-4">LA METHODE DES CONVERSATIONS CARBONE</h1>

    <div class="nat-horizontal nat-gap-30">
        <div class="app-md-expand-70 page-body rich-text mat-h3">
            <div class="mat-h2">Six rencontres pour comprendre, échanger et se mettre en mouvement</div>
            <p>
                Dans une Conversation carbone, une équipe de facilitation accompagne un groupe de huit à dix personnes
                pendant six ateliers participatifs structurés et dynamiques de deux heures.
            </p>
            <p>
                Selon une méthode éprouvée qui marie échanges et mesures pratiques, le groupe aide chaque participant et
                chaque participante à :
            </p>
            <ul>
                <li>explorer ses motivations et ses marges de manœuvre ;</li>
                <li>écouter, à comprendre sans jugement et à s’aligner sur ses valeurs ;</li>
                <li>découvrir les thèmes phares pour diminuer son empreinte carbone ;</li>
                <li>
                    envisager de nouvelles manières de faire, à partager ses expériences et à trouver des solutions ;
                </li>
                <li>passer à l’action !</li>
            </ul>
            <p>Une Conversation carbone, c’est six rencontres pour réduire son impact sur le climat.</p>
            <p>
                Le journal The Guardian a jugé cette méthode « l’une des vingt meilleures solutions pour lutter contre
                le changement climatique ».
            </p>
            <p>
                Les <strong>Artisans de la transition</strong> mettent en pratique les Conversations carbone depuis
                2017. A ce jour, près de 700 personnes ont participé à une Conversation carbone en Suisse romande et 80
                % d’entre elles disent que cette expérience les a aidées à modifier leurs comportements.
            </p>
            <p>
                Deux ateliers complémentaires sont aujourd’hui disponibles sur deux nouveaux sujets en lien avec le
                climat&nbsp;: la
                <a routerLink="/agir-avec-nous/desinvestir/atelier-finance">finance</a>
                . et le numérique
                <a routerLink="/agir-avec-nous/numerique-ethique">numérique</a>
                .
            </p>

            <div class="frame-stroked-primary nat-padding">
                <p>
                    Pourquoi, malgré la connaissance et l’acceptation de la notion d’urgence climatique, est-il si
                    compliqué de changer nos comportements ?
                </p>
                <p>
                    Les normes, les habitudes, les difficultés pratiques et parfois aussi les coûts rendent les
                    changements nécessaires compliqués. S’y ajoutent des mécanismes de défenses qui inhibent la volonté
                    d’agir contre le réchauffement climatique. Rosemary Randall, psychologue, et Andy Brown, ingénieur,
                    ont mis au point les Conversations carbone pour aider à prendre en considération son empreinte
                    carbone et à réfléchir en profondeur à ce qui est important pour soi entre valeurs idéalistes et
                    choix effectifs.
                </p>
                <p>
                    Les Conversations carbone n’imposent pas un programme pour induire des changements depuis le haut.
                    C’est un outil au service d’un projet de changement volontaire pour, dans l’idéal, diviser par deux
                    son empreinte carbone en trois à cinq ans.
                </p>
                <p>
                    Source pour aller plus loin :
                    <a routerLink="/larevuedurable/article/1138">LaRevueDurable, n°57.</a>
                </p>
            </div>

            <h2 class="mat-h2">Ils ont participé !</h2>

            <div class="witnesses">
                <p class="witness">
                    « Avec mon conjoint, au fil des ateliers, nous avons décidé de nous passer de notre voiture hybride.
                    Nous l’avons déposée au garage le 28 décembre 2018. Nous y pensions depuis deux ans déjà. Lors de la
                    session sur la mobilité, j’ai évoqué cette idée et l’un des participants du groupe a dit : « La
                    voiture il faut s’en désaccoutumer. &nbsp;» Cela a été le déclic.&nbsp;»
                    <strong>Josiane, Fribourg</strong>
                </p>

                <p class="witness">
                    « J’ai eu le sentiment d'avoir nettement continué d’avancer dans la transition, en évitant
                    l’épuisement vers lequel je tendais avant de commencer ces ateliers. J’ai surtout appris à mieux
                    vivre avec les autres, à faire le deuil de certains aspects en rapport avec l’état du monde et à
                    mieux coopérer sur les questions écologiques.&nbsp;» <strong>Rodan, Lausanne</strong>
                </p>

                <p class="witness">
                    « J’ai profité de la dynamique des Conversations carbone pour m’acheter un bon vélo. Et je viens de
                    donner ma voiture&nbsp;! Et je me sens légère…&nbsp;»
                    <strong>Anne-Florence, Fribourg</strong>
                </p>

                <p class="witness">
                    « Du jour au lendemain, nous avons décidé de ne plus prendre l’avion. Pour nos vacances à York, au
                    Royaume-Uni, nous irons avec Interrail.&nbsp;» <strong>Isabelle et Bruno, Genève</strong>
                </p>

                <p class="witness">
                    « Je me suis ancrée dans mes choix et j’ai pu envisager des possibilités que je ne soupçonnais pas.
                    Je suis plus que jamais à vélo, dans la conscience de ma consommation et du plaisir que m’offre
                    l’indépendance de la sobriété. Quel apaisement !&nbsp;» <strong>Marie, Genève</strong>
                </p>
                <p class="witness">
                    « Participer aux Conversations carbone nous a donné beaucoup d’énergie positive pour créer du
                    changement dans notre mode de vie, notamment au niveau de la mobilité et de l'alimentation. Le fait
                    de se retrouver régulièrement en groupe, avec des personnes qui partageaient nos envies et nos
                    interrogations, faisait du bien. Ces ateliers nous ont permis de mieux comprendre certaines échelles
                    de grandeur et les impacts de nos gestes quotidiens. Nous essayons d’appliquer certains changements
                    depuis, et d’inspirer notre entourage en le faisant.&nbsp;» <strong>Joël et Celia, Fribourg</strong>
                </p>
            </div>
        </div>

        <div class="app-md-expand-30 nat-md-show">
            <app-session-side-column hiddenBlocName="methode" />
        </div>
    </div>
</div>
