<div class="container">
    <h1 class="mat-display-1">Les conversations carbone</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body rich-text mat-h3">
            <div class="slogan">
                Comment adopter un mode de vie plus sobre en carbone sans regret et même avec plaisir ?
            </div>

            <p>Grâce à une puissante méthode d’animation de groupe : les Conversations carbone.</p>
            <p>
                Cette méthode engendre, par <strong>l’apprentissage mutuel</strong> et le partage de valeurs, l’adoption
                de mesures concrètes dans sa vie quotidienne et permet à chacun·e de
                <strong>surmonter ses sentiments d’impuissance</strong>.
            </p>

            <p>
                Rosemary Randall, psychanalyste et psychothérapeute, et Andy Brown, ingénieur, ont élaboré les
                Conversations carbone à Cambridge, au Royaume-Uni, en 2006, pour former et soutenir les individus dans
                leur volonté d’adopter un mode de vie sobre en carbone. Les Conversations carbone augmentent, entre
                autre, l’acceptabilité des changements de normes nécessaires pour
                <strong>contenir la hausse de la température en dessous de 1.5°C</strong>. Les Artisans de la transition
                oeuvrent à la diffusion des Conversations carbone en Suisse romande depuis 2016.
            </p>

            <p>
                En pratique, une session de Conversations carbone est une
                <strong>série de six ateliers de deux heures</strong> échelonnés sur quatre mois. Réunis en
                <strong>groupes de huit personnes</strong>, les participants abordent successivement les thèmes suivants
                :
            </p>

            <ol>
                <li>Faire son bilan carbone avec notre calculateur en ligne</li>
                <li>Un avenir sobre en carbone,</li>
                <li>L’énergie chez soi,</li>
                <li>Les voyages et la mobilité,</li>
                <li>L’alimentation et l’eau,</li>
                <li>La consommation et les déchets,</li>
                <li>Un plan pour réduire ses émissions / discuter avec ses proches.</li>
            </ol>

            <p>
                Chaque atelier suit un programme précis.
                <strong>Conduit par deux facilitateurs formés à la méthode</strong>, il constitue un espace sécurisant
                où le thème du jour est exploré en commun. L’<strong>apprentissage mutuel</strong> et les échanges au
                sein du groupe aident le participant à agir sur son quotidien et à se mettre ainsi en
                <strong>accord avec ses valeurs</strong>.
            </p>

            <p>En <strong>2019</strong>, 19 sessions ont été proposées dans les cantons romands.</p>
            <p>
                Nos ambitions pour la période <strong>2020-2022</strong> sont de former 100 nouveaux facilitateurs de
                Conversations carbone et d’animer au moins 100 sessions en trois ans. Cela signifie
                <strong>encourager 800 personnes</strong> à réduire leur empreinte carbone de manière significative, à
                contribuer au changement des normes et à s’engager individuellement ou collectivement. Ces personnes
                s’ajouteront aux plus de <strong>400 participant-e-s qui ont déjà fait l’exercice</strong> en Suisse
                romande jusqu’à présent.
            </p>

            <h1 class="mat-h1">Témoignages</h1>

            <p>Découvrez les témoignages et avis de personnes ayant participé à une session !</p>

            <div id="witnesses">
                <p class="witness">
                    <img src="assets/images/conversation-carbon/temoin-1.png" /> « Avec mon conjoint, au fil des
                    Conversations carbone, nous avons décidé de nous passer de notre voiture hybride. Nous l’avons
                    déposée au garage le 28.12.2018. Nous y pensions depuis deux ans déjà, et comme nous sommes
                    retraités, c’était une bonne occasion de faire un geste pour diminuer notre empreinte carbone. Lors
                    de la session sur la mobilité, j’ai parlé de cette idée est l’un des participant du groupe a dit «
                    La voiture il faut s’en désaccoutumer ». Cela a été le déclic. Dorénavant, c’est un vrai bonheur de
                    s’en être débarrassé ! On se déplaçait déjà à pied et en TP, mais sans la voiture c’est un nouveau
                    rythme, on parle plus avec les gens, c’est une liberté retrouvée, nous découvrons le luxe de la
                    lenteur ». <strong>Josiane, 65 ans, Fribourg</strong>
                </p>

                <p class="witness">
                    « J'ai eu le sentiment d'avoir nettement continué d’avancer dans la transition, en évitant
                    l'épuisement vers lequel je tendais avant de commencer ces ateliers. J'ai surtout appris à mieux
                    vivre avec les autres, à faire le deuil de certains aspects en rapport avec l'état du monde et à
                    mieux coopérer sur les questions écologiques ». <strong>Rodan, 30 ans, Lausanne</strong>
                </p>

                <p class="witness">
                    <img src="assets/images/conversation-carbon/temoin-2.png" /> « Nous étions tous à des étapes de
                    transition différentes et cela aide à identifier les différences dans notre propre entourage.
                    C'était inspirant et source d'apprentissage pour devenir ambassadeur de ce message de transition
                    individuelle ». <strong>Chloé, 28 ans, Fribourg</strong>
                </p>

                <p class="witness">
                    <img src="assets/images/conversation-carbon/temoin-3.png" /> « J’habite chez mes parents et après
                    les Conversations Carbone on a beaucoup discuté de l’efficience énergétique. Par exemple notre
                    sèche-linge est tombé en panne récemment, il n’a pas pu être réparé et j’ai réussi à convaincre mes
                    parents de ne pas en racheter un. Lorsque nous avons abordé le graphique avec les déplacements en
                    avion, là je me suis vraiment rendu compte de ce que cela représentait… Concernant la mobilité, on
                    se rend vite compte que le moyen de transport peut remettre en question l’ensemble d’un voyage. Nous
                    en avons parlé avec mes amis et ils ne sont absolument pas contre des voyages en train, même pour
                    l’ambiance c’est souvent plus attirant. Ce qui dérange et peut empêcher ce mode de déplacement c’est
                    par contre les prix, qui sont des fois inaccessibles. » <strong>Thomas, 23 ans, Lausanne</strong>
                </p>

                <p class="witness">
                    « J’ai profité de la dynamique des Conversations carbone pour m’acheter un bon vélo. Et je viens de
                    donner ma voiture ! Et je me sens légère… » <strong>Anne-Florence, 55 ans, Fribourg</strong>
                </p>

                <p class="witness">
                    <img src="assets/images/conversation-carbon/temoin-4.png" /> « Du jour au lendemain, nous avons
                    décidé de ne plus prendre l'avion. Pour nos vacances à York, au Royaume-Uni, nous irons avec
                    Interrail ». <strong>Isabelle et Bruno, 60 ans, Genève</strong>
                </p>
            </div>

            <h2>Pour en savoir plus</h2>

            <ul>
                <li>Participer à une Conversation carbone en Suisse romande</li>
                <li>Conversations intimes avec soi-même et le carbone</li>
                <li>Pour suivre une Conversation carbone, il n’est pas nécessaire d’être un expert</li>
                <li>Lien vers article revue « environnement » de l’OFEV</li>
            </ul>

            <h2>Nos partenaires</h2>

            <ul>
                <li>CC en Suisse alémanique et à l’étranger</li>
                <li>Ils soutiennent nos CC</li>
            </ul>
        </div>

        <div fxFlex fxHide.lt-md>
            <app-session-side-column></app-session-side-column>
        </div>
    </div>
</div>
