<div class="container">
    <h1 class="mat-display-1">LES CONVERSATIONS CARBONE</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body rich-text mat-h3">
            <ul>
                <li>Une méthode éprouvée</li>
                <li>Six séances de deux heures</li>
                <li>Deux facilitateurs ou facilitatrices formé-e-s</li>
                <li>Huit participant-e-s motivé-e-s</li>
                <li>Un groupe stimulant et bienveillant</li>
                <li>Des informations fiables et filtrées</li>
                <li>Une foule de conseils pratiques</li>
                <li>Un accueil chaleureux et des âmes sœurs</li>
                <li>Un climat d’écoute et de volonté de comprendre sans juger</li>
                <li>Une ouverture à des actions collectives ciblées</li>
            </ul>
            <p>
                Ce sont là quelques caractéristiques centrales des Conversations carbone telles que les Artisans de la
                transition les mettent en pratique. La dynamique de groupe aide à avancer dans son engagement individuel
                et collectif pour le climat.
            </p>

            <p>
                Depuis 2017, plus de 400 personnes ont participé à une Conversation carbone en Suisse romande. En
                moyenne, 80 % d’entre elles estiment que cette expérience les a motivées à modifier leur comportement,
                70 % ont augmenté leurs connaissances. Les participants attribuent en moyenne une note de 8 sur 10 à
                cette méthode.
            </p>

            <h2 class="mat-h2">Découvrez les témoignages et avis de personnes ayant participé à une session !</h2>

            <div id="witnesses">
                <p class="witness">
                    <img src="assets/images/conversation-carbon/temoin-1.png" /> « Avec mon conjoint, au fil des
                    ateliers, nous avons décidé de nous passer de notre voiture hybride. Nous l’avons déposée au garage
                    le 28 décembre 2018. Nous y pensions depuis deux ans déjà. Lors de la session sur la mobilité, j’ai
                    évoqué cette idée et l’un des participants du groupe a dit : « La voiture il faut s’en
                    désaccoutumer. » Cela a été le déclic. »<strong>Josiane, 65 ans, Fribourg</strong>
                </p>

                <p class="witness">
                    « J’ai eu le sentiment d'avoir nettement continué d’avancer dans la transition, en évitant
                    l’épuisement vers lequel je tendais avant de commencer ces ateliers. J’ai surtout appris à mieux
                    vivre avec les autres, à faire le deuil de certains aspects en rapport avec l’état du monde et à
                    mieux coopérer sur les questions écologiques. » <strong>Rodan, 30 ans, Lausanne</strong>
                </p>

                <p class="witness">
                    <img src="assets/images/conversation-carbon/temoin-2.png" />« Nous étions tous à des étapes de
                    transition différentes, ce qui aide à identifier les différences dans son propre entourage. C’était
                    inspirant et source d’apprentissage pour devenir ambassadrice de la transition individuelle. »
                    <strong>Chloé, 28 ans, Fribourg</strong>
                </p>

                <p class="witness">
                    <img src="assets/images/conversation-carbon/temoin-3.png" />« Notre sèche-linge est récemment tombé
                    en panne, il n’a pas pu être réparé et j’ai réussi à convaincre mes parents de ne pas en racheter
                    un. Lorsque nous avons abordé le graphique avec les déplacements en avion, je me suis vraiment rendu
                    compte de ce que cela représentait… »<strong>Thomas, 23 ans, Lausanne</strong>
                </p>

                <p class="witness">
                    « J’ai profité de la dynamique des Conversations carbone pour m’acheter un bon vélo. Et je viens de
                    donner ma voiture ! Et je me sens légère… »<strong>Anne-Florence, 55 ans, Fribourg</strong>
                </p>

                <p class="witness">
                    <img src="assets/images/conversation-carbon/temoin-4.png" />« Du jour au lendemain, nous avons
                    décidé de ne plus prendre l’avion. Pour nos vacances à York, au Royaume-Uni, nous irons avec
                    Interrail. »<strong>Isabelle et Bruno, 60 ans, Genève</strong>
                </p>
            </div>

            <h2 class="mat-h2">Pour en savoir plus</h2>

            <ul>
                <li>
                    <a href="assets/images/conversation-carbon/flyer_conversations_carbone_light.pdf"
                        >Flyer de présentation</a
                    >
                </li>
                <li>
                    Conversations intimes avec soi-même et le carbone
                    <!-- todo : link article reference 057-059 -->
                </li>
                <li>
                    Pour suivre une Conversation carbone, il n’est pas nécessaire d’être un expert
                    <!-- todo : link article reference 060-064 -->
                </li>
                <li>
                    <a
                        href="https://www.bafu.admin.ch/bafu/fr/home/themes/climat/dossiers/magazine2019-3-vers-un-mode-sombre-co2.html"
                        >Article paru dans la revue « environnement » de l’Office fédéral de l’environnement</a
                    >
                </li>
            </ul>

            <h2 class="mat-h2">Nos soutiens</h2>

            <p>Les Conversations carbone ont reçu le soutien financier des organisations suivantes :</p>

            <ul>
                <li>Fondation Mercator</li>
                <li>Fondation 3FO</li>
                <li>Services industriels de Genève</li>
                <li>Canton de Vaud</li>
                <li>Office fédéral de l’environnement</li>
                <li>Canton de Genève</li>
            </ul>

            <p>
                Les Artisans de la transition ont donné les impulsions décisives à la diffusion des Conversations
                carbone en :
            </p>

            <ul>
                <li>France : <a href="https://carboneetsens.fr">https://carboneetsens.fr</a></li>
                <li>
                    Suisse alémanique :
                    <a href="https://sehen-und-handeln.ch/klimagespraeche/"
                        >https://sehen-und-handeln.ch/klimagespraeche/</a
                    >
                </li>
            </ul>
        </div>

        <div fxFlex fxHide.lt-md>
            <app-session-side-column></app-session-side-column>
        </div>
    </div>
</div>
