@use '../../../../styles/mixins';
@include mixins.page-with-illustration();

.slogan {
    font-size: 1.5em;
    line-height: 1.3em;
    font-style: italic;
    margin: 0 0 30px 0;
}

li:before {
    content: '' !important;
}
