<div class="nat-vertical">
    <h1 class="mat-font-headline-sm">{{ routeData.seo.title }}</h1>
    <div class="nat-vertical">
        <div class="nat-margin-vertical overflow">
            <p>Uploadez un fichier CSV pour importer les utilisateurs et leur accès:</p>
            <p>
                <button
                    mat-raised-button
                    naturalFileDrop
                    accept=".csv"
                    [selectable]="true"
                    [disabled]="!(permissionsService.crud | async)?.organization.create || importing"
                    (filesChange)="uploadFile($event)"
                >
                    <mat-icon naturalIcon="file_upload" />
                    Uploader
                </button>
            </p>

            @if (importing) {
                <mat-spinner diameter="32" />
            }

            @if (result) {
                <div>
                    <p>
                        L'import de {{ result.totalLines }} lignes s'est terminé avec succès en
                        {{ result.time }} secondes.
                    </p>
                    <ul>
                        <li>Utilisateurs modifiés: {{ result.updatedUsers }}</li>
                        <li>Organisations modifiées: {{ result.updatedOrganizations }}</li>
                        <li>Organisations supprimées: {{ result.deletedOrganizations }}</li>
                    </ul>
                    <ul>
                        <li>Total d'utilisateurs existants: {{ result.totalUsers }}</li>
                        <li>Total d'organisations existants: {{ result.totalOrganizations }}</li>
                    </ul>
                    @if (!users.length) {
                        <p>Tout est OK</p>
                    }
                    @if (users.length) {
                        <div>
                            <p>
                                Il existe {{ users.length }} utilisateurs dans notre BD qui n'ont pas été importés. Il
                                faut soit créer ces utilisateurs dans Crésus puis re-importer, soit supprimer
                                définitivement les utilisateurs de notre BD.
                            </p>
                            <div class="nat-horizontal nat-gap-10">
                                <a mat-button style="margin-right: 3em" [routerLink]="['/admin/user', params]"
                                    >Voir le détail</a
                                >
                                <button mat-raised-button color="warn" (click)="deleteAll()">
                                    <mat-icon naturalIcon="delete" />
                                    Supprimer tous
                                </button>
                            </div>
                            <ul>
                                @for (user of users; track user) {
                                    <li>{{ user.name }}</li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            }

            @if (errors.length) {
                <div>
                    <p>
                        {{ errors.length }} erreurs se sont produitent durant l'import. Tout le processus a été
                        complétement annulé.
                    </p>
                    @for (error of errors; track error) {
                        <p>
                            <mat-icon color="warn" fontIcon="error" />
                            {{ error }}
                        </p>
                    }
                </div>
            }
        </div>
    </div>
</div>
