<h2 mat-dialog-title>Sélection d'un espace de stockage</h2>
<mat-dialog-content fxLayout="column" fxLayoutGap="20px">

    <natural-select [service]="productService"
                (selectionChange)="selection = $event"
                [filter]="variables.filter"
                placeholder="Sélectionner"
    ></natural-select>

</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="selection">Attribuer</button>
</mat-dialog-actions>


