<div class="container mat-h3" fxLayout.gt-sm="row" fxLayoutGap="60px" fxLayout="column">
    <div fxFlex fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="start start">
        <h1 class="mat-headline-4">
            {{ data.model.name }}

            @if (viewer?.role === UserRole.administrator || viewer?.role === UserRole.facilitator) {
                <a [routerLink]="['/admin/session/', data.model.id]" mat-icon-button class="mat-elevation-z4">
                    <mat-icon naturalIcon="edit" />
                </a>
            }
        </h1>

        <div [innerHTML]="data.model.description" class="rich-text"></div>

        @if (data.model.dates?.length) {
            <div>
                <p>Les dates et horaires des {{ data.model.dates?.length }} atelier(s) de cette session</p>
                <div fxLayout="row wrap" fxLayoutGap="30px">
                    @for (date of data.model.dates; track date) {
                        <div fxFlex="45">{{ date }}</div>
                    }
                </div>
            </div>
        }

        <a color="accent" mat-flat-button>S'inscrire</a>
    </div>

    <div fxLayout="column" fxLayoutGap="60px" fxFlex.gt-sm="25">
        <div fxLayout="column" fxLayoutGap="30px">
            @if (data.model.region || data.model.locality || data.model.street) {
                <div>
                    <strong>Lieu :</strong> {{ data.model.street }}, {{ data.model.locality }}, {{ data.model.region }}
                </div>
            }
            @if (data.model.price) {
                <div><strong>Contribution attendue :</strong> {{ data.model.price }}</div>
            }
            @if (data.model.availability) {
                <div>
                    {{ data.model.availability }} {{ data.model.availability > 1 ? 'places' : 'place' }} pour la session
                </div>
            }
        </div>

        @if (otherSessions.length) {
            <div class="frame-padding frame-primary" fxLayout="column" fxLayoutGap="15px">
                <div class="mat-h2">Les autres sessions à {{ data.model.locality | lowercase }}</div>
                @for (session of otherSessions; track session) {
                    <div>
                        <a [routerLink]="['../', session.id]" class="mat-body-strong">{{ session.name }}</a>
                        <div>à partir du {{ session.startDate | date: 'EEE d MMMM y' }}</div>
                    </div>
                }
            </div>
        }
    </div>
</div>
