<div class="container" fxLayout="column" fxLayoutGap="60px">

    <h1 class="mat-display-1">Agenda</h1>

    <div fxLayout="column" fxLayoutGap="60px">

        <div *ngFor="let news of items">
            <div class="text-light">{{ news.date | date : 'EEEE d MMMM yyyy' | capitalize }}</div>
            <h2 class="mat-h2">{{ news.name }}</h2>
            <div [innerHTML]="news.description " class="mat-body"></div>
        </div>

    </div>

    <div>
        <a (click)="loadMore()" color="primary" mat-flat-button *ngIf="dataSource?.data?.length > items.length">Voir plus</a>
    </div>

</div>
