<div class="container" fxLayout="column" fxLayoutGap="60px">

    <h1 class="mat-display-1">Actualité</h1>

    <div fxLayout="column" fxLayoutGap="60px">

        <div *ngFor="let news of items">
            <div class="text-light">{{ news.date | date : 'EEEE d MMMM yyyy' | capitalize }}</div>
            <a [routerLink]="[news.id]" class="mat-h2">{{ news.name }}</a>
            <div class="mat-body">{{ news.description }}</div>
        </div>

    </div>

    <div>
        <a (click)="loadMore()" color="primary" mat-flat-button *ngIf="dataSource?.data?.length > items.length">Voir plus</a>
    </div>

</div>
