@use 'sass:map';
@use '@angular/material' as mat;
@mixin admin($theme) {
    $background: map.get($theme, background);

    app-admin {
        // Re-use the same hover effect for active menu item, and add the Material boldness to text
        a.mat-mdc-list-item.active {
            background: mat.m2-get-color-from-palette($background, 'hover');

            .mdc-list-item__primary-text {
                font-weight: 500;
            }
        }
    }
}
