@use '~@angular/material' as mat;
@mixin admin($theme) {
    $background: map-get($theme, background);

    app-admin {
        // Re-use the same hover effect for active menu item, and add the Material boldness to text
        a.active {
            background: mat.get-color-from-palette($background, 'hover');
            font-weight: 500;
        }
    }
}
