<div fxLayout="row" fxLayoutGap="20px">
    <div fxFlex="300px" fxLayout="column">
  <!--      <mat-nav-list>

            <h3 matSubheader>Réservations</h3>
            <a mat-list-item routerLink="/admin">Sorties en cours</a>
            <a mat-list-item routerLink="booking">Toutes</a>
            <a mat-list-item routerLink="booking/application">Demandes en attente</a>

            <mat-divider></mat-divider>
            <h3 matSubheader>Utilisateurs</h3>
            <a mat-list-item routerLink="user">Individus</a>
            <a mat-list-item routerLink="member">Membres</a>
            <a mat-list-item routerLink="user-tag">Tags</a>

            <mat-divider></mat-divider>
            <h3 matSubheader>Réservables</h3>
            <a mat-list-item routerLink="bookable/self-approved">Carnet de sorties</a>
            <a mat-list-item routerLink="bookable/admin-approved">Sur demande</a>
            <a mat-list-item routerLink="bookable/admin-only">Inventaire et services</a>
            <a mat-list-item routerLink="bookable/mandatory">Services obligatoire</a>

            <mat-divider></mat-divider>
            <h3 matSubheader>Autres</h3>
            <a mat-list-item routerLink="license">Certifications</a>

            <mat-divider></mat-divider>
            <h3 matSubheader>Comptabilité</h3>
            <a mat-list-item routerLink="transactions">Transactions</a>
            <a mat-list-item routerLink="expense-claim">Notes de frais</a>
            <a mat-list-item routerLink="transactions/summary">Rapport comptable</a>
            <a mat-list-item routerLink="category">Catégories</a>

        </mat-nav-list>-->

        <mat-accordion>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Carnet de sorties</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="/admin">En cours</a>
                    <a mat-list-item routerLink="booking/self-approved">Toutes</a>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Utilisateurs</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="member">Membres</a>
                    <a mat-list-item routerLink="user">Individus</a>
                    <a mat-list-item routerLink="user-tag">Tags</a>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Matériel nautique</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="bookable/sup">SUP (todo)</a>
                    <a mat-list-item routerLink="bookable/planche">Planches (todo)</a>
                    <a mat-list-item routerLink="bookable/canoe">Canoës (todo)</a>
                    <a mat-list-item routerLink="bookable/kayak">Kayaks (todo)</a>
                    <a mat-list-item routerLink="bookable/aviron">Aviron (todo)</a>
                    <a mat-list-item routerLink="bookable/voile-legere">Voile légère (todo)</a>
                    <a mat-list-item routerLink="bookable/voile-lestee">Voile lestée (todo)</a>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Stockage</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="bookable/armoires">Armoires (todo)</a>
                    <a mat-list-item routerLink="bookable/casiers">Casiers (todo)</a>
                    <a mat-list-item routerLink="bookable/flotteurs">Flotteurs (todo)</a>
                    <a mat-list-item routerLink="booking/storage-application">Demandes en attente (to finish)</a>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Administration</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="bookable/services">Cotisations</a>
                    <a mat-list-item routerLink="booking/other-application">Demandes en attente (to finish)</a>
                    <a mat-list-item routerLink="license">Certifications</a>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Comptabilité</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="transactions">Transactions (todo)</a>
                    <a mat-list-item routerLink="expense-claim">Notes de frais (todo)</a>
                    <a mat-list-item routerLink="transactions/summary">Rapport comptable (todo)</a>
                    <a mat-list-item routerLink="category">Catégories (todo)</a>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Listes</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="bookable">Réservables</a>
                    <a mat-list-item routerLink="booking">Réservations</a>
                </mat-nav-list>
            </mat-expansion-panel>

        </mat-accordion>

    </div>
    <div fxLayout="column" fxFlex>
        <router-outlet></router-outlet>
    </div>
</div>
