<mat-toolbar class="header-toolbar nat-horizontal nat-align">
    <button mat-icon-button (click)="menu.toggle()">
        <mat-icon naturalIcon="menu" />
    </button>

    <div class="nat-expand"></div>

    <a class="nat-horizontal nat-center" routerLink="/">
        <img alt="logo" height="40" src="assets/logo-artisans-de-la-transition.svg" />
    </a>

    <div class="nat-expand"></div>
</mat-toolbar>

<natural-sidenav-container #menu class="nat-expand" name="adminMenu" [noScroll]="true">
    <natural-sidenav>
        <div class="nat-margin overflow">
            <mat-accordion displayMode="flat">
                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Utilisateurs</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLinkActive="nat-gradient-secondary" routerLink="user"
                            >Tous les utilisateurs</a
                        >
                        <a mat-list-item routerLinkActive="nat-gradient-secondary" routerLink="import">Import</a>
                    </mat-nav-list>
                </mat-expansion-panel>

                <mat-expansion-panel class="mat-elevation-z0" [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Produits</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLinkActive="nat-gradient-secondary" routerLink="product"
                            >Tous les produits</a
                        >
                    </mat-nav-list>
                </mat-expansion-panel>

                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Communauté</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLinkActive="nat-gradient-secondary" routerLink="news">Actualités</a>
                        <a mat-list-item routerLinkActive="nat-gradient-secondary" routerLink="event">Événements</a>
                        <a mat-list-item routerLinkActive="nat-gradient-secondary" routerLink="comment">Commentaires</a>
                        <a mat-list-item routerLinkActive="nat-gradient-secondary" routerLink="session"
                            >Conversations carbone</a
                        >
                        <a mat-list-item routerLinkActive="nat-gradient-secondary" routerLink="facilitator-document">
                            Documents facilitateurs
                        </a>
                    </mat-nav-list>
                </mat-expansion-panel>

                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Comptabilité</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLinkActive="nat-gradient-secondary" routerLink="order">Ventes</a>
                    </mat-nav-list>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </natural-sidenav>
    <natural-sidenav-content>
        <div class="nat-expand admin-body nat-vertical">
            <router-outlet />
        </div>
    </natural-sidenav-content>
</natural-sidenav-container>
