@use 'sass:map';
@use '@angular/material' as mat;
@mixin session-facilitator($theme) {
    $primary: map.get($theme, primary);
    $accent: map.get($theme, accent);
    $warn: map.get($theme, warn);
    $bg: map.get($theme, background);
    $fg: map.get($theme, foreground);

    app-session-facilitator {
        .facilitator {
            border-left-color: mat.m2-get-color-from-palette($primary);
        }
    }
}
