@use '../../../../styles/mixins';
@include mixins.page-with-illustration();

.facilitators {
    display: grid;
    grid-template-columns: minmax(auto, 33%) minmax(auto, 33%) minmax(auto, 33%);
    grid-auto-rows: 100px;
    grid-gap: 20px;

    .facilitator {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border-left-width: 6px;
        border-left-style: solid;
        padding: 5px 0 5px 10px;
    }
}

li::before {
    content: '' !important;
}
