<div
    class="page-illustration"
    [style.backgroundImage]="'url(assets/images/illustration-pages/conversations-carbones_artisans2.jpg)'"
></div>

<div class="container">
    <h1 class="mat-display-1">NOS FACILITATEURS·TRICES</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="66" class="page-body rich-text mat-h3">
            <div class="facilitators">
                <div *ngFor="let user of facilitators" class="facilitator">
                    <strong>{{ user.name }}</strong>
                    <div>{{ user.email }}</div>
                    <div>{{ user.locality }}</div>
                </div>
            </div>

            <p>&nbsp;</p>
            <p>
                Si vous êtes un petit groupe de personnes motivées ou si vous pensez pouvoir mobiliser autour de vous
                huit personnes pour suivre une Conversation carbone, vous pouvez prendre contact avec
                <a href="mailto:philippe.solms@artisansdelatransition.org"
                    >philippe.solms@artisansdelatransition.org
                </a>
            </p>
            <p>
                Dans tout autre cas, nous vous invitons à vous reporter aux sessions annoncées ici : renvoie aux
                prochaines sessions.
            </p>
            <h2 class="mat-h2">Devenir facilitateurs·trices</h2>
            <p></p>
            L’intérêt pour les Conversations carbone grandit. Pour les Artisans de la transition, il est essentiel de
            former de nouveaux·elles facilitateurs·trices pour répondre à cet intérêt croissant.
            <p>
                Les clefs de la facilitation résident moins dans la capacité à transmettre des contenus que dans la mise
                en place et l’animation d’une dynamique de groupe favorable aux échanges horizontaux bienveillants : les
                facilitateurs·trices doivent en priorité veiller à la bonne dynamique du groupe.
            </p>
            <p>
                Si vous aimez le contact, avez de l’empathie et savez écouter sans juger, deux formules sont possibles.
            </p>
            <ul>
                <li>
                    Si vous avez suivi une Conversation carbone comme participant·e, la formation à la facilitation vous
                    est proposée en deux jours.
                </li>
                <li>
                    Si vous n’avez pas participé à une Conversation carbone, la formation à la facilitation vous est
                    proposée en trois jours.
                </li>
            </ul>
            <p>
                Cela dit, notre expérience est que vivre une Conversation carbone est un grand plus avant de se former à
                la facilitation.
            </p>
            <p>
                Afin d’intensifier la diffusion de cette méthode, tout·e futur·e facilitateur·trice doit désormais
                s’engager à faciliter au moins un groupe par an pendant au minimum trois ans. Hors entreprises, la
                formation est gratuite. Nous sommes ouverts à des arrangements ad hoc.
            </p>

            <p>
                Pour de plus amples informations, merci d’adresser vos coordonnées – nom, adresse et numéro de téléphone
                – à
                <a href="mailto:philippe.solms@artisansdelatransition.org"
                    >philippe.solms@artisansdelatransition.org
                </a>
            </p>
        </div>

        <div fxFlex fxHide.lt-md>
            <app-session-side-column hiddenBlocName="facilitateurs"></app-session-side-column>
        </div>
    </div>
</div>
