<div class="container">
    <h1 class="mat-display-1">Nos facilitateurs·trices</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="66" class="page-body rich-text mat-h3">
            <div class="facilitators">
                <div *ngFor="let user of facilitators" class="facilitator">
                    <strong>{{ user.name }}</strong>
                    <div>{{ user.email }}</div>
                    <div>{{ user.locality }}</div>
                </div>
            </div>

            <p>&nbsp;</p>

            <p>
                Si vous êtes déjà un petit groupe de personnes motivées ou si vous pensez pouvoir mobiliser autour de
                vous huit personnes pour suivre une session des Conversations carbone vous pouvez prendre directement
                contact avec l’un·e des facilitateurs·trices de la localité vous concernant.
            </p>

            <p>
                Dans tout autre cas, nous vous invitons à vous reporter aux sessions annoncées ici. (renvoie à la page
                Nos prochaines sessions)
            </p>

            <h2>Devenir facilitateurs·trices</h2>

            <p>
                L’intérêt pour ces ateliers n’a cessé de grandir, il est donc particulièrement important pour les
                Artisans de la transition de pouvoir former de nouveaux·elles facilitateurs·trices afin de répondre à la
                demande.
            </p>

            <p>
                En fonction de nos expériences, nous avons observé qu'il était bénéfique pour les candidats
                facilitateurs·trices de
                <strong>commencer par suivre une Conversation carbone comme participant·e standard</strong>. La
                spécificité des Conversations carbone est de permettre le développement de relations horizontales et
                bienveillantes. Avoir suivi les ateliers en tant que participant·e constitue indéniablement un plus pour
                se former à la facilitation.
            </p>
            <p>
                L'importance de la facilitation ne réside pas dans la transmission de contenu, mais dans la mise en
                place et la gestion d'une dynamique de groupe
                <strong>favorable à des échanges entre participants·es</strong>. Le rôle des facilitateurs·trices est
                donc prioritairement de veiller à l’alchimie du groupe.
            </p>

            <p>
                Si vous aimez le contact, faites preuve d’empathie et d’écoute non jugeante, deux formules s’offrent à
                vous :
            </p>

            <ol>
                <li>
                    Vous avez suivi une session des Conversations carbone comme participant·e standard, la formation à
                    la facilitation vous sera proposée sur deux jours.
                </li>
                <li>
                    Vous n’avez pas participé à une session des Conversations carbone la formation à la facilitation
                    vous sera proposée sur trois jours.
                </li>
            </ol>

            <p>
                Afin de pouvoir <strong>pérenniser la méthode</strong> tout·e futur·e facilitateur·trice doit pouvoir
                s’imaginer faciliter au mois un groupe par an pendant 3 ans, cela nous permettra en échange d’offrir la
                formation (hors entreprises). Le cas échéant nous pourrons trouver un arrangement sous forme financière
                ou autre…
            </p>

            <p>
                Pour recevoir de plus amples informations merci d'adresser vos coordonnées - nom, adresse et téléphone -
                à : philippe.solms@artisansdelatransition.org
            </p>
        </div>

        <div fxFlex fxHide.lt-md>
            <app-session-side-column></app-session-side-column>
        </div>
    </div>
</div>
