<div
    class="page-illustration"
    [style.backgroundImage]="'url(assets/images/illustration-pages/conversations-carbones_artisans2.jpg)'"
></div>

<div class="container">
    <h1 class="mat-headline-4">DEVENIR FACILITATEURS·TRICES !</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="66" class="page-body rich-text mat-h3">
            <p>
                Vous aussi, vous pouvez vous engager dans la transition en devenant facilitatrice ou facilitateur de
                Conversations carbone.
            </p>
            <h2 class="mat-h2">La facilitation, c’est …</h2>
            <ul>
                <li>… mettre en place et animer une dynamique de groupe favorable aux échanges bienveillants ;</li>
                <li>… concrétiser et enrichir son engagement ;</li>
                <li>… acquérir et développer de nouvelles compétences ;</li>
                <li>… rencontrer des personnes qui veulent changer leur mode de vie ;</li>
                <li>… faire exister et vivre des partages d’expériences ;</li>
                <li>… intégrer l’équipe de facilitateurs et de facilitatrices de Suisse romande ;</li>
                <li>
                    … bénéficier du soutien des Artisans de la transition dans la mise en route de Conversations carbone
                    près de là où vous habitez.
                </li>
            </ul>
            <h2 class="mat-h2">La facilitation, ce n’est pas …</h2>
            <ul>
                <li>… maîtriser des connaissances théoriques pointues sur le climat et l’écologie ;</li>
                <li>… transmettre des contenus techniques.</li>
            </ul>
            <p>
                Vous avez suivi une Conversation carbone et souhaitez devenir facilitatrice ou facilitateur ? Vous êtes
                prêt ou prête à vous investir de manière citoyenne et bénévole dans la diffusion d’au moins trois
                Conversations carbone dans votre région ?
            </p>
            <p>
                Les Artisans de la transition organisent deux à trois fois par an des formations offertes aux personnes
                qui ont participé à une Conversation carbone qui souhaitent s’engager dans cette aventure.
            </p>
            <p>
                Cette formation de seize heures est répartie sur deux jours. Elle fait l’objet d’une certification dès
                la première facilitation réalisée avec succès.
            </p>
            <p>
                En cas d’intérêt, n’hésitez pas à contacter Susana Jourdan, qui vous donnera volontiers de plus amples
                informations :
                <a href="mailto:susana.jourdan@larevuedurable.com">susana.jourdan&#64;larevuedurable.com</a>
            </p>

            <p>&nbsp;</p>

            <h2 class="mat-h2">Des facilitatrices et facilitateurs ont fait le pas</h2>
            <div class="witnesses">
                <p class="witness">
                    « Lorsque j’ai atteint l’âge de la retraite après des décennies de travail intense dans la santé
                    internationale, j’ai pris conscience brutalement de l’urgence d’agir contre le dérèglement
                    climatique.&nbsp;»
                    <br />
                    <br />
                    « Vu l’ampleur de la catastrophe climatique, il est trop facile de sombrer dans l’aquoibonisme.
                    Comme les plus grands changements commencent par soi-même, j’ai décidé de participer à un groupe de
                    Conversation carbone. Puis je me suis formé pour en animer à mon tour.&nbsp;»
                    <br />
                    <br />
                    « L’animation de Conversations carbone me met en contact avec toutes sortes de personnes qui
                    s’interrogent sur ce qu’elles peuvent faire. C’est à chaque fois des rencontres très enrichissantes,
                    et ces groupes permettent de belles expériences d’intelligence collective selon une procédure bien
                    rodée.&nbsp;»
                    <strong>Jacques, facilitateur</strong>
                </p>
                <p class="witness">
                    « Je suis toujours joyeuse de cofaciliter une Conversation carbone parce que c’est doux de
                    rencontrer des personnes qui partagent mes inquiétudes face au réchauffement climatique et qui sont
                    prêtes à tendre vers une vie plus sobre et plus heureuse.&nbsp;»
                    <br />
                    <br />
                    « Les Conversations carbone renforcent ma confiance dans mes compétences à accompagner un groupe à
                    deux avec une certaine spontanéité. J' 'ai adoré quand une participante a réalisé qu'elle pouvait
                    continuer à aimer ses proches même s' 'ils ne sont pas aussi sensibles aux enjeux
                    environnementaux.&nbsp;»
                    <strong>Prisca, facilitatrice</strong>
                </p>
            </div>

            <p>&nbsp;</p>
            <div class="facilitators">
                <div *ngFor="let user of facilitators" class="facilitator">
                    <strong>{{ user.name }}</strong>
                    <div>{{ user.locality }}</div>
                </div>
            </div>
        </div>

        <div fxFlex fxHide.lt-md>
            <app-session-side-column hiddenBlocName="facilitateurs"></app-session-side-column>
        </div>
    </div>
</div>
