<div [style.max-width.px]="1130" [style.margin]="'auto'">
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" class="margin-bottom">
        <h2 class="mat-headline no-margin-bottom" fxFlex>Données personnelles du ménage</h2>
        <button mat-flat-button color="warn" [disabled]="!userService.canLeaveFamily(viewer)" (click)="leaveFamily()">Quitter le ménage</button>
    </div>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let familyMember of familyMembers" [expanded]="!familyMember.id">
            <mat-expansion-panel-header>
                <mat-panel-title> {{ familyMember?.name || 'Nouveau'}}</mat-panel-title>
            </mat-expansion-panel-header>
            <app-family-member [user]="familyMember"></app-family-member>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div fxLayout="row" fxLayoutAlign="end">
    <button mat-flat-button color="primary" (click)="add()" class="margin-top" *ngIf="permissionsService.crud?.user.create">
        Ajouter une personne
    </button>
</div>
