<div overflow style="padding:5px">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let familyMember of familyMembers">
            <mat-expansion-panel-header>
                <mat-panel-title> {{ familyMember?.name || 'Nouveau'}}</mat-panel-title>
            </mat-expansion-panel-header>
            <app-family-member [user]="familyMember"></app-family-member>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div>
    <button mat-flat-button color="primary" (click)="add()" class="margin-top" *ngIf="permissionsService.crud?.user.create">Ajouter une personne</button>
</div>
