<div class="container mat-h3 rich-text">
    <h1 class="mat-display-1">Notre projet</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body rich-text mat-h3">
            <p>
                Les journalistes présentent souvent LaRevueDurable comme étant très engagée. Les lecteurs qui
                l’apprécient saluent sa rigueur. Ce sont les deux traits les plus caractéristiques de ce projet
                éditorial.
            </p>
            <p>
                A quel public s’adresse LaRevueDurable ? Poserait-on la question à un peintre ou à un écrivain ?
                LaRevueDurable n’est pas un « produit » de presse, c’est une création, une recherche permanente.
                Derrière son contenu et son apparence, point d’études de marché ni d’analyses d’agence. Et pour savoir
                si LaRevueDurable peut vous intéresser et vous aider à avancer, y a-t-il une autre option que de se
                plonger dans quelques-uns de ses numéros ?
            </p>

            <h1 class="mat-h1">Aux sources de LaRevueDurable</h1>

            <p>
                Il était une fois, au démarrage de LaRevueDurable, deux idéalistes. Voici à quoi ils ressemblaient au
                début de l’aventure, en 2002 (mettre un lien vers le reportage d’août 2002, au moment du lancement de
                LaRevueDurable).
            </p>
            <p>
                Quelques années plus tard, ils semblent avoir plus de verbe qu’à leurs débuts (entretien RTS avec Lucile
                Solari en juin 2008 (quelques jours avant la naissance de Lucie).
            </p>
            <p>L’entretien de Jacques avec Adrien Zerbini vers 2012 ?</p>
        </div>
    </div>
</div>
