@use "sass:map";
@use '~@angular/material' as mat;
@mixin breadcrumbs($theme) {
    $primary: map.get($theme, primary);
    $accent: map.get($theme, accent);
    $background: map.get($theme, background);
    $foreground: map.get($theme, foreground);

    app-breadcrumbs {
        .mat-button {
            padding-left: 7px;
            padding-right: 7px;
        }

        * {
            color: mat.get-color-from-palette($foreground, text, 0.7);
        }

        .separator {
            &::before,
            &::after {
                border-color: mat.get-color-from-palette($foreground, text, 0.3);
            }
        }
    }
}
