@use '@angular/material' as mat;

:host {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include mat.button-overrides(
        (
            text-label-text-color: color-mix(in srgb, var(--mat-sys-on-surface) 80%, transparent),
        )
    );
}

* {
    color: color-mix(in srgb, var(--mat-sys-on-surface) 50%, transparent);
}

mat-icon {
    transform: scale(0.66);
}

.separator {
    $width: 6px;
    $height: 16px;

    height: $height;

    &::before,
    &::after {
        display: inline-block;
        border-width: 0;
        border-style: solid;
        width: 0;
        height: 0;
        content: '';
    }

    &::before {
        border-bottom-width: $height;
        border-left-width: $width;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }

    &::after {
        border-top-width: $height;
        border-right-width: $width;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

.mat-mdc-button {
    padding-right: 7px;
    padding-left: 7px;
}
