<div
    class="page-illustration"
    [style.backgroundImage]="'url(assets/images/illustration-pages/la_revue_durable-points-de-vente.jpg)'"
></div>

<div class="container nat-gap nat-vertical">
    <h1 class="mat-font-headline-lg">POINTS DE VENTE</h1>

    <p>
        Vous habitez une commune où
        <strong>LaRevueDurable</strong> n’est pas diffusée et où vous connaissez un lieu de passage qui attire des
        personnes engagées – librairie, épicerie bio, etc. – susceptible de la diffuser&nbsp;? N’hésitez pas à nous en
        parler&nbsp;: <a href="mailto:courriel@artisansdelatransition.org">courriel&#64;artisansdelatransition.org</a>
    </p>

    <h2 class="mat-font-title-lg nat-text-primary">Suisse</h2>

    <mat-divider />
    <h3 class="mat-font-title-md">Fribourg</h3>

    <div class="nat-horizontal nat-wrap nat-gap list">
        <div>
            <div class="mat-font-title-sm nat-bold">Atout Vrac</div>
            <div class="nat-bold">Grand-Rue 10</div>
            <div class="nat-bold">Fribourg</div>
        </div>
        <div>
            <div class="mat-font-title-sm nat-bold">Le Petit Paradis</div>
            <div class="nat-bold">Place du Petit paradis 24</div>
            <div class="nat-bold">Fribourg</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Librairie Albert Le Grand</div>
            <div class="nat-bold">Rue du Temple 1</div>
            <div class="nat-bold">Fribourg</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Librairie Payot</div>
            <div class="nat-bold">Rue de Romont 21</div>
            <div class="nat-bold">Fribourg</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Vrac boulevard</div>
            <div class="nat-bold">Rte de la Glâne 122</div>
            <div class="nat-bold">Villars-sur-Glâne</div>
        </div>
    </div>
    <mat-divider />

    <h3 class="mat-font-title-md">Genève</h3>
    <div class="nat-horizontal nat-wrap nat-gap list">
        <div>
            <div class="mat-font-title-sm nat-bold">Cactus Sport</div>
            <div class="nat-bold">Rue du Pont Neuf 6</div>
            <div class="nat-bold">Carouge</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Itopie Informatique</div>
            <div class="nat-bold">Rue Lissignol 10</div>
            <div class="nat-bold">Genève</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Librairie du Boulevard</div>
            <div class="nat-bold">Rue de Carouge 34</div>
            <div class="nat-bold">Genève</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Librairie Fahrenheit 451</div>
            <div class="nat-bold">Rue Voltaire 24</div>
            <div class="nat-bold">Genève</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Mag’grottes</div>
            <div class="nat-bold">Rue des Grottes 9</div>
            <div class="nat-bold">Genève</div>
        </div>
    </div>
    <mat-divider />

    <h3 class="mat-font-title-md">Neuchâtel</h3>
    <div class="nat-horizontal nat-wrap nat-gap list">
        <div>
            <div class="mat-font-title-sm nat-bold">Cérès autrement</div>
            <div class="nat-bold">Place des Halles 5</div>
            <div class="nat-bold">Neuchâtel</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Librairie La Méridienne</div>
            <div class="nat-bold">Rue du Marché 6</div>
            <div class="nat-bold">La Chaux-de-Fonds</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">L’Aubier</div>
            <div class="nat-bold">Les Murailles 5</div>
            <div class="nat-bold">Montézillon</div>
        </div>
    </div>

    <mat-divider />

    <h3 class="mat-font-title-md">Vaud</h3>
    <div class="nat-horizontal nat-wrap nat-gap list">
        <div>
            <div class="mat-font-title-sm nat-bold">Librairie La Fontaine SA</div>
            <div class="nat-bold">EPFL-Rolex Learning Center</div>
            <div class="nat-bold">Ecublens</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Librairie Payot</div>
            <div class="nat-bold">Place Pépinet 3</div>
            <div class="nat-bold">Lausanne</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Magasin du Monde</div>
            <div class="nat-bold">Place de la Riponne 10</div>
            <div class="nat-bold">Lausanne</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Topinambour</div>
            <div class="nat-bold">Avenue William-Fraisse 9</div>
            <div class="nat-bold">Lausanne</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Magasin la Fontaine</div>
            <div class="nat-bold">Chemin de la Fontaine 2</div>
            <div class="nat-bold">Nyon</div>
        </div>
        <div>
            <div class="mat-font-title-sm nat-bold">Librairie l’Etage</div>
            <div class="nat-bold">Rue du Lac 44</div>
            <div class="nat-bold">Yverdon-les-Bains</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Librairie Payot</div>
            <div class="nat-bold">Rue des Remparts 1</div>
            <div class="nat-bold">Yverdon-les-Bains</div>
        </div>
    </div>

    <mat-divider />
    <h2 class="mat-font-title-lg nat-text-primary">France</h2>
    <div class="nat-horizontal nat-wrap nat-gap list">
        <div>
            <div class="mat-font-title-sm nat-bold">Le Vert de Terre</div>
            <div class="nat-bold">186, rue Alexandre Bérard</div>
            <div class="nat-bold">01500 Ambérieu-en-Bugey</div>
        </div>
        <div>
            <div class="mat-font-title-sm nat-bold">L’Arbre à Pain</div>
            <div class="nat-bold">150, avenue du Général Leclerc</div>
            <div class="nat-bold">15000 Aurillac</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Bio Estella</div>
            <div class="nat-bold">ZA Pont de Joux bat B2</div>
            <div class="nat-bold">13390 Auriol</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Biocoop La Canopee</div>
            <div class="nat-bold">3, allée de l’Ile aux Moineaux</div>
            <div class="nat-bold">25000 Besançon</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Biocoop Le Cres</div>
            <div class="nat-bold">10, route de Nîmes</div>
            <div class="nat-bold">34920 Le Cresse</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Biocoop du Haut-Doubs</div>
            <div class="nat-bold">9, rue Arthur Bourdin</div>
            <div class="nat-bold">25300 Pontarlier</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Biocoop Campana</div>
            <div class="nat-bold">8, avenue de l’Entreprise</div>
            <div class="nat-bold">Les Moutiers</div>
            <div class="nat-bold">12000 Rodez</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Biocoop La Gambille</div>
            <div class="nat-bold">10, rue de Robien</div>
            <div class="nat-bold">22000 Saint-Brieuc</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Apollon 74</div>
            <div class="nat-bold">Domaine David</div>
            <div class="nat-bold">14, chemin de la Ferme</div>
            <div class="nat-bold">74160 Saint-Julien-en-Genevois</div>
        </div>
    </div>
</div>
