<div
    class="page-illustration"
    [style.backgroundImage]="'url(assets/images/illustration-pages/la_revue_durable-points-de-vente.jpg)'"
></div>

<div class="container nat-gap nat-vertical">
    <h1 class="mat-font-headline-lg">POINTS DE VENTE</h1>

    <p>
        Vous habitez une commune où <strong>LaRevueDurable</strong> n’est pas diffusée et où vous connaissez un lieu de
        passage qui attire des personnes engagées – librairie, épicerie bio, etc. – susceptible de la diffuser&nbsp;?
        N’hésitez pas à nous en parler&nbsp;:
        <a href="mailto:courriel@artisansdelatransition.org">courriel&#64;artisansdelatransition.org</a>
    </p>

    <h2 class="mat-font-title-lg nat-text-primary">Suisse</h2>

    <mat-divider />
    <h3 class="mat-font-title-md">Fribourg</h3>

    <div class="nat-horizontal nat-wrap nat-gap list">
        <div>
            <div class="mat-font-title-sm nat-bold">Atout Vrac</div>
            <div>Grand-Rue 10</div>
            <div>Fribourg</div>
        </div>
        <div>
            <div class="mat-font-title-sm nat-bold">Le Petit Paradis</div>
            <div>Place du Petit paradis 24</div>
            <div>Fribourg</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Librairie Albert Le Grand</div>
            <div>Rue du Temple 1</div>
            <div>Fribourg</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Librairie Payot</div>
            <div>Rue de Romont 21</div>
            <div>Fribourg</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Vrac boulevard</div>
            <div>Rte de la Glâne 122</div>
            <div>Villars-sur-Glâne</div>
        </div>
    </div>
    <mat-divider />

    <h3 class="mat-font-title-md">Genève</h3>
    <div class="nat-horizontal nat-wrap nat-gap list">
        <div>
            <div class="mat-font-title-sm nat-bold">Cactus Sport</div>
            <div>Rue du Pont Neuf 6</div>
            <div>Carouge</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Itopie Informatique</div>
            <div>Rue Lissignol 10</div>
            <div>Genève</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Librairie du Boulevard</div>
            <div>Rue de Carouge 34</div>
            <div>Genève</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Librairie Fahrenheit 451</div>
            <div>Rue Voltaire 24</div>
            <div>Genève</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Mag’grottes</div>
            <div>Rue des Grottes 9</div>
            <div>Genève</div>
        </div>
    </div>
    <mat-divider />

    <h3 class="mat-font-title-md">Neuchâtel</h3>
    <div class="nat-horizontal nat-wrap nat-gap list">
        <div>
            <div class="mat-font-title-sm nat-bold">Cérès autrement</div>
            <div>Place des Halles 5</div>
            <div>Neuchâtel</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Librairie La Méridienne</div>
            <div>Rue du Marché 6</div>
            <div>La Chaux-de-Fonds</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">L’Aubier</div>
            <div>Les Murailles 5</div>
            <div>Montézillon</div>
        </div>
    </div>

    <mat-divider />

    <h3 class="mat-font-title-md">Vaud</h3>
    <div class="nat-horizontal nat-wrap nat-gap list">
        <div>
            <div class="mat-font-title-sm nat-bold">Librairie La Fontaine SA</div>
            <div>EPFL-Rolex Learning Center</div>
            <div>Ecublens</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Librairie Payot</div>
            <div>Place Pépinet 3</div>
            <div>Lausanne</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Magasin du Monde</div>
            <div>Place de la Riponne 10</div>
            <div>Lausanne</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Topinambour</div>
            <div>Avenue William-Fraisse 9</div>
            <div>Lausanne</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Magasin la Fontaine</div>
            <div>Chemin de la Fontaine 2</div>
            <div>Nyon</div>
        </div>
        <div>
            <div class="mat-font-title-sm nat-bold">Librairie l’Etage</div>
            <div>Rue du Lac 44</div>
            <div>Yverdon-les-Bains</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Librairie Payot</div>
            <div>Rue des Remparts 1</div>
            <div>Yverdon-les-Bains</div>
        </div>
    </div>

    <mat-divider />
    <h2 class="mat-font-title-lg nat-text-primary">France</h2>
    <div class="nat-horizontal nat-wrap nat-gap list">
        <div>
            <div class="mat-font-title-sm nat-bold">Le Vert de Terre</div>
            <div>186, rue Alexandre Bérard</div>
            <div>01500 Ambérieu-en-Bugey</div>
        </div>
        <div>
            <div class="mat-font-title-sm nat-bold">L’Arbre à Pain</div>
            <div>150, avenue du Général Leclerc</div>
            <div>15000 Aurillac</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Bio Estella</div>
            <div>ZA Pont de Joux bat B2</div>
            <div>13390 Auriol</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Biocoop La Canopee</div>
            <div>3, allée de l’Ile aux Moineaux</div>
            <div>25000 Besançon</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Biocoop Le Cres</div>
            <div>10, route de Nîmes</div>
            <div>34920 Le Cresse</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Biocoop du Haut-Doubs</div>
            <div>9, rue Arthur Bourdin</div>
            <div>25300 Pontarlier</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Biocoop Campana</div>
            <div>8, avenue de l’Entreprise</div>
            <div>Les Moutiers</div>
            <div>12000 Rodez</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Biocoop La Gambille</div>
            <div>10, rue de Robien</div>
            <div>22000 Saint-Brieuc</div>
        </div>

        <div>
            <div class="mat-font-title-sm nat-bold">Apollon 74</div>
            <div>Domaine David</div>
            <div>14, chemin de la Ferme</div>
            <div>74160 Saint-Julien-en-Genevois</div>
        </div>
    </div>
</div>
