<div class="container" fxLayout="column" fxLayoutGap="20px">
    <h1 class="mat-display-1">Points de vente</h1>

    <h2>Suisse</h2>

    <mat-divider></mat-divider>
    <h3>Fribourg</h3>

    <div fxLayout="row wrap" fxLayoutGap="20px" class="list">
        <div>
            <div class="mat-body-2">Atout Vrac</div>
            <div class="mat-body-1">Grand-Rue 10</div>
        </div>
        <div>
            <div class="mat-body-2">Le Petit Paradis</div>
            <div class="mat-body-1">Place du Petit paradis 24</div>
        </div>

        <div>
            <div class="mat-body-2">Librairie Albert Le Grand</div>
            <div class="mat-body-1">Rue du Temple 1</div>
        </div>

        <div>
            <div class="mat-body-2">Librairie Payot</div>
            <div class="mat-body-1">Rue de Romont 21</div>
        </div>
    </div>
    <mat-divider></mat-divider>

    <h3>Genève</h3>
    <div fxLayout="row wrap" fxLayoutGap="20px" class="list">
        <div>
            <div class="mat-body-2">Cactus Sport</div>
            <div class="mat-body-1">Rue du Pont Neuf 6</div>
            <div class="mat-body-1">Carouge</div>
        </div>

        <div>
            <div class="mat-body-2">Itopie Informatique</div>
            <div class="mat-body-1">Rue Lissignol 10</div>
        </div>

        <div>
            <div class="mat-body-2">Librairie du Boulevard</div>
            <div class="mat-body-1">Rue de Carouge 34</div>
        </div>

        <div>
            <div class="mat-body-2">Librairie Fahrenheit 451</div>
            <div class="mat-body-1">Rue Voltaire 24</div>
        </div>

        <div>
            <div class="mat-body-2">Mag’grottes</div>
            <div class="mat-body-1">Rue des Grottes 9</div>
        </div>
    </div>
    <mat-divider></mat-divider>

    <h3>La Chaux-de-Fonds</h3>

    <div>
        <div class="mat-body-2">Librairie La Méridienne</div>
        <div class="mat-body-1">Rue du Marché 6</div>
    </div>
    <mat-divider></mat-divider>

    <h3>Lausanne</h3>
    <div fxLayout="row wrap" fxLayoutGap="20px" class="list">
        <div>
            <div class="mat-body-2">Librairie La Fontaine SA</div>
            <div class="mat-body-1">EPFL-Rolex Learning Center</div>
        </div>

        <div>
            <div class="mat-body-2">Librairie Payot</div>
            <div class="mat-body-1">Place Pépinet 3</div>
        </div>

        <div>
            <div class="mat-body-2">Magasin du Monde</div>
            <div class="mat-body-1">Place de la Riponne 10</div>
        </div>

        <div>
            <div class="mat-body-2">Topinambour</div>
            <div class="mat-body-1">Avenue William-Fraisse 9</div>
        </div>
    </div>

    <mat-divider></mat-divider>
    <h3>Montézillon</h3>
    <div>
        <div class="mat-body-2">L’Aubier</div>
        <div class="mat-body-1">Les Murailles 5</div>
    </div>

    <mat-divider></mat-divider>
    <h3>Neuchâtel</h3>
    <div>
        <div class="mat-body-2">Cérès autrement</div>
        <div class="mat-body-1">Place des Halles 5</div>
    </div>

    <mat-divider></mat-divider>
    <h3>Nyon</h3>
    <div>
        <div class="mat-body-2">Magasin la Fontaine</div>
        <div class="mat-body-1">Chemin de la Fontaine 2</div>
    </div>

    <mat-divider></mat-divider>
    <h3>Villars-sur-Glâne</h3>
    <div class="mat-body-2">Vrac boulevard</div>
    <div class="mat-body-1">Rte de la Glâne 122</div>

    <mat-divider></mat-divider>
    <h3>Yverdon-les-Bains</h3>
    <div fxLayout="row wrap" fxLayoutGap="20px" class="list">
        <div>
            <div class="mat-body-2">Librairie l’Etage</div>
            <div class="mat-body-1">Rue du Lac 44</div>
        </div>

        <div>
            <div class="mat-body-2">Librairie Payot</div>
            <div class="mat-body-1">Rue des Remparts 1</div>
        </div>
    </div>

    <mat-divider></mat-divider>
    <h2>France</h2>
    <div fxLayout="row wrap" fxLayoutGap="20px" class="list">
        <div>
            <div class="mat-body-2">Le Vert de Terre</div>
            <div class="mat-body-1">186, rue Alexandre Bérard</div>
            <div class="mat-body-1">01500 Ambérieu-en-Bugey</div>
        </div>
        <div>
            <div class="mat-body-2">L’Arbre à Pain</div>
            <div class="mat-body-1">150, avenue du Général Leclerc</div>
            <div class="mat-body-1">15000 Aurillac</div>
        </div>

        <div>
            <div class="mat-body-2">Bio Estella</div>
            <div class="mat-body-1">ZA Pont de Joux bat B2</div>
            <div class="mat-body-1">13390 Auriol</div>
        </div>

        <div>
            <div class="mat-body-2">Biocoop La Canopee</div>
            <div class="mat-body-1">3, allée de l’Ile aux Moineaux</div>
            <div class="mat-body-1">25000 Besançon</div>
        </div>

        <div>
            <div class="mat-body-2">Biocoop Le Cres</div>
            <div class="mat-body-1">10, route de Nîmes</div>
            <div class="mat-body-1">34920 Le Cresse</div>
        </div>

        <div>
            <div class="mat-body-2">Biocoop du Haut-Doubs</div>
            <div class="mat-body-1">9, rue Arthur Bourdin</div>
            <div class="mat-body-1">25300 Pontarlier</div>
        </div>

        <div>
            <div class="mat-body-2">Biocoop Campana</div>
            <div class="mat-body-1">8, avenue de l’Entreprise</div>
            <div class="mat-body-1">Les Moutiers</div>
            <div class="mat-body-1">12000 Rodez</div>
        </div>

        <div>
            <div class="mat-body-2">Biocoop La Gambille</div>
            <div class="mat-body-1">10, rue de Robien</div>
            <div class="mat-body-1">22000 Saint-Brieuc</div>
        </div>

        <div>
            <div class="mat-body-2">Apollon 74</div>
            <div class="mat-body-1">Domaine David</div>
            <div class="mat-body-1">14, chemin de la Ferme</div>
            <div class="mat-body-1">74160 Saint-Julien-en-Genevois</div>
        </div>
    </div>
</div>
