<?php
/**
 * Local configuration.
 *
 * Copy this file to `local.php` and change its settings as required.
 * `local.php` is ignored by git and safe to use for local and sensitive data like usernames and passwords.
 */

declare(strict_types=1);

return [
    'hostname' => 'artisans.lan',
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'host' => getenv('CI') ? '127.0.0.1' : 'localhost', // On GitHub Actions we want to connect via tcp, but locally we prefer socket
                    'dbname' => 'artisans',
                    'user' => 'root',
                    'password' => '',
                    'port' => 3306,
                ],
            ],
        ],
    ],
    'signedQueries' => [
        'keys' => ['CHANGE THIS TO A 32 RANDOM CHARACTERS STRING'],
    ],
    'email' => [
        'from' => 'noreply@artisans.lan',
        'toOverride' => 'your@email.com',
    ],
    'smtp' => [
        'name' => 'mail.example.com',
        'host' => 'mail.example.com',
        'port' => 587,
        'connection_class' => 'login',
        'connection_config' => [
            'username' => 'example@example.com',
            'password' => '',
            'ssl' => 'tls',
        ],
    ],
    'banking' => [
        'bankAccount' => '', // Bank account number, eg: '800876'
        'postAccount' => '', // Post account number, eg: '01-3456-0'
        'paymentTo' => '', // Bank coordinate the payment will be made to, eg: 'Great Bank, Cayman Islands'
        'paymentFor' => '', // Final recipient of payment, eg: 'John Doe, Main street 7, Sydney'
    ],
    'datatrans' => [
        'key' => '', // Used for HMAC-SHA256 request signing: https://api-reference.datatrans.ch/#request-signing
    ],
    'infomaniak-api' => '',
    'infomaniak-secret' => '',
    'log' => [
        'emails' => [], // List of developer emails to send bugs to
    ],
];
