<?php
/**
 * Local configuration.
 *
 * Copy this file to `local.php` and change its settings as required.
 * `local.php` is ignored by git and safe to use for local and sensitive data like usernames and passwords.
 */

declare(strict_types=1);

return [
    'hostname' => 'my-ichtus.lan',
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'host' => 'localhost',
                    'dbname' => 'ichtus',
                    'user' => 'root',
                    'password' => '',
                    'port' => 3306,
                ],
            ],
        ],
    ],
    'doorsApi' => [
        'endpoint' => 'http://localhost:8888',
        'token' => 'my-token-value',
        'authorizedIps' => ['localhost'],
    ],
    'fromEmail' => 'noreply@my-ichtus.lan',
    'emailOverride' => 'your@email.com',
    'smtp' => [
        'name' => 'mail.example.com',
        'host' => 'mail.example.com',
        'port' => 587,
        'connection_class' => 'login',
        'connection_config' => [
            'username' => 'example@example.com',
            'password' => '',
            'ssl' => 'tls',
        ],
    ],
    'filemaker' => [
        'driver' => '/path/to/fmodbc.so',
        'dbname' => 'ichtus',
        'host' => 'filemaker.example.com',
        'user' => ''
        'password' => '',
    ],
    'typo3' => [
        'host' => 'localhost',
        'dbname' => 'ichtus-typo3',
        'user' => 'root',
        'password' => '',
        'port' => 3306,
    ],
];
