<form class="body nat-padding" [formGroup]="form">
    <div class="nat-vertical nat-gap-30">
        <h1 class="mat-font-headline-lg">{{ route.snapshot.data.seo.title }}</h1>

        <mat-form-field>
            <mat-label>email</mat-label>
            <input formControlName="email" matInput />
            <mat-icon matIconPrefix naturalIcon="alternate_email" />
            <mat-error>{{ form.get('email')?.errors | errorMessage }}</mat-error>
        </mat-form-field>

        @if (step === 2) {
            <div class="nat-vertical nat-gap-30">
                <mat-divider />
                <h2 class="mat-font-title-lg">Compte</h2>
                <div class="nat-vertical nat-sm-gap-10 nat-sm-horizontal">
                    <app-password class="nat-expand" [form]="form" />
                </div>
                <mat-divider />
                <h2 class="mat-font-title-lg">Coordonnées</h2>
                <app-address [form]="form" />
            </div>
        }

        <div class="nat-horizontal nat-center">
            <button
                matButton="tonal"
                [color]="form.valid ? 'primary' : 'error'"
                [disabled]="sending"
                (click)="submit()"
            >
                Créer votre compte
            </button>
        </div>
    </div>
</form>
