:host {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100%;
    overflow-x: auto;
}

.body {
    margin: auto;
    max-width: 940px;
}
