<form [formGroup]="form" class="body padding">
    <div fxLayout="column" fxLayoutGap="30px">
        <h1 class="mat-headline-4">{{ route.snapshot.data.seo.title }}</h1>

        <mat-form-field>
            <mat-label>email</mat-label>
            <input formControlName="email" matInput />
            <mat-icon matIconPrefix naturalIcon="alternate_email" />
            @if (form.get('email')?.hasError('required')) {
                <mat-error>Requis</mat-error>
            }
            @if (form.get('email')?.hasError('email')) {
                <mat-error>Adresse email invalide</mat-error>
            }
        </mat-form-field>

        @if (step === 2) {
            <div fxLayout="column" fxLayoutGap="30px">
                <mat-divider />
                <h2 class="mat-h2">Compte</h2>
                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="10px">
                    <app-password fxFlex [form]="form" />
                </div>
                <mat-divider />
                <h2 class="mat-h2">Coordonnées</h2>
                <app-address [form]="form" />
            </div>
        }

        <div fxLayout="row" fxLayoutAlign="center">
            <button (click)="submit()" [color]="form.valid ? 'primary' : 'warn'" [disabled]="sending" mat-raised-button>
                Créer votre compte
            </button>
        </div>
    </div>
</form>
