<form [formGroup]="form" class="body padding">
    <div fxLayout="column" fxLayoutGap="30px">
        <h1 *ngIf="step === 1" class="mat-display-1">Adhésion</h1>
        <h1 *ngIf="step === 2" class="mat-display-1">Confirmation d'adhésion</h1>

        <div fxLayout="column">
            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="10px">
                <mat-form-field fxFlex>
                    <mat-label>email</mat-label>
                    <input formControlName="email" matInput />
                    <natural-icon matPrefix name="alternate_email"></natural-icon>
                    <mat-error *ngIf="form.get('email')?.hasError('required')">Requis</mat-error>
                    <mat-error *ngIf="form.get('email')?.hasError('email')">Adresse email invalide</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div *ngIf="step === 2" fxLayout="column" fxLayoutGap="30px">
            <mat-divider></mat-divider>

            <h2 class="mat-h2">Compte</h2>

            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="10px">
                <app-password [form]="form"></app-password>
            </div>

            <mat-divider></mat-divider>

            <h2 class="mat-h2">Coordonnées</h2>

            <app-address [form]="form"></app-address>
        </div>

        <!-- Spacer-->
        <div *ngIf="step === 1"></div>

        <!-- todo : accept agreements needs to be accepted ?
                <div *ngIf="step === 1" fxLayout="row" fxLayoutGap="30px">
                    <div fxFlex>
                        <mat-checkbox formControlName="termsAgreement" required>
                            Je m'engage à respecter :
                        </mat-checkbox>

                        <p class="mat-body rich-text">
                            tous les règlements et statuts des Artisans de la transition </p>
                        <mat-error *ngIf="form.get('termsAgreement')?.touched && form.get('termsAgreement')?.hasError('required')"
                                   class="mat-body"
                        >
                            Requis
                        </mat-error>
                    </div>
                </div>
        -->
        <!-- Spacer-->

        <div></div>

        <div fxLayout="row" fxLayoutAlign="center">
            <button (click)="submit()" [color]="form.valid ? 'primary' : 'warn'" [disabled]="sending" mat-raised-button>
                Créer votre compte
            </button>
        </div>
    </div>
</form>
