@use '~@angular/material' as mat;
@mixin profile($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $bg: map-get($theme, background);
    $fg: map-get($theme, foreground);

    app-profile {
        mat-nav-list {
            padding-top: 0 !important; // override native .mat-list-base
            * {
                color: inherit !important;
            }
        }

        .active {
            background: mat.get-color-from-palette($primary, 400);
        }
    }
}
