<div class="introduction frame-primary ">

    <div class="container" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="40px">
        <div fxFlex="25" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
            <div class="mat-display-1 no-margin" fxFlex>Bonjour {{ viewer?.firstName }},</div>
            <button (click)="userService.logout()" mat-flat-button>
                <natural-icon name="exit_to_app"></natural-icon>
                Se déconnecter
            </button>
        </div>

        <div fxFlex fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="30px">
            <div class="mat-title">Mon compte de La Revue</div>
            <div>Abonné web et papier depuis 14 mai 1984
                <br />
                Date du prochain renouvellement : novembre 2019
            </div>
            <a mat-flat-button routerLink="/subscriptions">Renouveller</a>
        </div>

        <div fxFlex fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="30px">
            <div class="mat-title ">Mon statut Artisans de la transition</div>
            <div>Membre depuis 1984
                <br />
                Date de la prochaine cotisation : juin 2020
            </div>
            <a mat-flat-button routerLink="/membership">Payer la cotisation</a>
        </div>
    </div>
</div>

<div class="body container">
    <div fxLayout="row" fxLayoutGap="60px">
        <div fxFlex="25" fxLayout="column" fxLayoutGap="30px">
            <div class="frame-primary">
                <div class="mat-title padding">Mon compte</div>
                <mat-nav-list>
                    <!-- @formatter:off -->
                    <a mat-list-item routerLink="/mon-compte/articles-achetes"> Articles et revues achetées</a>
                    <a mat-list-item routerLink="/mon-compte/donnees-personnelles">Données personnelles</a>
                    <a mat-list-item routerLink="/mon-compte/commandes"> Commandes</a>
                    <!-- @formatter:on -->
                </mat-nav-list>
            </div>

        </div>
        <div fxFlex>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

