<div class="container padding-top padding-bottom">

    <div fxLayout="column" fxLayout.gt-xs="row" class="introduction" fxLayoutGap="30px">
        <div fxFlex="25" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start start">
            <div class="mat-display-1 no-margin" fxFlex>Bonjour {{ viewer?.firstName }},</div>
            <a (click)="userService.logout()" color="warn" mat-flat-button>Se déconnecter</a>
        </div>

        <div fxFlex fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="start start">
            <div class="mat-title">Mon compte de La Revue</div>
            <div>Abonné web et papier depuis 14 mai 1984
                <br />
                 Date du prochain renouvellement : novembre 2019
            </div>
            <button mat-flat-button color="primary" routerLink="/subscriptions">Renouveller</button>
        </div>

        <div fxFlex fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="start start">
            <div class="mat-title ">Mon statut Artisans de la transition</div>
            <div>Membre depuis 1984
                <br />
                 Date de la prochaine cotisation : juin 2020
            </div>
            <button mat-flat-button color="primary" routerLink="/membership">Payer la cotisation</button>
        </div>
    </div>

    <div class="body">
        <div fxLayout="row" fxLayoutGap="30px">
            <div fxFlex="25" fxLayout="column" fxLayoutGap="30px">
                <div>
                    <div class="mat-title">Mon compte</div>
                    <mat-nav-list>
                        <a mat-list-item> Mes coordonnées et mot de passe</a>
                        <a mat-list-item routerLink="/mon-compte/commandes"> Commandes</a>
                    </mat-nav-list>
                </div>
                <div>
                    <div class="mat-title">Les artisans de la transition</div>
                    <mat-nav-list>
                        <a mat-list-item> Cotisations</a>
                    </mat-nav-list>
                </div>
                <div>
                    <div class="mat-title">La Revue</div>
                    <mat-nav-list>
                        <a mat-list-item> Articles et revues achetées</a>
                    </mat-nav-list>
                </div>
            </div>
            <div fxFlex>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

</div>
