<div class="container mat-h3 rich-text">
    <h1 class="mat-display-1">Alimentation</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body rich-text mat-h3">
            <p>
                Ce secteur fondateur est depuis toujours au centre du travail de LaRevueDurable (lien vers la rubrique
                Thèmes/agriculture et alimentation) et des Artisans de la transition. L’alimentation a pour insigne
                avantage d’être très populaire tant du côté des preneurs d’initiatives que de celui des mangeurs. Ici,
                les acteurs de la transition foisonnent.
            </p>
            <p>
                Les Artisans de la transition veulent dynamiser la transition agroécologique et paysanne en tissant des
                liens entre ces acteurs, en soutenant leurs actions à tous les échelons de la gouvernance, en augmentant
                leur nombre et leur poids politique afin, in fine, d’œuvrer à un changement du système alimentaire.
            </p>
            <p>
                Pour atteindre ces objectifs, les Artisans de la transition ont noué un partenariat avec l’association
                agricole Uniterre et formé un comité de pilotage avec des personnes actives en Suisse romande dans
                l’agriculture biologique, la permaculture, la vente directe, l’agriculture contractuelle de proximité,
                la vente participative et, à Genève, le mouvement pour une agriculture paysanne et citoyenne (MAPC).
            </p>
            <p>
                Début 2020, ils ont organisé des « regards croisés » qui ont rassemblé, dans chaque canton, des acteurs
                de la transition engagés aux différents maillons de la chaîne alimentaire – producteurs,
                transformateurs, distributeurs, cuisiniers, restaurateurs et mangeurs – pour qu’ils identifient ensemble
                des leviers susceptibles de dynamiser et de renforcer la transition du système alimentaire.
            </p>
            <p>
                Dans chaque canton romand, ces regards croisés devaient inclure deux ou trois rencontres de dix à quinze
                personnes de janvier à avril 2020 (l’hiver, les producteurs sont moins submergés). Les premiers regards
                croisés dans les cantons de Fribourg, Valais, Vaud et Jura ont été très prometteurs.
            </p>
            <p>
                La dynamique s’est arrêtée avec le déconfinement. Et puis le printemps, les récoltes et la très forte
                demande pour des produits locaux empêchent de reprendre les ateliers avant l’automne 2020. Une synthèse
                sera publiée fin 2020 ?
            </p>
        </div>
    </div>
</div>
