<div
    class="page-illustration"
    [style.backgroundImage]="'url(assets/images/illustration-pages/denis-lebioda_larevuedurable.jpg)'"
></div>

<div class="container mat-h3 rich-text">
    <h1 class="mat-display-1">ALIMENTATION</h1>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex.gt-sm="70" class="page-body rich-text mat-h3">
            <p>
                <a routerLink="/larevuedurable/articles/Agriculture et alimentation">Ce secteur fondateur</a>
                est depuis toujours au centre du travail de <strong>LaRevueDurable</strong> et des
                <strong>Artisans de la transition</strong>. L’alimentation a l'avantage d’être très populaire tant du
                côté des preneurs d’initiatives que de celui des mangeurs. Ici, les acteurs de la transition foisonnent.
            </p>
            <p>
                Les <strong>Artisans de la transition</strong> veulent dynamiser la transition agroécologique et
                paysanne en tissant des liens entre ces acteurs, en soutenant leurs actions à tous les échelons de la
                gouvernance, en augmentant leur nombre et leur poids politique pour, in fine, œuvrer à un changement du
                système alimentaire.
            </p>
            <p>
                Pour atteindre ces objectifs, les <strong>Artisans de la transition</strong> ont noué un partenariat
                avec l’association agricole Uniterre et formé un comité de pilotage. Ce dernier rassemble personnes
                actives en Suisse romande dans l’agriculture biologique, la permaculture, la vente directe,
                l’agriculture contractuelle de proximité, la vente participative et, à Genève, le Mouvement pour une
                agriculture paysanne et citoyenne (MAPC).
            </p>
            <p>
                Début 2020, ils ont organisé des « regards croisés&nbsp;» qui ont rassemblé, dans chaque canton, des
                acteurs de la transition engagés aux différents maillons de la chaîne alimentaire – producteurs,
                transformateurs, distributeurs, cuisiniers, restaurateurs et mangeurs – pour qu’ils identifient ensemble
                des leviers susceptibles de dynamiser et de renforcer la transition du système alimentaire.
            </p>
            <p>
                Dans chaque canton romand, ces regards croisés devaient inclure deux ou trois rencontres de dix à quinze
                personnes de janvier à avril 2020. Les premiers regards croisés dans les cantons de Fribourg, Valais,
                Vaud et Jura ont été très prometteurs.
            </p>
            <p>Le confinement a stoppé cette dynamique, qui reprend peu à peu depuis juin 2020.</p>

            <p>
                Ecrivez-nous si vous souhaitez rejoindre cette dynamique :
                <a href="mailto:jacques.mirenowicz@larevuedurable.com">jacques.mirenowicz@larevuedurable.com</a>
            </p>
        </div>
    </div>
</div>
