<div
    class="page-illustration"
    [style.backgroundImage]="'url(assets/images/illustration-pages/epicerie_a_cote-artisans.webp)'"
></div>

<div class="container mat-h3 rich-text">
    <h1 class="mat-headline-4">ALIMENTATION</h1>

    <div class="nat-horizontal nat-gap-30">
        <div class="app-md-expand-70 page-body rich-text mat-h3">
            <p>
                De nombreuses personnes – producteurs, transformatrices, distributeurs, restauratrices et mangeurs –
                s’efforcent de rendre l’agriculture et l’alimentation plus saine, meilleure pour les sols, le climat et
                la biodiversité, plus équitable et accessible. Les <strong>Artisans de la transition</strong> veulent
                appuyer leurs démarches pour construire des circuits courts alimentaires artisanaux collectifs et faire
                de ces circuits les supports à un changement de système alimentaire.
            </p>

            <p>
                En 2021, les <strong>Artisans de la transition</strong> ont publié un dossier de LaRevueDurable sur ce
                thème et écrit et produit un documentaire de 37 minutes, Manger, c’est politique !, qui raconte la
                construction de quatre circuits courts alimentaires artisanaux collectifs au sein de l’agroécoquartier
                Les Vergers, à Meyrin, dans le canton de Genève. Ce film, qui met notamment en avant le supermarché
                participatif paysan La Fève, a fait l’objet d’une soixantaine de projections, principalement en Suisse
                romande, suivies de discussions avec des acteurs et des actrices locales de ces circuits.
            </p>

            <p>
                Pour organiser ces projections-débats, les <strong>Artisans de la transition</strong> ont sollicité,
                partout en Suisse romande, l’appui d’épiceries alternatives qui se sont souvent révélées enthousiastes
                et proactives. Bio, vrac, participatives ou coopératives de productrices et de producteurs, ces
                commerces trop peu valorisés sont alternatifs à la grande distribution et à l’industrialisation
                systématique insoutenable du système alimentaire. De leur enthousiasme est née l’envie de mieux les
                connaître, de les étudier de près, d’examiner leurs actions et leurs dynamiques.
            </p>

            <p>
                Les <strong>Artisans de la transition</strong> ont ainsi analysé l’évolution des épiceries alternatives
                en Suisse romande de 2010 à 2023, mené 48 entretiens avec 55 gérantes et gérants, et réuni des épiceries
                alternatives à Neuchâtel, Lausanne, Fribourg et Bienne pour les encourager à coopérer. A Fribourg, ils
                ont stimulé et accompagné la création de l’association d’épiceries alternatives fribourgeoises EpiFri et
                organisé son assemblée constitutive le 6 juillet 2023.
            </p>

            <p>
                Le 20 juin 2024, ils ont réuni à Lausanne 27 épiceries alternatives de toute la Suisse romande pour leur
                présenter les principaux résultats de leur enquête et leurs propositions pour rendre ces épiceries plus
                visibles, plus fortes et encore plus pertinentes.
            </p>

            <p>
                Ces résultats et ces propositions sont parus sous la forme d’un copieux
                <a href="https://artisansdelatransition.org/agir-avec-nous/epiceries-alternatives-rapport-2024"
                    >rapport</a
                >
                le 20 novembre 2024. Ce document décrit l’essor et la diversification des épiceries alternatives de 2010
                à 2023, identifie leurs forces, leurs faiblesses et les obstacles systémiques qui s’opposent à leur
                rayonnement pour aboutir à cinq grandes propositions. L’ambition est de les inciter à être résolument
                ambitieuses.
            </p>

            <p>
                Car tous ces efforts renforcent chez les <strong>Artisans de la transition</strong> la conviction que
                ces commerces alternatifs portent en eux un vrai potentiel pour rendre le système alimentaire
                soutenable. Ils leur apparaissent irremplaçables en tant que lieux «&nbsp;carrefours&nbsp;» où tous les
                acteurs et toutes les actrices des circuits courts alimentaires artisanaux ont l’occasion de se croiser,
                d’échanger et, potentiellement, de coopérer à cette fin.
            </p>

            <p>
                Plus de <a href="https://epiceries-alternatives.ch">65 épiceries alternatives</a> ont signé une prise de
                position commune qui attire l’attention sur leur action et leur volonté de participer à la construction
                d’un système alimentaire plus juste et soutenable. L’idée et l’espoir sont que cette première action
                collective en augure d’autres sur la durée.
            </p>

            <p>
                Pour renforcer cet élan, les <strong>Artisans de la transition</strong> sortiront début 2025 un dossier
                de LaRevueDurable sur les atouts des épiceries alternatives et les moyens de les fortifier et un nouveau
                film documentaire,
                <a routerLink="/agir-avec-nous/irremplacables-epiceries">Irremplaçables épiceries!</a>, qui relie leur
                action et leur engagement à une vision de l’agriculture dite « paysanne » avec laquelle elles sont
                alignées et qu’elles pourraient promouvoir.
            </p>
        </div>

        <div class="nat-vertical nat-gap">
            <a mat-flat-button color="primary" routerLink="/manger-c-est-politique">Manger c’est politique</a>
            <a mat-flat-button color="primary" routerLink="/agir-avec-nous/irremplacables-epiceries"
                >Irremplaçables épiceries !</a
            >
            <a mat-flat-button color="primary" routerLink="/agir-avec-nous/epiceries-alternatives-rapport-2024"
                >Rapport 2024</a
            >
        </div>
    </div>
</div>
