<div
    class="page-illustration"
    [style.backgroundImage]="'url(assets/images/illustration-pages/epicerie_a_cote-artisans.webp)'"
></div>

<div class="container mat-font-body-lg rich-text">
    <h1 class="mat-font-headline-lg">ALIMENTATION</h1>

    <div class="nat-horizontal nat-gap-30">
        <div class="app-md-expand-70 page-body mat-font-body-lg rich-text">
            <p>
                L’alimentation a toujours été au centre du travail de
                <strong>LaRevueDurable</strong>
                , puis des
                <strong>Artisans de la transition</strong>
                . Ce thème très populaire dans la population génère de nombreuses initiatives chez les professionnels à
                tous les maillons des circuits alimentaires.
            </p>
            <p>
                De très nombreuses personnes – producteurs, transformatrices, distributeurs, restauratrices et mangeurs
                – s’efforcent de rendre l’agriculture et l’alimentation plus saine, meilleure pour les sols, le climat
                et la biodiversité, plus juste et équitable. Les
                <strong>Artisans de la transition</strong>
                se donnent pour mission d’appuyer leurs démarches afin de promouvoir la construction de circuits courts
                alimentaires collectifs.
            </p>
            <p>
                En juillet 2021,
                <strong>LaRevueDurable</strong>
                a publié un dossier
                <a routerLink="/larevuedurable/numero/1242">sur ce thème</a>
                .
            </p>
            <p>
                Grâce à ce travail d’enquête et rédactionnel, les
                <strong>Artisans de la transition</strong>
                ont pu écrire et produire un documentaire, Manger, c’est politique ! dont la première a eu lieu en
                septembre, à Lausanne. Ce film de 37 minutes raconte la construction de quatre circuits courts
                alimentaires collectifs à Meyrin, dans le canton de Genève.
            </p>
            <p>
                D’octobre à novembre 2021, les
                <strong>Artisans de la transition</strong>
                ont organisé ou coorganisé cinq soirées lors desquelles ce film a été projeté, suivi de discussions avec
                des acteurs et des actrices locales des circuits courts. Une quarantaine d’intervenants et plus de 600
                personnes ont participé à ces soirées.
            </p>
            <p>
                Aujourd’hui, les
                <strong>Artisans de la transition</strong>
                invitent les personnes qui ont aimé ce film à organiser une projection suivie d’une discussion si
                possible en présence d’élus dans un contexte associatif ou au sein d’établissements d’enseignement. Si
                l’idée vous tente, vous trouverez plus d’informations
                <a routerLink="/manger-c-est-politique">ici</a>
                .
            </p>
            <p>
                La suite du projet alimentaire des
                <strong>Artisans de la transition</strong>
                passe par l’organisation d’autres événements avec des acteurs et des actrices de l’alimentation
                soutenable pour promouvoir les circuits cours alimentaires collectifs et lutter contre
                l’industrialisation toujours plus exacerbée de l’alimentation et l’allongement des circuits alimentaires
                qui en résulte.
            </p>
            <p>
                Les
                <strong>Artisans de la transition</strong>
                voudraient notamment appuyer la dynamique émergente des épiceries alternatives à la grande distribution
                et animer une veille sur les marges de manœuvre cantonales et communales.
            </p>
            <p>
                Pour toute information, contactez
                <a href="mailto:jacques.mirenowicz@larevuedurable.com">jacques.mirenowicz&#64;larevuedurable.com</a>
            </p>
        </div>
    </div>
</div>
